<ng-container *transloco="let t;">
  @if (widgetSettings$ | async; as widgetSettings) {
    <ats-widget-skeleton
      [content]="contentRef"
      [header]="headerRef"
      [settings]="settingsRef"
      [isBlockWidget]="isBlockWidget()"
      [showSettings]="shouldShowSettings"
      [showContentScroll]="false"
      >
      <ng-template #headerRef>
        <ats-widget-header (switchSettings)="onSettingsChange()"
          [guid]="guid"
          [hasSettings]="true"
          [linkToActive]="widgetSettings.linkToActive ?? null"
          [selectedBadgeColor]="widgetSettings.badgeColor"
          [showBadgesMenu]="(showBadge$ | async) ?? false"
          [titleTemplate]="titleTemplate"
          [widgetMeta]="widgetInstance().widgetMeta"
         />
        <ng-template #titleTemplate>
          <ats-widget-header-instrument-switch [widgetGuid]="guid" />
        </ng-template>
      </ng-template>
      <ng-template #contentRef>
        @if(chartSettings$ | async; as chartSettings) {
          <ats-light-chart
            [settings]="chartSettings"
            [selectedTimeframe]="widgetSettings.timeFrame"
            (selectedTimeframeChange)="updateSelectedTimeFrame($event)"
          />
        }
      </ng-template>
      <ng-template #settingsRef>
        <ats-light-chart-settings (settingsChange)="onSettingsChange()" [guid]="guid" />
      </ng-template>
    </ats-widget-skeleton>
  }
</ng-container>
