ats-money-operations {
  display: block;
  height: 100%;

  .ant-tabs-nav {
    margin: 0 0 12px 0;
    padding: 0 12px;
  }

  .ant-tabs-content-holder {
    padding: 0 12px 12px;
  }

  .ant-tabs {
    .ant-tabs-tab-btn {
      color: var(--ats-text-color);
      font-weight: var(--ats-font-weight-bold);
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: var(--ats-primary-color);
    }
  }
}


