<div class="container d-flex flex-column p-1 user-select-none" *transloco="let t; scope: 'scalper-order-book/top-floating-panel'">
  <ng-container *ngrxLet="{ settings: settings$ } as vm">
    <ng-container *ngIf="vm.settings.showInstrumentPriceDayChange">
      <div *ngrxLet="priceDayChangePercent$ as priceDayChangePercent" class="price-day-change-indicator lh-1">
        <span
          [ngClass]="{
          'positive-color': priceDayChangePercent > 0,
          'negative-color': priceDayChangePercent < 0
          }"
          class="fw-bold"
          nz-tooltip
          [nzTooltipTitle]="t('scalperOrderBookTopFloatingPanel.priceDayChangePercentTooltip')"
          [nzTooltipMouseEnterDelay]="1"
        >
          {{ priceDayChangePercent }}%
        </span>
      </div>
    </ng-container>
  </ng-container>
</div>

