<ng-container *transloco="let t;">
  <ats-widget-skeleton
    [content]="contentRef"
    [header]="headerRef"
    [isBlockWidget]="isBlockWidget"
    [showContentScroll]="false"
  >
    <ng-template #headerRef>
      <ats-widget-header
        [guid]="guid"
        [hasHelp]="true"
        [hasSettings]="false"
        [showBadgesMenu]="false"
        [titleIconTooltip]="t('widgetHeaders.TreemapSettings')"
        [titleText]="t('widgetHeaders.TreemapSettings')"
        helpRef="treemap"
        titleIcon="layout"
      ></ats-widget-header>
    </ng-template>

    <ng-template #contentRef>
      <ats-treemap [guid]="guid"></ats-treemap>
    </ng-template>
  </ats-widget-skeleton>

</ng-container>

