<ats-widget-settings-editor
  (cancelClick)="requestClose()"
  (copyClick)="createWidgetCopy()"
  (saveClick)="updateSettings()"
  [canCopy]="canCopy"
  [canSave]="canSave"
  [showCopy]="showCopy"
  [widgetInstance]="widgetInstance()"
>
  <ng-container *transloco="let t; scope: 'orders-basket/settings'">
    <ats-widget-settings-form [formGroup]="form">
      <ats-widget-settings-switch
        [label]="t('ordersBasketSettings.showPresetsPanelLabel')"
        formControlName="showPresetsPanel"
      />
    </ats-widget-settings-form>
  </ng-container>
</ats-widget-settings-editor>
