<ng-container *transloco="let t;">
  @if (settings$ | async; as settings) {
    <ats-widget-skeleton
      [content]="contentRef"
      [header]="headerRef"
      [isBlockWidget]="isBlockWidget()"
      [settings]="settingsRef"
      [showSettings]="shouldShowSettings"
      >
      <ng-template #headerRef>
        <ats-widget-header (switchSettings)="onSettingsChange()"
          [guid]="guid"
          [hasSettings]="true"
          [selectedBadgeColor]="settings.badgeColor"
          [showBadgesMenu]="(showBadge$ | async) ?? false"
          badgeShape="square"
          [widgetMeta]="widgetInstance().widgetMeta"
         />
      </ng-template>
      <ng-template #contentRef>
        <ats-instrument-select [guid]="guid" />
      </ng-template>
      <ng-template #settingsRef>
        <ats-instrument-select-settings (settingsChange)="onSettingsChange()"
        [guid]='guid' />
      </ng-template>
    </ats-widget-skeleton>
  }

</ng-container>

