ats-all-instruments {
  .container {
    width: 100%;
    height: 100%;
  }

  .export-button-container {
    min-height: 20px;
    display: flex;
    justify-content: center;
  }

  .buy {
    color: var(--ats-buy-color);
  }

  .sell {
    color: var(--ats-sell-color);
  }
}


