@import 'theme-mixin';

.themeMixin({
  :host {
    .order-panel-body {
      border-top: 1px solid @border-color-base;
    }

    .order-panel-title {
      display: flex;
      align-items: center;
      justify-content: center;
      color: @heading-color;
      margin-top: -8px;
    }
  }
});

.footer {
  position: absolute;
  left: 0;
  bottom: 25px;
  width: 100%;
}
