ats-tech-chart-settings {
  .ant-form {
    .ant-form-item {
      &.one-row {
        justify-content: flex-start;

        .ant-form-item-control {
          width: auto;
        }
      }

      nz-collapse {
        width: 100%;

      }
    }
  }
}
