<ng-container *transloco="let t; scope: 'scalper-order-book/trades-clusters-panel'">
  @if (settings$ | async; as settings) {
    @if (hScrollOffsets$ | async; as hScrollOffsets) {
      <div
        (contextmenu)="contextMenu($event, menu)"
        (mousedown)="startScrolling($event)"
        [ngClass]="{
        'has-left-scroll': hScrollOffsets.left > 3,
        'has-right-scroll': hScrollOffsets.right > 3
        }"
        cdkScrollable
        class="container"
        nzResizeObserver (nzResizeObserve)="sizeChanged($event)"
        >
        @for (cluster of (clusters$ | async); track trackBy($index, cluster)) {
          <div class="cluster-wrapper">
            <ats-trades-cluster [cluster]="cluster"
              [dataContext]="dataContext()"
              [xAxisStep]="xAxisStep()" />
          </div>
        }
      </div>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-group>
            <span title>
              <span nz-icon nzType="history"></span>
              <span class="pl-3">{{t('scalperOrderBookTradesClustersPanel.displayPanelsCountMenuLabel')}}</span>
            </span>
            <ul>
              @for (item of availableIntervalsCount; track item) {
                <li (click)="setIntervalsCount(item)" nz-menu-item>
                  <span class="w-100 d-flex justify-content-between align-items-center">
                    <span>{{item}}</span>
                    @if ((settings.tradesClusterPanelSettings?.displayIntervalsCount ?? -1) === item) {
                      <span
                        nz-icon
                        nzTheme="outline"
                        nzType="check">
                      </span>
                    }
                  </span>
                </li>
              }
            </ul>
          </li>
          <li nz-menu-group>
            <span title>
              <span nz-icon nzType="clock-circle"></span>
              <span class="pl-3">{{t('scalperOrderBookTradesClustersPanel.timeframesMenuLabel')}}</span>
            </span>
            <ul>
              @for (item of availableTimeframes; track item) {
                <li (click)="setTimeframe(item)" nz-menu-item>
                  <span class="w-100 d-flex justify-content-between align-items-center">
                    <span>{{t('scalperOrderBookTradesClustersPanel.timeframeOptions.' + item, {fallback: item})}}</span>
                    @if ((settings.tradesClusterPanelSettings?.timeframe ?? -1) === item) {
                      <span
                        nz-icon
                        nzTheme="outline"
                        nzType="check"
                      ></span>
                    }
                  </span>
                </li>
              }
            </ul>
          </li>
        </ul>
      </nz-dropdown-menu>
    }
  }
</ng-container>


