<ng-container *transloco="let t; scope: 'events-calendar'">
  <nz-tabs>
    <nz-tab [nzTitle]="t('eventsCalendar.calendarViewTabTitle')">
      <div class="portfolio-filter">
        <button
          nz-button
          nzType="text"
          nzSize='small'
          nz-dropdown
          nzTrigger="click"
          [nzDropdownMenu]="menu"
          >
          @if (selectedPortfolio$ | async; as selectedPortfolio) {
            <span>
              {{ selectedPortfolio.portfolio }} ({{selectedPortfolio.exchange}})
            </span>
          } @else {
            {{t('eventsCalendar.allPortfolios')}}
          }

        </button>
      </div>
      @if (symbolsOfSelectedPortfolio$ | async; as symbols) {
        <ats-calendar-view [symbols]="symbols" />
      }
    </nz-tab>
    <nz-tab [nzTitle]="t('eventsCalendar.listViewTabTitle')">
      <div class="portfolio-filter">
        <button
          nz-button
          nzType="text"
          nzSize='small'
          nz-dropdown
          nzTrigger="click"
          [nzDropdownMenu]="menu"
          >
          @if (selectedPortfolio$ | async; as selectedPortfolio) {
            <span>
              {{ selectedPortfolio.portfolio }} ({{selectedPortfolio.exchange}})
            </span>
          } @else {
            {{t('eventsCalendar.allPortfolios')}}
          }

        </button>
      </div>
      @if (symbolsOfSelectedPortfolio$ | async; as symbols) {
        <ats-list-view [symbols]="symbols" />
      }
    </nz-tab>
  </nz-tabs>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item (click)="selectPortfolio(null)">
        {{t('eventsCalendar.allPortfolios')}}
      </li>
      @for (portfolio of portfolios$ | async; track portfolioTrackByFn($index, portfolio)) {
        <li nz-menu-item (click)="selectPortfolio(portfolio)">
          {{ portfolio.portfolio }} ({{portfolio.exchange}})
        </li>
      }
    </ul>
  </nz-dropdown-menu>
</ng-container>
