ats-market-order-form {
  .ant-form-item.compact {
    margin-bottom: 0;
  }

  nz-form-label {
    label {
      display: inherit;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

