<ng-container *transloco="let t; scope: 'push-notifications/setup-instrument-notifications'">
  @if ((isNotificationsAllowed$ | async) === true) {
    <nz-spin [nzSpinning]="isLoading$ | async">
      <div class="spin-content">
        @if (currentInstrumentSubscriptions$ | async; as currentInstrumentSubscriptions) {
          @for (currentSubscription of currentInstrumentSubscriptions; track currentSubscription) {
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row flex-gap-5">
                <span>{{t('pushNotificationsSetupInstrumentNotifications.priceLabel')}}</span>
                <span>{{t('lessMoreOptions.' + currentSubscription.priceCondition.toLowerCase(), {fallback: currentSubscription.priceCondition})}}</span>
                <span>{{currentSubscription.price}}</span>
              </div>
              <div>
                <button (click)="cancelSubscription(currentSubscription.id)" nz-button nzSize='small' nzType="link">
                  <i nz-icon nzType="close"></i>
                </button>
              </div>
            </div>
            <nz-divider />
          }
          <ng-container>
            <form [formGroup]="newPriceChangeSubscriptionForm"
              [nzLayout]="'vertical'" nz-form>
              <div class="d-flex justify-content-between flex-gap-10">
                <nz-form-item>
                  <nz-form-control [nzErrorTip]="t('validationErrors.selectValueError')">
                    <nz-radio-group formControlName="priceCondition">
                      <label [nzValue]="lessMore.Less" nz-radio-button> {{t('lessMoreOptions.less')}} </label>
                      <label [nzValue]="lessMore.More" nz-radio-button> {{t('lessMoreOptions.more')}} </label>
                    </nz-radio-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item  class="stretched-field">
                  <nz-form-control [nzErrorTip]="priceError">
                    <ats-input-number [step]="(instrument$ | async)?.minstep ?? 1"
                      formControlName="price"
                      [placeholder]="t('pushNotificationsSetupInstrumentNotifications.priceLabel')"
                     />
                  </nz-form-control>
                  <ng-template #priceError>
                    @if (newPriceChangeSubscriptionForm.controls.price.errors?.required) {
                      <span
                      >{{t('validationErrors.emptyFieldError')}}</span>
                    }
                    @if (newPriceChangeSubscriptionForm.controls.price.errors?.min) {
                      <span
                      >{{t('validationErrors.tooLittle')}}</span>
                    }
                    @if (newPriceChangeSubscriptionForm.controls.price.errors?.max) {
                      <span
                      >{{t('validationErrors.tooMuch')}}</span>
                    }
                  </ng-template>
                </nz-form-item>
                <button
                  (click)="addSubscription()"
                  [disabled]="!newPriceChangeSubscriptionForm.valid"
                  nz-button
                  nzType="primary">
                  <i nz-icon nzType="plus"></i>
                </button>
              </div>
            </form>
          </ng-container>
        }
      </div>
    </nz-spin>
  }

  @if ((isNotificationsAllowed$ | async) === false) {
    <span nz-typography nzType="warning">{{t('pushNotificationsSetupInstrumentNotifications.notificationsDisabledWarning')}}</span>
  }
</ng-container>
