<ng-container *transloco="let t; scope: 'info'">
  <ng-container
    *ngrxLet="{ commonDescriptors: commonDescriptors$, info: info$, targetInstrumentKey: targetInstrumentKey$ } as vm">
    @if (vm.info == null) {
      <nz-empty nzNotFoundImage="simple"></nz-empty>
    } @else {
      <nz-tabs
        (mousedown)='$event.stopPropagation()'
        nzSize="small"
        nzTabPosition="top"
      >
        @if (vm.commonDescriptors != null) {
          <nz-tab [nzTitle]="t('info.instrumentTab')">
            <ats-descriptors-list [descriptors]="vm.commonDescriptors"></ats-descriptors-list>
          </nz-tab>
        }

        @if (vm.targetInstrumentKey != null) {
          <nz-tab [nzTitle]="t('info.risksTab')" #risksTab>
            <ats-risks [instrumentKey]="vm.targetInstrumentKey" [activated]="risksTab.isActive"></ats-risks>
          </nz-tab>
        }
      </nz-tabs>
    }
  </ng-container>
</ng-container>
