ats-instrument-info {
  .content {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  .instrument-logo {
    margin: 3px 10px 3px 0;
    position: relative;

    .badge {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      transform-origin: 100% 0;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    line-height: 0.7;
    margin: 0 0 10px 10px;

    .instrument {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      .identifier {
        display: inline-flex;
        padding: 3px 3px 3px 0;

        .exchange-info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .exchange {
            font-size: .6rem;
            color: darkgray;
            margin-bottom: 0;
          }

          .instrument-group {
            font-size: .6rem;
            color: lightgray;
            margin-bottom: 0;
          }
        }

        .ticker {
          font-size: 2em;
          margin-right: 5px;
          margin-bottom: 0;
        }
      }

      .price {
        font-size: 2em;
        margin-left: 5px;
      }
    }
  }

  .dynamic {
    max-width: 300px;
  }

  .selectable {
    cursor: pointer;
    text-decoration: underline;
  }

  .ant-descriptions-item-container span {
    line-height: 1;
  }

  .upper-row {
    margin-bottom: .5em;
  }

  .lower-row {
    margin-bottom: 0;
  }

  .instrument-logo {
    .badge {
      z-index: var(--ats-zindex-badge);
      min-width: var(--ats-badge-height);
      height: var(--ats-badge-height);
      color: var(--ats-badge-text-color);
      font-weight: var(--ats-badge-font-weight);
      font-size: var(--ats-badge-font-size);
      line-height: var(--ats-badge-height);
      white-space: nowrap;
      text-align: center;
      background: var(--ats-badge-color);
      border-radius: calc(var(--ats-badge-height) / 2);
      box-shadow: 0 0 0 1px var(--ats-shadow-color-inverse);

      &.long {
        color: var(--ats-layout-header-color);
        cursor: pointer;
        background: var(--ats-buy-color);
      }

      &.short {
        color: var(--ats-layout-header-color);
        cursor: pointer;
        background: var(--ats-sell-color);
      }
    }
  }

  .description {
    .instrument {
      color: var(--ats-heading-color);

      @media (max-width: var(--ats-screen-xs-max)) {
        & {
          flex-wrap: wrap;
          row-gap: 5px;

          .price {
            margin-top: 0;
            margin-left: 0;
          }
        }
      }
    }
  }
}
