<div
  [ngClass]="position()"
  class="h-100 p-5 d-flex flex-column flex-gap-10 justify-content-start"
>
  <div
    class="d-flex flex-row flex-nowrap align-items-center flex-gap-10 pb-5 header"
    [ngClass]="{
    'flex-row': position() === 'right',
    'flex-row-reverse': position() === 'left'
    }"
  >
    @if (closable()) {
      <div class="close-btn cursor-pointer">
      <span
        nz-icon
        nzType="close"
        nzTheme="outline"
        (click)="close()"
      >
      </span>
      </div>
    }

    @if (title != null) {
      <div class="flex-fill">
        <ng-container [ngTemplateOutlet]="title.templateRef"></ng-container>
      </div>
    }
  </div>

  <div class="flex-fill overflow-hidden">
    @if (content != null) {
      <ng-container [ngTemplateOutlet]="content.templateRef"></ng-container>
    }
  </div>
</div>

