@import 'theme-mixin';

.themeMixin({
  .ats-invest-ideas-details-dialog{
    .symbol {
      cursor: pointer;
      &:hover {
        background-color: @table-row-hover-bg;
        border-radius: @border-radius-base;
      }
    }
  }
});

.ats-invest-ideas-details-dialog {
  .ant-modal-title {
    margin-right: 10px;
  }

  .body {
    max-height: 500px;

    .content {
      white-space: pre-wrap;
    }
  }
}
