<ng-container *transloco="let t; scope: 'ai-graph/graph-editor'">
  <ats-side-menu (visibleChange)="nodePropertiesEditorVisibilityChanged($event)" [visible]="nodeToEdit != null">
    <ng-template atsSideMenuTitle>
      <span>{{ t('aiGraphGraphEditor.panels.nodePropertiesEditor.title', {fallback: 'Properties'}) + ': ' + (nodeToEdit?.getTitle() ?? '') }}</span>
    </ng-template>

    <ng-template atsSideMenuContent>
      <ats-node-properties-editor [targetNode]="nodeToEdit"></ats-node-properties-editor>
    </ng-template>
  </ats-side-menu>
  <div
    (nzResizeObserve)="containerSizeChanged($event)"
    class="h-100 w-100"
    nzResizeObserver>
    <ng-container *ngrxLet="{containerSize: containerSize$} as vm">
      <canvas
        #canvas
        [height]="vm.containerSize.canvas.height"
        [width]="vm.containerSize.canvas.width"
        [style.height]="vm.containerSize.canvas.height + 'px'"
        [style.width]="vm.containerSize.canvas.width + 'px'"
      ></canvas>
    </ng-container>
  </div>
  <div
    (click)="showRunMenu()"
    class="fs-5"
    id="right-side-menu-btn"
  >
    <span nz-icon nzTheme="outline" nzType="play-circle"></span>
  </div>
  <ats-side-menu
    [(visible)]="isRunMenuVisible"
    [menuWidth]="{widthPercent: 35, minWidthPx: 400}"
    position="right"
  >
    <ng-template atsSideMenuTitle>
      <div class="d-flex flex-row flex-nowrap justify-content-between align-items-center">
        <span>{{ t('aiGraphGraphEditor.panels.run.title', {fallback: 'Run Graph'}) }}</span>
        <ats-run-config-btn (status)="runStatus = $event" [config]="currentConfig"></ats-run-config-btn>
      </div>
    </ng-template>

    <ng-template atsSideMenuContent>
      <ats-run-results [runStatus]="runStatus"></ats-run-results>
    </ng-template>
  </ats-side-menu>
</ng-container>
