@import "../../styles/shared-styles";

ats-invest-ideas-carousel {
  .nav-buttons {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
    font-size: 1rem;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }

  .idea {
    width: 100%;
    height: 100%;

    .symbol {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
    }
  }

  .ant-carousel {
    height: 100%;
    overflow: hidden;

    .slick-slider {
      height: 100%;

      .slick-list {
        height: 100%;

        .slick-track {
          height: 100%;
        }

        .slick-dots {
          .invest-ideas-carousel-dots();
        }
      }
    }

    .nav-buttons {
      color: var(--ats-primary-color);
      border-radius: var(--ats-border-radius-base);

      &:hover {
        background-color: color-mix(in srgb, var(--ats-select-item-selected-bg) 50%, transparent);
      }
    }

    .symbol {
      &:hover {
        background-color: var(--ats-table-row-hover-bg);
        border-radius: var(--ats-border-radius-base);
      }
    }
  }
}
