<div *ngrxLet="ideas$ as ideas; suspenseTpl: loading" class="h-100 position-relative">
  @if (ideas.length > 0) {

    @if (ideas.length > 1) {
      <span (click)="carousel.pre()" class="nav-buttons left">
        <nz-icon nzTheme="outline" nzType="left"/>
      </span>
      <span (click)="carousel.next()" class="nav-buttons right">
        <nz-icon nzTheme="outline" nzType="right"/>
      </span>
    }

    <div class="h-100 overflow-hidden mx-20">
      <nz-carousel
        #carousel
        [nzDotPosition]="'top'"
        [nzDots]="true"
        [nzEffect]="'fade'"
        [nzEnableSwipe]="false"
      >
        @for (idea of ideas; track idea) {
          <div nz-carousel-content>
            <div class="idea pt-25">
              <div class="d-flex flex-column h-100">
                <div class="mb-10">
                  <span class="fs-6 heading-color" nz-typography nzEllipsis>{{ idea.title }}</span>
                </div>

                @if (idea.format === IdeaResponseFormat.HtmlBody) {
                  <div>
                    <p
                      [nzEllipsisRows]="10"
                      class="cursor-pointer user-select-none"
                      nz-typography
                      nzEllipsis
                      (click)="selectedIdea.set(idea)"
                    >
                      {{ idea.body }}
                    </p>
                  </div>
                } @else {
                  <div>
                    <ats-idea-metrics [idea]="idea"/>
                  </div>

                  <div>
                    <p
                      [nzEllipsisRows]="3"
                      class="cursor-pointer user-select-none"
                      nz-typography
                      nzEllipsis
                      (click)="selectedIdea.set(idea)"
                    >
                      {{ idea.description }}
                    </p>
                  </div>

                  <div
                    (click)="instrumentSelected.emit({symbol: idea.ticker, exchange: idea.exchange}); $event.stopPropagation()"
                    class="symbol p-5 cursor-pointer"
                  >
                    <div
                      class="d-flex flex-row justify-content-start flex-nowrap align-items-center flex-gap-5 overflow-hidden">
                      <ats-instrument-icon [symbol]="idea.ticker" size="large"/>
                      <div class="d-flex flex-column overflow-hidden">
                          <span
                            class="heading-color"
                            nz-typography
                            nzEllipsis>{{ idea.company }}</span>
                        <span nz-typography nzEllipsis>{{ idea.ticker }}</span>
                      </div>
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>
        }
      </nz-carousel>
    </div>

  } @else {
    <nz-empty nzNotFoundImage="simple"/>
  }
</div>

<ng-template #loading>
  <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 5, width: '100%' }"/>
</ng-template>

<ats-invest-ideas-details-dialog (symbolSelected)="selectSymbol($event)" [(displayIdea)]="selectedIdea"/>

