<ng-container *transloco="let t;">
  @if (settings$ | async; as settings) {
    <ats-widget-skeleton
      #widgetSkeleton
      [content]="contentRef"
      [header]="headerRef"
      [isBlockWidget]="isBlockWidget()"
      [settingsEditorContent]="settingsEditorRef"
      [showEditPlaceholder]="true"
      [showContentScroll]="false"
    >
      <ng-template #headerRef>
        @if (deviceInfo$ | async; as deviceInfo) {
          <ats-widget-header (switchSettings)="widgetSkeleton.toggleSettings()"
                             [guid]="guid"
                             [hasSettings]="!deviceInfo.isMobile"
                             [linkToActive]="settings.linkToActive!"
                             [selectedBadgeColor]="settings.badgeColor!"
                             [showBadgesMenu]="(showBadge$ | async) ?? false"
                             [titleTemplate]="titleTemplate"
                             [widgetMeta]="widgetInstance().widgetMeta"
          />
        }
        <ng-template #titleTemplate>
          <ats-widget-header-instrument-switch [widgetGuid]="widgetInstance().instance.guid"/>
        </ng-template>
      </ng-template>
      <ng-template #contentRef>
        <ats-option-board [guid]="guid"/>
      </ng-template>
      <ng-template #settingsEditorRef>
        <ats-option-board-settings
          (closeRequested)="widgetSkeleton.closeSettings()"
          [guid]="guid"
          [widgetInstance]="widgetInstance()"
        />
      </ng-template>
    </ats-widget-skeleton>
  }

</ng-container>

