<ng-container *transloco="let t; scope: 'ai-graph/node-properties-editor'">
  @for (section of sections; track section) {
    <div class="d-flex flex-column align-items-start section">
      @for (editor of section.editors; track editor) {
        <div class="w-100 mb-5">
          @switch (editor.type) {
            @case (SlotTypes.String) {
              <ats-string-property-editor [config]="editor.config" />
            }
            @case (ExtendedEditors.MultilineText) {
              <ats-text-property-editor [config]="editor.config" />
            }
            @case (SlotTypes.Number) {
              <ats-number-property-editor [config]="editor.config" />
            }
            @case (SlotTypes.Boolean) {
              <ats-boolean-property-editor [config]="editor.config" />
            }
            @case (SlotTypes.Date) {
              <ats-date-property-editor [config]="editor.config" />
            }
            @case (SlotTypes.Portfolio) {
              <ats-portfolio-property-editor [config]="editor.config" />
            }
            @case (ExtendedEditors.Prompt) {
              @if (targetNode()) {
                <ats-prompt-property-editor [config]="editor.config" [targetNode]="targetNode()!" />
              }
            }
            @case (ExtendedEditors.Select) {
              <ats-select-property-editor [config]="editor.config" />
            }
          }
        </div>
      }
    </div>
  } @empty {
    <nz-empty nzNotFoundImage="simple"
              [nzNotFoundContent]="t('aiGraphNodePropertiesEditor.nothingToEditMessage')" />
  }
</ng-container>
