<ng-container *transloco="let t; scope: 'option-board/selected-options'">
  <div (nzResizeObserve)="containerSizeChanged($event)" class="h-100 w-100" nzResizeObserver>
    <ng-template #empty>
      <nz-empty [nzNotFoundContent]="t('optionBoardSelectedOptions.noSelectionMessage')"
        class="ant-list-empty-text"
        nzNotFoundImage="simple" />
    </ng-template>
    <ng-container
      *ngrxLet="{
          tableConfig: tableConfig$,
          details: tableData$,
          contentSize: contentSize$
        } as vm"
      >
      @if ((vm.contentSize?.width ?? (minOptionTableWidth + 1)) > minOptionTableWidth) {
        <nz-table
          [nzData]="vm.details"
          [nzFrontPagination]="false"
          [nzLoading]="isLoading$ | async"
          [nzNoResult]="empty"
          [nzScroll]="{ y: vm.contentSize?.height + 'px' }"
          [nzShowPagination]="false"
          atsTableRowHeight
          >
          <thead>
            <tr
              (nzResizeObserve)="headerSizeChanged($event)"
              nzResizeObserver
              >
              <th nzWidth="30px" nzLeft>
                <span class="text-nowrap">
                  <a (nzOnConfirm)="clearSelection()"
                    [nzCancelText]="t('no')"
                    [nzOkText]="t('yes')"
                    [nzPopconfirmTitle]="t('optionBoardSelectedOptions.clearConfirm')"
                  nz-popconfirm>{{t('optionBoardSelectedOptions.columns.unselect.name')}}</a>
                </span>
              </th>
              @for (column of vm.tableConfig!.columns; track column) {
                <th
                  [nzWidth]="column.width ? column.width + 'px': null"
                  [nzLeft]="column.leftFixed ?? false"
                  >
                  <span
                    [nzTooltipPlacement]="['top', 'topLeft', 'topRight']"
                    [nzTooltipTitle]="column.tooltip ?? null"
                    class="text-nowrap"
                    nz-tooltip
                    >
                    {{column.displayName}}
                  </span>
                </th>
              }
            </tr>
          </thead>
          <tbody>
            <ng-template nz-virtual-scroll let-option>
              <tr
                (click)="rowClick(option, $event)"
                (contextmenu)="openContextMenu($event, contextMenu, option)"
                class="cursor-pointer">
                <td nzLeft>
                  <a (click)="unselectOption($event, option)"
                    [nzTooltipMouseEnterDelay]="0.5"
                    [nzTooltipTitle]="t('optionBoardSelectedOptions.columns.unselect.tooltip')"
                    nz-tooltip
                    >
                    <i nz-icon nzTheme="outline" nzType="close-circle"></i>
                  </a>
                </td>
                @for (column of vm.tableConfig!.columns; track column) {
                  @if (column.id === "symbol") {
                    <td [nzLeft]="column.leftFixed ?? false">{{ option.symbol }}</td>
                  }
                  @if (column.id === "quantity") {
                    <td>
                      <ats-input-number [step]="1"
                        [allowNegative]="true"
                        [allowDecimal]="false"
                        [initialValue]="option.quantity ?? 1"
                        (valueChanged)="setSelectedOptionQuantity(option, $event)"
                       />
                    </td>
                  }
                  @if (column.id === "underlyingAssetSymbol") {
                    <td>{{ option.underlyingAssetSymbol }}</td>
                  }
                  @if (column.id === "optionSide") {
                    <td>{{ option.optionSide }}</td>
                  }
                  @if (column.id === "optionType") {
                    <td>{{ option.optionType }}</td>
                  }
                  @if (column.id === "strikePrice") {
                    <td>{{ option.strikePrice | number : '0.0-10' }}</td>
                  }
                  @if (column.id === "expirationDate") {
                    <td
                    class="text-nowrap">{{formatExpirationDate(option.expirationDate)}}</td>
                  }
                  @if (column.id === "ask") {
                    <td>{{ option.ask | number : '0.0-10' }}</td>
                  }
                  @if (column.id === "bid") {
                    <td>{{ option.bid | number : '0.0-10' }}</td>
                  }
                  @if (column.id === "price") {
                    <td>{{ option.price | number : '0.0-10' }}</td>
                  }
                  @if (column.id === "delta") {
                    <td>{{ option.delta | number : '0.0-2' }}</td>
                  }
                  @if (column.id === "gamma") {
                    <td>{{ option.gamma | number : '0.0-2' }}</td>
                  }
                  @if (column.id === "vega") {
                    <td>{{ option.vega | number : '0.0-2' }}</td>
                  }
                  @if (column.id === "theta") {
                    <td>{{ option.theta | number : '0.0-2' }}</td>
                  }
                  @if (column.id === "rho") {
                    <td>{{ option.rho | number : '0.0-2' }}</td>
                  }
                }
              </tr>
            </ng-template>
          </tbody>
        </nz-table>
      } @else {
        <div class="overflow-auto h-100 show-scroll">
          @for (option of vm.details; track option) {
            <nz-descriptions
              class="mb-10"
              nzBordered
              [nzColumn]="5"
              nzSize="small"
              nzLayout="vertical"
              (contextmenu)="openContextMenu($event, contextMenu, option)"
              >
              <nz-descriptions-item
                [nzSpan]="2"
                [nzTitle]="t('optionBoardSelectedOptions.columns.symbol.name')"
                >
                <span
                  class="separated-option-ticker cursor-pointer"
                  (click)="rowClick(option, $event)"
                  >
                  <span class="ticker">{{option.optionTranscription!.ticker}}</span>
                  <span class="settlementType">{{option.optionTranscription!.settlementType}}</span>
                  <span class="expirationDate">{{option.optionTranscription!.expirationDate}}</span>
                  <span class="optionType">{{option.optionTranscription!.optionType}}</span>
                  <span class="expirationType">{{option.optionTranscription!.expirationType}}</span>
                  <span class="strikePrice">{{option.optionTranscription!.strikePrice}}</span>
                </span>
                <span
                  class="info-icon"
                  nz-icon
                  nz-popover
                  [nzPopoverContent]="tickerPopover"
                  nzType="question-circle"
                  nzTheme="outline"
                ></span>
                <ng-template #tickerPopover>
                  <div class="separated-option-ticker">
                    <p>
                      <span class="ticker">{{t('optionBoardSelectedOptions.optionTranscription.ticker')}}</span>
                    : {{option.optionTranscription!.ticker}}</p>
                    <p>
                      <span class="settlementType">{{t('optionBoardSelectedOptions.optionTranscription.settlementType')}}</span>
                      : {{t('optionBoardSelectedOptions.settlementType.' + option.optionTranscription!.settlementType)}}
                    </p>
                    <p>
                      <span class="expirationDate">{{t('optionBoardSelectedOptions.optionTranscription.expirationDate')}}</span>
                      : {{formatExpirationDate(option.expirationDate)}}
                    </p>
                    <p>
                      <span class="optionType">{{t('optionBoardSelectedOptions.optionTranscription.optionType')}}</span>
                      : {{option.optionSide | titlecase}}
                    </p>
                    <p>
                      <span class="expirationType">{{t('optionBoardSelectedOptions.optionTranscription.expirationType')}}</span>
                      : {{t('optionBoardSelectedOptions.expirationType.' + option.optionTranscription!.expirationType)}}
                    </p>
                    <p>
                      <span class="strikePrice">{{t('optionBoardSelectedOptions.optionTranscription.strikePrice')}}</span>
                      : {{option.optionTranscription!.strikePrice}}
                    </p>
                  </div>
                </ng-template>
              </nz-descriptions-item>
              <nz-descriptions-item
                [nzTitle]="t('optionBoardSelectedOptions.columns.bid.name')"
                >
                {{option.bid}}
              </nz-descriptions-item>
              <nz-descriptions-item
                [nzTitle]="t('optionBoardSelectedOptions.columns.price.name')"
                >
                {{option.price}}
              </nz-descriptions-item>
              <nz-descriptions-item
                [nzTitle]="t('optionBoardSelectedOptions.columns.ask.name')"
                >
                {{option.ask}}
              </nz-descriptions-item>
              <nz-descriptions-item
                [nzTitle]="t('optionBoardSelectedOptions.columns.delta.name')"
                >
                {{option.delta | number : '0.0-2'}}
              </nz-descriptions-item>
              <nz-descriptions-item
                [nzTitle]="t('optionBoardSelectedOptions.columns.gamma.name')"
                >
                {{option.gamma | number : '0.0-2'}}
              </nz-descriptions-item>
              <nz-descriptions-item
                [nzTitle]="t('optionBoardSelectedOptions.columns.vega.name')"
                >
                {{option.vega | number : '0.0-2'}}
              </nz-descriptions-item>
              <nz-descriptions-item
                [nzTitle]="t('optionBoardSelectedOptions.columns.theta.name')"
                >
                {{option.theta | number : '0.0-2'}}
              </nz-descriptions-item>
              <nz-descriptions-item
                [nzTitle]="t('optionBoardSelectedOptions.columns.rho.name')"
                >
                {{option.rho | number : '0.0-2'}}
              </nz-descriptions-item>
            </nz-descriptions>
          }
        </div>
      }


      <ats-add-to-watchlist-menu #contextMenu />
    </ng-container>
  </div>
</ng-container>
