<div class="d-flex justify-content-center">
  <ng-container *transloco="let toc; scope: 'order-commands'">
    <nz-radio-group [(ngModel)]="formType">
      <label nz-radio-button nzValue="limit">{{ toc('orderCommands.limitOrderTabTitle') }}</label>
      <label nz-radio-button nzValue="market">{{ toc('orderCommands.marketOrderTabTitle') }}</label>
    </nz-radio-group>
  </ng-container>
</div>

<div>
  @if (selectedPortfolio$ | async; as selectedPortfolio) {
    @if (instrumentInfo$ | async; as instrument) {
      @let displayFormType = formType();

      <div [hidden]="displayFormType !== 'limit'">
        <ats-limit-order-form [activated]="true"
                              [instrument]="instrument"
                              [limitOrderConfig]="limitOrderConfig"
                              [portfolioKey]="selectedPortfolio"

        />
      </div>
      <div [hidden]="displayFormType !== 'market'">
        <ats-market-order-form [activated]="true"
                               [instrument]="instrument"
                               [marketOrderConfig]="marketOrderConfig"
                               [portfolioKey]="selectedPortfolio"
        />
      </div>
    }
  }
</div>
