@import "../../../../../zorro-styles.less";

.inner-content {
  height: 95vh
}
.show-scroll {
  overflow-y: auto
}

gridster ::ng-deep {
  background-color: @layout-body-background;
  color: @text-color
}

gridster-item ::ng-deep {
  background-color: @component-background;
  color: @text-color
}
