@if (options$ | async; as options) {
  <div class='inner-content'>
    @if (items$ | async; as items) {
      <gridster [options]="options">
        <div>
          @for (item of items; track getItemTrackKey($index, item)) {
            <gridster-item [item]="item.gridsterItem">
              <div class="widget-container">
                <ats-parent-widget [widgetInstance]="item.instance" [isBlockWidget]="isBlockWidget" />
              </div>
            </gridster-item>
          }
        </div>
      </gridster>
    }
  </div>
}
