<div *ngrxLet="isLoading$ as isLoading" class="w-100 h-100 position-relative">
  <div class="loading-indicator-container" *ngIf="isLoading">
    <nz-spin [nzSimple]="true" [nzSpinning]="true"></nz-spin>
  </div>

  <div *ngrxLet="{chartOptions: chartOptions$, chartData: chartData$} as vm" class="d-flex flex-column h-100">
    <ng-container *ngIf="vm.chartData != null && (vm.chartData.labels?.length ?? 0) > 0; else noData">
      <div class="d-flex justify-content-center">
        <nz-button-group>
          <button #btn (click)="applyZoom(-1, vm.chartData.labels!)" nz-button>
            <span nz-icon nzTheme="outline" nzType="zoom-out"></span>
          </button>

          <button (click)="applyZoom(1, vm.chartData.labels!)" nz-button>
            <span nz-icon nzTheme="outline" nzType="zoom-in"></span>
          </button>
        </nz-button-group>
      </div>
      <div class="flex-fill overflow-hidden">
        <canvas
          [data]="vm.chartData"
          [options]="vm.chartOptions"
          type="line"
          baseChart
        >
        </canvas>
      </div>
    </ng-container>
    <ng-template #noData>
      <nz-empty
        class="ant-list-empty-text"
        nzNotFoundImage="simple">
      </nz-empty>
    </ng-template>
  </div>
</div>

