<ng-container *transloco="let t; scope: 'option-board/option-board-chart'">
  <div *ngrxLet="isLoading$ as isLoading" class="w-100 h-100 position-relative">
    @if (isLoading) {
      <div class="loading-indicator-container">
        <nz-spin [nzSimple]="true" [nzSpinning]="true" />
      </div>
    }

    <div class="d-flex flex-column h-100">
      <div class="d-flex flex-row flex-gap-5 flex-no-wrap justify-content-center">
        <nz-select (ngModelChange)="selectedChartType$.next($event)"
          [ngModel]="selectedChartType$ | async">
          @for (chartType of chartTypes; track chartType) {
            <nz-option [nzLabel]="t('optionBoardOptionBoardChart.' + chartType + '.chartTitle', { fallback: chartType})"
              [nzValue]="chartType" />
          }
        </nz-select>
        <nz-space-compact>
          <button (click)="applyZoom(-1)" nz-button>
            <span nz-icon nzTheme="outline" nzType="zoom-out"></span>
          </button>

          <button (click)="applyZoom(1)" nz-button>
            <span nz-icon nzTheme="outline" nzType="zoom-in"></span>
          </button>
        </nz-space-compact>
      </div>
      <div *ngrxLet="{chartOptions: chartOptions$, chartData: chartData$} as vm"
        class="flex-fill position-relative overflow-hidden">
        @if (vm.chartData != null && (vm.chartData.labels?.length ?? 0) > 0) {
          <div class="h-100">
            <canvas
              [data]="vm.chartData"
              [options]="vm.chartOptions"
              baseChart
              type="line"
              >
            </canvas>
          </div>
        } @else {
          <nz-empty class="ant-list-empty-text"
            nzNotFoundImage="simple" />
        }
      </div>
    </div>
  </div>

</ng-container>
