<ng-container *transloco="let t; scope: 'terminal-settings/instant-notifications-form'">
  <div>
    <h3>{{t('terminalSettingsInstantNotificationsForm.appNotificationsTitle')}}</h3>
    <div class="d-flex flex-column flex-gap-15 mt-10">
      @for (notificationType of editableNotificationTypes; track notificationType) {
        <div class="d-flex flex-row flex-gap-2">
          <div class="flex-fill label">
            {{t('terminalSettingsInstantNotificationsForm.' + notificationType.value + 'Label')}}
          </div>
          <div>
            <nz-switch (click)="toggleNotificationType(notificationType.value)" [ngModel]="notificationType.enabled"
            [nzControl]="true" />
          </div>
        </div>
      }
    </div>

    <nz-divider class="compact" />

    <h3>{{t('terminalSettingsInstantNotificationsForm.pushNotificationsTitle')}}</h3>
    @if (portfolios$ | async; as portfolios) {
      <nz-form-item>
        <nz-form-label>
          {{t('terminalSettingsInstantNotificationsForm.hiddenPortfoliosForNotificationsLabel')}}&nbsp;
          <span
            [nzTooltipTitle]="t('terminalSettingsInstantNotificationsForm.hiddenPortfoliosForNotificationsTooltip')"
            nz-icon
            nz-tooltip=""
            nzType="question-circle"
          ></span>
        </nz-form-label>
        <nz-form-control class="w-100">
          <nz-select
            nzMode="multiple"
            nzAllowClear
            [compareWith]="compareFn"
            [nzPlaceHolder]="t('terminalSettingsInstantNotificationsForm.hiddenPortfoliosForNotificationsPlaceholder')"
            [ngModel]="excludedPortfolios"
            (ngModelChange)="excludedPortfoliosChange($event)"
            >
            @for (p of portfolios; track p) {
              <nz-option [nzValue]="p"
              [nzLabel]="p.portfolio + ' (' + p.exchange + ')'" />
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    }
  </div>
</ng-container>
