<ats-widget-settings-editor
  (cancelClick)="requestClose()"
  (copyClick)="createWidgetCopy()"
  (saveClick)="updateSettings()"
  [canCopy]="canCopy"
  [canSave]="canSave"
  [showCopy]="showCopy"
  [widgetInstance]="widgetInstance()"
>
  <ng-container *transloco="let t; scope: 'orderbook/settings'">
    <ats-widget-settings-group
      [device]="DeviceVisibility.DesktopOnly"
      [isValid]="form.controls.instrument.valid"
      [title]="t('orderbookSettings.instrumentHeader')"
      groupId="instrument"
    >
      <ats-widget-settings-form [formGroup]="form.controls.instrument">
        <ats-widget-settings-form-item
          [errorTip]="t('orderbookSettings.tickerError')"
          [label]="t('orderbookSettings.tickerLabel')"
          [required]="true"
        >
          <ats-inline-instrument-search
            (instrumentSelected)="instrumentSelected($event)"
            formControlName="instrumentKey"
          />
        </ats-widget-settings-form-item>
        <ats-widget-settings-form-item
          [label]="t('orderbookSettings.exchangeLabel')"
          [required]="true"
          controlId="exchange"
        >
          <input [value]="instrument?.exchange ?? ''" disabled id="exchange" nz-input type="text"/>
        </ats-widget-settings-form-item>
        <ats-widget-settings-form-item
          [errorTip]="t('orderbookSettings.instrumentGroupError')"
          [label]="t('orderbookSettings.instrumentGroupLabel')"
        >
          <ats-instrument-board-select
            [instrument]="instrument"
            [placeholder]="t('orderbookSettings.instrumentGroupLabel')"
            formControlName="instrumentGroup"
          />
        </ats-widget-settings-form-item>
      </ats-widget-settings-form>
    </ats-widget-settings-group>

    <ats-widget-settings-group
      [isValid]="form.controls.view.valid"
      [title]="t('orderbookSettings.viewSettingsHeader')"
      groupId="view"
    >
      <ats-widget-settings-form [formGroup]="form.controls.view">
        <ats-widget-settings-form-item
          [errorTip]="t('orderbookSettings.intervalError', validationOptions.depth)"
          [label]="t('orderbookSettings.depthLabel')"
          [required]="true"
        >
          <nz-slider
            [nzMarks]="depthMarks"
            [nzMax]="validationOptions.depth.max"
            [nzMin]="validationOptions.depth.min"
            [nzStep]="1"
            formControlName="depth"
          />
        </ats-widget-settings-form-item>
        <ats-widget-settings-form-item
          [label]="t('orderbookSettings.columnsOrderLabel')"
          [required]="true"
        >
          <nz-select formControlName="columnsOrder">
            <nz-option
              [nzLabel]="t('orderbookSettings.columnOrders.volumesAtTheEdges')"
              [nzValue]="columnsOrderEnum.VolumesAtTheEdges"
            />
            <nz-option
              [nzLabel]="t('orderbookSettings.columnOrders.volumesAtTheMiddle')"
              [nzValue]="columnsOrderEnum.VolumesAtTheMiddle"
            />
          </nz-select>
        </ats-widget-settings-form-item>
        <ats-widget-settings-form-item [label]="t('orderbookSettings.volumeFormatDisplayLabel')">
          <nz-select formControlName="volumeDisplayFormat">
            @for (option of availableNumberFormats; track option) {
              <nz-option
                [nzLabel]="t('numberDisplayFormatOptions.' + option, { fallback: option })"
                [nzValue]="option"
              />
            }
          </nz-select>
        </ats-widget-settings-form-item>
        <ats-widget-settings-switch
          [label]="t('orderbookSettings.displayChartLabel')"
          formControlName="showChart"
        />
        <ats-widget-settings-switch
          [label]="t('orderbookSettings.displayTableLabel')"
          formControlName="showTable"
        />
        <ats-widget-settings-switch
          [label]="t('orderbookSettings.displayVolumeLabel')"
          formControlName="showVolume"
        />
        <ats-widget-settings-switch
          [label]="t('orderbookSettings.displayYieldForBondsLabel')"
          formControlName="showYieldForBonds"
        />
        <ats-widget-settings-switch
          [label]="t('orderbookSettings.showPriceWithZeroPaddingLabel')"
          formControlName="showPriceWithZeroPadding"
        />
      </ats-widget-settings-form>
    </ats-widget-settings-group>

    <ats-widget-settings-group
      [device]="DeviceVisibility.DesktopOnly"
      [isValid]="form.controls.orders.valid"
      [title]="t('orderbookSettings.ordersHeader')"
      groupId="orders"
    >
      <ats-widget-settings-form [formGroup]="form.controls.orders">
        <ats-widget-settings-switch
          [label]="t('orderbookSettings.useOrderWidgetLabel')"
          formControlName="useOrderWidget"
        />
        <p nz-typography nzType="secondary">{{ t('orderbookSettings.useOrderWidgetPopover') }}</p>
      </ats-widget-settings-form>
    </ats-widget-settings-group>
  </ng-container>
</ats-widget-settings-editor>
