<div
  *transloco="let t; scope: 'shared/color-picker-input'"
  class="ant-input preview" [ngStyle]="{'background-color': value}"
  [nzPopoverContent]="selectVolumeHighlightColor"
  nz-popover
  [nzPopoverTitle]="t('sharedColorPickerInput.selectColorTitle')"
  nzPopoverTrigger="click"
>
</div>

<ng-template #selectVolumeHighlightColor>
  <color-chrome (onChangeComplete)="colorChangeComplete.emit($event.color.hex)" [color]="value" [disableAlpha]="true"></color-chrome>
</ng-template>

<ng-template #selectedColorPreview>
  <span [ngStyle]="{'background-color': value}" class="preview">&nbsp;</span>
</ng-template>
