.ats-order-submit-dialog-widget {
  .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    h3 {
      margin-bottom: 0;
    }

    .right {
      white-space: nowrap;
      margin-right: -8px;
      display: flex;

      .ant-btn {
        color: var(--ats-text-color);
        border: none;

        &:hover, &:focus {
          color: var(--ats-text-color);
          text-decoration: none;
        }
      }
    }
  }

  .help-link {
    font-size: 14px;
  }
}
