<ng-container *transloco="let t; scope: 'scalper-order-book/limit-orders-volume-indicator'">
  <ng-container *ngrxLet="ordersVolume$ as ordersVolume">
    @if (ordersVolume > 0) {
      <span
        [nzTooltipMouseEnterDelay]="1"
        [nzTooltipTitle]="hideTooltips() ? null : t('scalperOrderBookLimitOrdersVolumeIndicator.tooltip', {side})"
        class="d-inline-block lh-1 fw-bold text-center px-3 user-select-none volume-item"
        nz-tooltip
        >
        {{ ordersVolume | number: '1.0-4' }}
      </span>
    }
  </ng-container>
</ng-container>
