@import "./ng-zorro-overrides/index";

:root {
  --safe-area-top: env(safe-area-inset-top, 0px);
  --safe-area-right: env(safe-area-inset-right, 0px);
  --safe-area-bottom: env(safe-area-inset-bottom, 0px);
  --safe-area-left: env(safe-area-inset-left, 0px);
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;

  body {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    margin: 0;
    background: var(--atsm-mobile-background-gradient);

    app-root {
      display: block;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      overflow: hidden;

      padding: var(--safe-area-top) var(--safe-area-right) 0 var(--safe-area-left);
      &.capacitor {
        padding-bottom:  var(--safe-area-bottom);
      }

      > :not(router-outlet) {
        display: block;
        height: 100%;
      }
    }

    .ant-popover {
      .ant-popover-inner-content {
        width: 100%;
      }
    }

    .ant-modal-wrap {
      padding-top: var(--safe-area-top) !important;
    }

    .ant-message {
      top: calc(24px + var(--safe-area-top)) !important;
    }

    .ant-notification-topRight,
    .ant-notification-topLeft,
    .ant-notification-top {
      top: calc(24px + var(--safe-area-top)) !important;
    }

    .ant-drawer-content-wrapper {
      top: var(--safe-area-top) !important;
    }
  }

  .ant-input-affix-wrapper,
  .ant-input,
  .ant-select-selector,
  .ant-picker,
  .ant-radio-button-wrapper {
    box-shadow: none !important;
  }

  .ant-btn {
    min-height: var(--ats-input-height-mobile);
    min-width: var(--ats-input-height-mobile);
  }

  .ant-input {
    height: var(--ats-input-height-mobile);
  }

  .ant-input-affix-wrapper {
    height: var(--ats-input-height-mobile);

    .ant-input {
      height: auto;
    }
  }

  .ant-select,
  .ant-select-selection-wrap,
  .ant-picker {
    min-height: var(--ats-input-height-mobile);
  }

  .ant-select-item {
    min-height: var(--ats-input-height-mobile);
    align-items: center;
  }

  .ant-radio-button-wrapper {
    min-height: var(--ats-input-height-mobile);
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .ant-form {
    .ant-form-item {
      margin-bottom: 20px;
    }
  }
}

.cdk-drag-preview {
  &.ant-table-cell {
    overflow: hidden;
  }
}
