<ng-container  *transloco="let t; scope: 'instruments-correlation/correlation-chart'">
  <form [formGroup]="parametersForm" nz-form nzLayout="inline">
    <nz-form-item>
      <nz-form-control>
        <ng-container *transloco="let tTitle; scope: 'instruments'">
          <nz-select
            [nzDropdownMatchSelectWidth]="false"
            [nz-tooltip]="t('instrumentsCorrelationCorrelationChart.parametersForm.targetListLabel')"
            [nzTooltipPlacement]="['top', 'topLeft', 'topRight']"
            formControlName="targetListId"
            >
            @for (list of availableLists$ | async; track list) {
              <nz-option [nzLabel]="tTitle('instruments.' + getTitleTranslationKey(list), {fallback: list.title})"
                [nzValue]="list.id" />
            }
          </nz-select>
        </ng-container>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-select
          [nzDropdownMatchSelectWidth]="false"
          [nz-tooltip]="t('instrumentsCorrelationCorrelationChart.parametersForm.timeframeLabel')"
          [nzTooltipPlacement]="['top', 'topLeft', 'topRight']"
          formControlName="days"
          >
          @for (timeframe of timeframes; track timeframe) {
            <nz-option [nzLabel]="t('instrumentsCorrelationCorrelationChart.parametersForm.timeframeOptions.' + timeframe.key)"
              [nzValue]="timeframe.value" />
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-select
          [nzDropdownMatchSelectWidth]="false"
          [nz-tooltip]="t('instrumentsCorrelationCorrelationChart.parametersForm.detrendTypeLabel')"
          [nzTooltipPlacement]="['top', 'topLeft', 'topRight']"
          formControlName="detrendType"
          >
          @for (detrendType of detrendTypes; track detrendType) {
            <nz-option [nzLabel]="t('instrumentsCorrelationCorrelationChart.parametersForm.detrendTypeOptions.' + detrendType)"
              [nzValue]="detrendType" />
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-container>
