.order-command-form-labels() {
  .ant-form-item.compact {
    margin-bottom: 0;
  }

  nz-form-label {
    label {
      display: inherit;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.order-command-stop-order-form-extras() {
  .ant-picker {
    width: 100%;
  }

  .loss {
    color: var(--ats-sell-color);
  }

  .profit {
    color: var(--ats-buy-color);
  }
}
