@import "theme-mixin";

.themeMixin({
  :host {
    .ant-tag {
      min-height: @input-height-mobile - 5px;
      display: flex;
      align-items: center;
    }
  }
});

.history-wrapper {
  height: 40px;
}

