@if (selectedInstrument$ | async; as selectedInstrument) {
  <div class="d-flex p-10 history-wrapper">
    @if (instruments$ | async; as instruments) {
      @if (instruments.length) {
        @for (instrument of instruments; track instrument) {
          <nz-tag
            nzMode="checkable"
            [nzChecked]="isInstrumentEqual(selectedInstrument, instrument)"
            (click)="selectInstrument(instrument)"
            >
            {{instrument.symbol}} @if (instrument.instrumentGroup && instrument.showInstrumentGroup) {
            <span>({{instrument.instrumentGroup}})</span>
          }
        </nz-tag>
      }
    } @else {
      <span *transloco="let t; scope: 'dashboard/navbar/mobile'">{{t('dashboardNavbarMobile.emptyHistoryLabel')}}</span>
    }
  } @else {
    <span *transloco="let t; scope: 'dashboard/navbar/mobile'">{{t('dashboardNavbarMobile.emptyHistoryLabel')}}</span>
  }
</div>
}
