@if (selectedInstrument$ | async; as selectedInstrument) {
  <div class="p-10 history-wrapper">
    @if (instruments$ | async; as instruments) {
      @if (instruments.length > 0) {
        <ats-scrollable-row [showScrollButtons]="false">
          @for (instrument of instruments; track instrument) {
            <nz-tag
              (click)="selectInstrument(instrument)"
              [nzChecked]="isInstrumentEqual(selectedInstrument, instrument)"
              atsScrollableItem
              nzMode="checkable"
            >
              {{ instrument.symbol }} @if (instrument.instrumentGroup && instrument.showInstrumentGroup) {
              <span>({{ instrument.instrumentGroup }})</span>
            }
            </nz-tag>
          }
        </ats-scrollable-row>
      } @else {
        <span
          *transloco="let t; scope: 'dashboard/navbar/mobile'">{{ t('dashboardNavbarMobile.emptyHistoryLabel') }}</span>
      }
    } @else {
      <span
        *transloco="let t; scope: 'dashboard/navbar/mobile'">{{ t('dashboardNavbarMobile.emptyHistoryLabel') }}</span>
    }
  </div>
}
