<ats-widget-settings
  (copyClick)="createWidgetCopy()"
  (saveClick)="updateSettings()"
  [canCopy]="canCopy"
  [canSave]="canSave"
  [showCopy]="showCopy"
>
  <ng-container *transloco="let t; scope: 'treemap/settings'">
    <form [formGroup]="form" [nzLayout]="'horizontal'" nz-form>
      <nz-form-item>
        <nz-form-control>
          <nz-form-label nzFor="refreshIntervalSec" nzRequired>{{ t('treemapSettings.refreshIntervalSecLabel') }}
          </nz-form-label>
          <nz-slider [nzMin]="validation.refreshIntervalSec.min"
            [nzMax]="validation.refreshIntervalSec.max"
            [nzStep]="1"
            [nzMarks]="marks"
            formControlName="refreshIntervalSec"
           />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</ats-widget-settings>
