<nz-alert
  nzType="info"
  [nzDescription]="content"
  [nzCloseable]="true"
>
</nz-alert>
<ng-template #content>
  Напоминаем, что сгенерированные Чат-ботом ответы могут содержать недостоверную информацию из-за технических сбоев и ошибок, а также недостаточным уровнем развития искусственного интеллекта. Полученные Вами ответы не являются официальной позицией ООО "АЛОР +", его руководства и/или отдельных сотрудников. Чат-бот не оказывает услуги по инвестиционному консультированию и не предоставляет индивидуальные инвестиционные рекомендации. Вы самостоятельно несете все риски принятия решений о способах и возможностях использования информации, полученной от Чат-бота.
  Для получения более точной информации просим обратиться по телефону по следующим номерам 8 800 775-11-99 (доб. 3), +7 495 981-55-77 (доб. 3) и/или по адресу электронной почты <a href="mailto:client@alor.ru">client&#64;alor.ru</a>
</ng-template>


