@import "theme-mixin";

.themeMixin({
  :host {
    .working-volume-item {
      color: @text-color;
      border: @border-color-base solid 1px;
      border-radius: @border-radius-base;
      background-color: @component-background;

      &.active {
        color: @primary-color;
        border-color: @border-color-active;
        background-color: @background-color-active;
      }

      &:hover {
        border-color: @border-color-active;
        color: @text-max-contrast-color;
      }
    }
  }
});

.vertical {
  flex-direction: column;
  gap: 2px;

  .working-volume-item {
    text-align: end;
  }
}

.horizontal {
  flex-direction: row;
  gap: 2px;

  .working-volume-item {
    text-align: center;
  }
}

.working-volume-item {
  opacity: 0.8;

  &:hover, &.active {
    opacity: 0.9
  }
}

