<div
  *ngrxLet="{ allVolumes: workingVolumes$, selectedVolume: selectedVolume$} as vm"
  class="d-flex"
  [class]="orientation()"
  >
  @if (vm.selectedVolume) {
    @for (vol of vm.allVolumes; track vol; let i = $index) {
      <span
        class="working-volume-item d-inline-block cursor-pointer pl-2 pr-2"
        [class.active]="vm.selectedVolume.index === i && vm.selectedVolume.value === vol"
        (click)="selectVolume(i)"
        (dblclick)="openVolumeChange(i, vol)"
        nz-popconfirm
        [nzPopconfirmTitle]="workingVolumeChangePopup"
        [nzPopconfirmVisible]="changeVolumeConfirmVisibleIndex === i"
        [nzPopconfirmTrigger]="null"
        (nzOnCancel)="closeVolumeChange()"
        (nzOnConfirm)="applyVolumeChanges(i)"
        (nzPopconfirmVisibleChange)="volumeChangeVisibilityChanged($event)"
        >
        {{vol}}
      </span>
    }
  }
</div>

<ng-template #workingVolumeChangePopup>
  <nz-form-item *transloco="let t; scope: 'scalper-order-book/working-volumes-panel'">
    <nz-form-control [nzErrorTip]="t('validationErrors.intervalError', { min: validation.volume.min, max: validation.volume.max })">
      <nz-form-label
        nzFor="changeVolumeControl"
        nzRequired
        >
        {{t('scalperOrderBookWorkingVolumesPanel.newVolumeLabel')}}
      </nz-form-label>

      <ats-input-number [formControl]="changeVolumeControl"
        [focused] = true
        (atsEnter)="applyVolumeChanges(changeVolumeConfirmVisibleIndex!)"
        class="working-volume-input"
       />
    </nz-form-control>
  </nz-form-item>
</ng-template>
