<div *transloco="let t; scope: 'operations-history'" class="d-flex flex-column flex-gap-12 py-12 px-8 overflow-y-auto">
  <form [formGroup]="filterForm">
    <div class="d-flex flex-column flex-gap-20">

      <div class="d-flex flex-row">
        <nz-select
          [nzAutoFocus]="false"
          [nzPlaceHolder]="t('operationsHistory.filters.typePlaceholder')"
          class="w-100"
          formControlName="search"
          nzAllowClear
        >
          <nz-option-group [nzLabel]="t('operationsHistory.filterGroups.moneymove')">
            @for (option of getFilterGroupOptions('moneymove'); track option.value) {
              <nz-option [nzLabel]="t(getOptionLabelKey(option.value))" [nzValue]="option.value"/>
            }
          </nz-option-group>
          <nz-option-group [nzLabel]="t('operationsHistory.filterGroups.operation')">
            @for (option of getFilterGroupOptions('operation'); track option.value) {
              <nz-option [nzLabel]="t(getOptionLabelKey(option.value))" [nzValue]="option.value"/>
            }
          </nz-option-group>
        </nz-select>
      </div>

      <div class="d-flex flex-row justify-content-between flex-gap-10">
        <nz-date-picker
          [nzDisabledDate]="disabledFromDate"
          [nzPlaceHolder]="t('operationsHistory.filters.dateFromPlaceholder')"
          class="flex-fill"
          formControlName="dateFrom"
          nzAllowClear="true"
        />

        <nz-date-picker
          [nzDisabledDate]="disabledToDate"
          [nzPlaceHolder]="t('operationsHistory.filters.dateToPlaceholder')"
          class="flex-fill"
          formControlName="dateTo"
          nzAllowClear="true"
        />
      </div>

    </div>
  </form>

  <nz-list
    [nzBordered]="false"
    [nzDataSource]="history()"
    [nzItemLayout]="'vertical'"
    [nzLoadMore]="hasMore ? loadMoreTpl : null"
    [nzLoading]="isLoading()"
    class="history-list">
    @for (item of history(); track $index) {
      <nz-list-item class="history-item">
        <nz-list-item-meta [nzAvatar]="itemIcon" [nzDescription]="itemDescription" [nzTitle]="itemTitle">
          <ng-template #itemIcon>
            <div [class]="getStatusColor(item.status)" class="item-icon">
              <span [nzType]="getIcon(item)" nz-icon nzTheme="outline"></span>
            </div>
          </ng-template>
          <ng-template #itemTitle>
            <span class="fw-bold heading-color">{{ getItemTitle(item, t) }}</span>
          </ng-template>
          <ng-template #itemDescription>
            <div class="d-flex flex-column flex-gap-6">
              <div class="d-flex flex-row align-items-center justify-content-start flex-gap-8 w-100">

                @if (getStatusLabel(item, t)) {
                  <nz-tag [nzColor]="getStatusColor(item.status)" class="my-0">
                    {{ getStatusLabel(item, t) }}
                  </nz-tag>
                }

                <span>{{ item.date | date:'dd.MM.yyyy HH:mm' }}</span>

              </div>
              @if (getAbsoluteAmount(item) !== null) {
                <span
                  class="fs-7"
                  [class]="{
                  'negative-color': isNegativeAmount(item),
                  'positive-color': !isNegativeAmount(item)
                  }"
                >
                  {{ getAbsoluteAmount(item) | number:'1.2-2' }} {{ getCurrency(item) }}
                </span>
              }
              @if (getCounterparty(item)) {
                <span class="item-counterparty">
              {{ getCounterparty(item) }}
            </span>
              }
            </div>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
    }
  </nz-list>

  <ng-template #loadMoreTpl>
    <button (click)="loadMore()" [disabled]="isLoading()" nz-button nzBlock>
      {{ t('operationsHistory.loadMore') }}
    </button>
  </ng-template>
</div>
