<ng-container *ngrxLet="dataContext().extendedSettings$ as extendedSettings">
  <div class="container d-flex flex-column p-1 user-select-none flex-gap-2">
    @if (showWorkingVolumes(extendedSettings.widgetSettings)) {
      <div class="d-flex justify-content-center">
        <ats-modifiers-indicator />
      </div>
    }
    @if (showShortLongIndicators(extendedSettings.widgetSettings)) {
      <div class="d-flex">
        <ats-short-long-indicator [dataContext]="dataContext()"
          [hideTooltips]="extendedSettings.widgetSettings.hideTooltips ?? false"
          orientation="vertical"
         />
      </div>
    }
    @if (showWorkingVolumes(extendedSettings.widgetSettings)) {
      <div class="d-flex">
        <ats-working-volumes-panel [guid]="guid()"
          [isActive]="isActive()"
          [dataContext]="dataContext()"
          orientation="vertical"
         />
      </div>
    }
  </div>
</ng-container>
