@import "theme-mixin";

.themeMixin({
  :host {
    .sell {
      color: @sell-color;
    }

    .buy {
      color: @buy-color;
    }

    ::ng-deep {
      .long {
        nz-badge-sup {
          background: @buy-color;
        }
      }
    }

    ::ng-deep {
      .short {
        nz-badge-sup {
          background: @sell-color;
        }
      }
    }

    .instrument {
      .description {
        color: @heading-color;
      }
    }
  }
});

.content {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
}

.badge {
  margin: 3px 10px 3px 0;
}

.description {
  display: flex;
  flex-direction: column;
  line-height: 0.7;
  margin: 0 0 10px 10px;

  .instrument {
    display: flex;
    margin-bottom: 15px;

    .identifier {
      display: inline-flex;
      padding: 3px 3px 3px 0;
    }

    .exchange-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .exchange {
        font-size: .6rem;
        color: darkgray;
        margin-bottom: 0;
      }

      .instrument-group {
        font-size: .6rem;
        color: lightgray;
        margin-bottom: 0;
      }
    }

    .ticker {
      font-size: 2em;
      margin-right: 5px;
      margin-bottom: 0;
    }

    .price {
      font-size: 2em;
      margin-top: 3px;
      margin-left: 5px;
    }
  }
}

.dynamic {
  max-width: 300px;
}

.selectable {
  cursor: pointer;
  text-decoration: underline;
}

:host {
  ::ng-deep {
    .ant-descriptions-item-container span {
      line-height: 1;
    }
  }
}

.upper-row {
  margin-bottom: .5em;
}

.lower-row {
  margin-bottom: 0;
}
