.ats-invest-ideas-details-dialog {
  .ant-modal-title {
    margin-right: 10px;
  }

  .body {
    max-height: 500px;

    .content {
      white-space: pre-wrap;
    }

    .symbol {
      cursor: pointer;

      &:hover {
        background-color: var(--ats-table-row-hover-bg);
        border-radius: var(--ats-border-radius-base);
      }
    }
  }
}
