<div
  class="container"
  (nzResizeObserve)="containerSizeChanged($event)"
  nzResizeObserver
  >
  @if (tableConfig$ | async; as tableConfig) {
    <ats-infinite-scroll-table (filterApplied)="applyFilter($event)"
      (rowClick)="rowClick($event)"
      (scrolled)="scrolled()"
      (orderColumnChange)="changeColumnOrder($event)"
      (columnWidthChange)="saveColumnWidth($event)"
      [tableConfig]="tableConfig"
      [data]="(tableData$ | async) ?? []"
      [isLoading]="(isLoading$ | async) ?? false"
      [tableContainerHeight]="(contentSize$ | async)?.height || 0"
      [tableContainerWidth]="(contentSize$ | async)?.width || 0"
      (rowContextMenu)="openContextMenu($event.event, contextMenu, $event.row)"
     />
  }

  <ats-add-to-watchlist-menu #contextMenu />
</div>
