<div
  (nzResizeObserve)="containerSizeChanged($event)"
  *ngrxLet="actualDisplayMode$ as actualDisplayMode"
  class="w-100 position-absolute"
  nzResizeObserver
  >
  <ng-container *transloco="let t; scope: 'light-chart'">
    <ng-container>
      @if (actualDisplayMode === timeFrameDisplayModes.Buttons) {
        <div class="position-absolute z-3 d-flex flex-nowrap flex-row flex-gap-1">
          @for (timeframe of availableTimeframes(); track timeframe) {
            <button
              (click)="changeTimeframe.emit(timeframe)"
              [nzType]="selectedTimeframe() === timeframe ? 'primary': 'default'"
              nz-button
              >
              {{t('lightChart.timeframes.' + timeframe)}}
            </button>
          }
        </div>
      }
      @if (actualDisplayMode === timeFrameDisplayModes.Menu) {
        <button
          [nzDropdownMenu]="timeFramesMenu"
          [nzType]="'primary'"
          class="timeframes-menu position-absolute z-3"
          nz-button
          nz-dropdown
          nzShape="round">
          {{t('lightChart.timeframes.' + selectedTimeframe())}}
        </button>
        <nz-dropdown-menu #timeFramesMenu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            @for (timeframe of availableTimeframes(); track timeframe) {
              <li (click)="changeTimeframe.emit(timeframe)"
                [nzSelected]="timeframe === selectedTimeframe()"
                nz-menu-item>
                {{t('lightChart.timeframes.' + timeframe)}}
              </li>
            }
          </ul>
        </nz-dropdown-menu>
      }
    </ng-container>
  </ng-container>
</div>

