<ats-widget-settings-editor
  (cancelClick)="requestClose()"
  (copyClick)="createWidgetCopy()"
  (saveClick)="updateSettings()"
  [canCopy]="canCopy"
  [canSave]="canSave"
  [showCopy]="showCopy"
  [widgetInstance]="widgetInstance()"
>
  @let user = userContext.getUser() | async;
  <ng-container *transloco="let t; scope: 'blotter/settings'">
    @if (user != null) {
      <ats-widget-settings-group
        [isValid]="form.controls.general.valid"
        [title]="t('blotterSettings.generalGroupLabel')"
        groupId="general"
      >
        <ats-widget-settings-form [formGroup]="form.controls.general">
          <ats-widget-settings-form-item
            *atsSettingsDeviceVisible="DeviceVisibility.DesktopOnly"
            [errorTip]="t('blotterSettings.portfolioError')"
            [label]="t('blotterSettings.portfolioLabel')"
            [required]="true"
          >
            @if (availablePortfolios$ | async; as availablePortfolios) {
              @if (availablePortfolios.size > 0) {
                <nz-select
                  (ngModelChange)="portfolioChanged($event)"
                  [nzPlaceHolder]="t('blotterSettings.portfolioLabel')"
                  formControlName="portfolio"
                  nzAllowClear
                  nzShowSearch>
                  @for (agreement of availablePortfolios.keys(); track agreement) {
                    <nz-option-group [nzLabel]="agreement">
                      @if (availablePortfolios.get(agreement); as portfolios) {
                        @for (portfolio of portfolios; track portfolio) {
                          <nz-option [nzLabel]="portfolio.market + ' ' +  portfolio.portfolio"
                                     [nzValue]="toPortfolioKey(portfolio)"/>
                        }
                      }
                    </nz-option-group>
                  }
                </nz-select>
              } @else {
                <div>{{ form.controls.general.controls.portfolio.value }}</div>
              }
            }
          </ats-widget-settings-form-item>
          <ats-widget-settings-form-item
            *atsSettingsDeviceVisible="DeviceVisibility.DesktopOnly"
            [errorTip]="t('blotterSettings.exchangeError')"
            [label]="t('blotterSettings.exchangeLabel')"
            [required]="true"
          >
            <input formControlName="exchange" nz-input>
          </ats-widget-settings-form-item>
          <ats-widget-settings-switch
            [label]="t('blotterSettings.showSummaryLabel')"
            formControlName="showSummary"
          />
        </ats-widget-settings-form>
      </ats-widget-settings-group>
      <ats-widget-settings-group
        [isValid]="form.controls.orders.valid"
        [title]="t('blotterSettings.ordersGroupLabel')"
        groupId="orders"
      >
        <ats-widget-settings-form [formGroup]="form.controls.orders">
          <ats-widget-settings-switch
            [label]="t('blotterSettings.showOrdersLabel')"
            formControlName="showOrders"
          />
          @if (form.controls.orders.controls.showOrders.value) {
            <ats-widget-settings-form-item
              [errorTip]="t('blotterSettings.selectColumnsError')"
              [label]="t('blotterSettings.ordersColumnsLabel')"
              [required]="true"
            >
              <nz-select
                *transloco="let tOrders; scope: 'blotter/orders'"
                [nzMaxTagCount]="10"
                [nzMaxTagPlaceholder]="tagPlaceHolder"
                [nzPlaceHolder]="t('blotterSettings.selectPlaceholder')"
                [valueChanges]="form.controls.orders.controls.ordersColumns.valueChanges"
                atsRemoveSelectTitles
                formControlName="ordersColumns"
                nzMode="multiple"
              >
                @for (item of allOrdersColumns; track item) {
                  <nz-option
                    [nzLabel]="tOrders('blotterOrders.columns.' + item.id + '.name')"
                    [nzValue]="item.id"
                    nzCustomContent
                  >
                    <div
                      [nzTooltipPlacement]="['topLeft', 'top', 'topRight']"
                      [nzTooltipTitle]="tOrders('blotterOrders.columns.' + item.id + '.tooltip')"
                      nz-tooltip
                    >
                      {{ tOrders('blotterOrders.columns.' + item.id + '.name') }}
                    </div>
                  </nz-option>
                }
              </nz-select>
            </ats-widget-settings-form-item>
          }
          <ats-widget-settings-switch
            [label]="t('blotterSettings.showStopOrdersLabel')"
            formControlName="showStopOrders"
          />
          @if (form.controls.orders.controls.showStopOrders.value) {
            <ats-widget-settings-form-item
              [errorTip]="t('blotterSettings.selectColumnsError')"
              [label]="t('blotterSettings.stopOrdersColumnsLabel')"
              [required]="true"
            >
              <nz-select
                *transloco="let tStopOrders; scope: 'blotter/stop-orders'"
                [nzMaxTagCount]="10"
                [nzMaxTagPlaceholder]="tagPlaceHolder"
                [nzPlaceHolder]="t('blotterSettings.selectPlaceholder')"
                [valueChanges]="form.controls.orders.controls.stopOrdersColumns.valueChanges"
                atsRemoveSelectTitles
                formControlName="stopOrdersColumns"
                nzMode="multiple"
              >
                @for (item of allStopOrdersColumns; track item) {
                  <nz-option
                    [nzLabel]="tStopOrders('blotterStopOrders.columns.' + item.id + '.name')"
                    [nzValue]="item.id"
                    nzCustomContent
                  >
                    <div
                      [nzTooltipPlacement]="['topLeft', 'top', 'topRight']"
                      [nzTooltipTitle]="tStopOrders('blotterStopOrders.columns.' + item.id + '.tooltip')"
                      nz-tooltip
                    >
                      {{ tStopOrders('blotterStopOrders.columns.' + item.id + '.name') }}
                    </div>
                  </nz-option>
                }
              </nz-select>
            </ats-widget-settings-form-item>
          }
          @if (canCancelOrders(user)) {
            <ats-widget-settings-switch
              [label]="t('blotterSettings.cancelWithoutConfirmLabel')"
              formControlName="cancelOrdersWithoutConfirmation"
            />
          }
        </ats-widget-settings-form>
      </ats-widget-settings-group>
      <ats-widget-settings-group
        [isValid]="form.controls.positions.valid"
        [title]="t('blotterSettings.positionsGroupLabel')"
        groupId="positions"
      >
        <ats-widget-settings-form [formGroup]="form.controls.positions">
          <ats-widget-settings-switch
            [label]="t('blotterSettings.showPositionsLabel')"
            formControlName="showPositions"
          />
          @if (form.controls.positions.controls.showPositions.value) {
            <ats-widget-settings-form-item
              [errorTip]="t('blotterSettings.selectColumnsError')"
              [label]="t('blotterSettings.positionsColumnsLabel')"
              [required]="true"
            >
              <nz-select
                *transloco="let tPositions; scope: 'blotter/positions'"
                [nzMaxTagCount]="10"
                [nzMaxTagPlaceholder]="tagPlaceHolder"
                [nzPlaceHolder]="t('blotterSettings.selectPlaceholder')"
                [valueChanges]="form.controls.positions.controls.positionsColumns.valueChanges"
                atsRemoveSelectTitles
                formControlName="positionsColumns"
                nzMode="multiple"
              >
                @for (item of allPositionsColumns; track item) {
                  <nz-option
                    [nzLabel]="tPositions('blotterPositions.columns.' + item.id + '.name')"
                    [nzValue]="item.id"
                    nzCustomContent
                  >
                    <div
                      [nzTooltipPlacement]="['topLeft', 'top', 'topRight']"
                      [nzTooltipTitle]="tPositions('blotterPositions.columns.' + item.id + '.tooltip')"
                      nz-tooltip
                    >
                      {{ tPositions('blotterPositions.columns.' + item.id + '.name') }}
                    </div>
                  </nz-option>
                }
              </nz-select>
            </ats-widget-settings-form-item>
          }
          @if (form.controls.positions.controls.showPositions.value) {
            @if (canChangePositions(user)) {
              <ats-widget-settings-switch
                [label]="t('blotterSettings.showPositionActionsLabel')"
                formControlName="showPositionActions"
              />
            }
            <ats-widget-settings-switch
              [label]="t('blotterSettings.hideSoldLabel')"
              formControlName="isSoldPositionsHidden"
            />
          }
        </ats-widget-settings-form>
      </ats-widget-settings-group>
      <ats-widget-settings-group
        [isValid]="form.controls.trades.valid"
        [title]="t('blotterSettings.tradesGroupLabel')"
        groupId="trades"
      >
        <ats-widget-settings-form [formGroup]="form.controls.trades">
          <ats-widget-settings-switch
            [label]="t('blotterSettings.showTradesLabel')"
            formControlName="showTrades"
          />
          @if (form.controls.trades.controls.showTrades.value) {
            <ats-widget-settings-form-item
              [errorTip]="t('blotterSettings.selectColumnsError')"
              [label]="t('blotterSettings.tradesColumnsLabel')"
              [required]="true"
            >
              <nz-select
                *transloco="let tTrades; scope: 'blotter/trades'"
                [nzMaxTagCount]="10"
                [nzMaxTagPlaceholder]="tagPlaceHolder"
                [nzPlaceHolder]="t('blotterSettings.selectPlaceholder')"
                [valueChanges]="form.controls.trades.controls.tradesColumns.valueChanges"
                atsRemoveSelectTitles
                formControlName="tradesColumns"
                nzMode="multiple"
              >
                @for (item of allTradesColumns; track item) {
                  <nz-option
                    [nzLabel]="tTrades('blotterTrades.columns.' + item.id + '.name')"
                    [nzValue]="item.id"
                    nzCustomContent
                  >
                    <div
                      [nzTooltipPlacement]="['topLeft', 'top', 'topRight']"
                      [nzTooltipTitle]="tTrades('blotterTrades.columns.' + item.id + '.tooltip')"
                      nz-tooltip
                    >
                      {{ tTrades('blotterTrades.columns.' + item.id + '.name') }}
                    </div>
                  </nz-option>
                }
              </nz-select>
            </ats-widget-settings-form-item>
          }
          <ats-widget-settings-switch
            [label]="t('blotterSettings.showRepoTradesLabel')"
            formControlName="showRepoTrades"
          />
          @if (form.controls.trades.controls.showRepoTrades.value) {
            <ng-container *transloco="let tRepoTrades; scope: 'blotter/repo-trades'">
              <ats-widget-settings-form-item
                [errorTip]="t('blotterSettings.selectColumnsError')"
                [label]="t('blotterSettings.repoTradesColumnsLabel')"
                [required]="true"
              >
                <nz-select
                  *transloco="let tTrades; scope: 'blotter/trades'"
                  [nzMaxTagCount]="10"
                  [nzMaxTagPlaceholder]="tagPlaceHolder"
                  [nzPlaceHolder]="t('blotterSettings.selectPlaceholder')"
                  [valueChanges]="form.controls.trades.controls.repoTradesColumns.valueChanges"
                  atsRemoveSelectTitles
                  formControlName="repoTradesColumns"
                  nzMode="multiple"
                >
                  @for (item of allRepoTradesColumns; track item) {
                    <nz-option
                      [nzLabel]="tTrades(
                        'blotterTrades.columns.' + item.id + '.name',
                        {fallback: tRepoTrades('blotterRepoTrades.columns.' + item.id + '.name')}
                      )"
                      [nzValue]="item.id"
                      nzCustomContent
                    >
                      <div
                        [nzTooltipPlacement]="['topLeft', 'top', 'topRight']"
                        [nzTooltipTitle]="tTrades(
                          'blotterTrades.columns.' + item.id + '.tooltip',
                          {fallback: tRepoTrades('blotterRepoTrades.columns.' + item.id + '.tooltip')}
                        )"
                        nz-tooltip
                      >
                        {{
                          tTrades(
                            'blotterTrades.columns.' + item.id + '.name',
                            {fallback: tRepoTrades('blotterRepoTrades.columns.' + item.id + '.name')}
                          )
                        }}
                      </div>
                    </nz-option>
                  }
                </nz-select>
              </ats-widget-settings-form-item>
            </ng-container>
          }
          <ats-widget-settings-switch
            [label]="t('blotterSettings.showHistoryTradesLabel')"
            formControlName="showHistoryTrades"
          />
          @if (form.controls.trades.controls.showHistoryTrades.value) {
            <ats-widget-settings-form-item
              [errorTip]="t('blotterSettings.selectColumnsError')"
              [label]="t('blotterSettings.tradesHistoryColumnsLabel')"
              [required]="true"
            >
              <nz-select
                *transloco="let tTrades; scope: 'blotter/trades'"
                [nzMaxTagCount]="10"
                [nzMaxTagPlaceholder]="tagPlaceHolder"
                [nzPlaceHolder]="t('blotterSettings.selectPlaceholder')"
                [valueChanges]="form.controls.trades.controls.tradesHistoryColumns.valueChanges"
                atsRemoveSelectTitles
                formControlName="tradesHistoryColumns"
                nzMode="multiple"
              >
                @for (item of allTradesHistoryColumns; track item) {
                  <nz-option
                    [nzLabel]="tTrades('blotterTrades.columns.' + item.id + '.name')"
                    [nzValue]="item.id"
                    nzCustomContent
                  >
                    <div
                      [nzTooltipPlacement]="['topLeft', 'top', 'topRight']"
                      [nzTooltipTitle]="tTrades('blotterTrades.columns.' + item.id + '.tooltip')"
                      nz-tooltip
                    >
                      {{ tTrades('blotterTrades.columns.' + item.id + '.name') }}
                    </div>
                  </nz-option>
                }
              </nz-select>
            </ats-widget-settings-form-item>
          }
        </ats-widget-settings-form>
      </ats-widget-settings-group>
      <ats-widget-settings-group
        [isValid]="form.controls.notifications.valid"
        [isVisible]="isNotificationsSupported"
        [title]="t('blotterSettings.notificationsGroupLabel')"
        groupId="notifications"
      >
        <ats-widget-settings-form [formGroup]="form.controls.notifications">
          <ats-widget-settings-switch
            [label]="t('blotterSettings.showNotificationsLabel')"
            formControlName="showNotifications"
          />
          @if (form.controls.notifications.controls.showNotifications.value) {
            <ats-widget-settings-form-item
              [errorTip]="t('blotterSettings.selectColumnsError')"
              [label]="t('blotterSettings.notificationsColumnsLabel')"
              [required]="true"
            >
              <nz-select
                *transloco="let tNotifications; scope: 'blotter/notifications'"
                [nzMaxTagCount]="10"
                [nzMaxTagPlaceholder]="tagPlaceHolder"
                [nzPlaceHolder]="t('blotterSettings.selectPlaceholder')"
                [valueChanges]="form.controls.notifications.controls.notificationsColumns.valueChanges"
                atsRemoveSelectTitles
                formControlName="notificationsColumns"
                nzMode="multiple"
              >
                @for (item of allNotificationsColumns; track item) {
                  <nz-option
                    [nzLabel]="tNotifications('blotterNotifications.columns.' + item.id + '.name')"
                    [nzValue]="item.id"
                    nzCustomContent
                  >
                    <div
                      [nzTooltipPlacement]="['topLeft', 'top', 'topRight']"
                      [nzTooltipTitle]="tNotifications('blotterNotifications.columns.' + item.id + '.tooltip')"
                      nz-tooltip
                    >
                      {{ tNotifications('blotterNotifications.columns.' + item.id + '.name') }}
                    </div>
                  </nz-option>
                }
              </nz-select>
            </ats-widget-settings-form-item>
          }
        </ats-widget-settings-form>
      </ats-widget-settings-group>
    }
    <ng-template #tagPlaceHolder let-selectedList>{{ t('maxTagPlaceholder', {count: selectedList.length}) }}</ng-template>
  </ng-container>
</ats-widget-settings-editor>
