<ats-widget-settings
  [canSave]="canSave"
  [canCopy]="canCopy"
  [showCopy]="showCopy"
  (saveClick)="updateSettings()"
  (copyClick)="createWidgetCopy()"
>
  <ng-container *transloco="let t; scope: 'scalper-order-book/settings'">
  <div *ngIf="form">
    <form [formGroup]="form" [nzLayout]="'vertical'" nz-form>
      <nz-form-item>
        <nz-collapse [nzBordered]="false" nzGhost>
          <nz-collapse-panel [nzHeader]="t('scalperOrderBookSettings.instrumentSelectionHeader')" nzActive="true">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="instrument">{{t('scalperOrderBookSettings.tickerLabel')}}</nz-form-label>
              <nz-form-control [nzErrorTip]="t('scalperOrderBookSettings.tickerError')">
                <ats-instrument-search formControlName="instrument" (instrumentSelected)="instrumentSelected($event)"></ats-instrument-search>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="exchange" nzRequired>{{t('scalperOrderBookSettings.exchangeLabel')}}</nz-form-label>
              <nz-form-control>
                <nz-select formControlName='exchange'>
                  <nz-option *ngFor='let exchange of exchanges' [nzLabel]="exchange" [nzValue]="exchange"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="instrumentGroup">{{t('scalperOrderBookSettings.instrumentGroupLabel')}}</nz-form-label>
              <nz-form-control [nzErrorTip]="t('scalperOrderBookSettings.instrumentGroupError')">
                <ats-instrument-board-select
                  [instrument]="form.value?.instrument ?? null"
                  [placeholder]="t('scalperOrderBookSettings.instrumentGroupLabel')"
                  formControlName="instrumentGroup">
                </ats-instrument-board-select>
              </nz-form-control>

            </nz-form-item>
          </nz-collapse-panel>
          <nz-collapse-panel [nzHeader]="t('scalperOrderBookSettings.displaySettingsHeader')">
            <nz-form-item>
              <nz-form-label nzFor="depth" nzRequired>{{t('scalperOrderBookSettings.depthLabel')}}</nz-form-label>
              <nz-form-control [nzErrorTip]="t('scalperOrderBookSettings.intervalError', { min: validationOptions.depth.min, max: validationOptions.depth.max })">
                <ats-input-number formControlName="depth" [placeholder]="t('scalperOrderBookSettings.intervalPlaceholder', { min: validationOptions.depth.min, max: validationOptions.depth.max })"></ats-input-number>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="one-row">
              <nz-form-label nzFor="showZeroVolumeItems">{{t('scalperOrderBookSettings.showZeroVolumeItemsLabel')}}</nz-form-label>
              <nz-form-control>
                <nz-switch formControlName='showZeroVolumeItems'></nz-switch>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="one-row">
              <nz-form-label nzFor="showSpreadItems">{{t('scalperOrderBookSettings.showSpreadItemsLabel')}}</nz-form-label>
              <nz-form-control>
                <nz-switch formControlName='showSpreadItems'></nz-switch>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="volumeDisplayFormat">{{t('scalperOrderBookSettings.volumeFormatDisplayLabel')}}</nz-form-label>
              <nz-form-control>
                <nz-select formControlName='volumeDisplayFormat'>
                  <nz-option
                    *ngFor='let option of availableNumberFormats'
                    [nzLabel]="t('numberDisplayFormatOptions.' + option, { fallback: option })"
                    [nzValue]="option"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="one-row">
              <nz-form-label nzFor="showRuler">{{t('scalperOrderBookSettings.showRulerLabel')}}</nz-form-label>
              <nz-form-control>
                <nz-switch formControlName='showRuler'></nz-switch>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item *ngIf="showRulerOptions()">
              <nz-collapse [nzBordered]="false" nzGhost>
                <nz-collapse-panel
                  [nzActive]="true"
                  [nzHeader]="t('scalperOrderBookSettings.rulerSettingsLabel')"
                  [formGroup]="asFormGroup(form.controls.rulerSettings)"
                >
                  <nz-form-item>
                    <nz-form-label nzFor="markerDisplayFormat">{{t('scalperOrderBookSettings.markerDisplayFormatLabel')}}</nz-form-label>
                    <nz-form-control>
                      <nz-radio-group formControlName="markerDisplayFormat">
                        <label nz-radio-button [nzValue]="orderPriceUnits.Points">
                          {{t('scalperOrderBookSettings.priceUnitsOptions.points')}}
                        </label>
                        <label nz-radio-button [nzValue]="orderPriceUnits.Percents">
                          %
                        </label>
                      </nz-radio-group>
                    </nz-form-control>
                  </nz-form-item>
                </nz-collapse-panel>
              </nz-collapse>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="autoAlignIntervalSec" class="auto-align-label">
                {{t('scalperOrderBookSettings.autoAlignIntervalLabel')}}
              </nz-form-label>
              <nz-form-control
                [nzErrorTip]="t(
                'scalperOrderBookSettings.intervalError',
                {
                min: validationOptions.autoAlignIntervalSec.min,
                max: validationOptions.autoAlignIntervalSec.max
                })"
              >
                <ats-input-number formControlName="autoAlignIntervalSec"></ats-input-number>
                <span nz-typography nzType="secondary">
                  {{t('scalperOrderBookSettings.autoAlignIntervalHint')}}
                </span>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="one-row">
              <nz-form-label nzFor="showPriceWithZeroPadding">{{t('scalperOrderBookSettings.showPriceWithZeroPaddingLabel')}}</nz-form-label>
              <nz-form-control>
                <nz-switch formControlName='showPriceWithZeroPadding'></nz-switch>
              </nz-form-control>
            </nz-form-item>
          </nz-collapse-panel>
          <nz-collapse-panel [nzHeader]="t('scalperOrderBookSettings.ordersSettingsHeader')">
            <nz-form-item class="one-row">
              <nz-form-label nzFor="disableHotkeys">{{t('scalperOrderBookSettings.disableHotkeysLabel')}}</nz-form-label>
              <nz-form-control>
                <nz-switch formControlName='disableHotkeys'></nz-switch>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="one-row">
              <nz-form-label nzFor="enableMouseClickSilentOrders">{{t('scalperOrderBookSettings.enableMouseClickSilentOrdersLabel')}}</nz-form-label>
              <nz-form-control>
                <nz-switch formControlName='enableMouseClickSilentOrders'></nz-switch>
              </nz-form-control>
            </nz-form-item>
          </nz-collapse-panel>
          <nz-collapse-panel [nzHeader]="t('scalperOrderBookSettings.additionalPanelsHeader')">
            <nz-form-item class="one-row">
              <nz-form-label nzFor="showTradesPanel">{{t('scalperOrderBookSettings.showTradesPanelLabel')}}</nz-form-label>
              <nz-form-control>
                <nz-switch formControlName='showTradesPanel'></nz-switch>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="one-row">
              <nz-form-label nzFor="showTradesClustersPanel">{{t('scalperOrderBookSettings.showTradesClustersPanelLabel')}}</nz-form-label>
              <nz-form-control>
                <nz-switch formControlName='showTradesClustersPanel'></nz-switch>
              </nz-form-control>
            </nz-form-item>
          </nz-collapse-panel>
          <nz-collapse-panel class="working-volumes" [nzDisabled]="!form.controls.workingVolumes.valid" [nzHeader]="t('scalperOrderBookSettings.workingVolumesHeader')">
            <div class="hint">{{t('scalperOrderBookSettings.workingVolumesHint')}}</div>
            <nz-form-item>
              <div *ngFor="let ctrl of workingVolumes.controls; let i = index" class="working-volume-option">
                <nz-form-label nzFor="workingVolume1" nzRequired>{{t('scalperOrderBookSettings.workingVolumeLabel')}} {{i + 1}}</nz-form-label>
                <nz-form-control [nzErrorTip]="workingVolumeError">
                  <ats-input-number [formControl]="workingVolumeCtrl(i)" placeholder="1"></ats-input-number>
                </nz-form-control>
                <button
                  (click)="removeWorkingVolume($event, i)"
                  [disabled]="workingVolumes.controls.length < 2"
                  nz-button
                  nzType="dashed">
                  <i nz-icon nzType="minus"></i>
                </button>
                <ng-template #workingVolumeError>
                  <span *ngIf="ctrl.errors?.required">{{t('scalperOrderBookSettings.workingVolumeRequiredError')}}</span>
                  <span *ngIf="ctrl.errors?.min">{{t('scalperOrderBookSettings.workingVolumeMinError')}}</span>
                </ng-template>
              </div>
              <button (click)="addWorkingVolume($event)"
                      [disabled]="!asFormArray(form.controls.workingVolumes).valid"
                      class="add-volume-btn"
                      nz-button
                      nzType="dashed">
                <i nz-icon nzType="plus"></i>
              </button>
            </nz-form-item>
          </nz-collapse-panel>
          <nz-collapse-panel [nzHeader]="t('scalperOrderBookSettings.highlightSettingsHeader')">
            <nz-form-item>
              <nz-form-label nzFor="highlightHighVolume">{{t('scalperOrderBookSettings.highlightHighVolumeLabel')}}</nz-form-label>
              <nz-form-control>
                <nz-select [nzDisabled]="hasVolumeHighlightOptionsErrors()" formControlName='volumeHighlightMode'>
                  <nz-option
                    *ngFor='let option of availableVolumeHighlightModes'
                    [nzLabel]="t('scalperOrderBookSettings.highlightHighVolumeOptions.' + option, { fallback: option })"
                    [nzValue]="option"
                  ></nz-option>
                </nz-select>
                <span *ngIf="form.value.volumeHighlightMode === volumeHighlightModes.BiggestVolume" nz-typography nzType="secondary">
                  {{t('scalperOrderBookSettings.biggestVolumeHint')}}
                </span>
                <span *ngIf="form.value.volumeHighlightMode === volumeHighlightModes.VolumeBoundsWithFixedValue" nz-typography nzType="secondary">
                  {{t('scalperOrderBookSettings.volumeBoundsWithFixedValueHint')}}
                </span>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-collapse *ngIf="showVolumeHighlightOptions()" [nzBordered]="false" nzGhost>
                <nz-collapse-panel
                  [nzActive]="true"
                  [nzDisabled]="hasVolumeHighlightOptionsErrors()"
                  [nzHeader]="t('scalperOrderBookSettings.volumeHighlightSettingsLabel')"
                >
                  <nz-form-item *ngIf="form.value.volumeHighlightMode === volumeHighlightModes.VolumeBoundsWithFixedValue">
                    <nz-form-label nzFor="volumeHighlightFullness" nzRequired>{{t('scalperOrderBookSettings.volumeHighlightFullnessLabel')}}</nz-form-label>
                    <nz-form-control [nzErrorTip]="t(
              'scalperOrderBookSettings.intervalError',
               {
                min: validationOptions.volumeHighlightOption.volumeHighlightFullness.min,
                 max: validationOptions.volumeHighlightOption.volumeHighlightFullness.max
                 })"
                    >
                      <ats-input-number formControlName="volumeHighlightFullness"></ats-input-number>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <ng-container *ngFor="let optionForm of volumeHighlightOptions.controls; index as i">
                      <div [formGroup]="asFormGroup(optionForm)" class="volume-highlight-options">
                        <nz-form-control
                          [nzErrorTip]="t(
                    'scalperOrderBookSettings.intervalError',
                    {
                     min: validationOptions.volumeHighlightOption.boundary.min,
                     max: validationOptions.volumeHighlightOption.boundary.max
                    })"
                        >
                          <nz-form-label nzFor="boundary" nzRequired>{{t('scalperOrderBookSettings.volumeLabel')}}</nz-form-label>
                          <ats-input-number formControlName="boundary"></ats-input-number>
                        </nz-form-control>
                        <nz-form-control [nzErrorTip]="t('scalperOrderBookSettings.colorError')">
                          <nz-form-label nzFor="color" nzRequired>{{t('scalperOrderBookSettings.colorLabel')}}</nz-form-label>

                          <nz-color-picker class="w-100" [nzFlipFlop]="flipFlop" [formControl]="getColorControl(i)"></nz-color-picker>

                          <ng-template #flipFlop>
                            <button class="w-100" nz-button [style.background-color]="getColorControl(i).value">&nbsp;</button>
                          </ng-template>
                        </nz-form-control>
                        <button (click)="removeVolumeHighlightOption($event, i)"
                                class="volume-highlight-options-remove-btn"
                                nz-button
                                nzType="dashed"
                                [disabled]="!canRemoveVolumeHighlightOption">
                          <i nz-icon nzType="minus"></i>
                        </button>
                      </div>
                    </ng-container>
                    <button (click)="addVolumeHighlightOption($event)" [disabled]="!volumeHighlightOptions.valid" class="add-volume-highlight-option-btn" nz-button nzType="dashed">
                      <i nz-icon nzType="plus"></i>
                    </button>
                  </nz-form-item>
                </nz-collapse-panel>
              </nz-collapse>
            </nz-form-item>
          </nz-collapse-panel>

          <nz-collapse-panel [nzHeader]="t('scalperOrderBookSettings.automationSettingsHeader')">
            <nz-form-item class="one-row">
              <nz-form-label nzFor="useBrackets">{{t('scalperOrderBookSettings.useBracketsLabel')}}</nz-form-label>
              <nz-form-control>
                <nz-switch formControlName='useBrackets'></nz-switch>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngIf="form.get('useBrackets')?.value">
              <nz-collapse [nzBordered]="false" nzGhost>
                <nz-collapse-panel
                  [nzActive]="true"
                  [nzHeader]="t('scalperOrderBookSettings.bracketsSettingsLabel')"
                  [formGroup]="asFormGroup(form.controls.bracketsSettings)"
                >
                  <nz-form-item>
                    <nz-form-label
                      nzFor="orderPriceUnits">{{t('scalperOrderBookSettings.orderPriceUnitsLabel')}}</nz-form-label>
                    <nz-form-control>
                      <nz-radio-group formControlName="orderPriceUnits">
                        <label nz-radio-button [nzValue]="orderPriceUnits.Points">
                          {{t('scalperOrderBookSettings.priceUnitsOptions.points')}}
                        </label>
                        <label nz-radio-button [nzValue]="orderPriceUnits.Percents">
                          %
                        </label>
                      </nz-radio-group>
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-label
                      nzFor="topOrderPriceRatio">{{t('scalperOrderBookSettings.topOrderPriceRatioLabel')}}</nz-form-label>
                    <nz-form-control [nzErrorTip]="topOrderPriceRatioError">
                      <ats-input-number
                        formControlName="topOrderPriceRatio"
                        placeholder="1"
                        [step]="form.get('bracketsSettings')?.get('orderPriceUnits')!.value === orderPriceUnits.Points
                          ? validationOptions.bracket.price.stepsStep
                          : validationOptions.bracket.price.percentsStep"
                      ></ats-input-number>
                    </nz-form-control>
                    <ng-template #topOrderPriceRatioError>
                      <span
                        *ngIf="form.get('bracketsSettings')?.get('topOrderPriceRatio')?.errors?.min ||
                         form.get('bracketsSettings')?.get('topOrderPriceRatio')?.errors?.max"
                      >
                        {{t('scalperOrderBookSettings.intervalError', {
                        min: validationOptions.bracket.price.min,
                        max: validationOptions.bracket.price.max
                      })}}
                      </span>
                      <span *ngIf="form.get('bracketsSettings')?.get('topOrderPriceRatio')?.errors?.priceStepMultiplicity">
                        <ng-container *ngIf="form.get('bracketsSettings')?.get('orderPriceUnits')!.value === orderPriceUnits.Points; else percentsError">
                          {{t('scalperOrderBookSettings.priceRatioPointsMultiplicityError')}}
                        </ng-container>
                        <ng-template #percentsError>
                          {{t('scalperOrderBookSettings.priceRatioPercentsMultiplicityError')}}
                          ({{form.get('bracketsSettings')?.get('orderPriceUnits')!.value === orderPriceUnits.Points
                            ? validationOptions.bracket.price.stepsStep
                            : validationOptions.bracket.price.percentsStep}})
                          </ng-template>
                      </span>
                    </ng-template>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-label
                      nzFor="bottomOrderPriceRatio">{{t('scalperOrderBookSettings.bottomOrderPriceRatioLabel')}}</nz-form-label>
                    <nz-form-control [nzErrorTip]="bottomOrderPriceRatioError">
                      <ats-input-number
                        formControlName="bottomOrderPriceRatio"
                        placeholder="1"
                        [step]="form.get('bracketsSettings')?.get('orderPriceUnits')!.value === orderPriceUnits.Points
                          ? validationOptions.bracket.price.stepsStep
                          : validationOptions.bracket.price.percentsStep"
                      ></ats-input-number>
                    </nz-form-control>
                    <ng-template #bottomOrderPriceRatioError>
                      <span
                        *ngIf="form.get('bracketsSettings')?.get('bottomOrderPriceRatio')?.errors?.min ||
                         form.get('bracketsSettings')?.get('bottomOrderPriceRatio')?.errors?.max"
                      >
                      {{t('scalperOrderBookSettings.intervalError', {
                        min: validationOptions.bracket.price.min,
                        max: validationOptions.bracket.price.max
                      })}}
                    </span>
                    <span *ngIf="form.get('bracketsSettings')?.get('bottomOrderPriceRatio')?.errors?.priceStepMultiplicity">
                      <ng-container *ngIf="form.get('bracketsSettings')?.get('orderPriceUnits')!.value === orderPriceUnits.Points; else percentsError">
                        {{t('scalperOrderBookSettings.priceRatioPointsMultiplicityError')}}
                      </ng-container>
                      <ng-template #percentsError>
                        {{t('scalperOrderBookSettings.priceRatioPercentsMultiplicityError')}}
                        ({{validationOptions.bracket.price.percentsStep}})
                      </ng-template>
                    </span>
                    </ng-template>
                  </nz-form-item>

                  <nz-form-item class="one-row">
                    <nz-form-label
                      nzFor="useBracketsWhenClosingPosition">{{t('scalperOrderBookSettings.useBracketsWhenClosingPositionLabel')}}</nz-form-label>
                    <nz-form-control>
                      <nz-switch formControlName='useBracketsWhenClosingPosition'></nz-switch>
                    </nz-form-control>
                  </nz-form-item>
                </nz-collapse-panel>
              </nz-collapse>
            </nz-form-item>
          </nz-collapse-panel>
        </nz-collapse>
      </nz-form-item>
    </form>
  </div>
</ng-container>
</ats-widget-settings>
