@if (layout() === 'row') {
  <nz-radio-group (ngModelChange)="selectionChange.emit($event)" [ngModel]="selectedView()">
    @for (item of items(); track item) {
      <label [nzDisabled]="item.disabled()" [nzValue]="item.value()" nz-radio-button>
        <ng-container [ngTemplateOutlet]="item.content()"/>
      </label>
    }
  </nz-radio-group>
} @else {
  <button [nzDropdownMenu]="menu" nz-button nz-dropdown>
    <span nz-icon nzTheme="outline" nzType="menu"></span>
  </button>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      @for (item of items(); track item) {
        <li
          (click)="item.disabled() ? $event.stopPropagation() : selectionChange.emit(item.value())"
          [nzDisabled]="item.disabled()"
          [nzSelected]="item.value() === selectedView()"
          nz-menu-item
        >
          <ng-container [ngTemplateOutlet]="item.content()"/>
        </li>
      }
    </ul>
  </nz-dropdown-menu>
}
