<ng-container *transloco="let t; scope: 'terminal-settings/mobile-dashboard-layout-form'">

  @let availableWidgets = availableWidgets$ | async;

  @if (quickPanelSlots$ | async; as displaySlots) {
    <h3>{{t('terminalSettingsMobileDashboardLayoutForm.quickPanelItemsTitle')}}</h3>

    <span nz-typography nzType="secondary">{{t('terminalSettingsMobileDashboardLayoutForm.quickPanelItemsHint')}}</span>

    <div (cdkDropListDropped)="changeOrder($event)" cdkDropList class="d-flex flex-column flex-gap-15 mt-10">
      @for (slot of displaySlots; track $index) {
        <ats-quick-panel-item-form
          (itemChanged)="changeItem($event, $index)"
          [availableWidgetTypes]="availableWidgets ?? []"
          [item]="slot"
          cdkDrag/>
      }
    </div>
  }
</ng-container>
