.blotter-table-container-base() {
  height: 100%;
  overflow: hidden;
  min-height: 20px;
}

.blotter-export-button-container() {
  min-height: 20px;
  display: flex;
  justify-content: center;
}

.blotter-table-footer() {
  padding-top: 0;
  padding-bottom: 0;

  .ant-btn {
    padding-top: 0;
    padding-bottom: 0;
    height: 20px;
  }
}

.blotter-exportable-table-container() {
  .blotter-table-container-base();

  .export-button-container {
    .blotter-export-button-container();
  }

  .ant-table-header {
    overflow: hidden !important;
  }

  .ant-table-footer {
    .blotter-table-footer();
  }
}
