<ng-container *transloco="let t">
  <form [formGroup]="newKeywordForm" class="mb-20" nz-form>
    <nz-form-control
      [nzErrorTip]="t('validationErrors.stringInputLength', {min: validationOptions().minLength, max: validationOptions().maxLength} )">
      <nz-input-group [nzAddOnAfter]="suffixIconButton" nzSearch>
        <input
          (keydown.enter)="addKeyword()"
          [placeholder]="newKeywordPlaceholder()"
          formControlName="newKeyword"
          nz-input
          type="text"
        />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button
          (click)="addKeyword()"
          [disabled]="newKeywordForm.invalid"
          nz-button
          nzSearch
          nzType="primary"
        >
          <nz-icon nzTheme="outline" nzType="plus"/>
        </button>
      </ng-template>
    </nz-form-control>
  </form>

  <div class="tags-container">
    @for (keyword of displayKeywords; track keyword) {
      <nz-tag nzMode="closeable" (nzOnClose)="removeKeyword(keyword)" [nzColor]="tagColor()">{{ keyword }}</nz-tag>
    }
  </div>
</ng-container>
