.ant-spin-nested-loading {
  height: 100%;

  ::ng-deep .ant-spin-container {
    height: 100%;
    width: 100%;
  }
}

.container {
  height: 100%;
  width: 100%;

  overflow-x: hidden;

  ::ng-deep {
    .cdk-virtual-scroll-content-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      #trades-clusters {
        flex: 1;
        flex-shrink: 2;
        overflow-x: hidden;
      }

      #current-trades {
        flex: 1;
        flex-shrink: 2;
        overflow-x: hidden;
      }

      #table {
        flex: 2;
      }
    }
  }
}
