<div class="d-flex flex-column h-100">
  <div>
    @if (dataContext) {
      <ats-top-panel [guid]="guid()" [isActive]="isActive()" [dataContext]="dataContext" />
    }
  </div>
  <div class="flex-fill">
    <div class="container" *ngrxLet="{ isLoading: isLoading$, rowHeight: rowHeight$} as shared">
      <nz-spin [nzSpinning]="shared.isLoading">
        <cdk-virtual-scroll-viewport
          (nzResizeObserve)="updateContentSize($event)"
          [itemSize]="shared.rowHeight"
          [maxBufferPx]="shared.rowHeight * 10"
          [minBufferPx]="shared.rowHeight * 10"
          [orientation]="'vertical'"
          class="container show-scroll"
          nzResizeObserver>
          @if (dataContext) {
            <ng-container *ngrxLet="{
        panelWidths: panelWidths$,
        orderBookBody: dataContext.orderBookBody$,
        extendedSettings: dataContext.extendedSettings$} as vm">
              <div id="spacer">
                <div *cdkVirtualFor="let row of vm.orderBookBody; templateCacheSize: 0"
                  [style.height]="shared.rowHeight + 'px'"
                  [style.line-height]="shared.rowHeight + 'px'"
                ></div>
              </div>
              @if (vm.orderBookBody.length > 0) {
                <ats-panels-container
                  class="w-100"
                  [initialWidths]="vm.panelWidths"
                  (widthUpdated)="updatePanelWidths($event)"
                  >
                  @if (vm.extendedSettings.widgetSettings.showTradesClustersPanel) {
                    <ats-panel
                      [canResize]="true"
                      [id]="panelIds.tradeClusters"
                      [minWidthPx]="20"
                      [defaultWidthPercent]="25"
                      [expandable]="vm.extendedSettings.widgetSettings.showTradesPanel ?? false"
                      >
                      <ats-trade-clusters-panel [dataContext]="dataContext"
                        [xAxisStep]="shared.rowHeight"
                       />
                    </ats-panel>
                  }
                  @if (vm.extendedSettings.widgetSettings.showTradesPanel) {
                    <ats-panel
                      [canResize]="true"
                      [id]="panelIds.currentTrades"
                      [minWidthPx]="40"
                      [defaultWidthPercent]="25"
                      >
                      <ats-trades-panel [dataContext]="dataContext"
                        [xAxisStep]="shared.rowHeight"
                       />
                    </ats-panel>
                  }
                  <ats-panel
                    [id]="panelIds.ordersTable"
                    [minWidthPx]="75"
                    [defaultWidthPercent]="50"
                    >
                    <ats-scalper-order-book-table [dataContext]="dataContext"
                      [isActive]="isActive()"
                      [rowHeight]="shared.rowHeight"
                      [hideTooltips]="vm.extendedSettings.widgetSettings.hideTooltips ?? false"
                      (mouseenter)="isTableHovered$.next(true)"
                      (mouseleave)="isTableHovered$.next(false)"
                       />
                  </ats-panel>
                </ats-panels-container>
              }
            </ng-container>
          }
        </cdk-virtual-scroll-viewport>

        <ng-container *ngrxLet="dataContext.extendedSettings$ as settings">
          @if (settings.widgetSettings.showLimitOrdersVolumeIndicators) {
            <div class="position-absolute top-0 start-50 translate-middle-x lh-1">
              <ats-limit-orders-volume-indicator [dataContext]="dataContext"
                [side]="sides.Sell"
                [hideTooltips]="settings.widgetSettings.hideTooltips ?? false"
               />
            </div>
          }
          @if (settings.widgetSettings.showLimitOrdersVolumeIndicators) {
            <div class="position-absolute bottom-0 start-50 translate-middle-x lh-1">
              <ats-limit-orders-volume-indicator [dataContext]="dataContext"
                [side]="sides.Buy"
                [hideTooltips]="settings.widgetSettings.hideTooltips ?? false"
               />
            </div>
          }

          <div class="position-absolute top-0 end-0">
            <ats-orders-indicator [visible]="(hiddenOrdersIndicators$ | async)?.up ?? false"
              [hideTooltips]="settings.widgetSettings.hideTooltips ?? false"
              direction="up"
             />
          </div>
          <div class="position-absolute bottom-0 end-0">
            <ats-orders-indicator [visible]="(hiddenOrdersIndicators$ | async)?.down ?? false"
              [hideTooltips]="settings.widgetSettings.hideTooltips ?? false"
              direction="down"
             />
          </div>

          <div
            class="position-absolute top-0 p-3 z-3"
            cdkDrag
            cdkDragBoundary=".container"
            [cdkDragFreeDragPosition]="(topFloatingPanelPosition$ | async) ?? {x: 0, y: 0}"
            (cdkDragEnded)="saveFloatingPanelPosition($event, topFloatingPanelPositionStateKey)"
            #topFloatingPanelContainer
            >
            <ats-top-floating-panel [guid]="guid()"
              [hideTooltips]="settings.widgetSettings.hideTooltips ?? false"
             />
          </div>

          <div
            class="position-absolute bottom-0 p-3 z-3"
            cdkDrag
            cdkDragBoundary=".container"
            [cdkDragFreeDragPosition]="(bottomFloatingPanelPosition$ | async) ?? {x: 0, y: 0}"
            (cdkDragEnded)="saveFloatingPanelPosition($event, bottomFloatingPanelPositionStateKey)"
            #bottomFloatingPanelContainer
            >
            <ats-bottom-floating-panel [guid]="guid()" [isActive]="isActive()" [dataContext]="dataContext" />
          </div>

          <div class="position-absolute bottom-0 w-100" id="possible-actions-panel-container">
            <ats-possible-actions-panel />
          </div>
        </ng-container>
        @if ((dataContext.orderBookBody$  | async)?.length === 0 && !shared.isLoading) {
          <div
            class="position-absolute top-0 w-100"
            >
            <nz-empty class="ant-list-empty-text"
              nzNotFoundImage="simple"
             />
          </div>
        }
      </nz-spin>
    </div>
  </div>
</div>
