.ant-spin-nested-loading {
  height: 100%;

  ::ng-deep .ant-spin-container {
    height: 100%;
    width: 100%;
  }
}

.container {
  height: 100%;
  width: 100%;

  overflow-x: hidden;

  ::ng-deep {
    .cdk-virtual-scroll-content-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      #trade-clusters {
        position: relative;
        overflow-x: hidden;
        width: 50px;
      }

      #current-trades {
        position: relative;
        overflow-x: hidden;
        width: 50px;
      }

      #table {
        flex: 1;
      }
    }
  }
}

#possible-actions-panel-container {
  pointer-events: none;
}
