<nz-spin [nzSpinning]="isLoading$ | async">
  <cdk-virtual-scroll-viewport
    (nzResizeObserve)="updateContentSize($event)"
    [itemSize]="rowHeight"
    [maxBufferPx]="rowHeight * 10"
    [minBufferPx]="rowHeight * 10"
    [orientation]="'vertical'"
    cdk-scrollable
    class="container show-scroll"
    nzResizeObserver>
    <ng-container *ngIf="dataContext">
      <ng-container *ngIf="dataContext.orderBookBody$ | async as orderBookBody">
        <div id="spacer">
          <div *cdkVirtualFor="let row of orderBookBody; templateCacheSize: 0"
               [style.height]="rowHeight + 'px'"
               [style.line-height]="rowHeight + 'px'"
          ></div>
        </div>
        <div *ngIf="(dataContext.extendedSettings$ | async)?.widgetSettings?.showTradesPanel" id="trades">
          <ats-trades-panel
            [dataContext]="dataContext"
            [xAxisStep]="rowHeight"
          >
          </ats-trades-panel>
        </div>
        <div id="table">
          <ats-scalper-order-book-table [dataContext]="dataContext"
                                        [isActive]="isActive"
                                        [rowHeight]="rowHeight"
          >
          </ats-scalper-order-book-table>
        </div>
      </ng-container>
    </ng-container>
  </cdk-virtual-scroll-viewport>
  <div class="position-absolute top-0 end-0">
    <ats-orders-indicator [visible]="(hiddenOrdersIndicators$ | async)?.up ?? false"
                          direction="up"></ats-orders-indicator>
  </div>
  <div class="position-absolute bottom-0 end-0">
    <ats-orders-indicator [visible]="(hiddenOrdersIndicators$ | async)?.down ?? false"
                          direction="down"></ats-orders-indicator>
  </div>
</nz-spin>

