<nz-header>
  <div class="logo">
    <a [routerLink]="['/']"></a>
  </div>
  <div class="menu-item">
    <button nz-button nz-dropdown
            [nzDropdownMenu]="widgetsMenu"
            nzSize='small'
            joyrideStep="step2"
            nzType="text"
            [title]="joyrideContent.step2.title"
            [text]="joyrideContent.step2.text">
      <i nz-icon nzType="appstore-add" nzTheme="outline" [nzRotate]="-90" class="left-side-icon"></i>
      Виджеты
    </button>
  </div>

  <div class="menu-item">
    <button nz-button [nzType]="'text'"
            (click)="newOrder()"
            joyrideStep="step3"
            [title]="joyrideContent.step3.title"
            [text]="joyrideContent.step3.text">
      <i nz-icon nzType="plus-circle" nzTheme="outline" class="left-side-icon"></i>
      Заявка
    </button>
  </div>

  <div class="menu-item" *ngIf="portfolios$ | async as portfolios">
    <button
      *ngIf="selectedPortfolio$ | async as selectedPortfolio"
      class="portfolio-btn"
      nz-button
      nz-dropdown
      nzSize="small"
      nzType="text"
      [nzDropdownMenu]="portfoliosDropdown"
      joyrideStep="step1"
      [title]="joyrideContent.step1.title"
      [text]="joyrideContent.step1.text"
    >
      <span>
        {{selectedPortfolio.market}} {{selectedPortfolio.portfolio}}
        <i nz-icon nzType="down" nzTheme="outline" class="arrow-icon"></i>
      </span>
    </button>

    <nz-dropdown-menu #portfoliosDropdown="nzDropdownMenu">
      <ul nz-menu class="portfolio-menu">
        <li>
          <input
            type="text"
            nz-input
            class="portfolio-search"
            placeholder="Поиск по портфелю"
            [formControl]="searchControl"
          />
        </li>
        <ng-container *ngFor="let kvp of portfolios | keyvalue">
          <li nz-menu-item nzDisabled> {{kvp.key}} </li>
          <ng-container *ngFor="let model of kvp.value">
            <li
              *ngIf="isFindedPortfolio(model)"
              nz-menu-item
              (click)="changePortfolio(model)"
            >
              {{model.market}} {{model.portfolio}}
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </nz-dropdown-menu>
  </div>

  <div class="right contrast-icon">
      <div class="notifications">
        <ats-notification-button></ats-notification-button>
      </div>
    <div>
      <button nz-button nz-dropdown [nzDropdownMenu]="rightMenu" nzPlacement="bottomRight" [nzType]="'text'">
        <i nz-icon nzType="user"></i>
      </button>
    </div>
  </div>
</nz-header>


<nz-dropdown-menu #widgetsMenu="nzDropdownMenu">
  <ats-widget-menu
    (selected)="addItem($event)"
    (clearDashboard)="clear()"
    (resetDashboard)="resetDashboard()"
  ></ats-widget-menu>
</nz-dropdown-menu>

<nz-dropdown-menu #rightMenu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="openTerminalSettings()" class='menu-item' >
      <span><i nz-icon nzType="user" nzTheme="outline"></i> <label>&nbsp;Профиль</label></span>
    </li>
    <li nz-menu-item class='menu-item' (click)="openThirdPartyLink('https://lk.alor.ru/reports/broker')">
      <span><i nz-icon nzType="audit" nzTheme="outline"></i> <label>&nbsp;Отчёты</label></span>
    </li>
    <li nz-menu-item class='menu-item' (click)="openThirdPartyLink('https://warp.alor.dev/ru/releases/astras')">
      <span><i nz-icon nzType="history" nzTheme="outline"></i><label>&nbsp;Релизы</label></span>
    </li>
    <li nz-menu-item class='menu-item' (click)="openThirdPartyLink('https://t.me/+oM0i9QbtD4cwMzNi')">
      <span><i nz-icon nzType="customer-service" nzTheme="outline"></i><label>&nbsp;Техподдержка</label></span>
    </li>
    <li nz-menu-item (click)="logout()" class='menu-item' >
      <span><i nz-icon nzType="logout" nzTheme="outline"></i> <label>&nbsp;Выйти</label></span>
    </li>
  </ul>
</nz-dropdown-menu>
