<nz-header>
  <ul nz-menu nzTheme="dark" nzMode="horizontal">
    <li nz-menu-item>
      <a [routerLink]="['/']" nzSuccess><div class="logo"></div></a>
    </li>
    <li nz-menu-item
      class='menu-item icon-li'
      (click)="newOrder()"
      joyrideStep="step3"
      [title]="joyrideContent.step3.title"
      [text]="joyrideContent.step3.text"
    >
      <i nz-icon nzType="plus-circle" nzTheme="twotone" [nzTwotoneColor]="buyColor" class='managing-icon'></i>
    </li>
    <li nz-menu-item class='menu-item'>
      <button nz-button nz-dropdown
        [nzDropdownMenu]="widgetsMenu"
        nzSize='small'
        joyrideStep="step2"
        [title]="joyrideContent.step2.title"
        [text]="joyrideContent.step2.text">
        Виджет
        <i nz-icon nzType="plus"></i>
      </button>
    </li>
    <li nz-menu-item  *ngIf="portfolios$ | async as portfolios"  class='menu-item'>

      <nz-select nzSize='small'
        nzShowSearch [ngModel]="selectDefault(portfolios)"
        (ngModelChange)="changePortfolio($event)"
        joyrideStep="step1"
        [title]="joyrideContent.step1.title"
        [text]="joyrideContent.step1.text">
        <nz-option-group *ngFor='let kvp of portfolios | keyvalue' [nzLabel]="kvp.key">
          <nz-option *ngFor='let model of kvp.value' [nzValue]="model" nzLabel="{{model.market}} {{model.portfolio}}">
          </nz-option>
        </nz-option-group>
      </nz-select>
    </li>
    <li nz-menu-item (click)="clear()" class='menu-item icon-li'>
      <i nz-icon
        nzType="delete"
        [nzTwotoneColor]="sellColor"
        nzTheme="outline"
        class="managing-icon"
        joyrideStep="step4"
        [title]="joyrideContent.step4.title"
        [text]="joyrideContent.step4.text"></i>
    </li>
    <button class="right" nz-button nz-dropdown [nzDropdownMenu]="rightMenu" nzPlacement="bottomRight">
      <i nz-icon nzType="user"></i>
    </button>
  </ul>
</nz-header>


<nz-dropdown-menu #widgetsMenu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="addItem(names.instrumentSelect)">
      <span><i nz-icon nzType="eye" nzTheme="outline"></i> <label><strong>&nbsp;Инструменты</strong></label></span>
    </li>
    <li nz-menu-item (click)="addItem(names.orderBook)">
      <span><i nz-icon nzType="ordered-list" nzTheme="outline"></i> <label>&nbsp;Стакан</label></span>
    </li>
    <li nz-menu-item (click)="addItem(names.lightChart)">
      <span><i nz-icon nzType="sliders" nzTheme="outline"></i><label>&nbsp;График</label></span>
    </li>
    <li nz-menu-item (click)="addItem(names.blotter)">
      <span><i nz-icon nzType="table" nzTheme="outline"></i><label>&nbsp;Блоттер</label></span>
    </li>
    <li nz-menu-item (click)="addItem(names.instrumentInfo)">
      <span><i nz-icon nzType="info" nzTheme="outline"></i><label>&nbsp;Инфо</label></span>
    </li>
    <li nz-menu-item (click)="addItem(names.news)">
      <span><i nz-icon nzType="read" nzTheme="outline"></i><label> Новости</label></span>
    </li>
    <li nz-menu-item (click)="addItem(names.allTrades)">
      <span><i nz-icon nzType="unordered-list" nzTheme="outline"></i><label> Все сделки</label></span>
    </li>
  </ul>
</nz-dropdown-menu>

<nz-dropdown-menu #rightMenu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="openTerminalSettings()" class='menu-item' >
      <span><i nz-icon nzType="user" nzTheme="outline"></i> <label>&nbsp;Профиль</label></span>
    </li>
    <li nz-menu-item class='menu-item' >
      <span>
        <i nz-icon nzType="audit" nzTheme="outline"></i>
        <label>
        &nbsp;<a href="https://lk.alor.ru/reports/broker" target="_blank" rel="noopener noreferrer">Отчёты</a>
        </label>
      </span>
    </li>
    <li nz-menu-item class='menu-item' >
      <span>
        <i nz-icon nzType="history" nzTheme="outline"></i>
        <label>
        &nbsp;<a href="https://warp.alor.dev/ru/releases/astras" target="_blank" rel="noopener noreferrer">Релизы</a>
        </label>
      </span>
    </li>
    <li nz-menu-item (click)="logout()" class='menu-item' >
      <span><i nz-icon nzType="logout" nzTheme="outline"></i> <label>&nbsp;Выйти</label></span>
    </li>
  </ul>
</nz-dropdown-menu>
