<ats-desktop-navbar>
  <div class="left-side-item">
    <ats-widgets-gallery-nav-btn />
  </div>

  <div class="left-side-item">
    <ats-open-orders-dialog-nav-btn [atsDisabled]="(isPortfolioSelected$ | async ) === false" />
  </div>

  <div class="left-side-item">
    <ats-admin-dashboards-panel />
  </div>

  <div  class="right-side-item mr-10">
    <ats-theme-switch-widget />
  </div>

  <div  class="right-side-item">
    <ats-admin-profile-menu-nav-btn />
  </div>
</ats-desktop-navbar>

