@if (dividends().length > 0) {
  <ng-container *transloco="let t; scope: 'info/dividends'">
    <nz-table
      #nzTable
      [nzData]="dividends()"
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
      atsTableRowHeight
      nzTableLayout="fixed"
    >
      <thead>
      <tr>
        <th>{{ t('infoDividends.recordDate') }}</th>
        <th>{{ t('infoDividends.dividendPerShare') }}</th>
        <th>{{ t('infoDividends.dividendYield') }}</th>
      </tr>
      </thead>
      <tbody>
        @for (dividend of nzTable.data; track $index) {
          <tr>
            <td>
              @if(dividend.recommendFixDate != null) {
                {{ formatDate(dividend.recommendFixDate) }}
              } @else {
                -
              }

            </td>
            <td>{{ dividend.dividendPerShare | currency: dividend.currency ?? 'RUB':'symbol-narrow' }}</td>
            <td>{{ dividend.dividendYield | percent:'1.1-2' }}</td>
          </tr>
        }
      </tbody>
    </nz-table>
  </ng-container>
} @else {
  <nz-empty nzNotFoundImage="simple" />
}



