<nz-table *ngIf="dividends$ | async as dividends" #nzTable [nzData]="dividends" #nzTableComponent
  nzTableLayout="fixed" nzSize="small" [nzFrontPagination]="false" [nzShowPagination]="false">
  <thead>
    <tr>
      <th>Дата фикс.</th>
      <th>Дивиденд</th>
      <th>Див. дох.</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dividend of nzTable.data">
      <td>{{ dividend.recordDate | date }}</td>
      <td>{{ dividend.dividendPerShare | currency: dividend.currency:'symbol-narrow'}}</td>
      <td>{{ dividend.dividendYield | percent:'1.1-2'}}</td>
    </tr>
  </tbody>
</nz-table>
