<ng-container *ngIf="issue$ | async as issue; else empty">
  <ng-container *transloco="let t; scope: 'info/issue'">
    <ng-container *ngIf="(isLoading$ | async) === false">
      <nz-descriptions [nzColumn]="columns" [nzSize]="columns === 1 ? 'small' : 'default'" nzBordered>
        <nz-descriptions-item
          [nzTitle]="t('infoIssue.faceValue')">{{issue.facevalue | currency: issue.nearestCoupon.currency:'symbol-narrow'| slice: 0:-3 }}</nz-descriptions-item>
        <nz-descriptions-item
          [nzTitle]="t('infoIssue.currentFaceValue')">{{issue.currentFaceValue | currency: issue.nearestCoupon.currency:'symbol-narrow'}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="t('infoIssue.issueVol')">{{issue.issueVol | number }}</nz-descriptions-item>
        <nz-descriptions-item
          [nzTitle]="t('infoIssue.issueVal')">{{issue.issueVal | currency: issue.nearestCoupon.currency:'symbol-narrow' | slice: 0:-3}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="t('infoIssue.issueDate')">{{issue.issueDate | date }}</nz-descriptions-item>
        <nz-descriptions-item
          [nzTitle]="t('infoIssue.maturityDate')">{{issue.maturityDate | date}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="t('infoIssue.marketVol')">{{issue.marketVol | number }}</nz-descriptions-item>
        <nz-descriptions-item
          [nzTitle]="t('infoIssue.marketVal')">{{issue.marketVal | currency: issue.nearestCoupon.currency:'symbol-narrow'| slice: 0:-3}}</nz-descriptions-item>

        <nz-descriptions-item
          [nzTitle]="t('infoIssue.currentYield')">{{issue.currentYield | percent:'1.0-2' }}</nz-descriptions-item>
        <nz-descriptions-item
          [nzTitle]="t('infoIssue.yieldToMaturity')">{{issue.yieldToMaturity | percent:'1.0-2'}}</nz-descriptions-item>

        <nz-descriptions-item [nzTitle]="nearestAmortization" nzSpan="2"></nz-descriptions-item>
        <nz-descriptions-item
          [nzTitle]="t('infoIssue.nearestAmortizationParFraction')">{{issue.nearestAmortization.parFraction  | percent:'1.0-2'}}</nz-descriptions-item>
        <nz-descriptions-item
          [nzTitle]="t('infoIssue.nearestAmortizationAmount')">{{issue.nearestAmortization.amount  | currency: issue.nearestAmortization.currency:'symbol-narrow'}}</nz-descriptions-item>
        <nz-descriptions-item
          [nzTitle]="t('infoIssue.date')">{{issue.nearestAmortization.date | date}}</nz-descriptions-item>

        <nz-descriptions-item [nzTitle]="nearestCall" nzSpan="2"></nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="t('infoIssue.yieldToOffer')">{{0.05 | percent:'1.0-2'}}</nz-descriptions-item>
        <nz-descriptions-item
          [nzTitle]="t('infoIssue.date')">{{issue.nearestAmortization.date | date}}</nz-descriptions-item>

        <nz-descriptions-item [nzTitle]="nearestPut" nzSpan="2"></nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="t('infoIssue.yieldToOffer')">{{0.07 | percent:'1.0-2'}}</nz-descriptions-item>
        <nz-descriptions-item
          [nzTitle]="t('infoIssue.date')">{{issue.nearestAmortization.date | date}}</nz-descriptions-item>

        <nz-descriptions-item [nzTitle]="nearestCoupon" nzSpan="2"></nz-descriptions-item>
        <nz-descriptions-item
          [nzTitle]="t('infoIssue.accruedInterest')">{{issue.nearestCoupon.accruedInterest  | number}}</nz-descriptions-item>
        <nz-descriptions-item
          [nzTitle]="t('infoIssue.intervalInDays')">{{issue.nearestCoupon.intervalInDays  | number}}</nz-descriptions-item>
        <nz-descriptions-item
          [nzTitle]="t('infoIssue.couponType')">{{issue.nearestCoupon.couponType }}</nz-descriptions-item>
        <nz-descriptions-item
          [nzTitle]="t('infoIssue.couponAmount')">{{issue.nearestCoupon.amount  | currency: issue.nearestAmortization.currency:'symbol-narrow'}}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="t('infoIssue.date')">{{issue.nearestCoupon.date | date}}</nz-descriptions-item>
      </nz-descriptions>
    </ng-container>

    <ng-template #nearestAmortization let-data><strong>{{t('infoIssue.nearestAmortization')}}</strong></ng-template>
    <ng-template #nearestCoupon let-data><strong>{{t('infoIssue.nearestCoupon')}}</strong></ng-template>
    <ng-template #nearestCall let-data><strong>{{t('infoIssue.nearestCall')}}</strong></ng-template>
    <ng-template #nearestPut let-data><strong>{{t('infoIssue.nearestPut')}}</strong></ng-template>
  </ng-container>
</ng-container>

<ats-loading-indicator [isLoading]="isLoading$ | async"></ats-loading-indicator>

<ng-template #empty>
  <nz-empty
    *ngIf="(isLoading$ | async) === false"
    class="ant-list-empty-text"
    nzNotFoundImage="simple"
  ></nz-empty>
</ng-template>
