<div class="container" *ngIf="settings$ | async as settings">

  <ng-template #empty>
    <nz-empty
      class="ant-list-empty-text"
      nzNotFoundImage="simple"
      [nzNotFoundContent]='isFilterDisabled() ? "Заявок сегодня не было" : "С такими фильтрами ничего не найдено"'>
    </nz-empty>
  </ng-template>

  <div class="table-container" #tableContainer *ngIf="selectedInstruments$ | async as selectedInstruments">
    <ng-container *ngIf="scrollHeight$ | async as scrollHeight">
    <nz-table *ngIf="displayOrders$ | async as orders" #nzTable [nzData]="orders"
        [nzNoResult]="empty"
        nzTableLayout="fixed"
        nzSize="small"
        [nzFrontPagination]="false"
        [nzShowPagination]="false"
        [nzScroll]="{ x: tableInnerWidth + 'px', y: scrollHeight - 5 + 'px' }"
        [nzVirtualItemSize]="20"
        [nzFooter]="footer">
      <thead>
        <tr>
          <th nzWidth="5px"></th>
          <th nzWidth="65px">
            <span>
              <a nz-popconfirm
                 nzPopconfirmTitle="Точно отменить?"
                 nzOkText="Да"
                 nzCancelText="Нет"
                 [nzCondition]="settings.cancelOrdersWithoutConfirmation ?? false"
                 (nzOnConfirm)="cancelAllOrders()">Снять все</a>
            </span>
          </th>
          <th *ngFor='let column of listOfColumns'
              [nzCustomFilter]='column.hasSearch'
              [nzSortFn]='column.sortFn'
              [nzFilters]="column.listOfFilter"
              [nzShowFilter]="column.hasFilter"
              [nzWidth]="column.width ? column.width + 'px': null"
              (nzFilterChange)="defaultFilterChange(column.id, $event)"
              [atsResizeColumn]
              [minWidth]="50"
              (atsWidthChanged)="saveColumnWidth(column.id, $event)"
              (atsWidthChanging)="recalculateTableWidth($event)"
          >
            <span nz-tooltip [nzTooltipTitle]="column.tooltip">{{column.name}}</span>
            <nz-filter-trigger *ngIf='column.hasSearch' [(nzVisible)]="column.isSearchVisible" [nzActive]="!!filter" [nzDropdownMenu]="searchMenu">
              <i [ngClass]="isFilterApplied(column) ? 'active-filter' : 'not-active-filter'"  nz-icon nzType="search"></i>
            </nz-filter-trigger>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ord of nzTable.data" (click)="selectInstrument(ord.symbol, ord.exchange)">
          <td>
            <span
              [class]='ord.side.toString() === "sell" ? "side-sell" : "side-buy"'
              [class.cancelled-status]="ord.status.toString() === 'canceled'"
            >&nbsp;</span>
          </td>
          <td>
            <a *ngIf='ord.status.toString() === "working"' (click)="editOrder(ord)">
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </a>
            &nbsp;
            <a *ngIf='ord.status.toString() === "working"' nz-popconfirm
               nzPopconfirmTitle="Точно отменить?"
               nzOkText="Да"
               nzCancelText="Нет"
               [nzCondition]="settings.cancelOrdersWithoutConfirmation ?? false"
               (nzOnConfirm)="cancelOrder(ord.id)">
              <i nz-icon nzType="close-circle" nzTheme="outline"></i>
            </a>
          </td>
          <td *ngIf='shouldShow("id")'>{{ ord.id }}</td>
          <td class='bold' *ngIf='shouldShow("symbol")'>
            <span class="symbol-name">{{ ord.symbol }}</span>
            <ng-container *ngFor="let item of (selectedInstruments | keyvalue)">
              <nz-badge [nzColor]="item.key" *ngIf="item.value.symbol === ord.symbol && item.value.exchange === ord.exchange"></nz-badge>
            </ng-container>
          </td>
          <td [class]='ord.side.toString() === "sell" ? "sell" : "buy"' *ngIf='shouldShow("side")'>{{ ord.side }}</td>
          <td *ngIf='shouldShow("residue")'>{{ ord.residue }}</td>
          <td *ngIf='shouldShow("volume")'>{{ ord.type === 'stoplimit' ? (ord.volume | number) : '≈' + ord.triggerPrice * ord.qtyUnits }}</td>
          <td *ngIf='shouldShow("qty")'>{{ ord.qty | number }}</td>
          <td *ngIf='shouldShow("price")'>{{ ord.type === 'stoplimit' ? (ord.price | number : '0.0-10') : '' }}</td>
          <td *ngIf='shouldShow("triggerPrice")'>{{ ord.triggerPrice | number }}</td>
          <td [class]='ord.status.toString() === "filled"
            ? (ord.status.toString() === "sell" ? "sell" : "buy") :
            (ord.status.toString() === "canceled" ? "cancelled" : "bold" )' *ngIf='shouldShow("status")'>{{ translateStatus(ord.status) }}</td>
          <td *ngIf='shouldShow("conditionType")'>{{ ord.conditionType }}</td>
          <td *ngIf='shouldShow("transTime")'>{{ formatDate(ord.transTime) }}</td>
          <td *ngIf='shouldShow("exchange")'>{{ ord.exchange }}</td>
          <td *ngIf='shouldShow("type")'>{{ ord.type }}</td>
          <td *ngIf='shouldShow("endTime")'>{{ formatDate(ord.endTime) }}</td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  </div>

  <ng-template #footer>
    <div class="export-button-container">
      <button nz-button nzType="link" *ngIf="canExport" (click)="exportToFile()"><i nz-icon nzType="download"></i>Сохранить в файл</button>
    </div>
  </ng-template>

  <nz-dropdown-menu #searchMenu="nzDropdownMenu">
    <ats-table-filter [columns]="listOfColumns" (filterChange)="filterChange($event)"></ats-table-filter>
  </nz-dropdown-menu>

</div>
