<ng-container *transloco="let t; scope: 'terminal-settings/portfolios-currency-form'">
  @if (currencies$ | async; as currencies) {
    @if (form.length === 0) {
      <div>
        <span nz-typography nzType="danger">{{t('terminalSettingsPortfoliosCurrencyForm.noActivePortfolios')}}</span>
      </div>
    }
    @if (form.length > 0) {
      <form nz-form [nzLayout]="'vertical'">
        @for (ctrl of form.controls; track ctrl; let i = $index) {
          <nz-form-item>
            <nz-form-label nzRequired>
              {{ctrl.value.portfolio?.exchange}} {{ctrl.value.portfolio?.portfolio}}
            </nz-form-label>
            <nz-form-control>
              <nz-select [formControl]="ctrl.controls.currency">
                @for (cur of currencies; track cur) {
                  <nz-option [nzLabel]="cur.firstCode"
                    [nzValue]="cur.symbolTom"
                   />
                }
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        }
      </form>
    }
  }
</ng-container>
