<ng-container *transloco="let t;">
  <ats-widget-skeleton
    *ngIf="settings$ | async as settings"
    [content]="contentRef"
    [header]="headerRef"
    [isBlockWidget]="isBlockWidget"
    [settings]="settingsRef"
    [showSettings]="shouldShowSettings"
  >
    <ng-template #headerRef>
      <ats-widget-header
        (switchSettings)="onSettingsChange()"
        [guid]="guid"
        [hasSettings]="true"
        [widgetMeta]="widgetInstance.widgetMeta"
      ></ats-widget-header>
    </ng-template>

    <ng-template #contentRef>
      <ats-bond-screener [guid]="guid"></ats-bond-screener>
    </ng-template>
    <ng-template #settingsRef>
<!--      <ats-bond-screener-settings-->
<!--        (settingsChange)="onSettingsChange()"-->
<!--        [guid]="guid"-->
<!--      ></ats-bond-screener-settings>-->
    </ng-template>
  </ats-widget-skeleton>

</ng-container>

