<ng-container *transloco="let t; scope: 'bond-screener'">
  @if (settings$ | async; as settings) {
    <ats-widget-skeleton
      [content]="contentRef"
      [header]="headerRef"
      [isBlockWidget]="isBlockWidget()"
      [settings]="settingsRef"
      [showSettings]="shouldShowSettings"
      >
      <ng-template #headerRef>
        <ats-widget-header (switchSettings)="onSettingsChange()"
          [guid]="guid"
          [hasSettings]="true"
          [selectedBadgeColor]="settings.badgeColor"
          [showBadgesMenu]="(showBadge$ | async) ?? false"
          badgeShape="square"
          [widgetMeta]="widgetInstance().widgetMeta"
         />
      </ng-template>
      <ng-template #contentRef>
        <nz-tabs nzSize="small">
          <nz-tab [nzTitle]="t('bondScreener.screenerTab')">
            <ats-bond-screener [guid]="guid" />
          </nz-tab>
          <nz-tab [nzTitle]="t('bondScreener.yieldCurveChartsTab')">
            <ats-yield-curve-chart [guid]="guid" />
          </nz-tab>
        </nz-tabs>
      </ng-template>
      <ng-template #settingsRef>
        <ats-bond-screener-settings (settingsChange)="onSettingsChange()"
          [guid]="guid"
         />
      </ng-template>
    </ats-widget-skeleton>
  }

</ng-container>

