@if (settings$ | async; as settings) {
  @if (isBlockWidget()) {
    <div class="blocked-widget-overlay"></div>
  }
  <div class="widget-body">
    @let isDashboardLocked = (currentDashboard$ | async)?.isLocked ?? false;
    @if(!isDashboardLocked) {
      <div class="manage-block" (mousedown)="$event.stopPropagation()">
        <button nz-button nzSize="small" (click)="removeWidget($event)">
          <i nz-icon nzType="close-circle" [nzTheme]="'outline'"></i>
        </button>
      </div>
    }
    <div class="content">
      <ats-portfolio-summary [guid]="guid" />
    </div>
  </div>
}
