<ng-container *transloco="let t; scope: 'terminal-settings/general-settings-form'">
  <button
    nz-button
    nzType="primary"
    class="mb-10"
    (click)="addPredefinedLabels()"
    [disabled]="badgesColors.length >= 20"
    >
    {{ t('terminalSettingsGeneralSettingsForm.addBadgesBtnLabel') }}
  </button>

  <nz-form-item>
    <nz-collapse [nzBordered]="false" nzGhost>
      <nz-collapse-panel [nzHeader]="t('terminalSettingsGeneralSettingsForm.badgesColorsHeaders')" nzActive="true">
        <div
          class="d-flex flex-wrap flex-gap-10"
          cdkDropListGroup
          >
          @for (badge of badgesColors; track badge) {
            <div
              class="position-relative"
              cdkDropList
              [cdkDropListData]="badge"
              (cdkDropListEntered)="changeBadgesOrder($event)">
              <div cdkDrag (cdkDragStarted)="badgeDragStarts($event)">
                <nz-color-block [nzColor]="badge"
                 />
                @if (badge !== defaultBadgeColor) {
                  <button
                    class="badge-btn remove-btn"
                    nz-button
                    nzSize="small"
                    nzType="primary"
                    (click)="removeBadgeColor($event, badge)"
                    >
                    <i nz-icon nzType="close"></i>
                  </button>
                }
                <div *cdkDragPlaceholder></div>
              </div>
            </div>
          }

          <nz-color-picker nzFormat="hex"
            [nzFlipFlop]="newBadgeTrigger"
            [formControl]="newBadgeColorControl"
            [nzDisabledAlpha]="true"
            (nzOnOpenChange)="addNewBadgeColor($event)"
           />

          <ng-template #newBadgeTrigger>
            <button nz-button  class="badge-btn" [style.background-color]="newBadgeColorControl.value">
              <i nz-icon nzType="plus"></i>
            </button>
          </ng-template>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-form-item>
</ng-container>
