<div *ngIf="fullName$ | async as name">
  <h1>{{name.firstName}}&nbsp;{{name.lastName}}</h1>
    <nz-tabset>
      <nz-tab nzTitle="Полезные ссылки">
        <div class="useful-links">
          <div nz-row [nzGutter]="[16, 24]">
            <div nz-col nzMd="12"  nzXs="24" class="group">
              <div class="group-header">Общие</div>
              <a class="group-item" target="_blank" rel="noopener noreferrer" href="https://www.alorbroker.ru">Официальный сайт</a>
              <a class="group-item" target="_blank" rel="noopener noreferrer" href="https://www.alorbroker.ru/trading/leverage">Ставки риска</a>
            </div>

            <div nz-col nzMd="12" nzXs="24" class="group">
              <div class="group-header">Операции в кабинете клиента</div>
              <a class="group-item" target="_blank" rel="noopener noreferrer" href="https://lk.alor.ru/main">Личный кабинет</a>
              <a class="group-item" target="_blank" rel="noopener noreferrer" href="https://lk.alor.ru/operations/money">Денежные средства</a>
              <a class="group-item" target="_blank" rel="noopener noreferrer" href="https://lk.alor.ru/products/services">Услуги</a>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Настройки">

        <h2>Общие</h2>

        <form nz-form [nzLayout]="'vertical'" [formGroup]="settingsForm" *ngIf="settingsForm" (ngSubmit)="saveSettingsChanges()">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="timezoneDisplayOption">Часовой пояс отображения времени</nz-form-label>
              <nz-form-control>
                <nz-select formControlName='timezoneDisplayOption'>
                  <nz-option  [nzValue]="timezoneDisplayOption.MskTime" nzLabel="Москва (MSK)"></nz-option>
                  <nz-option  [nzValue]="timezoneDisplayOption.LocalTime" nzLabel="Локальное время"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="userIdleDurationMin">Время бездействия до приостановки сеанса, мин.</nz-form-label>
              <nz-form-control nzErrorTip="Значение должно быть от {{validationSettings.userIdleDurationMin.min}} до {{validationSettings.userIdleDurationMin.max}}">
                <input class='ant-input' atsNumerical formControlName="userIdleDurationMin" (mousedown)="$event.stopPropagation()" nz-input/>
              </nz-form-control>
            </nz-form-item>

            <h2>Горячие клавиши</h2>
            <h3>Общие для всех открытых стаканов</h3>

            <nz-form-item>
              <nz-form-label nzRequired nzFor="cancelOrdersKey">Снять лимитные заявки</nz-form-label>
              <nz-form-control nzErrorTip="Введите значение">
                <input
                  class='ant-input'
                  formControlName="cancelOrdersKey"
                  (mousedown)="$event.stopPropagation()"
                  readonly
                  nz-input
                  (keydown)="hotkeyChange($event, 'cancelOrdersKey')"
                />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="closePositionsKey">Зкрыть позиции по рынку</nz-form-label>
              <nz-form-control nzErrorTip="Введите значение">
                <input
                  class='ant-input'
                  formControlName="closePositionsKey"
                  (mousedown)="$event.stopPropagation()"
                  readonly
                  nz-input
                  (keydown)="hotkeyChange($event, 'closePositionsKey')"
                />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="centerOrderbookKey">Отцентровать стаканы по спреду</nz-form-label>
              <nz-form-control nzErrorTip="Введите значение">
                <input
                  class='ant-input'
                  formControlName="centerOrderbookKey"
                  (mousedown)="$event.stopPropagation()"
                  readonly
                  nz-input
                  (keydown)="hotkeyChange($event, 'centerOrderbookKey')"
                />
              </nz-form-control>
            </nz-form-item>

            <h3>Для стакана, на который наведена мышь</h3>

            <nz-form-item>
              <nz-form-label nzRequired nzFor="cancelOrderbookOrders">Снять лимитные заявки</nz-form-label>
              <nz-form-control nzErrorTip="Введите значение">
                <input
                  class='ant-input'
                  formControlName="cancelOrderbookOrders"
                  (mousedown)="$event.stopPropagation()"
                  readonly
                  nz-input
                  (keydown)="hotkeyChange($event, 'cancelOrderbookOrders')"
                />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="closeOrderbookPositions">Закрыть позицию по рынку</nz-form-label>
              <nz-form-control nzErrorTip="Введите значение">
                <input
                  class='ant-input'
                  formControlName="closeOrderbookPositions"
                  (mousedown)="$event.stopPropagation()"
                  readonly
                  nz-input
                  (keydown)="hotkeyChange($event, 'closeOrderbookPositions')"
                />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="reverseOrderbookPositions">Переворот позиции по рынку</nz-form-label>
              <nz-form-control nzErrorTip="Введите значение">
                <input
                  class='ant-input'
                  formControlName="reverseOrderbookPositions"
                  (mousedown)="$event.stopPropagation()"
                  readonly
                  nz-input
                  (keydown)="hotkeyChange($event, 'reverseOrderbookPositions')"
                />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="buyMarket">Купить по рынку</nz-form-label>
              <nz-form-control nzErrorTip="Введите значение">
                <input
                  class='ant-input'
                  formControlName="buyMarket"
                  (mousedown)="$event.stopPropagation()"
                  readonly
                  nz-input
                  (keydown)="hotkeyChange($event, 'buyMarket')"
                />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="sellMarket">Продать по рынку</nz-form-label>
              <nz-form-control nzErrorTip="Введите значение">
                <input
                  class='ant-input'
                  formControlName="sellMarket"
                  (mousedown)="$event.stopPropagation()"
                  readonly
                  nz-input
                  (keydown)="hotkeyChange($event, 'sellMarket')"
                />
              </nz-form-control>
            </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="selectWorkingVolume1">Выбрать рабочий объём 1</nz-form-label>
            <nz-form-control nzErrorTip="Введите значение">
              <input
                class='ant-input'
                formControlName="selectWorkingVolume1"
                (mousedown)="$event.stopPropagation()"
                readonly
                nz-input
                (keydown)="hotkeyChange($event, 'selectWorkingVolume1')"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="selectWorkingVolume2">Выбрать рабочий объём 2</nz-form-label>
            <nz-form-control nzErrorTip="Введите значение">
              <input
                class='ant-input'
                formControlName="selectWorkingVolume2"
                (mousedown)="$event.stopPropagation()"
                readonly
                nz-input
                (keydown)="hotkeyChange($event, 'selectWorkingVolume2')"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="selectWorkingVolume3">Выбрать рабочий объём 3</nz-form-label>
            <nz-form-control nzErrorTip="Введите значение">
              <input
                class='ant-input'
                formControlName="selectWorkingVolume3"
                (mousedown)="$event.stopPropagation()"
                readonly
                nz-input
                (keydown)="hotkeyChange($event, 'selectWorkingVolume3')"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="selectWorkingVolume4">Выбрать рабочий объём 4</nz-form-label>
            <nz-form-control nzErrorTip="Введите значение">
              <input
                class='ant-input'
                formControlName="selectWorkingVolume4"
                (mousedown)="$event.stopPropagation()"
                readonly
                nz-input
                (keydown)="hotkeyChange($event, 'selectWorkingVolume4')"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="sellBestOrder">Выставить лучшую заявку на продажу</nz-form-label>
            <nz-form-control nzErrorTip="Введите значение">
              <input
                class='ant-input'
                formControlName="sellBestOrder"
                (mousedown)="$event.stopPropagation()"
                readonly
                nz-input
                (keydown)="hotkeyChange($event, 'sellBestOrder')"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="buyBestOrder">Выставить лучшую заявку на покупку</nz-form-label>
            <nz-form-control nzErrorTip="Введите значение">
              <input
                class='ant-input'
                formControlName="buyBestOrder"
                (mousedown)="$event.stopPropagation()"
                readonly
                nz-input
                (keydown)="hotkeyChange($event, 'buyBestOrder')"
              />
            </nz-form-control>
          </nz-form-item>

            <nz-form-item>
              <nz-form-control>
                <button type='submit' nz-button nzType="primary" [disabled]="!settingsForm.valid">Сохранить</button>
              </nz-form-control>
            </nz-form-item>
          </form>
      </nz-tab>
    </nz-tabset>
</div>
