:host ::ng-deep .ant-tabs-tabpane {
  margin-top: 1em;
  margin-bottom: 1em;
}

::ng-deep {
  .square-badge .ant-badge-status-dot {
    border-radius: 0;
  }
}

.useful-links {
  .group {
    line-height: 2;
    .group-header{
      font-size: larger;
    }

    .group-item {
      display: block;
    }
  }
}

.working-volume {
  display: flex;
  width: 100%;
  gap: 5px;

  .form-item {
    flex-grow: 1;
  }

  .working-volume-remove-btn {
    align-self: flex-end;
    margin-bottom: 16px;
  }
}

.add-working-volume-btn {
  width: 100%;
  margin-bottom: 16px;
}

.profile-name {
  font-size: 17px;
  font-weight: 400;
}
