<div *ngIf="fullName$ | async as name">
  <h1>{{name.firstName}}&nbsp;{{name.lastName}}</h1>
    <nz-tabset>
      <nz-tab nzTitle="Полезные ссылки">
        <div class="useful-links">
          <div nz-row [nzGutter]="[16, 24]">
            <div nz-col nzMd="12"  nzXs="24" class="group">
              <div class="group-header">Общие</div>
              <a class="group-item" target="_blank" rel="noopener noreferrer" href="https://www.alorbroker.ru">Официальный сайт</a>
              <a class="group-item" target="_blank" rel="noopener noreferrer" href="https://www.alorbroker.ru/trading/leverage">Ставки риска</a>
            </div>

            <div nz-col nzMd="12" nzXs="24" class="group">
              <div class="group-header">Операции в кабинете клиента</div>
              <a class="group-item" target="_blank" rel="noopener noreferrer" href="https://lk.alor.ru/main">Личный кабинет</a>
              <a class="group-item" target="_blank" rel="noopener noreferrer" href="https://lk.alor.ru/operations/money">Денежные средства</a>
              <a class="group-item" target="_blank" rel="noopener noreferrer" href="https://lk.alor.ru/products/services">Услуги</a>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Настройки">
          <form nz-form [nzLayout]="'vertical'" [formGroup]="settingsForm" *ngIf="settingsForm" (ngSubmit)="saveSettingsChanges()">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="timezoneDisplayOption">Часовой пояс отображения времени</nz-form-label>
              <nz-form-control>
                <nz-select formControlName='timezoneDisplayOption'>
                  <nz-option  [nzValue]="timezoneDisplayOption.MskTime" nzLabel="Москва (MSK)"></nz-option>
                  <nz-option  [nzValue]="timezoneDisplayOption.LocalTime" nzLabel="Локальное время"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="userIdleDurationMin">Время бездействия до приостановки сеанса, мин.</nz-form-label>
              <nz-form-control nzErrorTip="Значение должно быть от {{validationSettings.userIdleDurationMin.min}} до {{validationSettings.userIdleDurationMin.max}}">
                <input class='ant-input' atsNumerical formControlName="userIdleDurationMin" (mousedown)="$event.stopPropagation()" nz-input/>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <button type='submit' nz-button nzType="primary" [disabled]="!settingsForm.valid">Сохранить</button>
              </nz-form-control>
            </nz-form-item>
          </form>
      </nz-tab>
    </nz-tabset>
</div>
