<div class="widget-header">
  <ng-container *ngTemplateOutlet="header()"/>
</div>
@if (isBlockWidget()) {
  <div class="blocked-widget-overlay"></div>
}

@if (inlineSettings(); as settingsEl) {
  <div (mousedown)="$event.stopPropagation()" class="widget-content show-scroll">
    <ng-container *ngTemplateOutlet="settingsEl"/>
  </div>
} @else {
  @if (!shouldHideWidgetContent()) {
    <div
      (mousedown)="$event.stopPropagation()"
      [class.hide-scroll]="!showContentScroll()"
      [class.show-scroll]="showContentScroll()"
      class="widget-content"
    >
      <ng-container *ngTemplateOutlet="content()"/>
    </div>
  }

  @if (showSettings() && settingsEditorContent(); as settingsEditorTpl) {
    <div
      (mousedown)="$event.stopPropagation()"
      [class.hidden]="!shouldHideWidgetContent()"
      class="widget-content show-scroll"
    >
      @if (!isMobile() && showPlaceholder()) {
        <ats-widget-settings-placeholder/>
      }
      <ng-container *ngTemplateOutlet="settingsEditorTpl"/>
    </div>
  }
}
