@import "theme-mixin";

@border-width: 1px;

.themeMixin({
  :host {
    .table-col {
      &:not(:first-child) {
        .table-row {
          border-left: none;
        }
      }

      .table-row {
        box-sizing: border-box;
        border: @table-border-color @border-width solid;

        &.hovered {
          background-color: fade(@primary-color, 15%);
        }

        &:not(:first-child) {
          border-top: none;
        }

        .table-cell {
          &.trade-item {
            &.ask-side-item {
              background-color: fade(@sell-color, 15%);

              &.best-row {
                background-color: fade(@sell-color, 50%)
              }
            }

            &.bid-side-item {
              background-color: fade(@buy-color-background-light, 15%);

              &.best-row {
                background-color: fade(@buy-color-background-light, 50%);
              }
            }

            &.mixed-item {
              background-color: fade(@mix-color, 50%);
            }
          }

          &.spread-item {
            background-color: fade(@disabled-color, 7%);
          }

          &.current-position-range-item {
            border-right: (@border-width * 3) solid @border-color-base;

            &.positive {
              border-right-color: @buy-color;
            }

            &.negative {
              border-right-color: @sell-color;
            }
          }
        }
      }
    }

    #price-panel {
      .table-cell {
        .highlighter {
          border-top:  @border-width solid red;
          border-bottom:  @border-width solid red;
        }
      }
    }

    #orders-panel {
      .table-cell {
        width: 100%;
        height: 100%;

        .orders-indicator {
          &.bid {
            color: @buy-color-accent;
          }

          &.ask {
            color: @sell-color-accent;
          }

          &.limit-order {
            color: @text-max-contrast-color;

            &.bid {
              background-color: fade(@buy-color, 60%);;
            }

            &.ask{
              background-color: fade(@sell-color, 60%);;
            }
          }

          &.multiple::after {
            content: "*";
          }


          &:hover {
            text-decoration: line-through;
          }
        }
      }
    }
  }
});

#table-body-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  #volume-panel {
    flex-grow: 1;
    .table-cell {
      position: relative;

      .highlighter {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        z-index: 1;
      }

      .volume {
        position: relative;
        z-index: 2;
      }
    }
  }

  #price-panel {
    .table-cell {
      text-align: right;
      position: relative;

      .highlighter {
        display: inline-block;
        position: absolute;
        left: 0;
        top: (-1 * @border-width);
        width: 100%;
        height: calc(100% + @border-width);
        z-index: 1;
      }
    }
  }

  #orders-panel {
    min-width: 20px;
    .table-row {
      .table-cell {
        .orders-indicator {
          cursor: pointer;
        }

        &:not(.best-row) {
          background-color: transparent;
        }
      }
    }
  }
}
