<ng-container *transloco="let t; scope: 'scalper-order-book/scalper-order-book-table'">
  <ng-container *ngIf="dataContext.extendedSettings$ | async as settings">
    <div class="position-absolute" *ngIf="settings.widgetSettings.showRuler">
      <ats-table-ruler
        [activeRow]="hoveredRow$ | async"
        [dataContext]="dataContext"
        [xAxisStep]="rowHeight"
      >
      </ats-table-ruler>
    </div>
    <div *ngIf="displayItems$ | async as displayItems"
         [atsHoverItemsGroup]="settings.widgetSettings.showRuler"
         (hoveredItemChanged)="updateHoveredItem($event?.item?.atsHoverItemData ?? null)"
         id="table-body-container"
         class="user-select-none"
    >
    <div class="table-col" id="volume-panel">
      <div (mousedown)="leftMouseClick($event, row)"
           (contextmenu)="rightMouseClick($event, row)"
           *ngFor="let row of displayItems; trackBy: getTrackKey"
           [style.height]="rowHeight + 'px'"
           [style.line-height]="rowHeight + 'px'"
           class="table-row"
           [class.hovered]="(hoveredRow$ | async)?.price === row.price"
           atsHoverItem
           [atsHoverItemData]="{price: row.price}"
      >
        <div [ngClass]="getVolumeCellClasses(row)"
             class="table-cell"
        >
          <ng-container *ngIf="(row.volume ?? 0) > 0">
            <span class="highlighter" [ngStyle]="row.getVolumeStyle()">&nbsp;</span>
            <span class="volume px-2">
              <ats-short-number
                *ngIf="settings.widgetSettings.volumeDisplayFormat === numberFormats.LetterSuffix; else defaultVolumeFormat"
                [value]="row.volume"
                [allowRounding]="true"
              ></ats-short-number>

              <ng-template #defaultVolumeFormat>
                <span>{{row.volume}}</span>
              </ng-template></span>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="table-col" id="price-panel">
      <div (mousedown)="leftMouseClick($event, row)"
           (contextmenu)="rightMouseClick($event, row)"
           (dblclick)="$event.stopPropagation()"
           *ngFor="let row of displayItems; trackBy: getTrackKey"
           [style.height]="rowHeight + 'px'"
           [style.line-height]="rowHeight + 'px'"
           class="table-row"
           [class.hovered]="(hoveredRow$ | async)?.price === row.price"
           atsHoverItem
           [atsHoverItemData]="{price: row.price}"
      >
        <div
          [ngClass]="getPriceCellClasses(row)"
          class="table-cell"
        >
          <span class="highlighter" *ngIf="row.currentOrders.length > 0">&nbsp;</span>
          <span class="px-2">
            {{row.price | atsPrice: getPriceDecimalSymbolsCount(settings)}}
          </span>
        </div>
      </div>
    </div>
    <div class="table-col orders-drag-boundary" id="orders-panel" cdkDropListGroup>
      <div (dblclick)="$event.stopPropagation()"
           *ngFor="let row of displayItems; trackBy: getTrackKey"
           [style.height]="rowHeight + 'px'"
           [style.line-height]="rowHeight + 'px'"
           class="table-row"
           [class.hovered]="(hoveredRow$ | async)?.price === row.price"
           atsHoverItem
           [atsHoverItemData]="{price: row.price}"
      >
        <div
          [ngClass]="getOrdersCellClasses(row)"
          class="table-cell"
          cdkDropList
          [cdkDropListAutoScrollDisabled]="true"
          (cdkDropListDropped)="updateOrderPrice($event.item.data, row)"
        >
          <ng-container
            *ngTemplateOutlet="limitOrdersDisplay; context: {
            orders:  getFilteredOrders(row.currentOrders, 'limit')
            }"
          >
          </ng-container>
          <ng-container
            *ngTemplateOutlet="commonOrdersDisplay; context: {
            orders:  getFilteredOrders(row.currentOrders, 'stoplimit'),
            orderSymbol: 'SL',
            tooltipKey: 'stopLimitOrderTooltip'
            }">
          </ng-container>
          <ng-container
            *ngTemplateOutlet="commonOrdersDisplay; context: {
            orders:  getFilteredOrders(row.currentOrders, 'stop'),
            orderSymbol: 'SM',
            tooltipKey: 'stopMarketOrderTooltip'
            }">
          </ng-container>

          <ng-template #limitOrdersDisplay let-orders="orders">
            <ng-container *ngIf="orders.volume > 0">
              <span (click)="cancelOrders($event, orders.orders)"
                    (mousedown)="$event.stopPropagation()"
                    class="orders-indicator orders-indicator limit-order fw-bold px-1"
                    [ngClass]="{
                    'bid': isAllOrdersHaveSide(orders.orders, ordersSides.Buy),
                    'ask': isAllOrdersHaveSide(orders.orders, ordersSides.Sell),
                    'multiple': orders.orders.length > 1
                    }"
                    [nz-tooltip]="t('scalperOrderBookScalperOrderBookTable.limitOrderTooltip')"
                    [nzTooltipMouseEnterDelay]="1"
                    [nzTooltipPlacement]="['right', 'left']"
                    cdkDrag
                    [cdkDragData]="orders.orders"
                    cdkDragBoundary=".orders-drag-boundary"
              >{{orders.volume}}</span>
            </ng-container>
          </ng-template>

          <ng-template #commonOrdersDisplay let-orderSymbol="orderSymbol" let-orders="orders" let-tooltipKey="tooltipKey">
            <ng-container *ngIf="orders.volume > 0">
              <span (click)="cancelOrders($event, orders.orders)"
                    (mousedown)="$event.stopPropagation()"
                    class="orders-indicator pl-2"
                    [ngClass]="{
                    'bid': isAllOrdersHaveSide(orders.orders, ordersSides.Buy),
                    'ask': isAllOrdersHaveSide(orders.orders, ordersSides.Sell),
                    'multiple': orders.orders.length > 1
                    }"
                    [nz-tooltip]="t('scalperOrderBookScalperOrderBookTable.' + tooltipKey)"
                    [nzTooltipMouseEnterDelay]="1"
                    [nzTooltipPlacement]="['right', 'left']"
              >{{orderSymbol}}({{orders.volume}})</span>
            </ng-container>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  </ng-container>
</ng-container>

