<ng-container *transloco="let t;">
  <ats-widget-skeleton
    *ngIf="settings$ | async as settings"
    [content]="contentRef"
    [header]="headerRef"
    [settings]="settingsRef"
    [isBlockWidget]="isBlockWidget"
    [showSettings]="shouldShowSettings"
    [showContentScroll]="false"
  >

    <ng-template #headerRef>
      <ats-widget-header
        (switchSettings)="onSettingsChange()"
        [guid]="guid"
        [hasHelp]="true"
        [hasSettings]="true"
        [linkToActive]="settings.linkToActive"
        [selectedBadgeColor]="settings.badgeColor"
        [showBadgesMenu]="(showBadge$ | async) ?? false"
        [titleText]="title$ | async"
        [widgetMeta]="widgetInstance.widgetMeta"
      ></ats-widget-header>
    </ng-template>

    <ng-template #contentRef>
      <ats-scalper-order-book [guid]="guid" [isActive]="isActive"></ats-scalper-order-book>
    </ng-template>
    <ng-template #settingsRef>
      <ats-scalper-order-book-settings (settingsChange)="onSettingsChange()" [guid]="guid"></ats-scalper-order-book-settings>
    </ng-template>
  </ats-widget-skeleton>

</ng-container>

