<ng-container *transloco="let t; scope: 'invest-ideas/submit-order-for-symbol'">
  @let targetInstrument = targetInstrument$ | async;
  @let selectedPortfolio = this.selectedPortfolio$ | async;

  @if (targetInstrument != null && selectedPortfolio != null) {
    <span class="fs-5 heading-color">{{ t('investIdeaSubmitOrderForSymbol.title') }}
      {{ targetInstrument.symbol }}
      @if (targetInstrument.instrumentGroup != null && targetInstrument.instrumentGroup.length > 0) {
        ({{ targetInstrument.instrumentGroup }})
      }
      {{ targetInstrument.shortName }}
    </span>

    <div class="mt-10 bordered">
      <ats-compact-header [instrument]="targetInstrument"
        [currentPortfolio]="selectedPortfolio"
        (priceSelected)="setCommonParameters({price: $event})"
        (qtySelected)="setCommonParameters({quantity: $event})"
       />
    </div>

    <div class="mt-10">
      <ats-market-order-form [instrument]="targetInstrument"
        [portfolioKey]="selectedPortfolio"
        [activated]="true"
        [marketOrderConfig]="marketOrderConfig"
       />
    </div>
  }
</ng-container>
