@if (settings$ | async; as settings) {
  <div class="container"
    >
    <div class="header" *transloco="let t; scope: 'instruments/select'">
      <div (mousedown)='$event.stopPropagation()' class="search-field">
        <input #inputEl
          (mousedown)="$event.stopPropagation()"
          (ngModelChange)="onChange($event)"
          [(ngModel)]="inputValue"
          [nzAutocomplete]="auto"
          class='whole'
          nz-input
          [placeholder]="t('instrumentsSelect.searchPlaceHolder')"
          />
        <nz-autocomplete
          #auto
          [nzWidth]="getAutocompleteWidth(inputEl)"
        [nzOverlayStyle]="{
          left: getAutocompleteLeftPosition()
        }"
          nzOverlayClassName="instrument-select-autocomplete"
          >
          @for (option of filteredInstruments$ | async; track option) {
            <nz-auto-option
              (selectionChange)='onSelect($event, option)'
              [nzLabel]="option.symbol"
              [nzValue]="option.description"
              >
              <span class='search-row'>
                <nz-tag>{{ option.symbol }}</nz-tag>
                <span class='row-center'>{{ option.shortName }}</span>
                @if (option.instrumentGroup) {
                  <nz-tag>{{ option.instrumentGroup }}</nz-tag>
                }
                <nz-tag>{{ option.exchange }}</nz-tag>
              </span>
            </nz-auto-option>
          }
        </nz-autocomplete>
      </div>
      @if (collection$ | async; as collection) {
        <div>
          @if ((settings.activeWatchlistMetas?.length ?? 0) > 1) {
            <button
              nz-button
              nz-dropdown
              [nzDropdownMenu]="exportMenu"
              [nz-tooltip]="t('instrumentsSelect.exportTooltip')"
              [nzTooltipMouseEnterDelay]="1"
              >
              <span nz-icon nzType="download" nzTheme="outline"></span>
            </button>
            <nz-dropdown-menu #exportMenu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                @for (list of collection.collection; track list.id) {
                  @if (isSelectedWatchlist(list.id, settings.activeWatchlistMetas ?? [])) {
                    <li
                      nz-menu-item
                      (click)="table.exportToFile(list.id)"
                      >
                      <span *transloco="let tTitle; scope: 'instruments'">
                        {{ tTitle('instruments.' + getTitleTranslationKey(list), {fallback: list.title})}}
                      </span>
                    </li>
                  }
                }
              </ul>
            </nz-dropdown-menu>
          } @else if ((settings.activeWatchlistMetas?.length ?? 0) === 1) {
            <button
              nz-button
              [nz-tooltip]="t('instrumentsSelect.exportTooltip')"
              [nzTooltipMouseEnterDelay]="1"
              (click)="table.exportToFile(settings.activeWatchlistMetas![0].id)"
              >
              <span
                nz-icon
                nzType="download"
                nzTheme="outline"
              ></span>
            </button>
          }
        </div>
        <div>
          @if (collection.collection.length > 0) {
            <button
              [nzDropdownMenu]="menu"
              [nzClickHide]="false"
              nzOverlayClassName="collection-dropdown"
              nz-button
              nz-dropdown
              >
              <span nz-icon nzTheme="outline" nzType="menu"></span>
            </button>
          }
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              @for (list of collection.collection; track list) {
                <li
                  nz-menu-item
                  [class.selected]="isSelectedWatchlist(list.id, settings.activeWatchlistMetas ?? [])"
                  (click)="selectCollection(list.id)"
                  >
                  <span *transloco="let tTitle; scope: 'instruments'">
                    {{ tTitle('instruments.' + getTitleTranslationKey(list), {fallback: list.title})}}
                  </span>
                </li>
              }
            </ul>
          </nz-dropdown-menu>
        </div>
      }
    </div>
    <div class="list">
      <ats-watchlist-table [guid]="guid()" #table />
    </div>
  </div>
}
