<div (mousedown)='$event.stopPropagation()'>
  <input class='whole ant-input'
    placeholder='Поиск...'
    nz-input
    #inputEl
    (mousedown)="$event.stopPropagation()"
    [(ngModel)]="inputValue"
    (ngModelChange)="onChange($event)"
    [nzAutocomplete]="auto"
  />
  <nz-autocomplete #auto>
    <nz-auto-option
     *ngFor="let option of filteredInstruments$ | async" [nzLabel]="option.symbol" [nzValue]="option.description"
     (selectionChange)='onSelect($event, option)'>
      <span class='search-row'>
        <nz-tag>{{ option.symbol }}</nz-tag>
        <span class='row-center'>{{ option.shortName }}</span>
        <nz-tag *ngIf='option.instrumentGroup'>{{ option.instrumentGroup }}</nz-tag>
        <nz-tag>{{ option.exchange }}</nz-tag>
      </span>
    </nz-auto-option>
  </nz-autocomplete>
  <ats-watchlist-table [guid]="guid"></ats-watchlist-table>
</div>
