<nz-table
  #table
  *ngIf="sortedNotifications$ | async as notifications"
  [nzData]="notifications"
  [nzPageSize]="5"
  [nzShowPagination]="notifications.length > table.nzPageSize"
  [nzPaginationType]="'small'"
  class="notifications-table"
>
  <tbody>
  <tr *ngFor="let data of table.data">
    <td>
      <div (click)="clickNotification(data)"
           [ngClass]="{
             'notification': true,
             'read': data.isRead,
             'notification-mobile': isMobile$ | async
             }"
      >
        <div class="read-status">
          <nz-badge [nzStatus]="data.isRead ? 'default' : 'processing'"></nz-badge>
        </div>
        <div class="main">
          <div class="header" [class.header-mobile]="isMobile$ | async">
            <div class="title">
              <h4>{{data.title}}</h4>
            </div>
            <div *ngIf="data.showDate" class="date" [class.date-mobile]="isMobile$ | async">
              <span>{{data.date | date : 'dd MMM в HH:mm' :undefined: 'ru'}}</span>
            </div>
          </div>
          <div class="body">
            <span nz-typography nzType="secondary">{{data.description}}</span>
          </div>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</nz-table>
