@import "theme-mixin";

.themeMixin({
  :host {
    .treemap-tooltip {
      background-color: @body-background;
      overflow: hidden;
      transition: .05s;
      z-index: 100;
      position: absolute;
      padding: 5px 10px;
      border-radius: @tooltip-border-radius;
      display: flex;
      flex-direction: column;
      pointer-events: none;
      opacity: 0;

      p {
        margin: 0;
        color: @text-color;

        &.title {
          margin-bottom: 5px;
          font-weight: @font-weight-bold;
        }
      }
    }
  }
});

.treemap-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.clickable {
  cursor: pointer;
}

.visible {
  opacity: 1 !important;
}
