<div class="treemap-wrapper" #treemapWrapper>
  @if (tooltipData$ | async; as tooltipData) {
    <div
      #treemapTooltip
      class="treemap-tooltip"
      [class.visible]="isTooltipVisible$ | async"
      [ngStyle]="{
        top: getMinValue(treemapWrapper.clientHeight - treemapTooltip.clientHeight, tooltipData.position.top) + 'px',
        left: getMinValue(treemapWrapper.clientWidth - treemapTooltip.clientWidth, tooltipData.position.left) + 'px',
      }"
      >
      <p class="title">{{tooltipData.title}}</p>
      @for (bodyLine of tooltipData.body; track bodyLine) {
        <p>{{bodyLine}}</p>
      }
    </div>
  }

  <canvas [class.clickable]="isCursorOnSector$ | async" class="treemap" [id]="guid()"></canvas>

</div>
