<div *ngIf="commandContext$ | async as commandContext">
<form nz-form [nzLayout]="'horizontal'" [formGroup]="form" *transloco="let t; scope: 'command'">
  <nz-form-item class="compact">
    <nz-form-control [nzErrorTip]="quantityError" [nzValidateStatus]="form.get('quantity')!">
      <nz-form-label [nzNoColon]="true" nzRequired nzFor="quantity">
        {{t('command.quantityLabel')}}
        <span *ngIf="(commandContext.instrument.lotsize ?? 1) !== 1" class="lot-size-hint">
          &nbsp;1 {{t('command.lot')}} = <ats-short-number [value]="commandContext.instrument.lotsize"></ats-short-number>  {{t('command.pcs')}}
        </span>
      </nz-form-label>
        <ats-input-number formControlName="quantity" placeholder="0"></ats-input-number>
    </nz-form-control>
    <ng-template #quantityError>
      <span *ngIf="form.get('quantity')?.errors?.required">{{t('command.emptyQuantityError')}}</span>
      <span *ngIf="form.get('quantity')?.errors?.min">{{t('command.tooLittle')}}</span>
      <span *ngIf="form.get('quantity')?.errors?.max">{{t('command.tooMuch')}}</span>
    </ng-template>
  </nz-form-item>
  <nz-collapse nzGhost [nzBordered]="false" class="compact">
    <nz-collapse-panel [nzHeader]="t('command.advanced')">
      <nz-form-control [nzErrorTip]="t('command.instrumentGroupError')">
        <nz-form-label [nzNoColon]="true" nzFor="instrumentGroup">{{t('command.instrumentGroupLabel')}}</nz-form-label>
        <ats-instrument-board-select
          [instrument]="commandContext.instrument"
          [placeholder]="t('command.instrumentGroupPlaceholder')"
          formControlName="instrumentGroup">
        </ats-instrument-board-select>
      </nz-form-control>
    </nz-collapse-panel>
  </nz-collapse>
</form>
<ng-container *ngIf="form.valid">
  <ats-evaluation
    *ngIf="evaluation$ | async as evaluation"
    [evaluationProperties]="evaluation"
    (quantitySelect)="quantitySelect($event)"
  ></ats-evaluation>
</ng-container>
</div>

