<div *ngIf="commandContext$ | async as commandContext">
<form nz-form [nzLayout]="'horizontal'" [formGroup]="form">
  <nz-form-item class="compact">
    <nz-form-control nzErrorTip="Введите кол-во">
      <nz-form-label nzRequired nzFor="quantity" >Кол-во лотов <span *ngIf="(commandContext.instrument?.lotsize ?? -1) !== 1">&nbsp;(лотность {{commandContext.instrument?.lotsize}})</span></nz-form-label>
      <nz-input-group nzPrefixIcon="user">
        <input class='ant-input' atsNumerical formControlName="quantity" (mousedown)="$event.stopPropagation()" nz-input placeholder="100" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-collapse nzGhost [nzBordered]="false" class="compact">
    <nz-collapse-panel nzHeader="Продвинутые">
      <nz-form-control nzErrorTip="Группа">
        <nz-form-label nzFor="instrumentGroup">Группа</nz-form-label>
        <nz-input-group nzPrefixIcon="lock">
          <input class='ant-input'  formControlName="instrumentGroup" (mousedown)="$event.stopPropagation()"
            placeholder="Режим торгов" />
        </nz-input-group>
      </nz-form-control>
    </nz-collapse-panel>
  </nz-collapse>
</form>
<ng-container *ngIf="evaluation$ | async as evaluation">
  <ats-evaluation  [evaluationProperties]="evaluation"></ats-evaluation>
</ng-container>
</div>

