<div *ngIf="commandContext$ | async as commandContext">
<form nz-form [nzLayout]="'horizontal'" [formGroup]="form" *transloco="let t; scope: 'command'">
  <nz-form-item class="compact">
    <nz-form-control [nzErrorTip]="quantityError" [nzValidateStatus]="form.get('quantity')!">
      <nz-form-label [nzNoColon]="true" nzRequired nzFor="quantity">
        {{t('command.quantityLabel')}}
        <span *ngIf="(commandContext.instrument.lotsize ?? 1) !== 1" class="lot-size-hint">
          &nbsp;1 {{t('command.lot')}} = {{commandContext.instrument.lotsize | shortNumber}} {{t('command.pcs')}}
        </span>
      </nz-form-label>
      <nz-input-group>
        <input atsNumerical formControlName="quantity" (mousedown)="$event.stopPropagation()" nz-input placeholder="0" />
      </nz-input-group>
    </nz-form-control>
    <ng-template #quantityError>
      <span *ngIf="form.get('quantity')?.errors?.required">{{t('command.emptyQuantityError')}}</span>
      <span *ngIf="form.get('quantity')?.errors?.min">{{t('command.tooLittle')}}</span>
      <span *ngIf="form.get('quantity')?.errors?.max">{{t('command.tooMuch')}}</span>
    </ng-template>
  </nz-form-item>
  <nz-collapse nzGhost [nzBordered]="false" class="compact">
    <nz-collapse-panel [nzHeader]="t('command.advanced')">
      <nz-form-control [nzErrorTip]="t('command.instrumentGroupError')">
        <nz-form-label [nzNoColon]="true" nzFor="instrumentGroup">{{t('command.instrumentGroupLabel')}}</nz-form-label>
        <nz-input-group>
          <input formControlName="instrumentGroup" (mousedown)="$event.stopPropagation()" nz-input [placeholder]="t('command.instrumentGroupPlaceholder')" />
        </nz-input-group>
      </nz-form-control>
    </nz-collapse-panel>
  </nz-collapse>
</form>
<ng-container *ngIf="form.valid">
  <ats-evaluation *ngIf="evaluation$ | async as evaluation" [evaluationProperties]="evaluation"></ats-evaluation>
</ng-container>
</div>

