<nz-form-item *transloco="let t; scope: 'terminal-settings/hot-key-settings-form'">
  <nz-form-label [nzFor]="actionName()">{{t('terminalSettingsHotKeySettingsForm.' + actionName())}}</nz-form-label>
  <nz-form-control [nzErrorTip]="controlError">
    <input
      (keydown)="hotkeyChange($event)"
      (mousedown)="$event.stopPropagation()"
      [formControl]="control"
      [placeholder]="t('terminalSettingsHotKeySettingsForm.hotKeyPlaceholder')"
      nz-input
      readonly
      />
    <ng-template #controlError>
      @if (control.errors?.required) {
        <span>{{t('terminalSettingsHotKeySettingsForm.emptyFieldError')}}</span>
      }
    </ng-template>
  </nz-form-control>
</nz-form-item>
