<ats-widget-settings-editor
  (cancelClick)="requestClose()"
  (copyClick)="createWidgetCopy()"
  (saveClick)="updateSettings()"
  [canCopy]="canCopy"
  [canSave]="canSave"
  [showCopy]="showCopy"
  [widgetInstance]="widgetInstance()"
>
  <ng-container *transloco="let t">
    <ats-widget-settings-form [formGroup]="form">
      <ats-widget-settings-form-item
        [errorTip]="t('form.ticker.commonError')"
        [label]="t('form.ticker.label')"
        [required]="true"
      >
        <ats-inline-instrument-search
          (instrumentSelected)="instrumentSelected($event)"
          formControlName="instrument"
        />
      </ats-widget-settings-form-item>
      <ats-widget-settings-form-item
        [label]="t('form.exchange.label')"
        [required]="true"
        controlId="exchange"
      >
        <input [value]="form.controls.instrument.value?.exchange ?? ''" disabled id="exchange" nz-input type="text"/>
      </ats-widget-settings-form-item>
      <ats-widget-settings-form-item
        [errorTip]="t('form.instrumentGroup.commonError')"
        [label]="t('form.instrumentGroup.label')"
      >
        <ats-instrument-board-select
          [instrument]="form.controls.instrument.value"
          [placeholder]="t('form.ticker.label')"
          formControlName="instrumentGroup"
        />
      </ats-widget-settings-form-item>
    </ats-widget-settings-form>
  </ng-container>
</ats-widget-settings-editor>
