<div>
  <form nz-form [nzLayout]="'inline'" [formGroup]="form">
    <nz-form-item class="compact">
      <nz-form-control nzErrorTip="Введите кол-во">
        <nz-form-label nzRequired nzFor="quantity">Кол-во</nz-form-label>
        <nz-input-group nzPrefixIcon="user">
          <input class='ant-input' atsNumerical formControlName="quantity" (mousedown)="$event.stopPropagation()" nz-input placeholder="100" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item >
      <nz-form-control nzErrorTip="Выберите условие исполнения">
        <nz-form-label nzRequired nzFor="condition">Условие</nz-form-label>
        <nz-select formControlName="condition">
          <nz-option [nzValue]="'More'" nzLabel="Больше"></nz-option>
          <nz-option [nzValue]="'Less'" nzLabel="Меньше"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="compact">
      <nz-form-control nzErrorTip="Введите сигн. цену">
        <nz-form-label nzRequired nzFor="triggerPrice">Сигнальная цена</nz-form-label>
        <nz-input-group nzPrefixIcon="lock">
          <input class='ant-input' atsNumerical formControlName="triggerPrice" (mousedown)="$event.stopPropagation()" placeholder="1" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-control>
      <nz-form-label nzFor="stopEndUnixTime">Действ. до</nz-form-label>
      <nz-form-control nzErrorTip="Введите дату">
        <nz-input-group>
          <nz-date-picker
            nzShowTime
            nzFormat="yyyy-MM-dd HH:mm:ss"
            ngModel
            formControlName="stopEndUnixTime"
          >
          </nz-date-picker>
        </nz-input-group>
      </nz-form-control>
    </nz-form-control>
    <nz-form-control class="compact">
      <nz-form-label [nzSpan]="4" nzRequired nzFor="withLimit">Тип стопа</nz-form-label>
      <nz-form-control>
        <nz-radio-group formControlName="withLimit">
          <label nz-radio-button [nzValue]="true">Limit</label>
          <label nz-radio-button [nzValue]="false">Market</label>
        </nz-radio-group>
      </nz-form-control>
      <nz-form-control  *ngIf="form.value.withLimit">
        <nz-form-label nzRequired nzFor="price">Цена</nz-form-label>
        <nz-input-group nzPrefixIcon="lock">
          <input class='ant-input' atsNumerical formControlName="price" (mousedown)="$event.stopPropagation()" placeholder="0" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-control>
    <span nz-typography nzType="warning">
      Выставление стоп заявок происходит через новый сервис Sparker. Из-за этого могут быть ошибки,
      которые мы по какой-то причине не заметили. Будьте аккуратны, пожалуйста.
    </span>
  </form>
</div>
