<div *ngIf="commandContext$ | async as commandContext">
  <form [formGroup]="form" nz-form>
    <div [nzGutter]="12" nz-row>
      <div [nzSm]="12" [nzXs]="24" nz-col>
        <nz-form-item class="compact">
          <nz-form-control nzErrorTip="Введите кол-во">
            <nz-form-label nzFor="quantity" nzRequired>Кол-во лотов <span *ngIf="(commandContext.instrument?.lotsize ?? -1) !== 1">&nbsp;(лотность {{commandContext.instrument?.lotsize}})</span></nz-form-label>
            <input (mousedown)="$event.stopPropagation()" atsNumerical class='ant-input' formControlName="quantity" placeholder="100"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div [nzSm]="12" [nzXs]="24" nz-col>
        <nz-form-item class="compact">
          <nz-form-control nzErrorTip="Выберите условие исполнения">
            <nz-form-label nzFor="condition" nzRequired>Условие</nz-form-label>
            <nz-select formControlName="condition">
              <nz-option [nzValue]="'More'" nzLabel="Больше"></nz-option>
              <nz-option [nzValue]="'Less'" nzLabel="Меньше"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div [nzSm]="12" [nzXs]="24" nz-col>
        <nz-form-item class="compact">
          <nz-form-control nzErrorTip="Введите сигн. цену">
            <nz-form-label nzFor="triggerPrice" nzRequired>Сигнальная цена</nz-form-label>
            <input (mousedown)="$event.stopPropagation()" atsNumerical class='ant-input'
                   formControlName="triggerPrice" placeholder="1"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div [nzSm]="12" [nzXs]="24" nz-col>
        <nz-form-item class="compact">
          <nz-form-control nzErrorTip="Введите дату">
            <nz-form-label nzFor="stopEndUnixTime">Действ. до</nz-form-label>
            <nz-date-picker
              formControlName="stopEndUnixTime"
              nzFormat="yyyy-MM-dd HH:mm:ss"
              nzShowTime
              [nzShowNow] = "canSelectNow"
            >
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="24">
        <nz-form-item class="compact">
          <nz-form-control nzErrorTip="Выберите условие исполнения">
            <nz-form-label nzFor="withLimit" nzRequired>Тип стопа</nz-form-label>
            <nz-radio-group formControlName="withLimit" >
              <label [nzValue]="true" nz-radio-button>Limit</label>
              <label [nzValue]="false" nz-radio-button>Market</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row *ngIf="form.value.withLimit">
      <div nz-col [nzSpan]="24">
        <nz-form-item class="compact">
          <nz-form-control nzErrorTip="Введите цену">
            <nz-form-label nzFor="price" nzRequired>Цена</nz-form-label>
            <input (mousedown)="$event.stopPropagation()" atsNumerical class='ant-input' formControlName="price" placeholder="0"/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <span nz-typography nzType="warning">
      Выставление стоп заявок происходит через новый сервис Sparker. Из-за этого могут быть ошибки,
      которые мы по какой-то причине не заметили. Будьте аккуратны, пожалуйста.
    </span>
  </form>
</div>
