<div (nzResizeObserve)="updateContainerSize($event)"
     *ngIf="exchangeRateData$ | async as exchangeRateData" class="h-100 w-100" nzResizeObserver>
  <ng-container *ngIf="tableScroll$ | async as tableScroll">
    <nz-table
      [nzData]="exchangeRateData.currencies"
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
      [nzScroll]="{ x: tableScroll.width + 'px', y: tableScroll.height + 'px' }"
      nzSize="small">
      <thead>
      <tr>
        <th nzLeft nzWidth="50px"></th>
        <th nzWidth="65px" *ngFor="let cur of exchangeRateData.currencies">{{cur}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cur1 of exchangeRateData.currencies">
        <td nzLeft class="bold">{{cur1}}</td>
        <td *ngFor="let cur2 of exchangeRateData.currencies">{{getRateValue(cur1, cur2, exchangeRateData.data)}}</td>
      </tr>
      </tbody>
    </nz-table>
  </ng-container>
</div>
