@import '../../styles/widget-settings-layout.mixins.less';

ats-widget-settings-layout-mobile {
  display: contents;

  .layout {
    .widget-settings-layout();

    .body {
      flex-direction: column;
      gap: 8px;

      .sections {
        flex: 1 1 auto;
        min-height: 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .scrollable(var(--ats-scrollbar-color));

        .section {
          display: flex;
          flex-direction: column;

          & + & {
            padding-top: 8px;
            border-top: var(--ats-border-width-base) var(--ats-border-style-base) var(--ats-border-color-split);
          }

          .section-title {
            margin: 0 0 8px;
            font-size: var(--ats-font-size-lg);
            font-weight: var(--ats-font-weight-bold);
            color: var(--ats-text-color);
          }
        }
      }
    }
  }
}
