<ng-container *ngIf="description$ | async as description; else empty">
  <ng-container *transloco="let t; scope: 'info/description'">
    <nz-descriptions *ngIf="(isLoading$ | async) === false" [nzColumn]="columns" [nzSize]="columns === 1 ? 'small' : 'default'" nzBordered>
      <nz-descriptions-item [nzTitle]="t('infoDescription.description')"><span class="full-description">{{description.description}}</span>
      </nz-descriptions-item>
      <nz-descriptions-item *ngIf="description.sector" [nzTitle]="t('infoDescription.sector')">{{description.sector}}</nz-descriptions-item>
      <nz-descriptions-item *ngIf="description.isin" [nzTitle]="t('infoDescription.isin')">{{description.isin}}</nz-descriptions-item>
      <nz-descriptions-item *ngIf="description.baseCurrency" [nzTitle]="t('infoDescription.baseCurrency')">{{description.baseCurrency}}</nz-descriptions-item>
      <nz-descriptions-item *ngIf="description.securityType" [nzTitle]="t('infoDescription.type')">{{description.securityType}}</nz-descriptions-item>
      <ng-container *ngIf="description.securityType === 'futures'">
        <nz-descriptions-item *ngIf="getFutureType(description.cfiCode!) as futureType" [nzTitle]="t('infoDescription.futureType')">
          {{t('infoDescription.futureTypeValue.' + futureType)}}
        </nz-descriptions-item>
        <nz-descriptions-item *ngIf="description.expirationDate" [nzTitle]="t('infoDescription.expirationDate')">
          {{description.expirationDate | date : 'dd.MM.yyyy'}}
        </nz-descriptions-item>
      </ng-container>
      <nz-descriptions-item *ngIf="description.lotsize" [nzTitle]="t('infoDescription.lotSize')">{{description.lotsize}}</nz-descriptions-item>
      <nz-descriptions-item *ngIf="description.minStep" [nzTitle]="t('infoDescription.minStep')">{{description.minStep}}</nz-descriptions-item>
      <nz-descriptions-item *ngIf="description.priceStep" [nzTitle]="t('infoDescription.priceStep')">{{description.priceStep}}</nz-descriptions-item>
      <nz-descriptions-item *ngIf="description.marginbuy" [nzTitle]="t('infoDescription.marginBuy')">{{description.marginbuy}}</nz-descriptions-item>
      <nz-descriptions-item *ngIf="description.marginsell" [nzTitle]="t('infoDescription.marginSell')">{{description.marginsell}}</nz-descriptions-item>
    </nz-descriptions>
  </ng-container>
</ng-container>

<ats-loading-indicator [isLoading]="isLoading$ | async"></ats-loading-indicator>

<ng-template #empty>
  <nz-empty
    *ngIf="(isLoading$ | async) === false"
    class="ant-list-empty-text"
    nzNotFoundImage="simple"
  ></nz-empty>
</ng-template>
