.ant-form-item {
  &.one-row {
    .ant-form-item-control {
      width: initial;
      flex-grow: initial;

      max-width: initial;
      flex-basis: initial;
    }
  }

  nz-collapse {
    width: 100%;
  }
}
