<ats-widget-settings
  [canSave]="canSave"
  [canCopy]="canCopy"
  [showCopy]="showCopy"
  (saveClick)="updateSettings()"
  (copyClick)="createWidgetCopy()"
  >
  <ng-container *transloco="let t; scope: 'tech-chart/settings'">
    @if (deviceInfo$ | async; as deviceInfo) {
      @if (form) {
        <form [formGroup]="form" [nzLayout]="'vertical'" nz-form>
          @if (!deviceInfo.isMobile) {
            <nz-collapse [nzBordered]="false" nzGhost>
              <nz-collapse-panel [nzHeader]="t('techChartSettings.instrumentSelectionHeader')" nzActive="true">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="instrument">{{t('techChartSettings.tickerLabel')}}</nz-form-label>
                  <nz-form-control [nzErrorTip]="t('techChartSettings.tickerError')">
                    <ats-instrument-search formControlName="instrument" (instrumentSelected)="instrumentSelected($event)" />
                  </nz-form-control>
                </nz-form-item>
                @if (!isSyntheticInstrument(form.value.instrument?.symbol ?? '')) {
                  <nz-form-item>
                    <nz-form-label nzFor="exchange" nzRequired>{{t('techChartSettings.exchangeLabel')}}</nz-form-label>
                    <nz-form-control>
                      <input nz-input type="text" [value]="form.value.instrument?.exchange" disabled/>
                    </nz-form-control>
                  </nz-form-item>
                }
                @if (form.value.instrument && !isSyntheticInstrument(form.value.instrument.symbol)) {
                  <nz-form-item>
                    <nz-form-label nzFor="instrumentGroup">{{t('techChartSettings.instrumentGroupLabel')}}</nz-form-label>
                    <nz-form-control [nzErrorTip]="t('techChartSettings.instrumentGroupError')">
                      <ats-instrument-board-select [instrument]="form.value.instrument"
                        [placeholder]="t('techChartSettings.instrumentGroupLabel')"
                        formControlName="instrumentGroup" />
                    </nz-form-control>
                  </nz-form-item>
                }
              </nz-collapse-panel>
            </nz-collapse>
          }
          @if (!isSyntheticInstrument(form.value.instrument?.symbol ?? '')) {
            <nz-collapse [nzBordered]="false" nzGhost>
              <nz-collapse-panel [nzHeader]="t('techChartSettings.portfolioSettingsGroupLabel')">
                <nz-form-item class="one-row">
                  <nz-form-control>
                    <nz-switch formControlName='showOrders' />
                  </nz-form-control>
                  <nz-form-label nzFor="showOrders">
                    {{t('techChartSettings.showOrdersLabel')}}
                  </nz-form-label>
                </nz-form-item>
                @if (form.controls.showOrders.value) {
                  <nz-form-item>
                    <nz-form-control>
                      <nz-form-label nzFor="ordersLineMarkerPosition">{{t('techChartSettings.ordersLineMarkerPositionLabel')}}</nz-form-label>
                      <nz-select formControlName='ordersLineMarkerPosition'>
                        @for (option of availableLineMarkerPositions; track option) {
                          <nz-option [nzLabel]="t('techChartSettings.lineMarkerPositionOptions.' + option, { fallback: option })"
                            [nzValue]="option"
                           />
                        }
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                }
                <nz-form-item class="one-row">
                  <nz-form-control>
                    <nz-switch formControlName='showPosition' />
                  </nz-form-control>
                  <nz-form-label nzFor="showPosition">
                    {{t('techChartSettings.showPositionLabel')}}
                  </nz-form-label>
                </nz-form-item>
                @if (form.controls.showPosition.value) {
                  <nz-form-item>
                    <nz-form-control>
                      <nz-form-label nzFor="positionLineMarkerPosition">{{t('techChartSettings.positionLineMarkerPositionLabel')}}</nz-form-label>
                      <nz-select formControlName='positionLineMarkerPosition'>
                        @for (option of availableLineMarkerPositions; track option) {
                          <nz-option [nzLabel]="t('techChartSettings.lineMarkerPositionOptions.' + option, { fallback: option })"
                            [nzValue]="option"
                           />
                        }
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                }
                <nz-form-item  class="one-row">
                  <nz-form-control>
                    <nz-switch formControlName='showTrades' />
                  </nz-form-control>
                  <nz-form-label nzFor="showTrades">
                    {{t('techChartSettings.showTradesLabel')}}
                  </nz-form-label>
                </nz-form-item>
                @if (form.controls.showTrades.value) {
                  <ng-container  [formGroup]="form.controls.trades">
                    <nz-form-item>
                      <nz-form-control>
                        <nz-form-label nzFor="marker">{{t('techChartSettings.tradeMarkerLabel')}}</nz-form-label>
                        <nz-select formControlName='marker'>
                          @if (t('techChartSettings.tradeDisplayMarkerOptions.' + TradeDisplayMarkers.Note, { fallback: TradeDisplayMarkers.Note }); as label) {
                            <nz-option
                              nzCustomContent
                              [nzLabel]="label"
                              [nzValue]="TradeDisplayMarkers.Note">
                              <span nz-icon nzType="environment" nzTheme="outline"></span>
                              <span> {{label}}</span>
                            </nz-option>
                          }
                          @if (t('techChartSettings.tradeDisplayMarkerOptions.' + TradeDisplayMarkers.Arrows, { fallback: TradeDisplayMarkers.Arrows }); as label) {
                            <nz-option
                              nzCustomContent
                              [nzLabel]="label"
                              [nzValue]="TradeDisplayMarkers.Arrows">
                              <span nz-icon nzType="arrow-up" nzTheme="outline"></span>
                              <span nz-icon nzType="arrow-down" nzTheme="outline"></span>
                              <span> {{label}}</span>
                            </nz-option>
                          }
                          @if (t('techChartSettings.tradeDisplayMarkerOptions.' + TradeDisplayMarkers.Carets, { fallback: TradeDisplayMarkers.Carets }); as label) {
                            <nz-option
                              nzCustomContent
                              [nzLabel]="label"
                              [nzValue]="TradeDisplayMarkers.Carets">
                              <span nz-icon nzType="caret-up" nzTheme="outline"></span>
                              <span nz-icon nzType="caret-down" nzTheme="outline"></span>
                              <span> {{label}}</span>
                            </nz-option>
                          }
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                    @if (form.controls.trades.controls.marker.value !== TradeDisplayMarkers.Note) {
                      <nz-form-item>
                        <nz-form-control>
                          <nz-form-label nzFor="markerSize">
                            {{t('techChartSettings.markerSizeLabel')}}
                          </nz-form-label>
                          <nz-slider [nzMin]="validationOptions.markerSize.min"
                            [nzMax]="validationOptions.markerSize.max"
                            [nzStep]="1"
                            [nzMarks]="getSliderMarks(validationOptions.markerSize.min, validationOptions.markerSize.max)"
                            formControlName="markerSize"
                             />
                        </nz-form-control>
                      </nz-form-item>
                    }
                    <nz-form-item class="one-row">
                      <nz-form-label nzFor="buyTradeColor">
                        {{t('techChartSettings.buyTradeMarkerColorLabel')}}:
                      </nz-form-label>
                      <nz-form-control>
                        <nz-color-picker formControlName='buyTradeColor' />
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="one-row">
                      <nz-form-label nzFor="sellTradeColor">
                        {{t('techChartSettings.sellTradeMarkerColorLabel')}}:
                      </nz-form-label>
                      <nz-form-control>
                        <nz-color-picker formControlName='sellTradeColor' />
                      </nz-form-control>
                    </nz-form-item>
                  </ng-container>
                }
              </nz-collapse-panel>
            </nz-collapse>
          }
          <nz-collapse [nzBordered]="false" nzGhost>
            <nz-collapse-panel [nzHeader]="t('techChartSettings.chartElementsGroupLabel')" [formGroup]="form.controls.panels">
              <nz-form-item class="one-row">
                <nz-form-control>
                  <nz-switch formControlName='header' />
                </nz-form-control>
                <nz-form-label nzFor="header">
                  {{t('techChartSettings.headerLabel')}}
                </nz-form-label>
              </nz-form-item>
              @if (form.value.panels?.header && !deviceInfo.isMobile) {
                <nz-form-item class="one-row">
                  <nz-form-control>
                    <nz-switch formControlName='headerSymbolSearch' />
                  </nz-form-control>
                  <nz-form-label nzFor="headerSymbolSearch">
                    {{t('techChartSettings.headerSymbolSearchLabel')}}
                  </nz-form-label>
                </nz-form-item>
              }
              @if (form.value.panels?.header) {
                <nz-form-item class="one-row">
                  <nz-form-control>
                    <nz-switch formControlName='headerCompare' />
                  </nz-form-control>
                  <nz-form-label nzFor="headerCompare">
                    {{t('techChartSettings.headerCompareLabel')}}
                  </nz-form-label>
                </nz-form-item>
              }
              @if (form.value.panels?.header) {
                <nz-form-item class="one-row">
                  <nz-form-control>
                    <nz-switch formControlName='headerResolutions' />
                  </nz-form-control>
                  <nz-form-label nzFor="headerResolutions">
                    {{t('techChartSettings.headerResolutionsLabel')}}
                  </nz-form-label>
                </nz-form-item>
              }
              @if (form.value.panels?.header) {
                <nz-form-item class="one-row">
                  <nz-form-control>
                    <nz-switch formControlName='headerChartType' />
                  </nz-form-control>
                  <nz-form-label nzFor="headerChartType">
                    {{t('techChartSettings.headerChartTypeLabel')}}
                  </nz-form-label>
                </nz-form-item>
              }
              @if (form.value.panels?.header) {
                <nz-form-item class="one-row">
                  <nz-form-control>
                    <nz-switch formControlName='headerIndicators' />
                  </nz-form-control>
                  <nz-form-label nzFor="headerIndicators">
                    {{t('techChartSettings.headerIndicatorsLabel')}}
                  </nz-form-label>
                </nz-form-item>
              }
              @if (form.value.panels?.header) {
                <nz-form-item class="one-row">
                  <nz-form-control>
                    <nz-switch formControlName='headerUndoRedo' />
                  </nz-form-control>
                  <nz-form-label nzFor="headerUndoRedo">
                    {{t('techChartSettings.headerUndoRedoLabel')}}
                  </nz-form-label>
                </nz-form-item>
              }
              @if (form.value.panels?.header) {
                <nz-form-item class="one-row">
                  <nz-form-control>
                    <nz-switch formControlName='headerSettings' />
                  </nz-form-control>
                  <nz-form-label nzFor="headerSettings">
                    {{t('techChartSettings.headerSettingsLabel')}}
                  </nz-form-label>
                </nz-form-item>
              }
              @if (form.value.panels?.header) {
                <nz-form-item class="one-row">
                  <nz-form-control>
                    <nz-switch formControlName='headerFullscreenButton' />
                  </nz-form-control>
                  <nz-form-label nzFor="headerFullscreenButton">
                    {{t('techChartSettings.headerFullscreenButtonLabel')}}
                  </nz-form-label>
                </nz-form-item>
              }
              @if (form.value.panels?.header) {
                <nz-form-item class="one-row">
                  <nz-form-control>
                    <nz-switch formControlName='headerScreenshot' />
                  </nz-form-control>
                  <nz-form-label nzFor="headerScreenshot">
                    {{t('techChartSettings.headerScreenshotLabel')}}
                  </nz-form-label>
                </nz-form-item>
              }
              <nz-form-item class="one-row">
                <nz-form-control>
                  <nz-switch formControlName='drawingsToolbar' />
                </nz-form-control>
                <nz-form-label nzFor="drawingsToolbar">
                  {{t('techChartSettings.drawingsToolbarLabel')}}
                </nz-form-label>
              </nz-form-item>
              <nz-form-item class="one-row">
                <nz-form-control>
                  <nz-switch formControlName='timeframesBottomToolbar' />
                </nz-form-control>
                <nz-form-label nzFor="timeframesBottomToolbar">
                  {{t('techChartSettings.timeframesBottomToolbarLabel')}}
                </nz-form-label>
              </nz-form-item>
            </nz-collapse-panel>
          </nz-collapse>
          <nz-collapse [nzBordered]="false" nzGhost>
            <nz-collapse-panel [nzHeader]="t('techChartSettings.chartOrdersGroupLabel')" [formGroup]="form.controls.orders">
              <nz-form-item class="one-row">
                <nz-form-control>
                  <nz-switch formControlName='editWithoutConfirmation' />
                </nz-form-control>
                <nz-form-label nzFor="editWithoutConfirmation">
                  {{t('techChartSettings.editWithoutConfirmationLabel')}}
                </nz-form-label>
              </nz-form-item>
            </nz-collapse-panel>
          </nz-collapse>
          <nz-form-item class="one-row">
            <nz-form-control>
              <nz-switch formControlName='allowCustomTimeframes' />
            </nz-form-control>
            <nz-form-label nzFor="allowCustomTimeframes">
              {{t('techChartSettings.allowCustomTimeframesLabel')}}
            </nz-form-label>
          </nz-form-item>
          @if(form.controls.allowCustomTimeframes.value) {
            <span nz-typography nzType="warning">
              {{t('techChartSettings.allowCustomTimeframesWarning')}}
            </span>
          }
        </form>
      }
    }
  </ng-container>
</ats-widget-settings>
