<div class="container position-relative" *transloco="let t; scope: 'news'">
  @if((selectedSection$ | async) === newsSectionEnum.All) {
    <div class="position-absolute top-0 end-0 z-1">
      @let isFilterApplied = isFiltersApplied$ | async;

      <button
        nz-button
        nzGhost
        (click)="isAllFiltersVisible = true"
        class="primary-color"
      >
        <nz-icon nzType="filter" [class.primary-color]="isFilterApplied" [nzTheme]="isFilterApplied ? 'fill' : 'outline'" />
      </button>
    </div>
  }

  <div>
    <nz-tabs nzSize="small" #tabSet>
      <nz-tab [nzTitle]="t('news.newsSections.' + newsSectionEnum.All)" (nzSelect)="newsSectionChange(newsSectionEnum.All)" />
      <nz-tab [nzTitle]="t('news.newsSections.' + newsSectionEnum.Portfolio)" (nzSelect)="newsSectionChange(newsSectionEnum.Portfolio)" />
      <nz-tab [nzTitle]="t('news.newsSections.' + newsSectionEnum.Symbol)" (nzSelect)="newsSectionChange(newsSectionEnum.Symbol)" />
    </nz-tabs>
  </div>
  <div class="table-container"
       *ngrxLet="{ isLoading: isLoading$, newsListItems: tableData$, contentSize: contentSize$} as vm"
    nzResizeObserver
    (nzResizeObserve)="containerSizeChanged($event)">
    <ats-infinite-scroll-table [tableContainerHeight]="vm.contentSize?.height ?? 0"
      [tableContainerWidth]="vm.contentSize?.width ?? 0"
      [data]="vm.newsListItems"
      [isLoading]="vm.isLoading"
      [tableConfig]="tableConfig$ | async"
      (scrolled)="scrolled()"
      (rowClick)="rowClick($event)"
     />
  </div>
</div>

<ats-news-dialog [newsItem]="selectedNewsListItem" />
<ats-news-filters [isVisible]="isAllFiltersVisible"
  (closed)="applyAllFilters($event)"
  [currentFilters]="(settings$ | async)?.allNewsFilters"
 />
