<div class="container" *transloco="let t; scope: 'news'">
  <div>
    <nz-tabset nzSize="small">
      <nz-tab [nzTitle]="t('news.newsSections.' + newsSectionEnum.All)" (nzSelect)="newsSectionChange(newsSectionEnum.All)"></nz-tab>
      <nz-tab [nzTitle]="t('news.newsSections.' + newsSectionEnum.Portfolio)" (nzSelect)="newsSectionChange(newsSectionEnum.Portfolio)"></nz-tab>
      <nz-tab [nzTitle]="t('news.newsSections.' + newsSectionEnum.Symbol)" (nzSelect)="newsSectionChange(newsSectionEnum.Symbol)"></nz-tab>
    </nz-tabset>
  </div>
  <div class="table-container"
       *ngrxLet="{ isLoading: isLoading$, newsListItems: newsListItems$, contentSize: contentSize$} as vm"
    nzResizeObserver
    (nzResizeObserve)="containerSizeChanged($event)">
    <ats-infinite-scroll-table
      [tableContainerHeight]="vm.contentSize.height"
      [tableContainerWidth]="vm.contentSize.width"
      [data]="vm.newsListItems"
      [isLoading]="vm.isLoading"
      [tableConfig]="tableConfig$ | async"
      (scrolled)="scrolled()"
      (rowClick)="openNewsModal($event)"
    ></ats-infinite-scroll-table>
  </div>
</div>
