@import 'theme-mixin';

.themeMixin({
  :host {
    display: block;

    .withdrawal-container {
      padding: 4px 0 0;
    }

    .withdrawal-form {
      padding: 0;
    }

    ::ng-deep .ant-form-item-label > label {
      color: @heading-color;
      font-weight: 500;
    }
  }
});