@import "projects/terminal-styling-lib/src/styles/themes/css-vars-mapping";

:root {
  --atsm-mobile-layout-header-background: @mobile-layout-header-background;
  --atsm-mobile-body-background-gradient-middle: @mobile-body-background-gradient-middle;
  --atsm-mobile-background-gradient: @mobile-background-gradient;
}
