@import "projects/terminal-styling-lib/src/styles/themes/dark-variables";

@mobile-layout-header-background: transparent;
@mobile-body-background-gradient-middle: #0B1527;
@mobile-background-gradient: linear-gradient(66deg, #0F1621 40%, @mobile-body-background-gradient-middle 60%, #19202C 85%);
