@import "projects/terminal-styling-lib/src/styles/themes/light-variables";

@mobile-layout-header-background: @layout-header-background;
@mobile-body-background-gradient-middle: @component-background;
@mobile-background-gradient: @component-background;
