<ng-container *transloco="let t; scope: 'instruments-correlation/correlation-chart'">
  <div class="container h-100 d-flex flex-column">
    <div class="header">
      <ats-chart-filters (filterChanged)="request$.next($event)" [guid]="guid()" />
    </div>
    <div (nzResizeObserve)="sizeChanged($event)" class="overflow-hidden flex-fill mt-10" nzResizeObserver>
      <ng-container *ngrxLet="{loadingStatus: loadingStatus$} as vm">
        <div [hidden]="vm.loadingStatus !== loadingStatuses.Success" [id]="figureId" class="position-relative">
        </div>
        @if (vm.loadingStatus === loadingStatuses.NoData || vm.loadingStatus === loadingStatuses.Error) {
          <nz-empty class="ant-list-empty-text"
            nzNotFoundImage="simple"
            [nzNotFoundContent]="loadingError?.errorMessage ?? t('instrumentsCorrelationCorrelationChart.errorCodes.' + loadingError?.errorCode)"
           />
        }
        @if (vm.loadingStatus === loadingStatuses.Loading) {
          <p class="text-center">
            <nz-spin nzSimple />
          </p>
        }
      </ng-container>
    </div>
  </div>
</ng-container>


