<ng-container *transloco="let t; scope: 'ai-chat/terms-of-use-dialog-widget'">
  <nz-modal
    (nzOnCancel)="handleClose()"
    [nzMaskClosable]='false'
    [nzTitle]="t('aiChatTermsOfUseDialogWidget.title')"
    [nzVisible]='atsVisible'
    nzClassName="ai-chat-terms-of-use"
    nzClosable="true"
  >
    <ng-container *nzModalContent>
      <div class="content">
        <p>
          Настоящие Правила (далее – Правила) пользования чат-ботом ООО "АЛОР +" (далее - Общество) регулируют права и обязанности Пользователя и Общества при использовании чат-бота Общества (далее – Чат-бот) в веб - терминале Astras (далее – Astras).
          До начала использования Чат-бота Пользователь Astras соглашается с Правилами и принимает их безоговорочно и в полном объеме.
          Владельцем Чат-бота является Общество с ограниченной ответственностью «АЛОР +», ОГРН 1027700075941 (далее – «ОБЩЕСТВО»).
        </p>

        <h3>1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ</h3>
        <p>
          <strong>Чат-бот</strong> - программа для ЭВМ принадлежащая Обществу в виде Чат-бота в Astras.
          <br>
          <strong>Astras</strong> - веб - терминал ООО "АЛОР +", интернет версия которого расположена по адресу: https://astras.alor.ru/.
          <br>
          <strong>Пользователь</strong> – лицо, которое является зарегистрированным пользователем Astras, присоединившееся к Правилам.
          <br>
          <strong>Правила</strong> – настоящие Правила, регулирующие права и обязанности сторон, а также иные условия использования использовании Чат-бота.
          <br>
          <strong>Сообщения</strong> – текстовые и графические материалы об услугах Общества, взимаемых комиссиях и вознаграждениях Общества, согласно установленным Обществом тарифам, о правилах приема и исполнения поручений клиентов. Указанная информация формируется Чат-ботом с учетом внутренних документов Общества и действующим законодательством Российской Федерации.
          Не являются услугами по инвестиционному консультированию предоставление Пользователю Сообщений через Чат-бот. Чат-бот не предоставляет индивидуальные инвестиционные рекомендации и не учитывает инвестиционный профиль Пользователя. Пользователь несет все риски принятия решений о способах и возможности использования информации, полученной в Сообщениях от Чат-бота. Пользователь понимает и принимает, что использование Чат-бота может быть сопряжено с получением недостоверной информации ввиду технических сбоев и ошибок, а также недостаточным уровнем развития искусственного интеллекта.
          <br>
        </p>

        <h3>2. ОБЩИЕ ПОЛОЖЕНИЯ</h3>
        <p>
          2.1. Настоящие Правила разработаны Обществом и определяют условия использования Чат-бота, а также права и обязанности его Пользователя и Общества.
          <br>
          2.2. Настоящие Правила являются юридически обязательным соглашением между Пользователем и Обществом, предметом которого является предоставление Обществом Пользователю доступа к Чат-боту и его функционалу.
        </p>
      </div>

      <h3>3. ИСПОЛЬЗОВАНИЕ ЧАТ-БОТА</h3>
      <p>
        3.1. Общество предоставляет Пользователю право использовать доступный в Чат-боте сервис, направленный на поиск информации об Обществе, его услугах, а также информации о финансовых рынках, параметров и значений конкретных финансовых инструментов по настроенным Пользователем параметрам.
        <br>
        3.2. Перед началом использования Чат-бота Пользователь обязан пройти процедуру регистрации в Astras.
        <br>
        3.3. Пользователь вправе в любой момент отказаться от использования Чат-бота.
      </p>

      <h3>4. ПРАВА И ОБЯЗАННОСТИ ОБЩЕСТВА</h3>
      <p>
        4.1. Чат-бот предоставляется «как есть» без каких-либо гарантий со стороны Общества.
        <br>
        4.2. Общество не несет ответственность за достоверность сведений, содержащихся в Сообщениях, направленных через Чат-бот.
        <br>
        4.3. Общество вправе в любое время вносить изменения в функциональные возможности Чат-бота.
        <br>
        4.4. Общество вправе в любой момент без предварительного уведомления Пользователя запретить доступ Пользователя к Чат-боту, закрыть Чат-бот для Пользователей.
        <br>
        4.5. Общество является правообладателем любой информации, которая предоставляется Чат-ботом в Сообщениях.
      </p>

      <h3>5. ПРАВА И ОБЯЗАННОСТИ ПОЛЬЗОВАТЕЛЯ</h3>
      <p>
        5.1. Пользователь вправе использовать информацию, полученную через Чат-бот, в личных целях.
        <br>
        5.2. Пользователь вправе использовать Чат-бот только в соответствии с действующим законодательством и настоящими Правилами.
        <br>
        5.3. Пользователь не вправе распространять, копировать, извлекать, изменять полученную через Чат-бот информацию без указания Общества, как правообладателя информации.
        <br>
        5.4. Присоединившись к настоящим Правилам, Пользователь дает свое согласие на размещение Обществом в Чат-боте сообщений рекламного характера.
      </p>

      <h3>6. ПРОЧИЕ УСЛОВИЯ</h3>
      <p>
        6.1. Общество вправе в любое время по своему усмотрению и без согласования с Пользователем вносить изменения в настоящие Правила. В таком случае, изменения и дополнения вступают в силу с момента их опубликования в Astras.
        <br>
        6.2. Использование Пользователем (а равно реализация Пользователем прав и обязанностей, установленных Правилами) после любых изменений в настоящие Правила означает согласие Пользователя с такими изменениями и/или дополнениями.
        <br>
        6.3. Если Пользователь не согласен использовать Чат-бот после внесения изменений в настоящие Правила и/или соответственно соблюдать настоящие Правила после изменений, то Пользователь обязуется прекратить использование Чат-бота.
        <br>
        6.4. Настоящие Правила, а также отношения между Пользователем и Общество, в том числе не урегулированные настоящими Правилами, регулируются в соответствии с действующим законодательством Российской Федерации.
        <br>
        6.5. В случае невозможности разрешения споров между Пользователем и Общество путем переговоров, они должны разрешаться в суде по месту государственной регистрации Общество в порядке, установленном действующим процессуальным законодательством Российской Федерации. При этом предъявление не позднее чем за 30 календарных дней до обращения в суд письменной претензии (требования) является обязательным.
      </p>
    </ng-container>
    <ng-container *nzModalFooter>
      <button (click)="handleClose()" nz-button nzType="primary">{{ t('okBtnText') }}</button>
    </ng-container>
  </nz-modal>
</ng-container>

