<ng-container *transloco="let t; scope: 'instruments/instrument-select-dialog'">
  <ng-container
    *ngrxLet="{selectParams: selectParams$} as vm"
    >
    <nz-modal
      [nzVisible]="vm.selectParams != null"
      [nzTitle]="t('instrumentsInstrumentSelectDialog.dialogTitle')"
      (nzOnCancel)="closeDialog()"
      [nzFooter]="null"
      nzDraggable
      >
      <ng-container *nzModalContent>
        <form [formGroup]="searchForm" class="search-form" nz-form>
          <nz-form-item>
            <nz-form-control
              [nzErrorTip]="instrumentNameError">
              <nz-input-group [nzPrefix]="prefixInstrumentName">
                <input [maxLength]="validationsOptions.instrumentName.maxLength"
                  formControlName="instrumentName"
                  nz-input
                  #instrumentNameControl
                  [placeholder]="t('instrumentsInstrumentSelectDialog.searchForm.instrumentName.placeholder')"/>
                <ng-template #prefixInstrumentName><span nz-icon nzType="search"></span></ng-template>

                <ng-template #instrumentNameError let-control>
                  @if (control.hasError('maxlength')) {
                    {{ t('validationErrors.stringMaxLength', {max: validationsOptions.instrumentName.maxLength}) }}
                  }
                </ng-template>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <div nz-row [nzGutter]="10">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-control>
                  <nz-select
                    [nzPlaceHolder]="t('form.exchange.label')"
                    formControlName="exchange"
                    nzAllowClear>
                    @for (exchange of exchanges$ | async; track exchange) {
                      <nz-option [nzLabel]="exchange"
                        [nzValue]="exchange" />
                    }
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-control>
                  <nz-select
                    formControlName="board"
                    nzAllowClear
                    nzShowSearch
                    nzPlaceHolder="{{ t('form.instrumentGroup.label') }}">
                    @for (board of boards$ | async; track board) {
                      <nz-option [nzLabel]="getBoardLabel(board)"
                        [nzValue]="board" />
                    }
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </form>

        <div>
          <ng-container *ngrxLet="searchState$ as searchState">
            <nz-spin [nzSpinning]="searchState.status === SearchStatuses.Loading">
              @if((searchState.status === SearchStatuses.Failed || searchState.status === SearchStatuses.Success)
                && (searchState.results == null || searchState.results.length === 0)) {
                <nz-empty [nzNotFoundContent]="t('instrumentsInstrumentSelectDialog.emptyResultsMessage')" nzNotFoundImage="simple" />
              }

              @if(searchState.status === SearchStatuses.Success && searchState.results != null && searchState.results.length > 0) {
                <ats-search-results-list [items]="searchState.results" />
              }
            </nz-spin>
          </ng-container>
        </div>
      </ng-container>
    </nz-modal>
  </ng-container>

</ng-container>
