ats-option-board-chart {
  .loading-indicator-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: color-mix(in srgb, var(--ats-disabled-color) 5%, transparent);
    z-index: var(--ats-zindex-modal);

    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }
}


