<ng-container *transloco="let t;">
  <ats-widget-skeleton
    *ngIf="settings$ | async as settings"
    [content]="contentRef"
    [header]="headerRef"
    [settings]="settingsRef"
    [isBlockWidget]="isBlockWidget"
    [showSettings]="shouldShowSettings"
    [showContentScroll]="true"
  >

    <ng-template #headerRef>
      <ats-widget-header
        (switchSettings)="onSettingsChange()"
        [guid]="guid"
        [hasHelp]="true"
        [hasSettings]="true"
        [linkToActive]="settings.linkToActive"
        [selectedBadgeColor]="settings.badgeColor"
        [showBadgesMenu]="(showBadge$ | async) ?? false"
        [widgetMeta]="widgetInstance.widgetMeta"
        [titleTemplate]="titleTemplate"
      ></ats-widget-header>

      <ng-template #titleTemplate>
        <ats-widget-header-instrument-switch [widgetGuid]="widgetInstance.instance.guid"></ats-widget-header-instrument-switch>
      </ng-template>
    </ng-template>

    <ng-template #contentRef>
      <ats-order-book [guid]="guid"></ats-order-book>
    </ng-template>
    <ng-template #settingsRef>
      <ats-orderbook-settings [guid]="guid" (settingsChange)="onSettingsChange()"></ats-orderbook-settings>
    </ng-template>
  </ats-widget-skeleton>

</ng-container>

