<ng-container *transloco="let t;">
  @if (widgetSettings | async; as settings) {
    <ats-widget-skeleton
      [content]="contentRef"
      [header]="headerRef"
      [isBlockWidget]="isBlockWidget()"
      [settings]="settingsRef"
      [showContentScroll]="true"
      [showSettings]="shouldShowSettings"
    >
      <ng-template #headerRef>
        <ats-widget-header (switchSettings)="onSettingsChange()"
                           [guid]="guid"
                           [hasSettings]="true"
                           [linkToActive]="settings.linkToActive ?? null"
                           [selectedBadgeColor]="settings.badgeColor"
                           [showBadgesMenu]="(showBadge$ | async) ?? false"
                           [titleTemplate]="titleTemplate"
                           [widgetMeta]="widgetInstance().widgetMeta"
        />
        <ng-template #titleTemplate>
          <ats-widget-header-instrument-switch [widgetGuid]="widgetInstance().instance.guid"/>
        </ng-template>
      </ng-template>
      <ng-template #contentRef>
        @if (orderbookSettings | async; as orderbookSettings) {
          <ats-order-book
            [settings]="orderbookSettings"
            (rowSelected)="createOrder($event.price)"
          />
        }
      </ng-template>
      <ng-template #settingsRef>
        <ats-orderbook-settings (settingsChange)="onSettingsChange()" [guid]="guid"/>
      </ng-template>
    </ats-widget-skeleton>
  }

</ng-container>

