<ng-container *transloco="let t; scope: 'dashboard/navbar/common'">
  <ng-container *ngrxLet="{portfolios: portfolios$, selectedPortfolio: selectedPortfolio$} as vm">
    @if (vm.selectedPortfolio != null) {
      <button
        class="dropdown-btn d-flex align-items-center"
        nz-button
        nz-dropdown
        nzSize="small"
        nzType="text"
        [nzDropdownMenu]="portfoliosDropdown"
        >
        <span>{{vm.selectedPortfolio.market}} {{vm.selectedPortfolio.portfolio}}</span>
        <nz-icon nzType="down" nzTheme="outline" class="arrow-icon"/>
      </button>
      <nz-dropdown-menu #portfoliosDropdown="nzDropdownMenu">
        <ul nz-menu class="portfolio-menu">
          <li>
            <input
              type="text"
              nz-input
              class="portfolio-search"
              [placeholder]="t('dashboardNavbarCommon.searchPortfolioPlaceholder')"
              [formControl]="searchControl"
            />
          </li>
          @for (kvp of vm.portfolios | keyvalue; track portfolioGroupsTrackByFn($index, kvp)) {
            <li nz-menu-item nzDisabled> {{kvp.key}} </li>
            @for (model of kvp.value; track portfoliosTrackByFn($index, model)) {
              @if (isFoundPortfolio(model)) {
                <li
                  nz-menu-item
                  (click)="changePortfolio(model)"
                >
                  {{model.market}} {{model.portfolio}}
                </li>
              }
            }
          }
        </ul>
      </nz-dropdown-menu>
    } @else {
      <span
        nz-typography
        nzType="danger"
        nz-popover
        nzPopoverPlacement="bottom"
        [nzPopoverContent]="emptyPortfolioPopover"
        >
        {{t('dashboardNavbarCommon.emptyPortfolioBtn')}}
      </span>
      <ng-template #emptyPortfolioPopover>
        <p>{{t('dashboardNavbarCommon.emptyPortfolioPopover')}}</p>
        @if(externalLinks?.personalAccount != null && externalLinks!.personalAccount!.length > 0) {
          <p>{{t('dashboardNavbarCommon.emptyPortfolioPopoverHint')}}
            <ats-external-link [href]="externalLinks?.personalAccount!">
              {{t('dashboardNavbarCommon.emptyPortfolioPopoverLink')}}
            </ats-external-link>
          </p>
        }
      </ng-template>
    }

  </ng-container>
</ng-container>







<ats-empty-portfolios-warning-modal [atsVisible]="showEmptyPortfoliosWarning" />
