<ng-container *transloco="let t; scope: 'order-commands'">
  <ng-container *transloco="let td; scope: 'order-commands/orders-dialog'">
    @if (currentPortfolio$ | async; as currentPortfolio) {
      @if (currentInstrument$ | async; as currentInstrument) {
        <nz-modal
          (nzAfterOpen)="setInitialTab()"
          (nzOnCancel)="closeDialog()"
          [nzFooter]="null"
          [nzTitle]="title"
          [nzVisible]="(dialogParams$ | async) !== null"
          nzClosable="false"
          nzMaskClosable="false"
          nzDraggable
          >
          <ng-container *nzModalContent>
            @if (dialogParams$ | async; as dialogParams) {
              <div nzResizeObserver (nzResizeObserve)="calculateTabSetHeight($event)">
                <div class="instrument-info">
                  <ats-instrument-info (priceSelected)="setCommonParameters({price: $event})"
                    (qtySelected)="setCommonParameters({quantity: $event})"
                    [currentPortfolio]="currentPortfolio"
                    [instrumentKey]="currentInstrument"
                     />
                </div>
                <div>
                  <nz-tabs #orderTabs nzSize="small" nzTabPosition="top" [style.max-height]="(tabSetHeight$ | async) + 'px'">
                    @if (ordersConfig) {
                      @if (ordersConfig.limitOrder.isSupported) {
                        <nz-tab
                          #limitOrderTab
                          [nzTitle]="t('orderCommands.limitOrderTabTitle')">
                          <ats-limit-order-form (submitted)="closeDialog()"
                            [activated]="limitOrderTab.isActive"
                            [initialValues]="dialogParams.initialValues"
                            [instrument]="currentInstrument"
                            [portfolioKey]="currentPortfolio"
                            [limitOrderConfig]="ordersConfig.limitOrder.orderConfig!"
                           />
                        </nz-tab>
                      }
                      @if (ordersConfig.marketOrder.isSupported) {
                        <nz-tab
                          #marketOrderTab
                          [nzTitle]="t('orderCommands.marketOrderTabTitle')">
                          <ats-market-order-form (submitted)="closeDialog()"
                            [activated]="marketOrderTab.isActive"
                            [instrument]="currentInstrument"
                            [portfolioKey]="currentPortfolio"
                            [initialValues]="dialogParams.initialValues"
                            [marketOrderConfig]="ordersConfig.marketOrder.orderConfig!"
                           />
                        </nz-tab>
                      }
                      @if (ordersConfig.stopOrder.isSupported) {
                        <nz-tab
                          #stopOrderTab
                          [nzTitle]="t('orderCommands.stopOrderTabTitle')">
                          <ats-stop-order-form (submitted)="closeDialog()"
                            [activated]="stopOrderTab.isActive"
                            [instrument]="currentInstrument"
                            [portfolioKey]="currentPortfolio"
                            [initialValues]="dialogParams.initialValues"
                           />
                        </nz-tab>
                      }
                      @if (pushNotificationsConfig.priceChangeNotifications.isSupported) {
                        <nz-tab
                          #notificationsTab
                          [nzTitle]="titleTemplate"
                          >
                          <ng-template #titleTemplate>
                            <span>
                              <span nz-icon nzTheme="outline" nzType="bell"></span>
                              <span class="pl-2">{{t('orderCommands.notificationsTabTitle')}}</span>
                            </span>
                          </ng-template>
                          <ats-setup-instrument-notifications [active]="notificationsTab.isActive"
                            [instrumentKey]="currentInstrument"
                            [initialValues]="dialogParams.initialValues"
                             />
                        </nz-tab>
                      }
                    }
                  </nz-tabs>
                </div>
              </div>
            }
          </ng-container>
        </nz-modal>
        <ng-template #title>
          <div class="title">
            <div>
              <h3 nz-typography>
                <span>{{t('orderCommandsOrdersDialog.dialogTitle')}}</span>
                <span>&nbsp;</span>
                <span>({{currentPortfolio.portfolio}}:{{currentInstrument.exchange}})</span>
              </h3>
            </div>
            <div class="right">
              <button (click)="closeDialog()" aria-label="Close" nz-button>
                <i [nzTheme]="'outline'" nz-icon nzType="close"></i>
              </button>
              <button
                nz-button
                aria-label="Help"
                >
                <a
                  class="help-link"
                  [href]="(helpUrl$ | async) ?? ''"
                  target="_blank"
                  >
                  <i [nzTheme]="'outline'" nz-icon nzType="question-circle"></i>
                </a>
              </button>
            </div>
          </div>
        </ng-template>
      }
    }
  </ng-container>
</ng-container>
