<ng-container *transloco="let t;">
  @if (settings$ | async; as settings) {
    <ats-widget-skeleton
      [content]="contentRef"
      [header]="headerRef"
      [settings]="settingsRef"
      [showSettings]="shouldShowSettings"
      [showContentScroll]="false"
      [isBlockWidget]="isBlockWidget()"
      >
      <ng-template #headerRef>
        @if (deviceInfo$ | async; as deviceInfo) {
          <ats-widget-header (switchSettings)="onSettingsChange()"
            [guid]="guid"
            [hasSettings]="!deviceInfo.isMobile"
            [linkToActive]="settings.linkToActive!"
            [selectedBadgeColor]="settings.badgeColor!"
            [showBadgesMenu]="(showBadge$ | async) ?? false"
            [widgetMeta]="widgetInstance().widgetMeta"
            [titleTemplate]="titleTemplate"
           />
        }
        <ng-template #titleTemplate>
          <ats-widget-header-instrument-switch [widgetGuid]="widgetInstance().instance.guid" />
        </ng-template>
      </ng-template>
      <ng-template #contentRef>
        <ats-option-board [guid]="guid" />
      </ng-template>
      <ng-template #settingsRef>
        <ats-option-board-settings (settingsChange)="onSettingsChange()" [guid]="guid" />
      </ng-template>
    </ats-widget-skeleton>
  }

</ng-container>

