@import "theme-mixin";

.themeMixin({
  :host {
    .header {
      .working-volumes {
        .working-volume-item {
          color: @working-volume-tag-color;
          border-color: @working-volume-tag-border-color;
          background-color: @working-volume-tag-background-color;

          &.active {
            color: @primary-color;
            border-color: @border-color-active;
            background-color: @background-color-active;
          }
        }
      }
    }

    .order-book-table-container {
      .ask-row:not(.filler-row) {
        .price-cell {
          color: @sell-color;
        }

        &.trade-row {
          &.best-row {
            background-color: fade(@sell-color, 20%);
          }
        }
      }

      .bid-row:not(.filler-row) {
        .price-cell {
          color: @buy-color;
        }

        &.trade-row {
          &.best-row {
            background-color: fade(@buy-color, 20%);
          }
        }
      }

      .spread-row {
        background-color: fade(@disabled-color, 7%);
      }

      .current-position-range-row {
        &.positive {
          .price-cell {
            background-color: fade(@buy-color, 15%);
          }
        }

        &.negative {
          .price-cell {
            background-color: fade(@sell-color, 15%);
          }
        }
      }
    }

    .footer {
      .position-state {
        .qty {
          &.positive {
            color: @buy-color;
          }

          &.negative {
            color: @sell-color;
          }
        }

        .loss-or-profit {
          &.positive {
            color: @buy-color;
          }

          &.negative {
            color: @sell-color;
          }
        }
      }
    }
  }
});


.container {
  display: flex;
  flex-direction: column;

  .header {
    padding-bottom: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .working-volumes {

      .working-volume-item {
        cursor: pointer;
      }
    }

    .auto-align-button {
      nz-tag {
        cursor: pointer;
      }
    }
  }

  .order-book-table-container {
    flex: 1;

    border: 1px dotted transparent;
    border-left: none;
    border-right: none;

    .row {
      td {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }

    .cancel-order-btn {
      margin-left: 0.5em;
    }
  }

  &.active {
    .order-book-table-container {
      border: 1px dotted rgba(0, 187, 255, 0.5);
      border-left: none;
      border-right: none;
    }
  }

  .footer {
    .position-state {
      display: flex;
      justify-content: center;

      font-size: larger;
      font-weight: bold;

      .qty {
        padding-left: 1em;
        padding-right: 1em;
      }
    }
  }
}
