@import (reference) '/src/styles.less';

.container {
  display: flex;
  flex-direction: column;

  .header {
    padding-bottom: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .working-volumes {

      .working-volume-item {
        cursor: pointer;
      }
    }

    .auto-align-button {
      nz-tag {
        cursor: pointer;
      }
    }
  }

  .order-book-table-container {
    flex: 1;

    .row {
      td {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }

    .hidden-row {
      display: none;
    }

    .ask-row {
      &.trade-row {
        .price-cell {
          color: @sell-color;
        }

        &.best-row {
          background-color: fade(@sell-color, 20%);
        }
      }
    }

    .bid-row {
      &.trade-row {
        .price-cell {
          color: @buy-color;
        }

        &.best-row {
          background-color: fade(@buy-color, 20%);
        }
      }
    }

    .spread-row {
      background-color: fade(@disabled-color, 7%);
    }

    .cancel-order-btn {
      margin-left: 0.5em;
    }
  }
}
