<ng-container *transloco="let t;">
  <ats-widget-skeleton
    *ngIf="settings$ | async as settings"
    [content]="content"
    [header]="header"
    [isBlockWidget]="isBlockWidget"
    [showContentScroll]="false"
  >

    <ng-template #header>
      <ats-widget-header
        [guid]="guid"
        [hasHelp]="true"
        [hasSettings]="false"
        [showBadgesMenu]="false"
        [titleText]="t('widgetHeaders.ExchangeRateSettings')"
        [titleIconTooltip]="t('widgetHeaders.ExchangeRateSettings')"
        helpRef="exchange-rate"
        titleIcon="line-chart"
      ></ats-widget-header>
    </ng-template>

    <ng-template #content>
      <ats-exchange-rate [guid]="guid"></ats-exchange-rate>
    </ng-template>
  </ats-widget-skeleton>

</ng-container>

