<ats-widget-settings
  (saveClick)="updateSettings()"
  (copyClick)="createWidgetCopy()"
  [canCopy]="canCopy"
  [canSave]="canSave"
  [showCopy]="showCopy"
>
  <ng-container *transloco="let t; scope: 'orders-basket/settings'">
    <form [formGroup]="form" [nzLayout]="'vertical'" nz-form>
      <nz-form-item class="one-row">
        <nz-form-label nzFor="showPresetsPanel">
          {{ t('ordersBasketSettings.showPresetsPanelLabel') }}
        </nz-form-label>
        <nz-form-control>
          <nz-switch formControlName='showPresetsPanel' />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</ats-widget-settings>
