<nz-layout>
  <ats-navbar></ats-navbar>
  <ats-terminal-settings-widget></ats-terminal-settings-widget>
  <ats-news-modal-widget></ats-news-modal-widget>
  <ats-feedback-widget></ats-feedback-widget>
  <ats-application-updated-widget></ats-application-updated-widget>
  <ats-orders-dialog-widget></ats-orders-dialog-widget>
  <ats-edit-order-dialog-widget></ats-edit-order-dialog-widget>
  <ats-empty-portfolios-warning-modal-widget></ats-empty-portfolios-warning-modal-widget>
  <ats-settings-load-error-dialog [visible]="showSettingsLoadDialog"></ats-settings-load-error-dialog>
  <nz-content>
    <ats-dashboard></ats-dashboard>
  </nz-content>
  <!-- <nz-footer></nz-footer> -->
</nz-layout>
