<nz-layout>
  <ats-navbar></ats-navbar>
  <ats-command-widget></ats-command-widget>
  <ats-edit-widget></ats-edit-widget>
  <ats-help-widget></ats-help-widget>
  <ats-terminal-settings-widget></ats-terminal-settings-widget>
  <ats-news-modal-widget></ats-news-modal-widget>
  <ats-feedback-widget></ats-feedback-widget>
  <ats-application-updated-widget></ats-application-updated-widget>
  <ats-arbitration-extension-modal-widget></ats-arbitration-extension-modal-widget>
  <nz-content>
    <ats-dashboard></ats-dashboard>
  </nz-content>
  <!-- <nz-footer></nz-footer> -->
</nz-layout>
