@import "theme-mixin";

::ng-deep {
  .themeMixin({
    .mobile-notifications-btn {
      padding-left: 0;
      color: @heading-color;
    }
  })
}

:host::ng-deep nz-badge-sup {
  box-shadow: none;
}

::ng-deep .ant-popover-inner-content {
  padding: 8px;
}

.dialog-title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  button {
    margin-right: -10px;
    border: none;
    opacity: 0.5;
  }
}
