<nz-badge
  [(nzPopoverVisible)]="isTableVisible"
  [nzCount]="(notReadNotificationsCount$ | async) || 0"
  [nzOffset]="[-2, 10]"
  [nzPopoverContent]="contentTemplate"
  [nzPopoverTitle]="titleTemplate"
  nz-popover
  nzPopoverPlacement="bottomRight"
  nzPopoverTrigger="click"
>
  <button nz-button [nzType]="'text'">
    <i nz-icon nzType="ats-bell"></i>
  </button>
</nz-badge>

<ng-template #titleTemplate>
  <div class="dialog-title" *transloco="let t; scope: 'notifications'">
    <div>
      <h3>{{t('notifications.header')}}</h3>
    </div>
    <div>
      <button (click)="isTableVisible = false" aria-label="Close" nz-button>
        <i [nzTheme]="'outline'" nz-icon nzType="close"></i>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #contentTemplate>
  <ats-notifications-list />
</ng-template>
