<ats-widget-settings
  [canSave]="canSave"
  [canCopy]="canCopy"
  [showCopy]="showCopy"
  (saveClick)="updateSettings()"
  (copyClick)="createWidgetCopy()"
>
  <ng-container *transloco="let t">
  <form [formGroup]="form" [nzLayout]="'vertical'" nz-form>
    <nz-form-item>
      <nz-form-label nzFor="instrument" nzRequired>{{t('form.ticker.label')}}</nz-form-label>
      <nz-form-control [nzErrorTip]="t('form.ticker.commonError')">
        <ats-instrument-search (instrumentSelected)="instrumentSelected($event)"
                               formControlName="instrument" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="exchange" nzRequired>{{t('form.exchange.label')}}</nz-form-label>
      <nz-form-control>
        <input nz-input type="text" [value]="form.value.instrument?.exchange" disabled/>
      </nz-form-control>
    </nz-form-item>
    <nz-collapse [nzBordered]="false" nzGhost>
      <nz-collapse-panel [nzHeader]="t('advancedHeader')">
        <nz-form-label nzFor="instrumentGroup">{{t('form.instrumentGroup.label')}}</nz-form-label>
        <nz-form-control [nzErrorTip]="t('form.instrumentGroup.commonError')">
          <ats-instrument-board-select [instrument]="form.value.instrument ?? null"
            [placeholder]="t('form.ticker.label')"
            formControlName="instrumentGroup" />
        </nz-form-control>
      </nz-collapse-panel>
    </nz-collapse>
  </form>
</ng-container>
</ats-widget-settings>
