<ng-container *transloco="let t">
  <p>{{t('settingsHeader')}}</p>
  <div *ngIf="form">
    <form (ngSubmit)="submitForm()" [formGroup]="form" [nzLayout]="'vertical'" nz-form>
      <nz-form-item>
        <nz-form-label nzFor="instrument" nzRequired>{{t('form.ticker.label')}}</nz-form-label>
        <nz-form-control [nzErrorTip]="t('form.ticker.commonError')">
          <ats-instrument-search (instrumentSelected)="instrumentSelected($event)"
                                 formControlName="instrument"></ats-instrument-search>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="exchange" nzRequired>{{t('form.exchange.label')}}</nz-form-label>
        <nz-form-control>
          <input class='ant-input' formControlName='exchange'>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-collapse [nzBordered]="false" nzGhost>
          <nz-collapse-panel [nzHeader]="t('advancedHeader')">
            <nz-form-label nzFor="instrumentGroup">{{t('form.instrumentGroup.label')}}</nz-form-label>
            <nz-form-control [nzErrorTip]="t('form.instrumentGroup.commonError')">
              <ats-instrument-board-select
                [instrument]="form.value?.instrument ?? null"
                [placeholder]="t('form.ticker.label')"
                formControlName="instrumentGroup">
              </ats-instrument-board-select>
            </nz-form-control>
          </nz-collapse-panel>
        </nz-collapse>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button [disabled]="!form.valid" nz-button nzType="primary" type='submit'>{{t('saveBtnText')}}</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</ng-container>
