<div *ngIf="currentInstrumentWithPortfolio$ | async as currentInstrumentWithPortfolio">
  <!--use ngFor to completely rerender component when instrument changed-->
  <ng-container *ngFor="let currentInstrumentWithPortfolio of [currentInstrumentWithPortfolio]">
    <div class="header">
      <div nz-row>
        <div nz-col nzSpan="9">
          <label class="portfolio">{{currentInstrumentWithPortfolio.portfolio}} ({{currentInstrumentWithPortfolio.instrument.exchange}})</label>
        </div>
        <ng-container *ngIf="priceData$ | async as priceData">
          <div nz-col nzSpan="7">
            <label>Ask: </label>
            <span class="selectable sell" (click)="selectPrice(priceData.ask)">{{priceData.ask}}</span>
          </div>
          <div nz-col nzSpan="8">
            <label>Bid: </label>
            <span class="selectable buy" (click)="selectPrice(priceData.bid)">{{priceData.bid}}</span>
          </div>
        </ng-container>
      </div>
      <div nz-row *ngIf="positionInfo$ | async as positionInfo" class="position-row">
        <div nz-col>
          <nz-badge
            nzStandalone
            [nzCount]="positionInfo.abs"
            [nzOverflowCount]="1000000000"
            class="position-badge"
            [class]="positionInfo.quantity > 0 ? 'long' : 'short'"
          ></nz-badge>
          <span>Позиций по бумаге</span>
        </div>
      </div>
    </div>
    <div class="body">
      <nz-tabset nzSize="small" nzTabPosition="top" [nzSelectedIndex]="selectedTabIndex$ | async">
        <nz-tab #limitTab (nzSelect)="setSelectedCommandType(orderTypes.LimitOrder)" nzTitle="Лимитная">
          <ats-limit-order-form (formValueChange)="setLimitOrderValue($event)"
                                [instrument]="currentInstrumentWithPortfolio.instrument"
                                [initialValues]="initialValues$ | async"
                                [activated]="limitTab.isActive"
          ></ats-limit-order-form>
        </nz-tab>
        <nz-tab #marketTab (nzSelect)="setSelectedCommandType(orderTypes.MarketOrder)" nzTitle="Рыночная">
          <ats-market-order-form (formValueChange)="setMarketOrderValue($event)"
                                 [activated]="marketTab.isActive"
                                 [instrument]="currentInstrumentWithPortfolio.instrument"></ats-market-order-form>
        </nz-tab>
        <nz-tab #stopTab (nzSelect)="setSelectedCommandType(orderTypes.StopOrder)" nzTitle="Условная">
          <ats-stop-order-form (formValueChange)="setStopOrderValue($event)"
                               [instrument]="currentInstrumentWithPortfolio.instrument"
                               [initialValues]="initialValues$ | async"
                               [activated]="stopTab.isActive"
          ></ats-stop-order-form>
        </nz-tab>
      </nz-tabset>
    </div>
  </ng-container>
  <div class="footer">
    <button
      (click)="submitOrder(orderSides.Buy)"
      [disabled]="(canSubmitOrder$ | async) === false"
      [nzLoading]="(buyButtonLoading$ | async)"
      class='buy-button'
      nz-button
      nzSize="large">Купить
    </button>
    <button
      (click)="submitOrder(orderSides.Sell)"
      [disabled]="(canSubmitOrder$ | async) === false"
      [nzLoading]="(sellButtonLoading$ | async)"
      class='sell-button'
      nz-button
      nzSize="large">Продать
    </button>
  </div>
</div>
