@import "theme-mixin";

.themeMixin({
  :host {
    .header {
      .sell {
        color: @sell-color;
      }

      .buy {
        color: @buy-color;
      }

      label {
        color: @heading-color;
      }
    }

    ::ng-deep {
      .long nz-badge-sup {
        background: @buy-color;
      }

      .short nz-badge-sup {
        background: @sell-color;
      }
    }

    .footer {
      .ant-btn {
        color: white;

        &[disabled] {
          border: none;
        }
      }

      .buy-button {
        width: 50%;
        background: @buy-color;

        &[disabled] {
          color: @buy-color-disabled;
          background: @buy-color-background-disabled;
        }

        &:hover:not([disabled]) {
          border-color: fade(@buy-color, 20%);
          background: fade(@buy-color, 90%);
        }
      }

      .sell-button {
        width: 50%;
        background: @sell-color;

        &[disabled] {
          color: @sell-color-disabled;
          background: @sell-color-background-disabled;
        }

        &:hover:not([disabled]) {
          border-color: fade(@sell-color, 20%);
          background: fade(@sell-color, 90%);
        }
      }
    }
  }
});


@margin: 8px;

.header {
  .selectable {
    cursor: pointer;
    text-decoration: underline;
  }
}

.body {
  margin-top: @margin;
}

.footer {
  margin-top: @margin;
  display: flex;
  gap: 6px;

  .ant-btn {
    flex-grow: 1;
    border-radius: 4px;
  }
}

:host {
  ::ng-deep {
    .position-badge {
      font-size: 14px;
      margin-right: 10px;

      .ant-scroll-number-only-unit {
        font-weight: 600;
      }
    }
  }
}
