<ng-container *transloco="let t; scope: 'order-submit/order-submit'">
  <ng-container *ngIf="settings$ | async as settings">
    <div *ngIf="currentInstrumentWithPortfolio$ | async as currentInstrumentWithPortfolio">
      <!--use ngFor to completely rerender component when instrument changed-->
        <div class="header">
          <div nz-row class="instrument-info">
            <div nz-col>
              <label class="portfolio">{{currentInstrumentWithPortfolio.portfolio}} ({{currentInstrumentWithPortfolio.instrument.exchange}})</label>
            </div>
            <ng-container *ngIf="positionInfo$ | async as positionInfo">
              <div
                nz-tooltip
                [nzTooltipTitle]="t('orderSubmitOrderSubmit.positionTooltip')"
                nz-col
                nzSpan="3"
                *ngIf="positionInfo.abs"
              >
                <span
                  class="position-badge"
                  [class]="positionInfo.quantity > 0 ? 'long' : 'short'"
                  (click)="setInitialValues(undefined ,positionInfo.abs)"
                >
                  {{positionInfo.abs}}
                </span>
              </div>
            </ng-container>
            <ng-container *ngIf="priceData$ | async as priceData">
              <div nz-col>
                <label>Ask: </label>
                <span class="selectable sell" (click)="setInitialValues(priceData.ask)">{{priceData.ask}}</span>
              </div>
              <div nz-col>
                <label>Bid: </label>
                <span class="selectable buy" (click)="setInitialValues(priceData.bid)">{{priceData.bid}}</span>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="body">
            <nz-tabset nzSize="small" nzTabPosition="top" [nzSelectedIndex]="selectedTabIndex$ | async">
              <nz-tab #limitTab (nzSelect)="setSelectedCommandType(orderTypes.LimitOrder)" [nzTitle]="t('orderSubmitOrderSubmit.limitTab')">
                <div *ngIf="settings.showVolumePanel" class="working-volumes-panel">
                  <ats-working-volumes
                    [workingVolumes]="settings.workingVolumes"
                    [ask]="(currentAskBid$ | async)?.ask ?? null"
                    [bid]="(currentAskBid$ | async)?.bid ?? null"
                    (itemSelected)="setInitialValues($event.price, $event.volume, orderTypes.LimitOrder)"
                  >
                  </ats-working-volumes>
                </div>
                <ats-limit-order-form (formValueChange)="setLimitOrderValue($event)"
                                      [instrument]="currentInstrumentWithPortfolio.instrument"
                                      [initialValues]="initialValues$ | async"
                                      [activated]="limitTab.isActive"
                ></ats-limit-order-form>
              </nz-tab>
              <nz-tab #marketTab (nzSelect)="setSelectedCommandType(orderTypes.MarketOrder)" [nzTitle]="t('orderSubmitOrderSubmit.marketTab')">
                <ats-market-order-form (formValueChange)="setMarketOrderValue($event)"
                                       [activated]="marketTab.isActive"
                                       [initialValues]="initialValues$ | async"
                                       [instrument]="currentInstrumentWithPortfolio.instrument"
                ></ats-market-order-form>
              </nz-tab>
              <nz-tab #stopTab (nzSelect)="setSelectedCommandType(orderTypes.StopOrder)" [nzTitle]="t('orderSubmitOrderSubmit.stopTab')">
                <ats-stop-order-form (formValueChange)="setStopOrderValue($event)"
                                     [instrument]="currentInstrumentWithPortfolio.instrument"
                                     [initialValues]="initialValues$ | async"
                                     [activated]="stopTab.isActive"
                ></ats-stop-order-form>
              </nz-tab>
            </nz-tabset>
        </div>
      <div class="footer">
        <button
          (click)="submitOrder(orderSides.Buy)"
          [disabled]="(canSubmitOrder$ | async) === false"
          [nzLoading]="(buyButtonLoading$ | async)"
          class='buy-button'
          nz-button
          nzSize="large">
          {{t('orderSubmitOrderSubmit.buyBtnText')}}
        </button>
        <button
          (click)="submitOrder(orderSides.Sell)"
          [disabled]="(canSubmitOrder$ | async) === false"
          [nzLoading]="(sellButtonLoading$ | async)"
          class='sell-button'
          nz-button
          nzSize="large">
          {{t('orderSubmitOrderSubmit.sellBtnText')}}
        </button>
      </div>
      <div class="addons">
        <ng-container *ngIf="settings.enableLimitOrdersFastEditing && selectedOrderType=== orderTypes.LimitOrder">
          <ng-container *ngIf="activeLimitOrders$ | async as activeLimitOrders">
            <div id="limit-orders-price-change-buttons">
              <div class="buttons-group buy">
                <ats-limit-order-price-change
                  [disabled]="!hasOrdersWithSide(activeLimitOrders, orderSides.Buy)"
                  [steps]="settings.limitOrderPriceMoveSteps"
                  [disabledTooltip]="t('orderSubmitOrderSubmit.noBuyOrdersTooltip')"
                  (stepClick)="updateLimitOrdersPrice($event, orderSides.Buy)"
                >
                </ats-limit-order-price-change>
              </div>
              <div class="buttons-group sell">
                <ats-limit-order-price-change
                  [disabled]="!hasOrdersWithSide(activeLimitOrders, orderSides.Sell)"
                  [steps]="settings.limitOrderPriceMoveSteps"
                  [disabledTooltip]="t('orderSubmitOrderSubmit.noSellOrdersTooltip')"
                  (stepClick)="updateLimitOrdersPrice($event, orderSides.Sell)"
                >
                </ats-limit-order-price-change>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>
