@import 'theme-mixin';

.themeMixin({
  .ats-idea-details {
    .selected {
      background-color: fade(@select-item-selected-bg, 50);
      border-radius: 5px;
    }

    .content {
      .ant-typography-expand {
        color: @primary-color;
      }
    }
  }
});

.ats-idea-details {
  .content {
    white-space: pre-wrap;
  }
}
