@let idea = displayIdea();

<nz-modal
  (nzOnCancel)="close()"
  [nzAutofocus]="null"
  [nzClosable]="false"
  [nzContent]="content"
  [nzFooter]="null"
  [nzMaskClosable]="true"
  [nzTitle]="modalTitle"
  [nzVisible]="displayIdea() !== null"
  nzClassName="full-screen ats-idea-details"
>
</nz-modal>

<ng-template #content>
  @if (idea != null) {
    <p nz-typography nzEllipsis nzExpandable [nzEllipsisRows]="5">{{ idea.body }}</p>

    <div class="d-flex flex-column flex-gap-10">

      @let items = ideaSymbols();
      @let selectedItem = selectedTicker$ | async;

      @for (item of items; track item) {
        <div
          class="d-flex flex-row flex-nowrap flex-gap-10 align-items-center justify-content-between p-5"
          [class.selected]="isTickerEquals(item, selectedItem)"
          (click)="selectedTicker$.next(item)"
        >
          <div class="d-flex flex-row justify-content-start flex-nowrap align-items-center flex-gap-5">
            <ats-instrument-icon [symbol]="item.ticker" size="large"></ats-instrument-icon>
            <div class="d-flex flex-column">
              <span nz-typography nzEllipsis class="heading-color" *ngrxLet="item.instrument$ as instrument">
                @if (instrument != null) {
                  {{ instrument.shortName }}
                } @else {
                  {{ item.ticker }}
                }
              </span>
              <span nz-typography nzEllipsis>{{ item.ticker }}</span>
            </div>
          </div>

          <div class="d-flex flex-column align-items-end" *ngrxLet="item.priceInfo$ as priceInfo">
            @if (priceInfo != null) {
              <span class="heading-color">{{ priceInfo.lastPrice }}</span>
              <span
                [ngClass]="{
                  'positive-color': priceInfo.dayChangePercent >= 0,
                  'negative-color': priceInfo.dayChangePercent < 0
                  }"
              >
                  @if (priceInfo.dayChangePercent > 0) {
                    <span>+</span>
                  }

                <span>{{ priceInfo.dayChangePercent }}%</span>
                </span>
            }
          </div>
        </div>
      }
    </div>

    @if (selectedItem != null) {
      <div class="mt-15">
        <div>
          <ats-submit-order-for-symbol [symbol]="selectedItem"></ats-submit-order-for-symbol>
        </div>
      </div>
    }
  }
</ng-template>

<ng-template #modalTitle>
  <span (click)="close()" class="mr-10">
    <nz-icon nzTheme="outline" nzType="arrow-left"/>
  </span>
  <span>{{ idea?.title }}</span>
</ng-template>

