@import "theme-mixin";

.themeMixin({
  :host {
    .ant-btn {
      color: white;
      flex-grow: 1;
      border-radius: 4px;
      width: 100%;
    }

    .buy-button {
      background: @buy-color;
      &:hover {
        border-color: fade(@buy-color, 20%);
        background: fade(@buy-color, 90%);
      }
    }

    .sell-button {
      background: @sell-color;
      &:hover {
        border-color: fade(@sell-color, 20%);
        background: fade(@sell-color, 90%);
      }
    }
  }
});

.buttons-wrapper {
  width: 100%;
  display: flex;
  gap: 6px;
  margin-top: 15px;
}
