<div class="buttons-wrapper" *transloco="let t; scope: 'command'">
  <button
    (click)="buy()"
    [disabled]="isButtonsLocked || (command$ | async) === null"
    [nzLoading]="isBuyButtonLoading"
    class='buy-button'
    nz-button
    nzSize="large"
  >
    {{t('command.buyBtnText')}}
  </button>
  <button
    (click)="sell()"
    [disabled]="isButtonsLocked || (command$ | async) === null"
    [nzLoading]="isSellButtonLoading"
    class='sell-button'
    nz-button
    nzSize="large"
  >
    {{t('command.sellBtnText')}}
  </button>
</div>
