<ats-widget-settings
  (copyClick)="createWidgetCopy()"
  (saveClick)="updateSettings()"
  [canCopy]="canCopy"
  [canSave]="canSave"
  [showCopy]="showCopy"
>
  <ng-container *transloco="let t; scope: 'market-trends/settings'">
    <form [formGroup]="form" [nzLayout]="'horizontal'" nz-form>
      <nz-form-item>
        <nz-form-control>
          <nz-form-label nzFor="itemsCount" nzRequired>{{ t('marketTrendsSettings.itemsCountLabel') }}
          </nz-form-label>
          <nz-slider
            [nzMarks]="marks"
            [nzMax]="validation.itemsCount.max"
            [nzMin]="validation.itemsCount.min"
            [nzStep]="1"
            formControlName="itemsCount"
          >
          </nz-slider>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="itemsCount">{{ t('marketTrendsSettings.displaySectorsLabel') }}
        </nz-form-label>
        <nz-form-control>
          <nz-select
            [nzAllowClear]="true"
            [nzMaxTagCount]="10"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            [nzPlaceHolder]="t('placeholders.selectValue')"
            formControlName="displaySectors"
            nzMode="multiple"
          >
            @let availableSectors = (settings$ | async)?.availableSectors ?? allSectors;
            @for(item of availableSectors; track item) {
              <nz-option
                [nzLabel]="t('marketSectors.' + item, {fallback: item})"
                [nzValue]="item"
              >
              </nz-option>
            }

          </nz-select>
        </nz-form-control>
      </nz-form-item>

      @let availableExtendedFilters = (settings$ | async)?.availableExtendedFilters ?? allExtendedFilters;
      @if (availableExtendedFilters.length > 0) {
        <nz-form-item>
          <nz-form-label nzFor="itemsCount">{{ t('marketTrendsSettings.displayExtendedFiltersLabel') }}
          </nz-form-label>
          <nz-form-control>
            <nz-select
              [nzAllowClear]="true"
              [nzMaxTagCount]="10"
              [nzMaxTagPlaceholder]="tagPlaceHolder"
              nzMode="multiple"
              [nzPlaceHolder]="t('placeholders.selectValue')"
              formControlName="extendedFilter"
            >
              <ng-container *transloco="let tMarketTrends; scope: 'market-trends/market-trends'">
                @for(item of availableExtendedFilters; track item) {
                  <nz-option
                    [nzLabel]="tMarketTrends('marketTrendsMarketTrends.extendedFilter.' + item, {fallback: item})"
                    [nzValue]="item"
                  >
                  </nz-option>
                }

              </ng-container>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      }
    </form>

    <ng-template #tagPlaceHolder let-selectedList>{{ t('maxTagPlaceholder', {count: selectedList.length}) }}
    </ng-template>
  </ng-container>
</ats-widget-settings>
