<div *ngIf="!shouldShowSettings">
  <div *ngIf="(ob$ | async) as ob" [ngStyle]="sizes | async">
    <ats-orderbook-chart [guid]='guid' [chartData]="ob.chartData"></ats-orderbook-chart>
    <nz-table *ngIf="shouldShowTable$ | async" #basicTable [nzData]="ob.rows" nzSize="small" [nzFrontPagination]="false">
      <thead>
        <tr>
          <th [nzWidth]="'20px'">Vol</th>
          <th nzAlign="right">Bid</th>
          <th>Ask</th>
          <th [nzWidth]="'20px'">Vol</th>
        </tr>
      </thead>
      <tbody (click)="newLimitOrder($event, 0)">
        <tr *ngFor='let row of basicTable.data; trackBy: getTrackKey'>
          <ng-container *ngIf="row.bid ?? 0 > 0; else zeroBid">
            <td class='row-cell' [ngStyle]="{background: 'unset'}" (click)="newLimitOrder($event, row.bid ?? 0)">
              <button *ngIf='row.bidCancels && row.bidOrderVolume' nzSize="small" nz-button nzType="primary"
                      (click)="cancelOrder($event, row.bidCancels)">
                <i *ngIf='row.bidOrderVolume' nz-icon nzType="close-square" nzTheme="outline"></i>
                {{row.bidOrderVolume}}
              </button>
              <span class="cell-value">
                {{row.bidVolume}}
              </span>
            </td>
            <td *ngIf="(shouldShowYield$ | async) === false"
              class='row-cell--bid'
              (click)="newLimitOrder($event, row.bid ?? 0)"
              [ngStyle]='getBidStyle(row.bidVolume ?? 0)'>
              {{row.bid}}
            </td>
            <td *ngIf="(shouldShowYield$ | async) === true"
              class='row-cell--bid'
              (click)="newLimitOrder($event, row.bid ?? 0)"
              [ngStyle]='getBidStyle(row.bidVolume ?? 0)'>
              {{row.yieldBid}}
            </td>
          </ng-container>
          <ng-template #zeroBid>
            <td [ngStyle]="{background: 'unset'}" colspan="2"></td>
          </ng-template>

          <ng-container *ngIf="row.ask ?? 0 > 0; else zeroAsk">
            <td *ngIf="(shouldShowYield$ | async) === false"
              class='row-cell--ask'
              (click)="newLimitOrder($event, row.ask ?? 0)"
              [ngStyle]='getAskStyle(row.askVolume ?? 0)'>
              {{row.ask}}
            </td>
            <td *ngIf="(shouldShowYield$ | async) === true"
              class='row-cell--ask'
              (click)="newLimitOrder($event, row.ask ?? 0)"
              [ngStyle]='getAskStyle(row.askVolume ?? 0)'>
              {{row.yieldAsk}}
            </td>
            <td [ngStyle]="{background: 'unset'}" class='row-cell' nzAlign='right' (click)="newLimitOrder($event, row.ask ?? 0)">
              <span class="cell-value">
                {{row.askVolume}}
              </span>
              <button *ngIf='row.askCancels && row.askOrderVolume' nzSize="small" nz-button nzType="primary"
                      (click)="cancelOrder($event, row.askCancels)">
                {{row.askOrderVolume}}
                <i *ngIf='row.askOrderVolume' nz-icon nzType="close-square" nzTheme="outline"></i>
              </button>
            </td>
          </ng-container>
          <ng-template #zeroAsk>
            <td [ngStyle]="{background: 'unset'}" colspan="2"></td>
          </ng-template>
        </tr>
      </tbody>
    </nz-table>

  </div>
</div>
