@import (multiple) '../../../node_modules/ng-zorro-antd/src/style/themes/dark';
@import './base';

// header layout
@layout-header-color: #E2E5E9;
@layout-header-background: #141922;

// body layout
@heading-color: @layout-header-color;
@body-background: #070C14;
@layout-body-background: @body-background;

// ----components----
@component-background: #141922;
@title-icon-color: #00bbff;

@primary-color: #1890FF;
@info-color: @primary-color;
@warning-color: #FFA200;
@error-color: #FF2E39;
@highlight-color: @error-color;
@processing-color: @blue-6;

@text-color: #97A4BB;
@text-color-secondary: @text-color;
@text-color-secondary-dark: @text-color;

@background-color-light: #1E222A;
@descriptions-bg: @background-color-light;

@table-header-bg: @component-background;

@dropdown-menu-bg: @component-background;
@select-dropdown-bg: @component-background;
@popover-bg: @component-background;
@modal-content-bg: @component-background;
@modal-header-bg: @component-background;
@item-hover-bg: @background-color-light;


@border-color-base: #272E3B;
@border-color-split: @border-color-base;

// custom variable
@border-color-active: #004280;
// custom variable
@background-color-active: #152B43;

@icon-color-hover: @primary-color;
@link-color: @text-color;
@link-hover-color: @primary-color;

@btn-disable-bg: @component-background;
@btn-disable-border: #747C8B;

// custom variable
@tag-background: #323743;

// ----------------------

// ----application variables----
@sell-color: rgba(209, 38, 27, 1);
@sell-color-background: rgba(209, 38, 27, 0.4);
@buy-color: rgba(0, 155, 99, 1);
@buy-color-background: rgba(0, 155, 99, 0.4);

@link-to-active-btn-color: @primary-color;

@working-volume-tag-background-color: @component-background;
@working-volume-tag-color: @text-color;
@working-volume-tag-border-color: @border-color-base;

@scrollbar-color: @text-color-secondary;
// ----------------------


