@import (multiple) '../../../node_modules/ng-zorro-antd/src/style/themes/dark';
@import './base';

//colors
@primary-color: #1890FF;
@info-color: @primary-color;
@warning-color: #FFA200;
@error-color: #FF2E39;
@highlight-color: @error-color;
@processing-color: @blue-6;

@icon-color-hover: @primary-color;

@body-background: #070C14;
@component-background: #141922;
@layout-body-background: @body-background;
@layout-header-background: @component-background;

@heading-color: #E2E5E9;
@text-color: #97A4BB;
@text-color-secondary: @text-color;
@text-color-secondary-dark: @text-color;
@text-color-inverse: #FFFFFF;
@text-color-dark: #FFFFFF;
@text-selection-bg: #FFFFFF;

@border-color-base: #272E3B;
@border-color-split: #272E3B;

@link-color: @text-color;
@link-hover-color: @primary-color;

@sell-color: rgba(209, 38, 27, 1);
@sell-color-background: rgba(209, 38, 27, 0.4);

@buy-color: #009B63;
@buy-color-background: rgba(0, 141, 99, 0.4);

@link-to-active-btn-color: lightgreen;

@title-icon-color: #00bbff;
@title-text-color: #E2E5E9;

@table-header-bg: #141922;
