@import (multiple) '../../../node_modules/ng-zorro-antd/src/style/themes/compact';
@import './base';

@sell-color: rgba(239,83,80, 1);
@sell-color-background: rgba(239,83,80, 0.4);

@buy-color: rgba(38,166,154, 1);
@buy-color-background: rgba(38,166,154, 0.4);

@link-to-active-btn-color: #f94adc;

@title-icon-color: #0065ff;
