<ng-container *transloco="let t; scope: 'dashboard/network-indicator'">
  @if ((networkStatus$ | async); as status) {
    <div class="d-flex  justify-content-center align-items-center">
      <ng-container *ngrxLet="lastDelay$ as lastDelay">
        <span
          class="pr-3 user-select-none"
          nz-typography
          [nzType]="lastDelay.color"
          nz-tooltip
          [nzTooltipTitle]="t('dashboardNetworkIndicator.requestDelayDescription')"
          >
          {{ lastDelay.delaySec | number: '1.1-2'}}
        </span>
      </ng-container>
      <span
        [ngClass]="{
      'online': status === statuses.Online,
      'offline': status === statuses.Offline
      }"
        [nzTooltipTitle]="tooltip"
        class="icon-wrapper"
        nz-tooltip
        >
        <i nz-icon nzTheme="outline" nzType="wifi"></i>
        <ng-template #tooltip>
          @if (status === statuses.Online) {
            <span>{{t('dashboardNetworkIndicator.onlineDescription')}}</span>
          }
          @if (status === statuses.Offline) {
            <span>{{t('dashboardNetworkIndicator.offlineDescription')}}</span>
          }
        </ng-template>
      </span>
    </div>
  }
</ng-container>
