<ng-container *transloco="let t; scope: 'terminal-settings/scalper-mouse-actions-form'">
  @if (form) {
    <form [formGroup]="form" [nzLayout]="'horizontal'" nz-form>
      <nz-form-item>
        <nz-form-label nzFor="mapName" nzRequired>{{t('terminalSettingsScalperMouseActionsForm.mapNameLabel')}}</nz-form-label>
        <nz-form-control [nzErrorTip]="t('terminalSettingsScalperMouseActionsForm.selectValueError')">
          <nz-select [nzPlaceHolder]="t('terminalSettingsScalperMouseActionsForm.mapNameLabel')"
            formControlName="mapName">
            @for (scheme of availableDefaultSchemes; track scheme) {
              <nz-option [nzLabel]="t('terminalSettingsScalperMouseActionsForm.schemes.' + scheme)"
              [nzValue]="scheme" />
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      @if (form.getRawValue().mapName && form.value.actions!; as schemeActions) {
        <nz-table
          atsTableRowHeight
          nzTemplateMode
          nzBordered
          >
          <thead>
            <tr>
              <th>{{t('terminalSettingsScalperMouseActionsForm.schemeDescription.buttonLabel')}}</th>
              <th>{{t('terminalSettingsScalperMouseActionsForm.schemeDescription.modifierLabel')}}</th>
              <th>{{t('terminalSettingsScalperMouseActionsForm.schemeDescription.sideLabel')}}</th>
              <th>{{t('terminalSettingsScalperMouseActionsForm.schemeDescription.actionLabel')}}</th>
            </tr>
          </thead>
          <tbody>
            @for (action of schemeActions; track action) {
              <tr>
                <td>{{t('terminalSettingsScalperMouseActionsForm.schemeDescription.buttons.' + action.button)}}</td>
                <td>{{action.modifier ? t('terminalSettingsScalperMouseActionsForm.schemeDescription.modifiers.' + action.modifier) : ''}}</td>
                <td>{{t('terminalSettingsScalperMouseActionsForm.schemeDescription.sides.' + action.orderBookRowType)}}</td>
                <td>{{t('terminalSettingsScalperMouseActionsForm.schemeDescription.actions.' + action.action)}}</td>
              </tr>
            }
          </tbody>
        </nz-table>
      }
    </form>
  }
</ng-container>
