atsd-ai-chat-chat-suggested-message-container {
  display: flex;
  flex-direction: row-reverse;
  animation: flyIn 200ms ease-out;

  @keyframes flyIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .content-body {
    cursor: pointer;
    opacity: 0.65;
    border-radius: 8px 0 8px 8px;
    border: 1px solid var(--ats-btn-default-border);
    padding: 5px;

    &:hover {
      opacity: 1;
    }

    background-color: var(--ats-btn-primary-bg);
    color: var(--ats-btn-primary-color);
  }
}
