<ng-container *transloco="let t; scope: 'mobile-home-screen'">
  <ng-container *ngrxLet="settings$ as settings">
    <div class="d-flex flex-column">
      <ats-ribbon [showScrollButtons]="false" layout="2row"></ats-ribbon>

      <div class="bordered mt-15">
        <ats-portfolio-evaluation (openDetails)="openPortfolioDetails()"></ats-portfolio-evaluation>
      </div>

      <div class="mt-5">
        <ats-positions (instrumentSelected)="openChart($event)"></ats-positions>
      </div>

      @if (settings.showPortfolioDynamics ?? true) {
        <div class="bordered mt-20">
          <nz-collapse nzExpandIconPosition="end" nzGhost>
            <nz-collapse-panel
              [nzHeader]="header"
            >
              <ats-portfolio-dynamics></ats-portfolio-dynamics>
            </nz-collapse-panel>
            <ng-template #header>
              <span class="section-header">{{t('mobileHomeScreen.agreementDynamicsTitle')}}</span>
            </ng-template>
          </nz-collapse>
        </div>
      }

      <span class="section-header pl-10 mt-20">{{t('mobileHomeScreen.newsTitle')}}</span>
      <div class="px-5">
        <ats-news (showMore)="openNews()"></ats-news>
      </div>

      <span class="section-header pl-10 mt-20">{{t('mobileHomeScreen.ideasTitle')}}</span>
      <ats-ideas (instrumentSelected)="openOrder($event)"></ats-ideas>

      <span class="section-header pl-10 mt-20">{{t('mobileHomeScreen.marketTrendsTitle')}}</span>
      <ats-market-trends
        (instrumentSelected)="openChart($event)"
        (showMore)="openAllInstruments($event)"
        [ignoredBoardsFilter]="settings.ignoreTrendsForBoards ?? ['FQBR']"
        [marketFilter]="settings.displayTrendsForMarket ?? [Market.Fond]"
      ></ats-market-trends>
    </div>
  </ng-container>
</ng-container>
