<ng-container *ngrxLet="settings$ as settings">
  <div class="d-flex flex-column flex-gap-25">
    <ats-ribbon layout="2row" [showScrollButtons]="false"></ats-ribbon>

    @if (settings.showPortfolioDynamics ?? true) {
      <ats-portfolio-dynamics></ats-portfolio-dynamics>
    }

    <ats-positions></ats-positions>

    <ats-market-trends
      [ignoredBoardsFilter]="settings.ignoreTrendsForBoards ?? ['FQBR']"
      [marketFilter]="settings.displayTrendsForMarket ?? [Market.Fond]"
    ></ats-market-trends>
  </div>
</ng-container>
