<ng-container *transloco="let t; scope: 'ai-chat/terms-of-use-dialog'">
  <nz-modal
    (nzOnCancel)="handleCancel()"
    [nzMaskClosable]='false'
    [nzTitle]="t('aiChatTermsOfUseDialog.title')"
    [nzVisible]='atsVisible'
    nzClassName="ai-chat-terms-of-use"
    nzClosable="true"
  >
    <ng-container *nzModalContent>
      <div class="content">
        <ng-container *ngrxLet="content$ as content; suspenseTpl: loading">
          <markdown>
            {{ content }}
          </markdown>
        </ng-container>

        <ng-template #loading>
          <p class="text-center">
            <nz-spin nzSimple></nz-spin>
          </p>
        </ng-template>
      </div>
    </ng-container>
    <ng-container *nzModalFooter>
      <button (click)="handleOk()" nz-button nzType="primary">{{ t('aiChatTermsOfUseDialog.agreeBtnText') }}</button>
    </ng-container>
  </nz-modal>
</ng-container>

