<ng-container *transloco="let t; scope: 'mobile-home-screen/market-trends'">

  <ng-container
    *ngrxLet="{ itemsDisplayParams: itemsDisplayParams$, displayItems: displayItems$} as vm; suspenseTpl: loading"
    class="mt-15"
  >
    <span class="heading-color fs-5">{{ t('mobileHomeScreenMarketTrends.sectionTitle') }}</span>

    @if (vm.displayItems != null && vm.displayItems.totalCount > 0) {
      <table class="mt-10">
        <thead>
        <tr>
          <th class="text-start text-nowrap">{{ t('mobileHomeScreenMarketTrends.columns.ticker.title') }}</th>
          <th class="text-start text-nowrap">{{ t('mobileHomeScreenMarketTrends.columns.dailyGrowthPercent.title') }}</th>
          <th class="text-end text-nowrap">{{ t('mobileHomeScreenMarketTrends.columns.lastPrice.title') }}</th>
        </tr>
        </thead>

        <tbody>
          @for (item of vm.displayItems.nodes; track trackBy(item)) {
            <tr class="item">
              <td class="text-start">
                <div class="d-flex flex-column">
                <span>
                  <ats-truncated-text
                    [maxLength]="20"
                    [text]="item.basicInformation.symbol"
                    className="heading-color text-nowrap fs-6"
                  ></ats-truncated-text>
                </span>

                  <span>
                  <ats-truncated-text [maxLength]="30" [text]="item.basicInformation.shortName"
                                      className="fs-10"></ats-truncated-text>
                </span>
                </div>

              </td>

              <td class="text-start">
              <span
                [ngClass]="{
                  'positive-color': item.tradingDetails.dailyGrowthPercent >= 0,
                  'negative-color': item.tradingDetails.dailyGrowthPercent < 0
                  }"
              >
                {{ (item.tradingDetails.dailyGrowthPercent / 100) | percent: '1.1-2' }}
              </span>
              </td>

              <td class="text-end">{{ item.tradingDetails.price }}</td>
            </tr>
          }
        </tbody>
      </table>
      @if ((vm.itemsDisplayParams.itemsDisplayCount < vm.displayItems.totalCount)
      && (vm.itemsDisplayParams.itemsDisplayCount < this.maxDisplayItems)) {
        <button
          nz-button
          nzBlock
          (click)="showMoreItems()"
          class="mt-5"
          [nzLoading]="isLoading"
        >
          {{ t('mobileHomeScreenMarketTrends.moreItemsButton.title') }}
        </button>
      }
    } @else {
      <nz-empty nzNotFoundImage="simple"></nz-empty>
    }
  </ng-container>

  <ng-template #loading>
    <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 5, width: '100%' }"></nz-skeleton>
  </ng-template>
</ng-container>
