<nz-modal
  *transloco="let t; scope: 'dashboard/empty-portfolios-warning-modal'"
  [nzTitle]="t('dashboardEmptyPortfoliosWarningModal.title')"
  [nzVisible]='atsVisible()'
  (nzOnCancel)="handleClose()">
  <ng-container *nzModalContent>
    <div class="empty-portfolios-modal-content">
      <p nz-typography nzType="warning">{{t('dashboardEmptyPortfoliosWarningModal.explanation')}}</p>
      <p>{{t('dashboardEmptyPortfoliosWarningModal.stepsTitle')}}</p>
      <p>1. {{t('dashboardEmptyPortfoliosWarningModal.point1')}}</p>
      <p>
        2. {{t('dashboardEmptyPortfoliosWarningModal.point2Pt1')}}
        @if (hasVideoTutorialLink) {
          <ats-external-link klass="link" [href]="videoTutorialLink!">
            Rutube
          </ats-external-link>
          {{t('dashboardEmptyPortfoliosWarningModal.point2Pt2')}}
        } @else {
          {{t('dashboardEmptyPortfoliosWarningModal.point2WithoutVideo')}}
        }
        <ats-external-link klass="link" [href]="(helpLink$ | async) ?? ''">
          {{t('dashboardEmptyPortfoliosWarningModal.documentation')}}
        </ats-external-link>,
        {{t('dashboardEmptyPortfoliosWarningModal.point2Pt3')}}
      </p>
      <p>
        {{t('dashboardEmptyPortfoliosWarningModal.supportPointPt1')}}
        @if(supportLink != null && supportLink.length > 0) {
          <ats-external-link klass="link" [href]="supportLink">
            {{t('dashboardEmptyPortfoliosWarningModal.support')}}
          </ats-external-link>,
        } @else {
          {{t('dashboardEmptyPortfoliosWarningModal.support')}}
        }

        {{t('dashboardEmptyPortfoliosWarningModal.supportPointPt2')}}
      </p>
    </div>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="handleClose()">{{t('okBtnText')}}</button>
  </div>
</nz-modal>
