<div class="useful-links" *transloco="let t; scope: 'terminal-settings/useful-links'">
  <div nz-row [nzGutter]="[16, 24]">
    <div nz-col nzMd="12"  nzXs="24" class="group">
      <div><h3>{{t('terminalSettingsUsefulLinks.generalLinksHeader')}}</h3></div>
      <ats-external-link class="group-item" href="https://www.alorbroker.ru">{{t('terminalSettingsUsefulLinks.officialSiteLink')}}</ats-external-link>
      <ats-external-link class="group-item" href="https://www.alorbroker.ru/trading/leverage">{{t('terminalSettingsUsefulLinks.riskRatesLink')}}</ats-external-link>
    </div>

    <div nz-col nzMd="12" nzXs="24" class="group">
      <div><h3>{{t('terminalSettingsUsefulLinks.personalAccountOperationsHeader')}}</h3></div>
      <ats-external-link class="group-item" href="https://lk.alor.ru/main">{{t('terminalSettingsUsefulLinks.personalAccountLink')}}</ats-external-link>
      <ats-external-link class="group-item" href="https://lk.alor.ru/operations/money">{{t('terminalSettingsUsefulLinks.bankrollLink')}}</ats-external-link>
      <ats-external-link class="group-item" href="https://lk.alor.ru/products/services">{{t('terminalSettingsUsefulLinks.servicesLink')}}</ats-external-link>
    </div>
  </div>
</div>
