<div class="useful-links" *transloco="let t; scope: 'terminal-settings/useful-links'">
  <div nz-row [nzGutter]="[16, 24]">
    <div nz-col nzMd="12"  nzXs="24" class="group">
      <div><h3>{{t('terminalSettingsUsefulLinks.generalLinksHeader')}}</h3></div>
      @if(!isNullOrEmpty(externalLinks?.officialSite)) {
        <ats-external-link class="group-item" [href]="externalLinks?.officialSite!">{{t('terminalSettingsUsefulLinks.officialSiteLink')}}</ats-external-link>
      }

      @if(!isNullOrEmpty(externalLinks?.riskRate)) {
        <ats-external-link class="group-item" [href]="externalLinks?.riskRate!">{{t('terminalSettingsUsefulLinks.riskRatesLink')}}</ats-external-link>
      }
    </div>

    <div nz-col nzMd="12" nzXs="24" class="group">
      <div><h3>{{t('terminalSettingsUsefulLinks.personalAccountOperationsHeader')}}</h3></div>

      @if(!isNullOrEmpty(externalLinks?.personalAccount)) {
        <ats-external-link class="group-item" [href]="externalLinks?.personalAccount!">{{t('terminalSettingsUsefulLinks.personalAccountLink')}}</ats-external-link>
      }

      @if(!isNullOrEmpty(externalLinks?.bankroll)) {
        <ats-external-link class="group-item" [href]="externalLinks?.bankroll!">{{t('terminalSettingsUsefulLinks.bankrollLink')}}</ats-external-link>
      }

      @if(!isNullOrEmpty(externalLinks?.services)) {
        <ats-external-link class="group-item" [href]="externalLinks?.services!">{{t('terminalSettingsUsefulLinks.servicesLink')}}</ats-external-link>
      }
    </div>
  </div>
</div>
