<ng-container *transloco="let t; scope: 'blotter/notifications'">
  <div class="container">
    <ng-template #empty>
      <nz-empty [nzNotFoundContent]="isFilterDisabled() ? t('blotterNotifications.emptyList') : t('blotterNotifications.emptyListWithFilters')"
        class="ant-list-empty-text"
        nzNotFoundImage="simple" />
    </ng-template>

    @if ((isNotificationsAllowed$ | async) === true) {
      <ng-container *ngrxLet="{ contentSize: contentSize$, tableConfig: tableConfig$, notifications: tableData$ } as td">
        <div
          class="table-container"
          (nzResizeObserve)="containerSizeChanged($event)"
          nzResizeObserver
          >
          <nz-table
            [nzData]="td.notifications"
            [nzFrontPagination]="false"
            [nzLoading]="isLoading$ | async"
            [nzNoResult]="empty"
            [nzScroll]="{ x: (td.contentSize?.width ?? 0) + 'px', y: (td.contentSize?.height ?? 0) + 'px' }"
            [nzShowPagination]="false"
            [nzVirtualForTrackBy]="trackBy"
            [nzVirtualItemSize]="20"
            [nzVirtualMaxBufferPx]="td.contentSize?.height ?? 0"
            [nzVirtualMinBufferPx]="td.contentSize?.height ?? 0"
            atsTableRowHeight
            nzTableLayout="fixed"
            >
            <thead>
              <tr
                (nzResizeObserve)="headerSizeChanged($event)"
                nzResizeObserver
                (cdkDropListDropped)="changeColumnOrder($event)"
                cdkDropList
                cdkDropListOrientation="horizontal"
                >
                <th nzWidth="30px">
                  <span [nzTooltipTitle]="t('blotterNotifications.columns.cancel.tooltip')" nz-tooltip>
                    {{t('blotterNotifications.columns.cancel.name')}}
                  </span>
                </th>
                @for (column of td.tableConfig.columns; track column) {
                  <th (atsWidthChanged)="saveColumnWidth({ columnId: column.id, width: $event})"
                    (nzFilterChange)="defaultFilterChange(column.id, $event)"
                    [atsResizeColumn]
                    [minWidth]="column.minWidth ?? 50"
                    [nzCustomFilter]="column.filterData?.filterType !== filterTypes.DefaultMultiple"
                    [nzFilterMultiple]="column.filterData?.filterType === filterTypes.DefaultMultiple"
                    [nzFilters]="column.filterData?.filters ?? []"
                    [nzShowFilter]="column.filterData?.filterType === filterTypes.DefaultMultiple"
                    [nzShowSort]="!!column.sortFn"
                    [nzSortFn]="column.sortFn ?? false"
                    [nzSortOrder]="column.sortOrder ?? null"
                    (nzSortOrderChange)="saveSortState(column.id, $event)"
                    [nzWidth]="column.width ? column.width + 'px': null"
                    cdkDrag
                    cdkDragLockAxis="x"
                    >
                    <span
                      [nzTooltipPlacement]="['top', 'topLeft', 'topRight']"
                      [nzTooltipTitle]="column.tooltip"
                      nz-tooltip
                      >
                      {{column.displayName}}
                    </span>
                    @if (column.filterData != null && column.filterData.filterType !== filterTypes.DefaultMultiple) {
                      <nz-filter-trigger
                        [nzVisible]="!!column.filterData.isOpenedFilter" (nzVisibleChange)="column.filterData.isOpenedFilter = $event"
                        [nzActive]="isFilterApplied(column)"
                        [nzDropdownMenu]="searchMenu"
                        >
                        <i nz-icon nzType="search"></i>
                      </nz-filter-trigger>
                    }
                  </th>
                }
              </tr>
            </thead>
            <tbody>
              <ng-template let-notification nz-virtual-scroll>
                <tr
                  (click)="rowClick(notification)"
                  (contextmenu)="openContextMenu($event, contextMenu, notification)"
                  >
                  <td>
                    @if (notification.subscriptionType === subscriptionTypes.PriceSpark) {
                      <a (click)="cancelSubscription(notification.id)"
                        [nzTooltipMouseEnterDelay]="0.5"
                        [nzTooltipTitle]="t('blotterNotifications.columns.cancel.tooltip')"
                        nz-tooltip
                        >
                        <i nz-icon nzTheme="outline" nzType="close-circle"></i>
                      </a>
                    }
                  </td>
                  @for (column of td.tableConfig.columns; track column) {
                    @if (column.id === "id") {
                      <td>{{ notification.id }}</td>
                    }
                    @if (column.id === "subscriptionType") {
                      <td
                      >{{t('blotterNotifications.columns.subscriptionType.listOfFilter.' + notification.subscriptionType, {fallback: notification.subscriptionType}) }}</td>
                    }
                    @if (column.id === "instrument") {
                      <td class='fw-bold'>
                        <span class="symbol-name">{{ notification.instrument }}</span>
                        <ats-instrument-badge-display [instrumentKey]="{symbol: notification.instrument, exchange: notification.exchange}" />
                      </td>
                    }
                    @if (column.id === "priceCondition") {
                      <td
                      >{{ !notification.priceCondition ? '' : t('lessMoreOptions.' + notification.priceCondition.toLowerCase(), {fallback: notification.priceCondition}) }}</td>
                    }
                    @if (column.id === "price") {
                      <td>{{ notification.price }}</td>
                    }
                  }
                </tr>
              </ng-template>
            </tbody>
          </nz-table>
        </div>
        <nz-dropdown-menu #searchMenu="nzDropdownMenu">
          <ats-table-search-filter (filterChange)="filterChange($event)" [columns]="td.tableConfig.columns" />
        </nz-dropdown-menu>
        <ats-add-to-watchlist-menu #contextMenu />
      </ng-container>
    }

    @if ((isNotificationsAllowed$ | async) === false) {
      <ng-container *transloco="let t; scope: 'push-notifications/setup-instrument-notifications'">
        <span nz-typography nzType="warning">{{t('pushNotificationsSetupInstrumentNotifications.notificationsDisabledWarning')}}</span>
      </ng-container>
    }
  </div>
</ng-container>
