<ng-container *transloco="let t; scope: 'portfolio-charts'">
  <ats-widget-skeleton
    [content]="contentRef"
    [header]="headerRef"
    [isBlockWidget]="isBlockWidget()"
    [settings]="settingsRef"
    [showContentScroll]="false"
    [showSettings]="false"
  >
    <ng-template #headerRef>
      <ats-widget-header [customTitle]="title$ | async"
                         [guid]="guid"
                         [hasSettings]="false"
                         [showBadgesMenu]="false"
                         [widgetMeta]="widgetInstance().widgetMeta"
      />
    </ng-template>
    <ng-template #contentRef>
      @if (settingsView$ | async; as settings) {
        <div class="d-flex flex-column h-100">
          <div class="d-flex flex-row justify-content-center flex-gap-10 mb-5">
            @for (chart of availableCharts; track chart) {
              <button
                (click)="selectChart(chart)"
                nz-button
                nzGhost
                [nzType]="chart === selectedChart() ? 'primary' : 'default'"
              >
                {{ t('portfolioCharts.charts.' + chart + '.label') }}
              </button>
            }
          </div>
          <div class="flex-fill overflow-hidden">
            @switch (selectedChart()) {
              @case (chartTypes.AgreementDynamics) {
                <ats-agreement-dynamics [portfolioKey]="settings.portfolioKey"/>
              }
              @case (chartTypes.Commissions) {
                <ats-portfolio-commissions-chart [portfolio]="settings.portfolioKey.portfolio"/>
              }
            }
          </div>
        </div>
      }
    </ng-template>
    <ng-template #settingsRef/>
  </ats-widget-skeleton>
</ng-container>
