<div
  class="max-w-100 min-w-0"
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="changeDashboardsOrder($event)"
>
  <ng-container *ngIf="options$ | async as options">
    <nz-segmented
      class="max-w-100 min-w-0"
      [ngModel]="selectedOptionIndex$ | async"
      [nzLabelTemplate]="dashboardLabels"
      [nzOptions]="options"
      (nzValueChange)="$event === options.length ? null : selectDashboard(options[$event].value)"
    ></nz-segmented>

    <ng-template #dashboardLabels let-index="index">
      <ng-container *ngIf="index !== (options.length - 1); else dashboardsDropdown">
        <div
          class="dashboard-label"
          nz-tooltip
          [nzTooltipTitle]="options[index].label"
          [nzTooltipPlacement]="['bottom', 'bottomLeft', 'bottomRight']"
          cdkDrag
          cdkDragLockAxis="x"
        >
          {{ options[index].label }}
        </div>
      </ng-container>

      <ng-template #dashboardsDropdown>
        <button
          class="dropdown-btn"
          id="dashboard-select-btn"
          nz-button
          nz-dropdown
          nzSize="small"
          nzType="text"
          [nzClickHide]="false"
          [nzTrigger]="(dropdownTrigger$ | async) ?? 'hover'"
          [nzDropdownMenu]="dashboardsMenu"
          (nzVisibleChange)="changeDashboardSelectionMenuVisibility($event)"
          [nzVisible]="(isDashboardSelectionMenuVisible$ | async) ?? false"
        >
          <span
            class="dashboard-label"
            *ngIf="lastSelectedNonFavoriteDashboard$ | async as lastSelectedNonFavoriteDashboard"
            (click)="selectDashboard(lastSelectedNonFavoriteDashboard.guid)"
            nz-typography
            nzEllipsis
          >
            {{lastSelectedNonFavoriteDashboard.title}}&nbsp;
          </span>
          <span><i nz-icon nzType="down" nzTheme="outline" class="arrow-icon"></i></span>

          <nz-dropdown-menu #dashboardsMenu="nzDropdownMenu">
            <ats-select-dashboard-menu
              (hideMenu)="changeDashboardSelectionMenuVisibility(false)"
              [visibilityChange]="(isDashboardSelectionMenuVisible$ | async) ?? false"
              (isNewDashboardFocused)="dropdownTrigger$.next($event ? 'click' : 'hover')"
            ></ats-select-dashboard-menu>
          </nz-dropdown-menu>
        </button>
      </ng-template>
    </ng-template>
  </ng-container>
</div>
