<ng-container *transloco="let t; scope: 'blotter/orders'">
  <div class="container" *ngIf="settings$ | async as settings">
      <ng-template #empty>
        <nz-empty
          class="ant-list-empty-text"
          nzNotFoundImage="simple"
          [nzNotFoundContent]="isFilterDisabled() ? t('blotterOrders.emptyOrders') : t('blotterOrders.emptyOrdersWithFilters')">
        </nz-empty>
      </ng-template>

      <div class="table-container" #tableContainer *ngIf="selectedInstruments$ | async as selectedInstruments">
        <ng-container *ngIf="scrollHeight$ | async as scrollHeight">
          <nz-table *ngIf="displayOrders$ | async as orders" #nzTable [nzData]="orders"
              [nzNoResult]="empty"
              nzTableLayout="fixed"
              nzSize="small"
              [nzFrontPagination]="false"
              [nzShowPagination]="false"
              [nzScroll]="{ x: tableInnerWidth+ 'px', y: scrollHeight - 5 + 'px' }"
              [nzVirtualItemSize]="20"
              [nzFooter]="footer">
            <thead>
              <tr cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="changeColumnOrder($event)">
                <th nzWidth="5px"></th>
                <th nzWidth="65px">
                  <span>
                    <a nz-popconfirm
                       [nzPopconfirmTitle]="t('blotterOrders.cancelConfirm')"
                       [nzOkText]="t('yes')"
                       [nzCancelText]="t('no')"
                       [nzCondition]="settings.cancelOrdersWithoutConfirmation ?? false"
                       (nzOnConfirm)="cancelAllOrders()">{{t('blotterOrders.cancelAll')}}</a>
                  </span>
                </th>
                <th *ngFor='let column of listOfColumns'
                    [nzCustomFilter]='column.hasSearch'
                    [nzSortFn]='column.sortFn'
                    [nzFilters]="column.listOfFilter"
                    [nzShowFilter]="column.hasFilter"
                    (nzFilterChange)="defaultFilterChange(column.id, $event)"
                    [nzWidth]="column.width ? column.width + 'px': null"
                    [atsResizeColumn]
                    [minWidth]="column.minWidth ?? 50"
                    (atsWidthChanged)="saveColumnWidth(column.id, $event)"
                    (atsWidthChanging)="recalculateTableWidth($event)"
                    cdkDrag
                    cdkDragLockAxis="x"
                >
                  <span
                    nz-tooltip
                    [nzTooltipTitle]="column.tooltip"
                    [nzTooltipPlacement]="['top', 'topLeft', 'topRight']"
                  >
                    {{column.name}}
                  </span>
                  <nz-filter-trigger *ngIf='column.hasSearch' [(nzVisible)]="column.isSearchVisible" [nzActive]="!!filter" [nzDropdownMenu]="searchMenu">
                    <i [ngClass]="isFilterApplied(column) ? 'active-filter' : 'not-active-filter'" nz-icon nzType="search"></i>
                  </nz-filter-trigger>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ord of nzTable.data" (click)="selectInstrument(ord.symbol, ord.exchange)">
                <td >
                  <span
                    [class]='ord.side.toString() === "sell" ? "side-sell" : "side-buy"'
                    [class.cancelled-status]="ord.status.toString() === 'canceled'"
                  >&nbsp;
                  </span>
                </td>
                <td>
                  <a *ngIf='ord.status.toString() === "working" && ord.type === "limit"' (click)="editOrder(ord)">
                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                  </a>
                  &nbsp;
                  <a *ngIf='ord.status.toString() === "working"' nz-popconfirm
                     [nzPopconfirmTitle]="t('blotterOrders.cancelConfirm')"
                     [nzOkText]="t('yes')"
                     [nzCancelText]="t('no')"
                     [nzCondition]="settings.cancelOrdersWithoutConfirmation ?? false"
                     (nzOnConfirm)="cancelOrder(ord.id)">
                    <i nz-icon nzType="close-circle" nzTheme="outline"></i>
                  </a>
                </td>
                <ng-container *ngFor='let column of listOfColumns'>
                  <td *ngIf='column.id === "id"'>{{ ord.id }}</td>
                  <td class='bold' *ngIf='column.id === "symbol"'>
                    <span class="symbol-name">{{ ord.symbol }}</span>
                    <ng-container *ngFor="let item of (selectedInstruments | keyvalue)">
                      <nz-badge [nzColor]="item.key" *ngIf="item.value.symbol === ord.symbol && item.value.exchange === ord.exchange"></nz-badge>
                    </ng-container>
                  </td>
                  <td *ngIf='column.id === "side"' [class]='ord.side.toString() === "sell" ? "sell" : "buy"'>{{ ord.side }}</td>
                  <td *ngIf='column.id === "residue"'>{{ ord.residue }}</td>
                  <td *ngIf='column.id === "volume"'>{{ isMarketOrder(ord) ? '' : (ord.volume | number) }}</td>
                  <td *ngIf='column.id === "qty"'>{{ ord.qty | number}}</td>
                  <td *ngIf='column.id === "price"'>{{ isMarketOrder(ord) ? '' : (ord.price | number : '0.0-10') }}</td>
                  <td *ngIf='column.id === "status"'[class]='ord.status.toString() === "filled"
                    ? (ord.status.toString() === "sell" ? "sell" : "buy") :
                    (ord.status.toString() === "canceled" ? "cancelled" : "bold" )' >
                    {{ t('blotterOrders.orderStatus.' + ord.status, { fallback: ord.status }) }}
                  </td>
                  <td *ngIf='column.id === "transTime"'>{{ formatDate(ord.transTime) }}</td>
                  <td *ngIf='column.id === "exchange"'>{{ ord.exchange }}</td>
                  <td *ngIf='column.id === "type"'>{{ ord.type }}</td>
                  <td *ngIf='column.id === "endTime"'>{{ formatDate(ord.endTime) }}</td>
                </ng-container>
              </tr>
            </tbody>
          </nz-table>
        </ng-container>
      </div>

      <ng-template #footer>
        <div class="export-button-container">
          <button nz-button nzType="link" *ngIf="canExport" (click)="exportToFile()">
            <i nz-icon nzType="download"></i>
            {{t('blotterOrders.exportToFile')}}
          </button>
        </div>
      </ng-template>

    <nz-dropdown-menu #searchMenu="nzDropdownMenu">
      <ats-table-filter [columns]="listOfColumns" (filterChange)="filterChange($event)"></ats-table-filter>
    </nz-dropdown-menu>
  </div>
</ng-container>
