<ng-container *transloco="let t;">
  @if (getTypedConfig(); as config) {
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-label nzFor="property" [nzRequired]="config.validation.required">{{ config.label }}
        </nz-form-label>
        <nz-form-control
          [nzErrorTip]="t('validationErrors.selectValueError')">
          <nz-select formControlName="property">
            @for (value of config.validation.allowedValues; track value) {
              <nz-option [nzValue]="value" [nzLabel]="value" />
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  }
</ng-container>