<ats-widget-settings-editor
  (cancelClick)="requestClose()"
  (copyClick)="createWidgetCopy()"
  (saveClick)="updateSettings()"
  [canCopy]="canCopy"
  [canSave]="canSave"
  [showCopy]="showCopy"
  [widgetInstance]="widgetInstance()"
>
  <ng-container *transloco="let t; scope: 'market-trends/settings'">
    <ats-widget-settings-form [formGroup]="form">
      <ats-widget-settings-form-item
        [label]="t('marketTrendsSettings.itemsCountLabel')"
        [required]="true"
      >
        <nz-slider [nzMarks]="marks"
                   [nzMax]="validation.itemsCount.max"
                   [nzMin]="validation.itemsCount.min"
                   [nzStep]="1"
                   formControlName="itemsCount"
        />
      </ats-widget-settings-form-item>

      <ats-widget-settings-form-item [label]="t('marketTrendsSettings.displaySectorsLabel')">
        <nz-select
          [nzAllowClear]="true"
          [nzMaxTagCount]="10"
          [nzMaxTagPlaceholder]="tagPlaceHolder"
          [nzPlaceHolder]="t('placeholders.selectValue')"
          formControlName="displaySectors"
          nzMode="multiple"
        >
          @let availableSectors = (settings$ | async)?.availableSectors ?? allSectors;
          @for (item of availableSectors; track item) {
            <nz-option [nzLabel]="t('marketSectors.' + item, {fallback: item})"
                       [nzValue]="item"
            />
          }
        </nz-select>
      </ats-widget-settings-form-item>

      @let availableExtendedFilters = (settings$ | async)?.availableExtendedFilters ?? allExtendedFilters;
      @if (availableExtendedFilters.length > 0) {
        <ats-widget-settings-form-item [label]="t('marketTrendsSettings.displayExtendedFiltersLabel')">
          <nz-select
            [nzAllowClear]="true"
            [nzMaxTagCount]="10"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            [nzPlaceHolder]="t('placeholders.selectValue')"
            formControlName="extendedFilter"
            nzMode="multiple"
          >
            <ng-container *transloco="let tMarketTrends; scope: 'market-trends/market-trends'">
              @for (item of availableExtendedFilters; track item) {
                <nz-option
                  [nzLabel]="tMarketTrends('marketTrendsMarketTrends.extendedFilter.' + item, {fallback: item})"
                  [nzValue]="item"
                />
              }
            </ng-container>
          </nz-select>
        </ats-widget-settings-form-item>
      }
    </ats-widget-settings-form>

    <ng-template #tagPlaceHolder let-selectedList>{{ t('maxTagPlaceholder', {count: selectedList.length}) }}
    </ng-template>
  </ng-container>
</ats-widget-settings-editor>
