<ng-container *transloco="let t; scope: 'ai-graph/ai-graph-editor-dialog'">
  <ng-container *ngrxLet="{targetGraph: targetGraph$} as vm">
    <nz-modal
      (nzOnCancel)="closeDialog()"
      [nzFooter]="null"
      [nzStyle]="{ top: '20px', height: 'calc(100vh - 20px)' }"
      [nzTitle]="t('aiGraphAiGraphEditorDialog.dialogTitle') + ': ' + vm.targetGraph?.title"
      [nzVisible]="vm.targetGraph != null"
      [nzWidth]="'98%'"
      nzMaskClosable="false"
      nzClassName="ai-graph-editor-dialog"
    >
      <ng-container *nzModalContent>
        @if (vm.targetGraph != null) {
          <ats-graph-editor [initialConfig]="vm.targetGraph!.config ?? null"
            (updateConfig)="latestVersion = $event"
           />
        }
      </ng-container>
    </nz-modal>
  </ng-container>
</ng-container>
