@if (currentVersion$ | async; as currentVersion) {
  <nz-modal
    *transloco="let tAppMeta; scope: 'application-meta/application-updated-widget'"
    (nzOnCancel)="handleClose()"
    [nzTitle]="header"
    nzClassName="application-updated-modal"
    [nzVisible]="isVisible$ | async"
    [nzFooter]="null"
    >
    <ng-template #header>
      <div class="header">{{currentVersion.id}}</div>
    </ng-template>
    <ng-container *nzModalContent>
      <p>
        <span>
          {{currentVersion.summary}}
        </span>
      </p>
      <nz-divider class="mb-5 mt-10" />
      <div class="scrollable show-scroll">
        <nz-collapse nzGhost nzExpandIconPosition="end">
          <nz-collapse-panel
            [nzHeader]="collapseHeader"
            [(nzActive)]="isProblemCollapseActive"
            [nzShowArrow]="false"
            >
            <p>
              <span [nzType]="'warning'" nz-typography>
                {{tAppMeta('applicationMetaApplicationUpdatedWidget.problemsWarning')}}
              </span>
              <br/>
              <span [nzType]="'warning'" nz-typography>
                {{tAppMeta('applicationMetaApplicationUpdatedWidget.problemsStepsTitle')}}
              </span>
            </p>
            <div>
              <span>{{tAppMeta('applicationMetaApplicationUpdatedWidget.problemsStep1')}}</span>
            </div>
            <div>
              <span>{{tAppMeta('applicationMetaApplicationUpdatedWidget.problemsStep2')}}</span>
            </div>
            <div>
              <span>{{tAppMeta('applicationMetaApplicationUpdatedWidget.problemsStep3')}}</span>
              <br/>
              <span [nzType]="'secondary'" nz-typography>
                {{tAppMeta('applicationMetaApplicationUpdatedWidget.clearSiteDataText')}}
              </span>
            </div>
          </nz-collapse-panel>
          <ng-template #collapseHeader>
            <span class="problem-title">
              ! {{tAppMeta('applicationMetaApplicationUpdatedWidget.problemsLabel')}}
              @if (isProblemCollapseActive) {
                <span nz-icon nzType="caret-up" nzTheme="outline"></span>
              } @else {
                <span nz-icon nzType="caret-down" nzTheme="outline"></span>
              }
            </span>
          </ng-template>
        </nz-collapse>
        @for (line of currentVersion.description.split('\n'); track line) {
          <p>
            <span>
              {{line}}
            </span>
          </p>
        }
      </div>
    </ng-container>
  </nz-modal>
}

