<ng-container *ngIf="currentVersion$ | async as currentVersion">
  <nz-modal
    *transloco="let tAppMeta; scope: 'application-meta/application-updated-widget'"
    (nzOnCancel)="handleClose()"
    (nzOnOk)="handleClose()"
    [nzTitle]="header"
    [nzVisible]="isVisible$ | async">
    <ng-template #header>
      <div class="header">{{currentVersion.summary}}</div>
    </ng-template>
    <ng-container *nzModalContent>
      <p>
      <span>
        {{tAppMeta('applicationMetaApplicationUpdatedWidget.detailsText')}}
        <ats-external-link [href]="getLinkToRelease(currentVersion)">{{tAppMeta('applicationMetaApplicationUpdatedWidget.detailsLink')}}</ats-external-link>.</span>
      </p>
      <p>
      <span [nzType]="'warning'" nz-typography>
        {{tAppMeta('applicationMetaApplicationUpdatedWidget.problemsWarning')}}
      </span>
        <br/>
        <span [nzType]="'warning'" nz-typography>
        {{tAppMeta('applicationMetaApplicationUpdatedWidget.problemsStepsTitle')}}
      </span>
      </p>
      <div>
        <span>{{tAppMeta('applicationMetaApplicationUpdatedWidget.problemsStep1')}}</span>
      </div>
      <div>
        <span>{{tAppMeta('applicationMetaApplicationUpdatedWidget.problemsStep2')}}</span>
      </div>
      <div>
        <span>{{tAppMeta('applicationMetaApplicationUpdatedWidget.problemsStep3')}}</span>
        <br/>
        <span [nzType]="'secondary'" nz-typography>
          {{tAppMeta('applicationMetaApplicationUpdatedWidget.clearSiteDataText')}}
        </span>
      </div>
    </ng-container>
    <ng-container *nzModalFooter>
      <button
        (click)="handleConfirmedClose()"
        nz-button
        nzType="primary"
      >
        {{tAppMeta('okBtnText')}}
      </button>
    </ng-container>
  </nz-modal>
</ng-container>

