@if (events$ | async; as events) {
  <ng-container *ngrxLet="currencySettings$ as currencySettings">
    <div class="calendars">
      <div class="calendar-wrapper">
        <nz-calendar #startPeriodCalendar
          [nzDateFullCell]="startPeriodCalendarDateCell"
          [nzFullscreen]="false"
          [nzDisabledDate]="disable"
          (nzSelectChange)="onDateChange($event)"
         />
      </div>
      <div class="calendar-wrapper">
        <nz-calendar #endPeriodCalendar
          class="end-period-calendar"
          [nzDateFullCell]="endPeriodCalendarDateCell"
          [nzFullscreen]="false"
          [nzDisabledDate]="disable"
         />
      </div>
    </div>
    <ng-template #startPeriodCalendarDateCell let-date>
      @if (isShowDate(date)) {
        <div
          (click)="selectEvent(date, events)"
          class="date-cell"
          >
          @if (!!getDateEvents(date, events)) {
            <div
              [class.event-date]="true"
              [nz-popover]="null"
              nzPopoverTrigger="click"
              [nzPopoverTitle]="(date | date : 'dd.MM.yyyy') ?? ''"
              [nzPopoverContent]="popoverBody"
              >
              {{ date | date: 'd' }}
              <div class="event-cell"></div>
            </div>
          } @else {
            {{ date | date : 'd' }}
          }
        </div>
      }
    </ng-template>
    <ng-template #endPeriodCalendarDateCell let-date>
      @if (isShowDate(date, false)) {
        <div
          (click)="selectEvent(date, events)"
          class="date-cell"
          >
          @if (!!getDateEvents(date, events)) {
            <div
              [nz-popover]="null"
              nzPopoverTrigger="click"
              [nzPopoverTitle]="(date | date : 'dd.MM.yyyy') ?? ''"
              [nzPopoverContent]="popoverBody"
              >
              {{ date | date: 'd' }}
              <div class="event-cell"></div>
            </div>
          } @else {
            {{ date | date : 'd' }}
          }
        </div>
      }
    </ng-template>
    <ng-template #popoverBody>
      @if (selectedDateEvents$ | async; as selectedDateEvents) {
        <nz-descriptions
          nzBordered
          [nzColumn]="1"
          nzSize="small"
          >
          <ng-container *transloco="let t; scope: 'events-calendar'">
            @for (dateEvent of (selectedDateEvents.dividendEvents ?? []); track dateEvent) {
              <nz-descriptions-item
                [nzTitle]="t('eventsCalendar.dividends') +' ' + dateEvent.symbol"
                >
                <span>
                  {{dateEvent.recordDate | date : 'dd.MM.yyyy'}}
                  {{formatCurrencyFn(dateEvent.dividendPerShare, dateEvent.currency, currencySettings)}}
                </span>
              </nz-descriptions-item>
            }
            @for (dateEvent of (selectedDateEvents.bondEvents?.couponEvents ?? []); track dateEvent) {
              <nz-descriptions-item
                [nzTitle]="t('eventsCalendar.coupon') +' ' + dateEvent.shortName"
                >
                <span>
                  {{dateEvent.date | date : 'dd.MM.yyyy'}}
                  {{formatCurrencyFn(dateEvent.amount, dateEvent.currency, currencySettings)}}
                </span>
              </nz-descriptions-item>
            }
            @for (dateEvent of (selectedDateEvents.bondEvents?.amortizationEvents ?? []); track dateEvent) {
              <nz-descriptions-item
                [nzTitle]="t('eventsCalendar.amortization') +' ' + dateEvent.shortName"
                >
                <span>
                  {{dateEvent.date | date : 'dd.MM.yyyy'}}
                  {{formatCurrencyFn(dateEvent.amount, dateEvent.currency, currencySettings)}}
                </span>
              </nz-descriptions-item>
            }
            @for (dateEvent of (selectedDateEvents.bondEvents?.offerEvents ?? []); track dateEvent) {
              <nz-descriptions-item
                [nzTitle]="t('eventsCalendar.offer') +' ' + dateEvent.shortName"
                >
                <span>
                  {{dateEvent.date | date : 'dd.MM.yyyy'}}
                </span>
              </nz-descriptions-item>
            }
          </ng-container>
        </nz-descriptions>
      }
    </ng-template>
  </ng-container>
}
