<ng-container *transloco="let t; scope: 'terminal-settings/hot-key-settings-form'">
  <form *ngIf="form" [formGroup]="form" [nzLayout]="'horizontal'" nz-form>
    <ng-container>
      <h3>{{t('terminalSettingsHotKeySettingsForm.allOrderbooksHeader')}}</h3>

      <ng-container *ngTemplateOutlet="hotKeyTemplate; context: { actionName : 'cancelOrdersKey'}"></ng-container>
      <ng-container *ngTemplateOutlet="hotKeyTemplate; context: { actionName : 'closePositionsKey'}"></ng-container>
      <ng-container *ngTemplateOutlet="hotKeyTemplate; context: { actionName : 'centerOrderbookKey'}"></ng-container>
    </ng-container>
    <nz-divider></nz-divider>
    <ng-container>
      <h3>{{t('terminalSettingsHotKeySettingsForm.mouseHoverOrderbookHeader')}}</h3>

      <ng-container *ngTemplateOutlet="hotKeyTemplate; context: { actionName : 'cancelOrderbookOrders'}"></ng-container>
      <ng-container *ngTemplateOutlet="hotKeyTemplate; context: { actionName : 'closeOrderbookPositions'}"></ng-container>
      <ng-container *ngTemplateOutlet="hotKeyTemplate; context: { actionName : 'reverseOrderbookPositions'}"></ng-container>
      <ng-container *ngTemplateOutlet="hotKeyTemplate; context: { actionName : 'buyMarket'}"></ng-container>
      <ng-container *ngTemplateOutlet="hotKeyTemplate; context: { actionName : 'sellMarket'}"></ng-container>
      <ng-container *ngTemplateOutlet="hotKeyTemplate; context: { actionName : 'sellBestOrder'}"></ng-container>
      <ng-container *ngTemplateOutlet="hotKeyTemplate; context: { actionName : 'buyBestOrder'}"></ng-container>
      <ng-container *ngTemplateOutlet="hotKeyTemplate; context: { actionName : 'sellBestBid'}"></ng-container>
      <ng-container *ngTemplateOutlet="hotKeyTemplate; context: { actionName : 'buyBestAsk'}"></ng-container>
    </ng-container>
    <nz-divider></nz-divider>

    <ng-template #hotKeyTemplate let-actionName="actionName">
      <nz-form-item>
        <nz-form-label nzFor="sellBestBid">{{t('terminalSettingsHotKeySettingsForm.' + actionName)}}</nz-form-label>
        <nz-form-control [nzErrorTip]="controlError">
          <input
            (keydown)="hotkeyChange($event, form.get(actionName))"
            (mousedown)="$event.stopPropagation()"
            [formControlName]=actionName
            nz-input
            readonly
          />
          <ng-template #controlError>
            <span *ngIf="form.get(actionName)?.errors?.required">{{t('terminalSettingsHotKeySettingsForm.emptyFieldError')}}</span>
            <span *ngIf="form.get(actionName)?.errors?.notUnique">{{t('terminalSettingsHotKeySettingsForm.notUniqueError')}}</span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </ng-template>

    <ng-container *ngIf="workingVolumes">
      <h3>{{t('terminalSettingsHotKeySettingsForm.workingVolumesHeader')}}</h3>

      <div *ngFor="let ctrl of workingVolumes.controls; let i = index" class="working-volume">
        <nz-form-item class="form-item">
          <nz-form-label nzRequired>{{t('terminalSettingsHotKeySettingsForm.selectWorkingVolume')}} {{i + 1}}</nz-form-label>
          <nz-form-control [nzErrorTip]="controlError">
            <input
              (keydown)="hotkeyChange($event, ctrl)"
              (mousedown)="$event.stopPropagation()"
              [formControl]="asFormControl(ctrl)"
              nz-input
              readonly
            />
            <ng-template #controlError>
              <span *ngIf="ctrl.errors?.required">{{t('terminalSettingsHotKeySettingsForm.emptyFieldError')}}</span>
              <span *ngIf="ctrl.errors?.notUnique">{{t('terminalSettingsHotKeySettingsForm.notUniqueError')}}</span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <button (click)="removeWorkingVolume($event, i)"
                [disabled]="!canRemoveWorkingVolume()"
                class="working-volume-remove-btn"
                nz-button
                nzType="dashed">
          <i nz-icon nzType="minus"></i>
        </button>
      </div>

      <button (click)="addWorkingVolume($event)" [disabled]="!workingVolumes.valid"
              class="add-working-volume-btn" nz-button
              nzType="dashed">
        <i nz-icon nzType="plus"></i>
      </button>
    </ng-container>
  </form>
</ng-container>
