<ng-container *transloco="let t; scope: 'terminal-settings/hot-key-settings-form'">
  @if (form) {
    <form [formGroup]="form" [nzLayout]="'horizontal'" nz-form>
      <div class="d-flex flex-row flex-gap-2">
        <div class="flex-fill label">
          {{t('terminalSettingsHotKeySettingsForm.extraHotkeysLabel')}}
          <span
            [nzTooltipTitle]="t('terminalSettingsHotKeySettingsForm.extraHotkeysTooltip')"
            nz-icon
            nz-tooltip=""
            nzType="question-circle"
          ></span>
        </div>
        <div>
          <nz-switch formControlName="extraHotKeys" />
        </div>
      </div>
      <nz-divider />
      <h3>{{t('terminalSettingsHotKeySettingsForm.allOrderbooksHeader')}}</h3>
      @for (hotKeyControl of form.controls.allOrderBooksHotKeys.controls; track hotKeyControl) {
        <ng-container [formGroup]="hotKeyControl">
          <ats-hot-key-input [actionName]="hotKeyControl.controls.action.value"
            [formControl]="hotKeyControl.controls.hotKey"
           />
          @if (hotKeyControl.controls.hotKey.hasError('notUnique')) {
            <div
              class="mb-10"
              nz-typography
              nzType="danger"
              >
              {{t('terminalSettingsHotKeySettingsForm.notUniqueError')}}
            </div>
          }
        </ng-container>
      }
      <nz-divider />
      <h3>{{t('terminalSettingsHotKeySettingsForm.mouseHoverOrderbookHeader')}}</h3>
      @for (hotKeyControl of form.controls.activeOrderBookHotKeys.controls; track hotKeyControl) {
        <ng-container [formGroup]="hotKeyControl">
          <ats-hot-key-input [actionName]="hotKeyControl.controls.action.value"
            [formControl]="hotKeyControl.controls.hotKey"
           />
          @if (hotKeyControl.controls.hotKey.hasError('notUnique')) {
            <div
              class="mb-10"
              nz-typography
              nzType="danger"
              >
              {{t('terminalSettingsHotKeySettingsForm.notUniqueError')}}
            </div>
          }
        </ng-container>
      }
      <nz-divider />
      <ng-container>
        <h3>{{t('terminalSettingsHotKeySettingsForm.workingVolumesHeader')}}</h3>
        @for (ctrl of form.controls.workingVolumes.controls; track ctrl; let i = $index) {
          <div class="working-volume">
            <nz-form-item class="form-item">
              <nz-form-label nzRequired>{{t('terminalSettingsHotKeySettingsForm.selectWorkingVolume')}} {{i + 1}}</nz-form-label>
              <nz-form-control [nzErrorTip]="controlError">
                <input
                  (keydown)="workingVolumeHotkeyChange($event, ctrl)"
                  (mousedown)="$event.stopPropagation()"
                  [formControl]="ctrl"
                  nz-input
                  readonly
                  />
                <ng-template #controlError>
                  @if (ctrl.errors?.required) {
                    <span>{{t('terminalSettingsHotKeySettingsForm.emptyFieldError')}}</span>
                  }
                  @if (ctrl.errors?.notUnique) {
                    <span>{{t('terminalSettingsHotKeySettingsForm.notUniqueError')}}</span>
                  }
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <button (click)="removeWorkingVolume($event, i)"
              [disabled]="!canRemoveWorkingVolume()"
              class="working-volume-remove-btn"
              nz-button
              nzType="dashed">
              <i nz-icon nzType="minus"></i>
            </button>
          </div>
        }
        <button (click)="addWorkingVolume($event)" [disabled]="!form.controls.workingVolumes.valid"
          class="add-working-volume-btn" nz-button
          nzType="dashed">
          <i nz-icon nzType="plus"></i>
        </button>
      </ng-container>
    </form>
  }
</ng-container>
