<ng-container *transloco="let t; scope: 'order-commands/order-forms'">
  <ng-container *ngIf="formInstrument$ | async as formInstrument">
    <ng-container *ngIf="portfolioKey$ | async as portfolioKey">
      <div>
        <form *ngIf="form" [formGroup]="form" [nzLayout]="'vertical'" nz-form>
          <div [nzGutter]="12" nz-row>
            <div [nzSm]="12" [nzXs]="24" nz-col>
              <nz-form-item class="compact">
                <nz-form-label nzFor="quantity"
                               nzRequired>{{t('orderCommandsOrderForms.quantityLabel')}}</nz-form-label>
                <nz-form-control [nzErrorTip]="quantityError">
                  <ats-input-number formControlName="quantity" placeholder="0"></ats-input-number>
                  <span *ngIf="(formInstrument.lotsize ?? 1) !== 1">1 {{t('orderCommandsOrderForms.lot')}} = <ats-short-number
                    [value]="formInstrument.lotsize"></ats-short-number>
                    {{t('orderCommandsOrderForms.pcs')}}</span>
                  <ng-template #quantityError>
                  <span
                    *ngIf="form.controls.quantity.errors?.required">{{t('orderCommandsOrderForms.emptyQuantityError')}}</span>
                    <span *ngIf="form.controls.quantity.errors?.min">{{t('validationErrors.tooLittle')}}</span>
                    <span *ngIf="form.controls.quantity.errors?.max">{{t('validationErrors.tooMuch')}}</span>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div [nzSm]="12" [nzXs]="24" nz-col>
              <nz-form-item class="compact">
                <nz-form-label nzFor="price" nzRequired>{{t('orderCommandsOrderForms.priceLabel')}}</nz-form-label>
                <nz-form-control [nzErrorTip]="priceError">
                  <ats-input-number
                    [allowNegative]="true"
                    [step]="formInstrument.minstep"
                    [suffix]="priceDiff"
                    [focused]="!initialValues?.hasPriceChanged"
                    formControlName="price"
                    placeholder="0"
                  ></ats-input-number>

                  <ng-template #priceDiff>
                    <ng-container *ngIf="currentPriceDiffPercent$ | async as currentPriceDiffPercent">
                      <span [class]="currentPriceDiffPercent.sign > 0 ? 'profit' : 'loss'"
                            [nzTooltipTitle]="t('orderCommandsOrderForms.priceDifferenceTooltip')" nz-tooltip>
                        {{(currentPriceDiffPercent.percent | number) + ' %'}}
                      </span>
                    </ng-container>
                  </ng-template>

                  <ng-template #priceError>
                    <span
                      *ngIf="form.controls.price.errors?.required">{{t('orderCommandsOrderForms.emptyPriceError')}}</span>
                    <span *ngIf="form.controls.price.errors?.min">{{t('validationErrors.tooLittle')}}</span>
                    <span *ngIf="form.controls.price.errors?.max">{{t('validationErrors.tooMuch')}}</span>
                    <span *ngIf="form.controls.price.errors?.priceStepMultiplicity">
                  {{t('orderCommandsOrderForms.priceStepMultiplicityError')}}
                      ({{form.controls.price.errors!.priceStepMultiplicity!.step}})
                </span>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div>
            <nz-collapse [nzBordered]="false" class="compact" nzGhost>
              <nz-collapse-panel [nzHeader]="t('orderCommandsOrderForms.advanced')">
                <nz-form-item class="compact">
                  <nz-form-label nzFor="timeInForce">{{t('orderCommandsOrderForms.timeInForceLabel')}}</nz-form-label>
                  <nz-form-control>
                    <nz-select [nzPlaceHolder]="t('orderCommandsOrderForms.timeInForcePlaceholder')"
                               formControlName="timeInForce"
                               nzAllowClear>
                      <nz-option
                        *ngFor="let timeInForce of timeInForceEnum | keyvalue"
                        [nzLabel]="t('orderCommandsOrderForms.timeInForceOptions.' + timeInForce.key)"
                        [nzValue]="timeInForce.value"
                      ></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>


                <nz-form-item class="compact mt-5">
                  <label
                    formControlName="isIceberg"
                    nz-checkbox
                  >
                    {{t('orderCommandsOrderForms.isIcebergLabel')}}
                  </label>
                </nz-form-item>

                <ng-container *ngIf="form.controls.isIceberg.value">
                  <nz-form-item class="compact">
                    <nz-form-label
                      nzFor="icebergFixed">{{t('orderCommandsOrderForms.icebergFixedLabel')}}</nz-form-label>
                    <nz-form-control [nzErrorTip]="icebergFixedError">
                      <ats-input-number formControlName="icebergFixed" placeholder="0"></ats-input-number>
                    </nz-form-control>
                  </nz-form-item>

                  <ng-template #icebergFixedError>
                    <span
                      *ngIf="form.controls.icebergFixed.errors?.min">{{t('validationErrors.tooLittle')}}</span>
                    <span *ngIf="form.controls.icebergFixed.errors?.max">{{t('validationErrors.tooMuch')}}</span>
                  </ng-template>
                  <span *ngIf="form.errors?.icebergFixedNotBiggerThanQuantity" nz-typography nzType="danger">
                {{t('orderCommandsOrderForms.notBiggerThanError', {fieldName: t('orderCommandsOrderForms.quantityLabel')})}}
              </span>

                  <nz-form-item class="compact">
                    <nz-form-label nzFor="icebergVariance">
                      {{t('orderCommandsOrderForms.icebergVarianceLabel')}}
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="icebergVarianceError">
                      <ats-input-number formControlName="icebergVariance" placeholder="0"></ats-input-number>
                    </nz-form-control>

                    <ng-template #icebergVarianceError>
                      <span
                        *ngIf="form.controls.icebergFixed.errors?.min">{{t('validationErrors.tooLittle')}}</span>
                      <span
                        *ngIf="form.controls.icebergFixed.errors?.max">{{t('validationErrors.tooMuch')}}</span>
                    </ng-template>
                  </nz-form-item>
                </ng-container>
              </nz-collapse-panel>
            </nz-collapse>
          </div>
        </form>
      </div>
      <div>
        <ats-order-evaluation
          (quantitySelect)="setQuantity($event)"
          [evaluationProperties]="evaluationRequest$ | async"
        ></ats-order-evaluation>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
