<ng-container *transloco="let t; scope: 'dashboard/settings-load-error-dialog'">
  <nz-modal
    [nzFooter]="null"
    [nzTitle]="t('dashboardSettingsLoadErrorDialog.title')"
    [nzVisible]="visible()"
    nzClosable="false"
    nzMaskClosable="false">
    <ng-container *nzModalContent>
      <nz-result [nzSubTitle]="subtitle"
        [nzTitle]="t('dashboardSettingsLoadErrorDialog.errorText')"
        nzStatus="404"
       />
      <ng-template #subtitle>
        <div class="text-center mt-5">
          <span>{{ t('dashboardSettingsLoadErrorDialog.suggestionText') }}</span>

          @if(supportLink != null && supportLink.length > 0) {
            <ats-external-link [href]="supportLink" klass="primary-color">
              {{ t('dashboardSettingsLoadErrorDialog.support') }}
            </ats-external-link>
          } @else {
            <span>{{ t('dashboardSettingsLoadErrorDialog.support') }}</span>
          }
        </div>

      </ng-template>
    </ng-container>
  </nz-modal>
</ng-container>

