@if (groups$ | async; as groups) {
  <nz-tree
    *transloco="let t; scope: 'blotter/orders-group'"
    #ordersGroupTree
    [nzData]="groups"
    [nzTreeTemplate]="treeNode"
    >
    <ng-template #treeNode let-data>
      @if (data.origin.group) {
        <div class="d-flex flex-wrap flex-gap-5">
          @if (data.origin.status) {
            <div
              [class.status-canceled]="data.origin.status === 'Canceled'"
              [class.status-active]="data.origin.status === 'Active'"
              [class.status-filled]="data.origin.status === 'Filled'"
              nz-tooltip=""
              [nzTooltipTitle]="t('blotterOrdersGroup.groupStatus.' + data.origin.status)"
              class="status-indicator"
            ></div>
          }
          <div class="text-nowrap">
            {{t('blotterOrdersGroup.groupIdLabel')}}: <b>{{data.origin.group.displayId}}</b>
          </div>
          <div class="text-nowrap">
            {{t('blotterOrdersGroup.instrumentsLabel')}}: <b class="text-nowrap">{{data.origin.group.instruments}}</b>
          </div>
          <div class="text-nowrap">
            {{t('blotterOrdersGroup.priceLabel')}}: <b class="text-nowrap">{{data.origin.group.prices}}</b>
          </div>
          <div class="text-nowrap">
            {{t('blotterOrdersGroup.qtyLabel')}}: <b class="text-nowrap">{{data.origin.group.qtys}}</b>
          </div>
        </div>
      }
      @if (data.origin.order) {
        <div class="d-flex flex-wrap flex-gap-5">
          <div class="text-nowrap">
            {{t('blotterOrdersGroup.idLabel')}}: <b>{{data.origin.order.id}}</b>
          </div>
          <div class="text-nowrap">
            {{t('blotterOrdersGroup.symbolLabel')}}: <b class="text-nowrap">{{data.origin.order.symbol}}</b>
          </div>
          <div class="text-nowrap">
            @if (data.origin.order.price) {
              {{t('blotterOrdersGroup.priceLabel')}}: <b [class]="data.origin.order.side + ' text-nowrap'">{{data.origin.order.price}}</b>
            }
          </div>
          <div class="text-nowrap">
            {{t('blotterOrdersGroup.qtyLabel')}}: <b class="text-nowrap">{{data.origin.order.qtyBatch}}</b>
          </div>
          <div class="text-nowrap">
            @if (data.origin.order.stopPrice != null) {
              <span>
                {{t('blotterOrdersGroup.triggerPriceLabel')}}:
                <b class="text-nowrap">{{getOrderConditionSign(data.origin.order.condition)}}{{data.origin.order.stopPrice}}</b>
              </span>
            }
          </div>
        </div>
      }
    </ng-template>
  </nz-tree>
}
