<nz-layout>
  <nz-header>
    <ats-client-navbar></ats-client-navbar>
  </nz-header>

  <nz-content>
    <ats-dashboard></ats-dashboard>
    <ats-orders-dialog-widget></ats-orders-dialog-widget>
    <ats-edit-order-dialog-widget></ats-edit-order-dialog-widget>
    <ats-terminal-settings-widget></ats-terminal-settings-widget>
    <ats-feedback-widget></ats-feedback-widget>
    <ats-application-updated-widget></ats-application-updated-widget>
    <ats-settings-load-error-dialog [visible]="showSettingsLoadDialog"></ats-settings-load-error-dialog>
    <ats-instrument-select-dialog-widget></ats-instrument-select-dialog-widget>
  </nz-content>
</nz-layout>
