<nz-layout>
  <nz-header>
    <ats-client-navbar />
  </nz-header>

  <nz-content>
    <ats-dashboard />
    <ats-orders-dialog-widget />
    <ats-edit-order-dialog-widget />
    <ats-terminal-settings-widget  [hiddenSections]="['mobileDashboardLayout']" />
    <ats-feedback-widget />
    <ats-application-updated-widget />
    <ats-settings-load-error-dialog [visible]="showSettingsLoadDialog" />
    <ats-instrument-select-dialog-widget />
    <ats-urgent-notification-dialog />
  </nz-content>
</nz-layout>
