@if (layout() === 'row') {
  <nz-radio-group (ngModelChange)="selectionChange.emit($event)" [ngModel]="selectedView()">
    @for (item of items; track item) {
      <label [nzValue]="item.value()" nz-radio-button [nzDisabled]="item.disabled()">
        <ng-container [ngTemplateOutlet]="item.content"></ng-container>
      </label>
    }
  </nz-radio-group>
} @else {
  <button nz-button nz-dropdown [nzDropdownMenu]="menu">
    <span nz-icon nzType="menu" nzTheme="outline"></span>
  </button>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      @for (item of items; track item) {
        <li
          nz-menu-item
          [nzDisabled]="item.disabled()"
          [nzSelected]="item.value() === selectedView()"
          (click)="item.disabled() ? $event.stopPropagation() : selectionChange.emit(item.value())"
        >
          <ng-container [ngTemplateOutlet]="item.content"></ng-container>
        </li>
      }
    </ul>
  </nz-dropdown-menu>
}
