atsm-widget-wrapper {
  .widget-container {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 var(--ats-widget-padding) var(--ats-widget-padding);

    &.zero-paddings {
      padding: 0 var(--ats-gridster-item-resizable-handler-width) var(--ats-gridster-item-resizable-handler-width);
    }
  }
}
