<ng-container *transloco="let t; scope: 'info/risks'">
  <ng-container
    *ngrxLet="{descriptors: descriptors$, currentPortfolio: currentPortfolio$, isLoading: isLoading$} as vm">
    <nz-spin [nzSpinning]="vm.isLoading">
      @if (vm.descriptors == null) {
        <span nz-typography
              nzType="secondary">{{ t('infoRisks.missingRiskInfoForPortfolio', {portfolio: vm.currentPortfolio.portfolio}) }}</span>
      } @else {
        <ats-descriptors-list [descriptors]="[vm.descriptors]" />
      }
    </nz-spin>
  </ng-container>
</ng-container>
