<div class="container">
  <ng-container *ngrxLet="{
  settings: settings$,
  themeColors: themeColors$,
  displayItems: displayItems$,
  hoveredPriceRow: hoveredPriceRow$
  } as vm">
    @for (item of vm.displayItems; track $index) {
      <div
        [ngClass]="{
          'volume-cell': true,
          'max-volume': item?.isMaxVolume,
          'hovered': isRulerHovered(item, vm.hoveredPriceRow)
          }"
        [style.height]="xAxisStep() + 'px'"
        [style.line-height]="xAxisStep() + 'px'"

        class="position-relative"
        >
        @if (item.isMajorLinePrice || item.isMinorLinePrice) {
          <span
            class="z-1"
            [ngClass]="{
            'grid-line': true,
            'major': item.isMajorLinePrice,
            'minor': item.isMinorLinePrice
            }"
          >&nbsp;</span>
        }
        <span class="position-relative z-5 w-100 d-inline-block">
          <span class="highlighter  z-2" [ngStyle]="getClusterItemHighlightStyle(item, vm.settings.widgetSettings.tradesClusterPanelSettings ?? null, vm.themeColors)">&nbsp;</span>
          <span class="position-relative z-3 px-2">
            @if (vm.settings.widgetSettings.tradesClusterPanelSettings?.volumeDisplayFormat === numberFormats.LetterSuffix) {
              <ats-short-number [value]="item?.volume"
                [allowRounding]="true" />
            } @else {
              <span>{{ item?.volume }}</span>
            }
          </span>
        </span>
      </div>
    }
  </ng-container>
</div>
