ats-ai-signals-content {
  display: block;
  height: 100%;

  .container {
    .status-line {
      .last-updated {
        color: var(--ats-text-color-secondary);
      }
    }

    .content-area {
      overflow-y: auto;
      min-height: 0;
    }
  }
}
