<ng-container *transloco="let t; scope: 'info'">
  <ng-container
    *ngrxLet="{ commonDescriptors: descriptors$, targetInstrumentKey: instrumentKeyChanges$, info: info$ } as vm">
    @if (vm.info == null) {
      <nz-empty nzNotFoundImage="simple"/>
    } @else {
      @if (displayMode() === 'tabs') {
        <nz-tabs
          (mousedown)='$event.stopPropagation()'
          nzSize="small"
          nzTabPosition="top"
        >
          @if (vm.commonDescriptors != null) {
            <nz-tab [nzTitle]="t('info.instrumentTab')">
              <ats-descriptors-list [descriptors]="vm.commonDescriptors"/>
            </nz-tab>
          }

          @if (vm.targetInstrumentKey != null) {
            <nz-tab #risksTab [nzTitle]="t('info.risksTab')">
              <ats-risks [activated]="risksTab.isActive" [instrumentKey]="vm.targetInstrumentKey"/>
            </nz-tab>
          }

          <nz-tab [nzTitle]="t('info.financeTab')">
            <ats-finance [stockInfo]="vm.info"/>
          </nz-tab>

          <nz-tab [nzTitle]="t('info.dividendsTab')">
            <ats-dividends-chart [dividends]="vm.info.dividends ?? []"/>
            <nz-collapse class="mt-10">
              <nz-collapse-panel [nzHeader]="t('tableView')">
                <ats-dividends [dividends]="vm.info.dividends ?? []"/>
              </nz-collapse-panel>
            </nz-collapse>
          </nz-tab>
        </nz-tabs>
      } @else {
        <ats-sections-list>
          @if (vm.commonDescriptors != null) {
            <ats-section>
              <span class="title">{{ t('info.instrumentTab') }}</span>
              <ats-descriptors-list [descriptors]="vm.commonDescriptors" class="content"/>
            </ats-section>
          }

          @if (vm.targetInstrumentKey != null) {
            <ats-section>
              <span class="title">{{ t('info.risksTab')  }}</span>
              <ats-risks class="content" [activated]="true" [instrumentKey]="vm.targetInstrumentKey"/>
            </ats-section>
          }

          <ats-section>
            <span class="title">{{ t('info.financeTab')  }}</span>
            <ats-finance class="content" [stockInfo]="vm.info"/>
          </ats-section>

          <ats-section>
            <span class="title">{{ t('info.dividendsTab')  }}</span>
            <div class="content">
              <ats-dividends-chart [dividends]="vm.info.dividends ?? []"/>
              <nz-collapse class="mt-10">
                <nz-collapse-panel [nzHeader]="t('tableView')">
                  <ats-dividends [dividends]="vm.info.dividends ?? []"/>
                </nz-collapse-panel>
              </nz-collapse>
            </div>
          </ats-section>
        </ats-sections-list>
      }
    }
  </ng-container>
</ng-container>
