ats-widget-settings-placeholder {
  display: flex;
  width: 100%;
  height: 100%;

  .placeholder {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    overflow: hidden;
    color: var(--ats-text-color-secondary);

    .icon {
      font-size: 28px;
    }

    .text {
      font-size: var(--ats-font-size-base);
      text-align: center;
    }
  }
}
