atsa-login-page {
  position: relative;
  top: 20%;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  user-select: none;

  .form-box {
    width: 275px;
    border: var(--ats-border-width-base) solid var(--ats-border-color-base);
    border-radius: var(--ats-border-radius-base);
    background-color: var(--ats-component-background);

    .ant-form-item {
      display: block;
    }
  }
}
