<ng-container *transloco="let t; scope: 'arbitrage-spread/spread-leg'">
  <div class="d-flex flex-column" [formGroup]="form">
    <nz-form-item class="compact">
      <nz-form-control [nzErrorTip]="t('arbitrageSpreadSpreadLeg.instrumentRequiredError')">
        <nz-form-label nzRequired>{{t('arbitrageSpreadSpreadLeg.instrumentLabel')}}</nz-form-label>
        <ats-instrument-search formControlName="instrument" (instrumentSelected)="instrumentChange()" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="compact">
      <nz-form-control [nzErrorTip]="quantityError">
        <nz-form-label nzRequired>{{t('arbitrageSpreadSpreadLeg.quantityLabel')}}</nz-form-label>
        <ats-input-number placeholder="0" formControlName="quantity" />
      </nz-form-control>
      <ng-template #quantityError>
        @if (form.get('quantity')?.errors?.required) {
          <span>
            {{t('arbitrageSpreadSpreadLeg.quantityRequiredError')}}
          </span>
        }
        @if (form.get('quantity')?.errors?.min) {
          <span>
            {{t('validationErrors.tooLittle')}}
          </span>
        }
        @if (form.get('quantity')?.errors?.max) {
          <span>
            {{t('validationErrors.tooMuch')}}
          </span>
        }
      </ng-template>
    </nz-form-item>

    <nz-form-item class="compact">
      <nz-form-control [nzErrorTip]="ratioError">
        <nz-form-label nzRequired>{{t('arbitrageSpreadSpreadLeg.calculationRatioLabel')}}</nz-form-label>
        <ats-input-number placeholder="0" formControlName="ratio" />
      </nz-form-control>
      <ng-template #ratioError>
        @if (form.get('ratio')?.errors?.required) {
          <span>
            {{t('arbitrageSpreadSpreadLeg.ratioRequiredError')}}
          </span>
        }
        @if (form.get('ratio')?.errors?.min) {
          <span>
            {{t('validationErrors.tooLittle')}}
          </span>
        }
        @if (form.get('ratio')?.errors?.max) {
          <span>
            {{t('validationErrors.tooMuch')}}
          </span>
        }
      </ng-template>
    </nz-form-item>

    <nz-form-item class="compact">
      <nz-form-control [nzErrorTip]="t('arbitrageSpreadSpreadLeg.portfolioPlaceholder')">
        <nz-form-label nzRequired>{{t('arbitrageSpreadSpreadLeg.portfolioLabel')}}</nz-form-label>
        <nz-select
          formControlName="portfolio"
          [compareWith]="isPortfoliosEqual"
          [nzPlaceHolder]="t('arbitrageSpreadSpreadLeg.portfolioPlaceholder')"
          [nzNotFoundContent]="emptyPortfolios"
          >
          @for (p of getAvailablePortfolios(); track p) {
            <nz-option [nzLabel]="p.portfolio + ' (' + p.exchange + ')'"
              [nzValue]="p"
             />
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    @if (isSideNeeded()) {
      <nz-form-item class="compact">
        <nz-form-control>
          <nz-form-label nzRequired>
            {{t('arbitrageSpreadSpreadLeg.sideLabel')}}
            &nbsp;
            <span
              nz-icon
              nzType="question-circle"
              nz-tooltip
              [nzTooltipTitle]="t('arbitrageSpreadSpreadLeg.sideTooltip')"
            ></span>
          </nz-form-label>
          <nz-select formControlName="side">
            <nz-option [nzLabel]="t('arbitrageSpreadSpreadLeg.buy')" [nzValue]="sideEnum.Buy" />
            <nz-option [nzLabel]="t('arbitrageSpreadSpreadLeg.sell')" [nzValue]="sideEnum.Sell" />
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    }
  </div>

  <ng-template #emptyPortfolios>
    <nz-empty [nzNotFoundContent]="t('arbitrageSpreadSpreadLeg.portfoliosEmpty')"
      nzNotFoundImage="simple"
     />
  </ng-template>
</ng-container>
