@if (fullName$ | async; as name) {
  <div
    (nzResizeObserve)="calculateTabSetHeight()"
    class="d-flex flex-column"
    nzResizeObserver
  >
    <ng-container *transloco="let t; scope: 'terminal-settings'">
      <h1 class="profile-name">
        <i nz-icon nzType="ats-user"></i>
        {{ name.firstName }}&nbsp;{{ name.lastName }}
      </h1>
      <div class="overflow-hidden">
        <nz-tabs [style.max-height]="(tabSetHeight$ | async) + 'px'">
          <nz-tab (nzSelect)="tabChange.emit(tabNames.usefulLinks)"
                  [nzTitle]="t('terminalSettings.usefulLinksTabTitle')">
            <ats-useful-links/>
          </nz-tab>
          @if (settingsForm) {
            <nz-tab (nzSelect)="tabChange.emit(tabNames.main)"
                    [nzTitle]="t('terminalSettings.generalSettingsTabTitle')">
              @if (settingsForm.controls.generalSettings; as generalSettings) {
                <ats-general-settings-form [excludedSettings]="hiddenSections()" [formControl]="generalSettings"/>
              }
              @if (settingsForm.controls.portfoliosCurrency; as portfoliosCurrency) {
                <h3>{{ t('terminalSettings.defaultCurrencyHeader') }}</h3>
                <ats-portfolios-currency-form [formControl]="portfoliosCurrency"/>
              }
              <nz-divider/>
              <div [nzGutter]="[10,10]" class="mt-10" nz-row nzJustify="space-between">
                <div nz-col nzSm="12" nzXs="24">
                  <button (click)="clearDashboard()" id="reset-settings-btn" nz-button nzBlock nzDanger>
                    <i nz-icon nzTheme="outline" nzType="delete"></i>
                    {{ t('terminalSettings.hardRebootBtnText') }}
                  </button>
                </div>
                <div nz-col nzSm="12" nzXs="24">
                  <button (click)="exportSettings()" [nzLoading]="exportSettingsLoading()" id="export-settings-btn"
                          nz-button
                          nzBlock>
                    <i nz-icon nzTheme="outline" nzType="upload"></i>
                    {{ t('terminalSettings.exportSettingsBtnText') }}
                  </button>
                </div>
              </div>
            </nz-tab>
          }
          @if (!hiddenSections().includes('hotKeysSettings') && settingsForm.controls.hotKeysSettings; as hotKeysSettings) {
            <nz-tab
              (nzSelect)="tabChange.emit(tabNames.hotKeys)"
              [nzTitle]="t('terminalSettings.hotkeysTabTitle')">
              <ats-hotkey-settings-form [formControl]="hotKeysSettings"/>
              @if (settingsForm.controls.scalperOrderBookMouseActions; as scalperOrderBookMouseActions) {
                <nz-divider/>
                <h3>{{ t('terminalSettings.scalperMouseActionsHeader') }}</h3>
                <ats-scalper-mouse-actions-form [formControl]="scalperOrderBookMouseActions"/>
              }
            </nz-tab>
          }
          @if (settingsForm.controls.instantNotificationsSettings; as instantNotificationsSettings) {
            <nz-tab
              (nzSelect)="tabChange.emit(tabNames.notifications)"
              [nzTitle]="t('terminalSettings.notificationsTabTitle')">
              <ats-instant-notifications-form [formControl]="instantNotificationsSettings"/>
            </nz-tab>
          }
          @if (!hiddenSections().includes('mobileDashboardLayout') &&
          settingsForm.controls.mobileDashboardLayout; as mobileDashboardLayout) {
            <nz-tab
              (nzSelect)="tabChange.emit(tabNames.mobileDashboardLayout)"
              [nzTitle]="t('terminalSettings.mobileDashboardLayoutTabTitle')">
              <ats-mobile-dashboard-layout-form [formControl]="mobileDashboardLayout"/>
            </nz-tab>
          }
        </nz-tabs>
      </div>
    </ng-container>
  </div>
}
