@if (voteParams$ | async; as voteParams) {
  <div>
    <nz-modal
      *transloco="let t; scope: 'feedback'"
      (nzOnCancel)="handleClose()"
      [nzFooter]="null"
      [nzVisible]='isVisible$ | async'
      [nzTitle]="t('feedback.title')"
      >
      <ng-container *nzModalContent>
        <div>
          <form [formGroup]="form" [nzLayout]="'vertical'" nz-form>
            <nz-form-item>
              <nz-form-label nzFor="rating">{{voteParams.description}}</nz-form-label>
              <nz-form-control>
                <nz-rate (ngModelChange)="checkAskComment()" [nzCount]="maxStarsCount" formControlName="rating" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="comment">{{t('feedback.commentLabel')}}</nz-form-label>
              <nz-form-control
                [nzValidateStatus]="askComment ? 'warning' : 'success'"
                [nzWarningTip]="askComment ? t('feedback.commentWarning') : ''">
                <nz-textarea-count [nzMaxCharacterCount]="commentMaxLength">
                  <textarea (ngModelChange)="checkAskComment()" formControlName="comment" nz-input rows="4"></textarea>
                </nz-textarea-count>
              </nz-form-control>
            </nz-form-item>
          </form>
          <div class="submit-button-container">
            <button
              (click)="submitFeedback()"
              [disabled]="!form.valid"
              class="ant-btn ant-btn-primary">
              {{t('feedback.sendBtnText')}}
            </button>
          </div>
        </div>
      </ng-container>
    </nz-modal>
  </div>
}
