<ng-container>
  <ats-widget-skeleton
    *ngIf="settings$ | async as settings"
    [content]="contentRef"
    [header]="headerRef"
    [isBlockWidget]="isBlockWidget"
  >
    <ng-template #headerRef>
      <ats-widget-header
        [guid]="guid"
        [hasSettings]="false"
        [showBadgesMenu]="false"
        [widgetMeta]="widgetInstance.widgetMeta"
      ></ats-widget-header>
    </ng-template>

    <ng-template #contentRef>
      <p>Invest Ideas</p>
    </ng-template>
  </ats-widget-skeleton>

</ng-container>

