<div
  *transloco="let t; scope: 'order-commands/working-volumes'"
  [nzTooltipMouseEnterDelay]="1"
  [nzTooltipTitle]="t('orderCommandsWorkingVolumes.workingVolumeTooltip')"
  class="container"
  nz-tooltip>
  @for (item of sortedVolumes; track item) {
    <span (click)="emitItemSelected(item)" class="item">{{item}}</span>
  }
  @if (currentAskBid$ | async; as currentAskBid) {
    <ng-container>
      @if (currentAskBid.bid) {
        <span (click)="emitItemSelected(currentAskBid.bid.volume, currentAskBid.bid.price)"
        class="item bid">Bid</span>
      }
      @if (currentAskBid.ask) {
        <span (click)="emitItemSelected(currentAskBid.ask.volume, currentAskBid.ask.price)"
        class="item ask">Ask</span>
      }
    </ng-container>
  }

</div>
