<div
  (nzResizeObserve)="containerSizeChanged($event)"
  class="container"
  nzResizeObserver
  >
  @if (tableConfig$ | async; as tableConfig) {
    <ats-infinite-scroll-table (filterApplied)="applyFilter($event)"
      (scrolled)="scrolled()"
      [tableConfig]="tableConfig"
      [data]="(tableData$ | async) ?? []"
      [isLoading]="(isLoading$ | async) ?? true"
      [tableContainerHeight]="(contentSize$ | async)?.height || 0"
      [tableContainerWidth]="(contentSize$ | async)?.width || 0"
      (orderColumnChange)="changeColumnOrder($event)"
      (columnWidthChange)="saveColumnWidth($event)"
     />
  }
</div>

