<ng-container *transloco="let t; scope: 'info'">
  <ng-container *ngrxLet="{ descriptors: descriptors$, targetInstrumentKey: instrumentKeyChanges$, info: info$ } as vm">
    @if (vm.info == null) {
      <nz-empty nzNotFoundImage="simple"/>
    } @else {
      @if (displayMode() === 'tabs') {
        <nz-tabs
          (mousedown)='$event.stopPropagation()'
          nzSize="small"
          nzTabPosition="top"
        >
          @if (vm.descriptors?.common != null && vm.descriptors!.common.length > 0) {
            <nz-tab [nzTitle]="t('info.instrumentTab')">
              <ats-descriptors-list [descriptors]="vm.descriptors!.common"/>
            </nz-tab>
          }

          @if (vm.targetInstrumentKey != null) {
            <nz-tab #risksTab [nzTitle]="t('info.risksTab')">
              <ats-risks [activated]="risksTab.isActive" [instrumentKey]="vm.targetInstrumentKey"/>
            </nz-tab>
          }

          @if (vm.descriptors?.aboutIssue != null && vm.descriptors!.aboutIssue.length > 0) {
            <nz-tab [nzTitle]="t('info.issueTab')">
              <ats-descriptors-list [descriptors]="vm.descriptors!.aboutIssue"/>
            </nz-tab>
          }

          <nz-tab [nzTitle]="t('info.paymentsTab')">
            <ats-calendar [bond]="vm.info!"/>
          </nz-tab>

        </nz-tabs>
      } @else {
        <ats-sections-list>
          @if (vm.descriptors?.common != null && vm.descriptors!.common.length > 0) {
            <ats-section>
              <span class="title">{{ t('info.instrumentTab') }}</span>
              <ats-descriptors-list [descriptors]="vm.descriptors!.common" class="content"/>
            </ats-section>
          }

          @if (vm.targetInstrumentKey != null) {
            <ats-section>
              <span class="title">{{ t('info.risksTab') }}</span>
              <ats-risks [activated]="true" [instrumentKey]="vm.targetInstrumentKey" class="content"/>
            </ats-section>
          }

          @if (vm.descriptors?.aboutIssue != null && vm.descriptors!.aboutIssue.length > 0) {
            <ats-section>
              <span class="title">{{ t('info.issueTab') }}</span>
              <ats-descriptors-list [descriptors]="vm.descriptors!.aboutIssue" class="content"/>
            </ats-section>
          }

          <ats-section>
            <span class="title">{{ t('info.paymentsTab') }}</span>
            <ats-calendar [bond]="vm.info!" class="content"/>
          </ats-section>

        </ats-sections-list>
      }
    }
  </ng-container>
</ng-container>
