<ng-container *transloco="let t; scope: 'info'">
  <ng-container *ngrxLet="{ descriptors: descriptors$, targetInstrumentKey: targetInstrumentKey$, info: info$ } as vm">
    @if(vm.info == null) {
      <nz-empty nzNotFoundImage="simple"></nz-empty>
    } @else {
      <nz-tabset
        (mousedown)='$event.stopPropagation()'
        nzSize="small"
        nzTabPosition="top"
      >
        @if (vm.descriptors?.common != null && vm.descriptors!.common.length > 0) {
          <nz-tab [nzTitle]="t('info.instrumentTab')">
            <ats-descriptors-list [descriptors]="vm.descriptors!.common"></ats-descriptors-list>
          </nz-tab>
        }

        @if (vm.targetInstrumentKey != null) {
          <nz-tab [nzTitle]="t('info.risksTab')" #risksTab>
            <ats-risks [instrumentKey]="vm.targetInstrumentKey" [activated]="risksTab.isActive"></ats-risks>
          </nz-tab>
        }

        @if (vm.descriptors?.aboutIssue != null && vm.descriptors!.aboutIssue.length > 0) {
          <nz-tab [nzTitle]="t('info.issueTab')">
            <ats-descriptors-list [descriptors]="vm.descriptors!.aboutIssue"></ats-descriptors-list>
          </nz-tab>
        }

        <nz-tab [nzTitle]="t('info.paymentsTab')">
          <ats-calendar [bond]="vm.info!"></ats-calendar>
        </nz-tab>

      </nz-tabset>
    }
  </ng-container>
</ng-container>
