<ng-container *transloco="let t; scope: 'dashboard/navbar/common'">
  <button [nzDropdownMenu]="menu" [nzType]="'text'" nz-button nz-dropdown nzPlacement="bottomRight">
    <i nz-icon nzType="ats-user"></i>
  </button>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      @if(!isNullOrEmpty(externalLinks?.releases)) {
        <li (click)="openThirdPartyLink(externalLinks?.releases!)" class='menu-item external-link' nz-menu-item>
          <span>
            <i nz-icon nzTheme="outline" nzType="history"></i>
            <ng-container [ngTemplateOutletContext]="{name: t('dashboardNavbarCommon.releases')}"
                          [ngTemplateOutlet]="externalLink" />
          </span>
        </li>
      }

      @if(!isNullOrEmpty(externalLinks?.support)) {
        <li (click)="openThirdPartyLink(externalLinks?.support!)" class='menu-item external-link' nz-menu-item>
          <span>
            <i nz-icon nzTheme="outline" nzType="customer-service"></i>
            <ng-container [ngTemplateOutletContext]="{name: t('dashboardNavbarCommon.support')}"
                          [ngTemplateOutlet]="externalLink" />
          </span>
        </li>
      }

      @if(!isNullOrEmpty(externalLinks?.issuesList)) {
        <li (click)="openThirdPartyLink(externalLinks?.issuesList!)" class='menu-item external-link' nz-menu-item>
          <span>
            <i nz-icon nzTheme="outline" nzType="bulb"></i>
            <ng-container [ngTemplateOutletContext]="{name: t('dashboardNavbarCommon.issuesList')}"
                          [ngTemplateOutlet]="externalLink" />
          </span>
        </li>
      }

      @if (helpLink$ | async; as helpLink) {
        <li
          nz-menu-item
          class='menu-item external-link'
          (click)="openThirdPartyLink(helpLink)"
        >
          <span>
            <i nz-icon nzType="question-circle" nzTheme="outline"></i>
            <ng-container [ngTemplateOutlet]="externalLink"
                          [ngTemplateOutletContext]="{name: t('dashboardNavbarCommon.help')}" />
          </span>
        </li>
      }
      <li (click)="logout()" class='menu-item' nz-menu-item>
        <span><i nz-icon nzTheme="outline" nzType="logout"></i> <span>&nbsp;{{ t('dashboardNavbarCommon.exit') }}</span></span>
      </li>
    </ul>
    <ng-template #externalLink let-name='name'>
      <span class="link-label">&nbsp;{{ name }}&nbsp;<span nz-icon nzTheme="outline" nzType="ats-external-link"></span></span>
    </ng-template>
  </nz-dropdown-menu>
</ng-container>
