<ng-container *transloco="let t;">
  <ng-container *transloco="let tAdminClients; scope: 'admin-clients/admin-clients'">
    <ats-widget-settings-editor
      (cancelClick)="requestClose()"
      (copyClick)="createWidgetCopy()"
      (saveClick)="updateSettings()"
      [canCopy]="canCopy"
      [canSave]="canSave"
      [showCopy]="showCopy"
      [widgetInstance]="widgetInstance()"
    >
      <ats-widget-settings-form [formGroup]="form">
        <ats-widget-settings-form-item
          [errorTip]="t('validationErrors.selectColumnsError')"
          [label]="t('form.tableColumns.selectColumnLabel')"
          [required]="true"
        >
          <nz-select
            [nzMaxTagCount]="10"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            [nzPlaceHolder]="t('validationErrors.selectColumnsError')"
            formControlName="tableColumns"
            nzMode="multiple"
          >
            @for (item of allColumns; track item.id) {
              <nz-option
                [nzLabel]="tAdminClients('adminClientsAdminClients.columns.' + item.id + '.displayName')"
                [nzValue]="item.id"
              />
            }
          </nz-select>
        </ats-widget-settings-form-item>
        <ats-widget-settings-form-item
          [label]="t('form.refreshIntervalSec.label')"
          [required]="true"
        >
          <nz-slider
            [nzMarks]="marks"
            [nzMax]="validation.refreshIntervalSec.max"
            [nzMin]="validation.refreshIntervalSec.min"
            [nzStep]="1"
            formControlName="refreshIntervalSec"
          />
        </ats-widget-settings-form-item>
      </ats-widget-settings-form>
      <ng-template #tagPlaceHolder let-selectedList>{{ t('maxTagPlaceholder', {count: selectedList.length}) }}</ng-template>
    </ats-widget-settings-editor>
  </ng-container>
</ng-container>
