.heading-color {
  color: var(--ats-heading-color) !important;
}

.text-color {
  color: var(--ats-text-color) !important;
}

.text-max-contrast-color {
  color: var(--ats-text-max-contrast-color) !important;
}

.primary-color {
  color: var(--ats-primary-color) !important;
}

.warning-color {
  color: var(--ats-warning-color) !important;
}

.buy-color, .positive-color {
  color: var(--ats-buy-color) !important;
}

.sell-color, .negative-color {
  color: var(--ats-sell-color) !important;
}
