@if (settings$ | async; as settings) {
  <div class="h-100">
    @if (markerPosition$ | async; as markerPosition) {
      @if (displayMarker$ | async; as displayMarker) {
        <div
          [ngClass]="markerPosition"
          [ngStyle]="{
          'height': xAxisStep() + 'px',
          'line-height': xAxisStep() + 'px',
          'top': displayMarker.index * xAxisStep() + 'px'
          }"
          class="marker-container"
          >
          <span class="marker" #marker>
            @if (settings.widgetSettings.rulerSettings!.markerDisplayFormat === priceUnits.Points) {
              {{ displayMarker.points }}
            }
            @if (settings.widgetSettings.rulerSettings!.markerDisplayFormat === priceUnits.Percents) {
              {{ displayMarker.percents }}%
            }
          </span>
        </div>
      }
    }
  </div>
}


