<ng-container *transloco="let t; scope: 'order-commands/compact-header'">
  @if (instrumentChanges$ | async; as instrument) {
    @if (currentPortfolioChanges$ | async; as portfolioKey) {
      <div class="d-flex justify-content-between flex-gap-5">
        <div>
          <label class="portfolio">{{portfolioKey.portfolio}} ({{instrument.exchange}})</label>
          @if (positionInfo$ | async; as positionInfo) {
            <span>&nbsp;</span>
            @if (positionInfo.abs) {
              <span
                (click)="qtySelected.emit(positionInfo.abs)"
                [class]="positionInfo.quantity > 0 ? 'long' : 'short'"
                [nzTooltipTitle]="t('orderCommandsCompactHeader.positionTooltip')"
                class="position-badge"
                nz-tooltip
              >{{positionInfo.abs}}</span>
            }
          }
        </div>
        @if (priceData$ | async; as priceData) {
          <div>
            <label>Ask: </label>
            <span (click)="priceSelected.emit(priceData.ask)" class="selectable sell">{{priceData.ask | atsPrice: getPriceDecimalSymbolsCount(instrument)}}</span>
          </div>
          <div>
            <label>Bid: </label>
            <span (click)="priceSelected.emit(priceData.bid)" class="selectable buy">{{priceData.bid | atsPrice:  getPriceDecimalSymbolsCount(instrument)}}</span>
          </div>
        }
      </div>
    }
  }
</ng-container>
