<ng-container *transloco="let t; scope: 'order-commands/compact-header'">
  <ng-container *ngIf="instrumentKey$ | async as instrumentKey">
    <ng-container *ngIf="portfolioKey$ | async as portfolioKey">
      <div class="d-flex justify-content-between flex-gap-5">
        <div>
          <label class="portfolio">{{portfolioKey.portfolio}} ({{instrumentKey.exchange}})</label>
          <ng-container *ngIf="positionInfo$ | async as positionInfo">
            <span>&nbsp;</span>
            <span
              (click)="qtySelected.emit(positionInfo.abs)"
              *ngIf="positionInfo.abs"
              [class]="positionInfo.quantity > 0 ? 'long' : 'short'"
              [nzTooltipTitle]="t('orderCommandsCompactHeader.positionTooltip')"
              class="position-badge"
              nz-tooltip
            >{{positionInfo.abs}}</span>
          </ng-container>
        </div>
        <ng-container *ngIf="priceData$ | async as priceData">
          <div>
            <label>Ask: </label>
            <span (click)="priceSelected.emit(priceData.ask)" class="selectable sell">{{priceData.ask | number: '0.0-10'}}</span>
          </div>
          <div>
            <label>Bid: </label>
            <span (click)="priceSelected.emit(priceData.bid)" class="selectable buy">{{priceData.bid | number: '0.0-10'}}</span>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
