@import "../../styles/shared-styles";

ats-blotter-trades-history {
  height: 100%;

  .container {
    height: 100%;

    .table-container {
      .blotter-exportable-table-container();
    }
  }

  .sell {
    color: var(--ats-sell-color);
  }

  .bg-sell {
    background-color: var(--ats-sell-color);
  }

  .buy {
    color: var(--ats-buy-color);
  }

  .bg-buy {
    background-color: var(--ats-buy-color);
  }
}
