<ng-container *transloco="let t;">
  <ng-container *transloco="let tAdminClients; scope: 'admin-clients/admin-clients'">
    <ats-widget-settings
      (copyClick)="createWidgetCopy()"
      (saveClick)="updateSettings()"
      [canCopy]="canCopy"
      [canSave]="canSave"
      [showCopy]="showCopy"
    >
      <ng-container *transloco="let t">
        <div>
          <form [formGroup]="form" [nzLayout]="'horizontal'" nz-form>
            <nz-form-item class="compact">
              <nz-form-control [nzErrorTip]="t('validationErrors.selectColumnsError')">
                <nz-form-label nzFor="allInstrumentsColumns" nzRequired>{{ t('form.tableColumns.selectColumnLabel') }}
                </nz-form-label>
                <nz-select
                  [nzMaxTagCount]="10"
                  [nzMaxTagPlaceholder]="tagPlaceHolder"
                  [nzPlaceHolder]="t('validationErrors.selectColumnsError')"
                  formControlName="tableColumns"
                  nzMode="multiple"
                >
                  @for (item of allColumns; track item.id) {
                    <nz-option [nzLabel]="tAdminClients('adminClientsAdminClients.columns.' + item.id + '.displayName')"
                      [nzValue]="item.id"
                     />
                  }
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <nz-form-label nzFor="refreshIntervalSec" nzRequired>{{ t('form.refreshIntervalSec.label') }}
                </nz-form-label>
                <nz-slider [nzMarks]="marks"
                  [nzMax]="validation.refreshIntervalSec.max"
                  [nzMin]="validation.refreshIntervalSec.min"
                  [nzStep]="1"
                  formControlName="refreshIntervalSec"
                 />
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>

        <ng-template #tagPlaceHolder let-selectedList>{{ t('maxTagPlaceholder', {count: selectedList.length}) }}
        </ng-template>
      </ng-container>
    </ats-widget-settings>
  </ng-container>
</ng-container>

