<ng-container *transloco="let t;">
  @if (settings$ | async; as settings) {
    <ats-widget-skeleton
      [content]="contentRef"
      [header]="headerRef"
      [isBlockWidget]="isBlockWidget()"
      [settings]="settingsRef"
      [showContentScroll]="true"
      [showSettings]="shouldShowSettings"
      >
      <ng-template #headerRef>
        <ats-widget-header (switchSettings)="onSettingsChange()"
          [guid]="guid"
          [hasSettings]="true"
          [linkToActive]="settings.linkToActive ?? null"
          [selectedBadgeColor]="settings.badgeColor"
          [showBadgesMenu]="(showBadge$ | async) ?? false"
          [titleTemplate]="titleTemplate"
          [widgetMeta]="widgetInstance().widgetMeta"
         />
        <ng-template #titleTemplate>
          <ats-widget-header-instrument-switch [widgetGuid]="widgetInstance().instance.guid" />
        </ng-template>
      </ng-template>
      <ng-template #contentRef>
        <ng-container *transloco="let toc; scope: 'order-commands'">
          @if (currentPortfolio$ | async; as currentPortfolio) {
            @if (currentInstrument$ | async; as currentInstrument) {
              <div>
                <ats-compact-header (priceSelected)="setCommonParameters({price: $event})"
                  (qtySelected)="setCommonParameters({quantity: $event})"
                  [currentPortfolio]="currentPortfolio"
                  [instrument]="currentInstrument"
                   />
              </div>
              <div>
                <nz-tabs nzSize="small" nzTabPosition="top" #orderTabs>
                  @if (ordersConfig) {
                    @if (ordersConfig.limitOrder.isSupported) {
                      <nz-tab
                        #limitOrderTab
                        [nzTitle]="toc('orderCommands.limitOrderTabTitle')"
                        >
                        @if (settings.showVolumePanel && settings.workingVolumes.length > 0) {
                          <div class="mb-3">
                            <ats-working-volumes (itemSelected)="setCommonParameters({price: $event.price, quantity: $event.volume})"
                              [instrumentKey]="currentInstrument"
                              [workingVolumes]="settings.workingVolumes"
                             />
                          </div>
                        }
                        <div>
                          <ats-limit-order-form [activated]="limitOrderTab.isActive"
                            [instrument]="currentInstrument"
                            [portfolioKey]="currentPortfolio"
                            [limitOrderConfig]="ordersConfig.limitOrder.orderConfig!"
                           />
                        </div>
                        @if (settings.enableLimitOrdersFastEditing && settings.limitOrderPriceMoveSteps.length > 0) {
                          <div
                            class="mt-8">
                            <ats-limit-order-price-change [instrument]="currentInstrument"
                              [currentPortfolio]="currentPortfolio"
                              [steps]="settings.limitOrderPriceMoveSteps"
                             />
                          </div>
                        }
                      </nz-tab>
                    }
                    @if (ordersConfig.marketOrder.isSupported) {
                      <nz-tab
                        #marketOrderTab
                        [nzTitle]="toc('orderCommands.marketOrderTabTitle')"
                        >
                        @if (settings.showVolumePanel && settings.workingVolumes.length > 0) {
                          <div class="mb-3">
                            <ats-working-volumes (itemSelected)="setCommonParameters({price: $event.price, quantity: $event.volume})"
                              [instrumentKey]="currentInstrument"
                              [workingVolumes]="settings.workingVolumes"
                             />
                          </div>
                        }
                        <ats-market-order-form [activated]="marketOrderTab.isActive"
                          [instrument]="currentInstrument"
                          [portfolioKey]="currentPortfolio"
                          [marketOrderConfig]="ordersConfig.marketOrder.orderConfig!"
                         />
                      </nz-tab>
                    }
                    @if (ordersConfig.stopOrder.isSupported) {
                      <nz-tab
                        #stopOrderTab
                        [nzTitle]="toc('orderCommands.stopOrderTabTitle')"
                        >
                        @if (settings.showVolumePanel && settings.workingVolumes.length > 0) {
                          <div class="mb-3">
                            <ats-working-volumes (itemSelected)="setCommonParameters({price: $event.price, quantity: $event.volume})"
                              [instrumentKey]="currentInstrument"
                              [workingVolumes]="settings.workingVolumes"
                             />
                          </div>
                        }
                        <ats-stop-order-form [instrument]="currentInstrument"
                          [portfolioKey]="currentPortfolio"
                          [activated]="stopOrderTab.isActive"
                         />
                      </nz-tab>
                    }
                    @if (pushNotificationsConfig.priceChangeNotifications.isSupported) {
                      <nz-tab
                        #notificationsTab
                        [nzTitle]="tabTitle"
                        >
                        <ng-template #tabTitle>
                          <span>
                            <span nz-icon nzTheme="outline" nzType="bell"></span>
                            <span class="pl-2">{{toc('orderCommands.notificationsTabTitle')}}</span>
                          </span>
                        </ng-template>
                        <ats-setup-instrument-notifications [active]="notificationsTab.isActive"
                          [instrumentKey]="currentInstrument"
                           />
                      </nz-tab>
                    }
                  }
                </nz-tabs>
              </div>
            }
          }
        </ng-container>
      </ng-template>
      <ng-template #settingsRef>
        <ats-order-submit-settings (settingsChange)="onSettingsChange()" [guid]="guid" />
      </ng-template>
    </ats-widget-skeleton>
  }

</ng-container>

