<ng-container *transloco="let t; scope: 'order-commands/instrument-info'">
<div *ngIf="viewData$ | async as data" class="content">
  <div class='instrument-logo'>
      <nz-avatar [nzSize]="64" [nzSrc]="iconsUrl + data.instrumentKey.symbol + '.png'"
                 [nzText]="data.instrumentKey.symbol"
                 nzGap='4'>
      </nz-avatar>
      <span
        *ngIf="data.position != null && data.position.abs > 0"
        class="badge"
        [class]="data.position.quantity > 0 ? 'long' : 'short'"
        (click)="selectQuantity(data.position.abs)"
        nz-tooltip
        [nzTooltipTitle]="t('orderCommandsInstrumentInfo.positionTooltip')"
      >
        {{data.position.abs}}
      </span>
  </div>

  <div class='description'>
    <div class="instrument">
      <div class='identifier'>
        <p class='ticker'>{{data.instrumentKey.symbol}}</p>
        <div class="exchange-info">
          <p class='exchange'>{{data.instrumentKey.exchange}}</p>
          <p class='instrument-group'>{{data.instrumentKey.instrumentGroup}}</p>
        </div>
      </div>
      <div class='price'>
        <span>{{data.priceData.lastPrice}}</span>
      </div>
    </div>

    <nz-descriptions
      [nzColon]="false"
      [nzColumn]="{ xxl: 3, xl: 3, lg: 3, md: 2, sm: 2, xs: 2 }"
      class="dynamic"
      nzSize="small"
    >
      <nz-descriptions-item [nzTitle]="t('orderCommandsInstrumentInfo.dayChangeLabel')">
        <p [class]='(data.priceData.dayChange ?? 0) < 0 ? "sell" : "buy"' class="upper-row">{{data.priceData.dayChange}}</p>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="High">
        <p class="upper-row">{{data.priceData.high}}</p>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Ask">
        <p (click)="selectPrice(data.priceData.ask)" class='sell selectable upper-row'>{{data.priceData.ask}}</p>
      </nz-descriptions-item>

      <nz-descriptions-item [nzTitle]="t('orderCommandsInstrumentInfo.dayChangePerPriceLabel')">
        <p [class]='(data.priceData.dayChange ?? 0) < 0 ? "sell" : "buy"'
           class="lower-row">{{data.priceData.dayChangePerPrice}}</p>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Low">
        <p class="lower-row">{{data.priceData.low}}</p>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Bid">
        <p (click)="selectPrice(data.priceData.bid)" class='buy selectable lower-row'>{{data.priceData.bid}}</p>
      </nz-descriptions-item>
    </nz-descriptions>
  </div>
</div>
</ng-container>
