<ng-template #defaultContentTpl>
  <ng-content/>
</ng-template>

@if (isOpen()) {
  @if (isMobile()) {
    <ats-widget-settings-layout-mobile
      (auxToggleSelect)="selectAuxToggle($event)"
      (saveClick)="saveClick.emit()"
      [activeAuxToggle]="activeAuxToggle()"
      [auxToggles]="auxToggles()"
      [canSave]="canSave()"
      [defaultContent]="defaultContentTpl"
      [groups]="visibleGroups()"
    />
  } @else if (showPlaceholder()) {
    <ats-widget-settings-placeholder/>
  }
}

<ng-template #desktopContentTpl>
  <ats-widget-settings-layout-desktop
    (auxToggleSelect)="selectAuxToggle($event)"
    (cancelClick)="cancelClick.emit()"
    (copyClick)="copyClick.emit()"
    (saveClick)="saveClick.emit()"
    [activeAuxToggle]="activeAuxToggle()"
    [auxToggles]="auxToggles()"
    [canCopy]="canCopy()"
    [canSave]="canSave()"
    [defaultContent]="defaultContentTpl"
    [groups]="visibleGroups()"
    [showCopy]="showCopy()"
    [widgetInstance]="widgetInstance()"
  />
</ng-template>
