<ng-container *transloco="let t; scope: 'bond-screener/yield-curve-chart'">
  <div class="container h-100 d-flex flex-column">
    <div class="header">
      <ats-yield-curve-chart-parameters (parametersChanged)="chartParameters$.next($event)" />
    </div>
    <div (nzResizeObserve)="sizeChanged($event)" nzResizeObserver class="overflow-hidden flex-fill mt-10">
      <ng-container *ngrxLet="{loadingStatus: loadingStatus$} as vm">
        <div [hidden]="vm.loadingStatus !== loadingStatuses.Success" [id]="figureId" class="position-relative">
        </div>
        @if (vm.loadingStatus === loadingStatuses.NoData || vm.loadingStatus === loadingStatuses.Error) {
          <nz-empty class="ant-list-empty-text"
            nzNotFoundImage="simple"
           />
        }
        @if (vm.loadingStatus === loadingStatuses.Loading) {
          <p class="text-center">
            <nz-spin nzSimple />
          </p>
        }
      </ng-container>
    </div>
  </div>
</ng-container>

