<nz-input-group [nzAddOnAfter]="suffixIconButton" nzSearch nzSize="large">
  <input
    #inputElement
    (keydown.enter)="sendMessage()"
    (ngModelChange)="onTextChange($event)"
    [ngModel]="text"
    [placeholder]="messagePlaceholder"
    [disabled]="atsDisabled"
    nz-input
    type="text"
  />
</nz-input-group>
<ng-template #suffixIconButton>
  <button
    (click)="sendMessage()"
    nz-button
    nzSearch
    nzSize="large"
    nzType="primary"
    [disabled]="atsDisabled"
  >
    <span nz-icon nzType="send"></span>
  </button>
</ng-template>
