<div class="d-flex flex-row flex-nowrap align-items-end flex-gap-2">
  <div class="input flex-fill align-self-stretch">
    <textarea
          #inputElement
          (keydown.enter)="sendMessage()"
          (ngModelChange)="onTextChange($event)"
          [disabled]="atsDisabled()"
          [ngModel]="text()"
          [placeholder]="messagePlaceholder()"
          nz-input
          rows="1"
          [maxlength]="messageMaxLength()"
    ></textarea>
  </div>
  <button
    (click)="sendMessage()"
    [disabled]="atsDisabled() || inputElement.value.length === 0"
    nz-button
    nzSearch
    nzSize="large"
    nzType="primary"
  >
    <span nz-icon nzType="send"></span>
  </button>
</div>
