li {
  padding-left: 10px;
  padding-right: 10px;
}

.title-input {
  &.ant-input {
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 0;
    background: transparent;

    &.ant-input-status-error.ant-input:focus {
      box-shadow: none;
      background: transparent;
    }
  }
}

.actions {
  .favorite-btn {
    .active {
      color: orange;
    }
  }

  .lock-btn {
    .active {
      color: red;
    }
  }
}

:host ::ng-deep .ant-input-affix-wrapper {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none !important;
  box-shadow: none;
  padding-left: 0;
  background: transparent !important;

  .edit-title-input {
    &.ant-input {
      background: transparent;
      &.ant-input-status-error.ant-input:focus,
      &.ant-input-status-error.ant-input{
        box-shadow: none;
        background: transparent;
      }
    }
  }

  &.ant-input-affix-wrapper-focused {
    background: transparent;
    box-shadow: none !important;
  }
}

.new-dashboard-menu-item {
  width: 100%;
  display: flex;

  .ant-form {
    width: 100%;

    .ant-form-item {
      width: 100%;
      margin-right: 0;
    }
  }

  button {
    margin-top: 4px;
  }
}

.ant-dropdown-menu-item {
  ::ng-deep {
    .ant-menu-title-content {
      width: 100%;

      .dashboard-selection-row {
        display: flex;

        .title {
          flex: 1;
        }

      }
    }
  }
}

