<ng-container *transloco="let t;">
  @if (getTypedConfig(); as config) {
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-label nzFor="property" [nzRequired]="config.validation.required">{{ config.label }}
        </nz-form-label>
        <nz-form-control
          [nzErrorTip]="error">
          <ats-input-number formControlName="property"
            placeholder="0"
            [allowDecimal]="config.validation.allowDecimal"
            [allowNegative]="config.validation.allowNegative"
            [step]="config.validation.step ?? 1"
           />
          <ng-template #error let-control>
            @if (control.errors?.['required']) {
              <span>{{ t('validationErrors.emptyFieldError') }}</span>
            }
            @if (control.errors?.['min']) {
              <span>{{ t('validationErrors.minError', {min: config.validation.min}) }}</span>
            }
            @if (control.errors?.['max']) {
              <span>{{ t('validationErrors.maxError', {max: config.validation.max}) }}</span>
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>
  }
</ng-container>

