<div class="d-flex flex-column w-100 h-100">
  <ng-container
    *ngrxLet="{
      quickAccessPanelWidgets: quickAccessPanelWidgets$,
      widgetsGallery: widgetsGallery$
    } as vm"
    >

    @let currentWidget = selectedWidget();


    <div class="d-flex flex-column w-100 h-100 overflow-hidden">
      <div class="flex-fill overflow-auto">
        @for (widget of vm.quickAccessPanelWidgets; track widget) {
          <div
            class="h-100"
            [class.d-none]="currentWidget?.instance?.widgetType !== widget.instance.widgetType"
            >
            <ats-parent-widget [widgetInstance]="widget"
              [isBlockWidget]="false"
             />
          </div>
        }

        @if (!(currentWidget?.isDefaultPanelWidget ?? false)) {
          <div
            class="h-100"
            >
            <ats-parent-widget [widgetInstance]="currentWidget!"
              [isBlockWidget]="false"
             />
          </div>
        }
      </div>

      @if(currentWidget?.widgetMeta?.mobileMeta?.showOrderButtons ?? false) {
        <div class="mb-15 d-flex justify-content-center">
          <button
            class='buy-button w-50'
            nz-button  nzSize="large"
            *transloco="let t; scope: 'mobile-dashboard-content'"
            (click)="openPreferredOrderWidget(false)"
            >
            {{t('mobileDashboardContent.orderBtnTitle', {fallback: 'buy'})}}
          </button>
        </div>
      }
    </div>

    <div class="widgets-menu">
      @if(vm.widgetsGallery.allCategory.widgets.length > 0 || vm.widgetsGallery.groups.length > 0) {
        <div
          class="menu-item "
          [class.active-widget]="!(currentWidget?.isDefaultPanelWidget ?? false)"
          (click)="galleryVisible = true"
        >
          <i nz-icon nzType="ellipsis" nzTheme="outline"></i>
        </div>
      }

      @for (widget of vm.quickAccessPanelWidgets; track widget) {
        <div
          class="menu-item"
          [class.active-widget]="widget.instance.widgetType === currentWidget?.instance?.widgetType"
          (click)="selectWidget(widget.instance.widgetType)"
          >
          <i nz-icon [nzType]="widget.widgetMeta.mobileMeta!.ribbonIcon" class="widget-icon" nzTheme="outline"></i>
        </div>
      }
    </div>

    <ats-widgets-gallery [gallery]="vm.widgetsGallery"
      [showResetBtn]="false"
      [closable]="true"
      [activeWidget]="currentWidget?.instance?.widgetType ?? null"
      [(atsVisible)]="galleryVisible"
      (selected)="selectWidget($event)"
     />
  </ng-container>
</div>
