@import "theme-mixin";
@import "scrollable-mixin";
@import "buy-sell-button-mixin";

.themeMixin({
  :host {
    .widgets-menu {
      border-top: 1px solid @border-color-base;
      .scrollable(rgba(0, 0, 0, 0));

      .active-widget {
        color: @primary-color;
      }

      i {
        font-size: 20px;
      }
    }

    .buy-button {
      .buySellButton(@buy-color, @buy-sell-btn-text-color, @buy-color-disabled, @buy-color-background-disabled);
    }
  }
});

ats-parent-widget {
  height: 100%;
}

.widget-icon {
  margin-right: 0;
}

.vertical-divider {
  height: 100%;
  margin: 0;
}

.widgets-menu {
  display: flex;
  justify-content: space-around;
  gap: 10px;

  padding: 15px 10px;
  overflow: auto;

  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
