<div class="d-flex flex-column w-100 h-100">
  <ng-container
    *ngrxLet="{
      defaultWidgets: defaultWidgets$,
      selectedWidget: selectedWidget$,
      widgetsGallery: widgetsGallery$
    } as vm"
    >
    <div class="d-flex flex-column w-100 h-100 overflow-hidden">
      <div class="flex-fill overflow-auto">
        @for (widget of vm.defaultWidgets; track widget) {
          <div
            class="h-100"
            [class.d-none]="vm.selectedWidget?.instance?.widgetType !== widget.instance.widgetType"
            >
            <ats-parent-widget [widgetInstance]="widget"
              [isBlockWidget]="false"
             />
          </div>
        }

        @if (!defaultWidgetNames.includes(vm.selectedWidget?.instance?.widgetType ?? '')) {
          <div
            class="h-100"
            >
            <ats-parent-widget [widgetInstance]="vm.selectedWidget!"
              [isBlockWidget]="false"
             />
          </div>
        }
      </div>

      @if(vm.selectedWidget?.widgetMeta?.mobileMeta?.showOrderButtons ?? false) {
        <div class="mb-15 d-flex justify-content-center">
          <button
            class='buy-button w-50'
            nz-button  nzSize="large"
            *transloco="let t; scope: 'mobile-dashboard-content'"
            (click)="selectWidget(newOrderWidgetId, false)"
            >
            {{t('mobileDashboardContent.orderBtnTitle', {fallback: 'buy'})}}
          </button>
        </div>
      }
    </div>

    <div class="widgets-menu">
      <div
        class="menu-item "
        [class.active-widget]="!defaultWidgetNames.includes(vm.selectedWidget?.instance?.widgetType ?? '')"
        (click)="galleryVisible = true"
        >
        <i nz-icon nzType="ellipsis" nzTheme="outline"></i>
      </div>

      @for (widget of vm.defaultWidgets; track widget) {
        <div
          class="menu-item"
          [class.active-widget]="widget.instance.widgetType === vm.selectedWidget?.instance?.widgetType"
          (click)="selectWidget(widget.instance.widgetType)"
          >
          <i nz-icon [nzType]="widget.widgetMeta.mobileMeta!.ribbonIcon" class="widget-icon" nzTheme="outline"></i>
        </div>
      }
    </div>

    <ats-widgets-gallery [gallery]="vm.widgetsGallery"
      [showResetBtn]="false"
      [closable]="true"
      [activeWidget]="vm.selectedWidget?.instance?.widgetType ?? null"
      [(atsVisible)]="galleryVisible"
      (selected)="selectWidget($event)"
     />
  </ng-container>
</div>
