@if (instrumentTitle$ | async; as instrumentTitle) {
  <div class="d-flex">
    <div class="title-text overflow-x-hidden">
      <label [nzPopoverContent]="instrumentTitle"
        [nzPopoverTrigger]="searchVisible ? null : 'hover'"
        nz-popover
        nzPopoverPlacement="bottom">
        {{instrumentTitle}}
      </label>
    </div>
    <div>
      <button
        (mousedown)="triggerMenu($event)"
        (nzVisibleChange)="searchVisibilityChanged($event)"
        [(nzVisible)]="searchVisible"
        [nzClickHide]="false"
        [nzDropdownMenu]="menu"
        class="search-btn"
        nz-button
        nz-dropdown
        nzBackdrop="true"
        nzPlacement="bottomCenter"
        nzSize="small"
        nzTrigger="click"
        nzType="text"
        >
        <i nz-icon nzTheme="outline" nzType="down"></i>
      </button>
    </div>
  </div>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item>
        <div class="w-100 d-flex justify-content-between">
          <span nz-typography><strong>{{instrumentTitle}}</strong></span>
          <button (click)="close()"
            nz-button
            nzSize='small'
            nzType="link"
            >
            <i nz-icon nzType="close"></i>
          </button>
        </div>
      </li>
      <li class="search-input" nz-menu-item>
        <ats-instrument-search (instrumentSelected)="instrumentSelected($event)"
          [showHelpTooltip]="false"
         />
      </li>
    </ul>
  </nz-dropdown-menu>
}
