<ng-template #nodeList let-nodes>
  <div class="stats">
    @for (node of nodes; track $index) {
      @if (node.type === 'leaf') {
        <span class="stat d-flex flex-column">
          <span class="stat-label">{{ node.label }}</span>
          @if (node.isBoolean) {
            <span [class.positive-color]="node.booleanValue"
                  [class.stat-off]="!node.booleanValue"
                  [nzType]="node.booleanValue ? 'check-circle' : 'minus-circle'"
                  class="stat-bool"
                  nz-icon
            ></span>
          } @else {
            <span [class.buy-color]="node.trend === 'up'"
                  [class.sell-color]="node.trend === 'down'"
                  class="stat-value"
            >{{ node.value }}</span>
          }
        </span>
      } @else {
        <div class="group">
          <div class="group-title">{{ node.label }}</div>
          <div class="group-body">
            <ng-container *ngTemplateOutlet="nodeList; context: {$implicit: node.children}"/>
          </div>
        </div>
      }
    }
  </div>
</ng-template>

<ng-container *ngTemplateOutlet="nodeList; context: {$implicit: nodes()}"/>
