ats-free-form-details {
  display: block;
  font-size: 0.85rem;

  .node {
    .key {
      color: var(--ats-text-color-secondary);
    }

    .value {
      overflow-wrap: anywhere;
    }

    .children {
      padding-left: 12px;
    }
  }
}
