ats-blotter-widget {
  .container {
    height: 100%;
    width: 100%;

    .ant-tabs {
      .ant-tabs-content {
        height: 100%;

        .ant-tabs-tabpane {
          height: 100%;
        }
      }
    }
  }

  .ant-table {
    .ant-table-tbody {
      .ant-table-row {
        .anticon {
          font-size: calc(var(--ats-font-size-base) + 4px);
        }
      }
    }
  }
}
