<ng-container *transloco="let t">
  <p>{{t('settingsHeader')}}</p>
  <div>
    <form nz-form [nzLayout]="'horizontal'" [formGroup]="form" (ngSubmit)="submitForm()">
      <nz-form-item class="compact" *transloco="let tSettings; scope: 'all-instruments/all-instruments-settings'">
        <nz-form-control [nzErrorTip]="tSettings('allInstrumentsAllInstrumentsSettings.selectColumnsError')">
          <nz-form-label nzRequired nzFor="allInstrumentsColumns">{{tSettings('allInstrumentsAllInstrumentsSettings.selectColumnLabel')}}</nz-form-label>
          <nz-select
            [nzMaxTagCount]="10"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            nzMode="multiple"
            [nzPlaceHolder]="tSettings('allInstrumentsAllInstrumentsSettings.selectColumnPlaceholder')"
            formControlName="allInstrumentsColumns"
          >
            <ng-container *transloco="let tInstruments; scope: 'all-instruments/all-instruments'">
              <nz-option
                *ngFor="let item of allInstrumentsColumns"
                [nzLabel]="tInstruments('allInstrumentsAllInstruments.columns.' + item.columnId)"
                [nzValue]="item.columnId"
              >
              </nz-option>
            </ng-container>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="compact">
        <nz-form-control>
          <button type="submit" nz-button nzType="primary" [disabled]="!form.valid">{{t('saveBtnText')}}</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>

  <ng-template #tagPlaceHolder let-selectedList>{{t('maxTagPlaceholder', { count: selectedList.length })}}</ng-template>
</ng-container>
