<ats-widget-settings
  [canSave]="canSave"
  [canCopy]="canCopy"
  [showCopy]="showCopy"
  (saveClick)="updateSettings()"
  (copyClick)="createWidgetCopy()"
  >
  <ng-container *transloco="let t">
    <div>
      <form nz-form [nzLayout]="'horizontal'" [formGroup]="form">
        <nz-form-item class="compact" *transloco="let tSettings; scope: 'all-instruments/all-instruments-settings'">
          <nz-form-control [nzErrorTip]="tSettings('allInstrumentsAllInstrumentsSettings.selectColumnsError')">
            <nz-form-label nzRequired nzFor="allInstrumentsColumns">{{tSettings('allInstrumentsAllInstrumentsSettings.selectColumnLabel')}}</nz-form-label>
            <nz-select
              [nzMaxTagCount]="10"
              [nzMaxTagPlaceholder]="tagPlaceHolder"
              nzMode="multiple"
              [nzPlaceHolder]="tSettings('allInstrumentsAllInstrumentsSettings.selectColumnPlaceholder')"
              formControlName="allInstrumentsColumns"
              >
              <ng-container *transloco="let tInstruments; scope: 'all-instruments/all-instruments'">
                @for (item of allInstrumentsColumns; track item) {
                  <nz-option [nzLabel]="tInstruments('allInstrumentsAllInstruments.columns.' + item.id + '.name')"
                    [nzValue]="item.id"
                     />
                }
              </ng-container>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>

    <ng-template #tagPlaceHolder let-selectedList>{{t('maxTagPlaceholder', { count: selectedList.length })}}</ng-template>
  </ng-container>
</ats-widget-settings>
