<div *ngIf="commandContext$ | async as commandContext" class="limit-edit-wrapper">
  <form nz-form [nzLayout]="'inline'" [formGroup]="form" *transloco="let t; scope: 'command'">
    <div nz-row [nzGutter]="12">
      <div nz-col [nzSm]="12" [nzXs]="24">
        <nz-form-item class="compact">
          <nz-form-control [nzErrorTip]="quantityError" [nzValidateStatus]="form.get('quantity')!">
            <nz-form-label [nzNoColon]="true" nzRequired nzFor="quantity">
              {{t('command.quantityLabel')}}
              <span *ngIf="(commandContext.instrument?.lotsize ?? 1) !== 1" class="lot-size-hint">
                &nbsp;1 {{t('command.lot')}} = {{commandContext.instrument.lotsize | shortNumber}} {{t('command.pcs')}}
              </span>
            </nz-form-label>
            <input atsNumerical formControlName="quantity" (mousedown)="$event.stopPropagation()" nz-input placeholder="0" />
          </nz-form-control>
          <ng-template #quantityError>
            <span *ngIf="form.get('quantity')?.errors?.required">{{t('command.emptyQuantityError')}}</span>
            <span *ngIf="form.get('quantity')?.errors?.min">{{t('command.tooLittle')}}</span>
            <span *ngIf="form.get('quantity')?.errors?.max">{{t('command.tooMuch')}}</span>
          </ng-template>
        </nz-form-item>
      </div>
      <div nz-col [nzSm]="12" [nzXs]="24">
        <nz-form-item class="compact">
          <nz-form-control [nzErrorTip]="priceError"  [nzValidateStatus]="form.get('price')!">
            <nz-form-label [nzNoColon]="true" [nzSm]="6" [nzXs]="24" nzRequired nzFor="price">{{t('command.priceLabel')}}</nz-form-label>
            <input atsNumerical [step]="commandContext.instrument.minstep" formControlName="price" (mousedown)="$event.stopPropagation()" nz-input placeholder="0" />
          </nz-form-control>
          <ng-template #priceError>
            <span *ngIf="form.get('price')?.errors?.required">{{t('command.emptyPriceError')}}</span>
            <span *ngIf="form.get('price')?.errors?.min">{{t('command.tooLittle')}}</span>
            <span *ngIf="form.get('price')?.errors?.max">{{t('command.tooMuch')}}</span>
            <span *ngIf="form.get('price')?.errors?.priceStepMultiplicity">
              {{t('command.priceStepMultiplicityError')}} ({{commandContext.instrument.minstep}})
            </span>
          </ng-template>
        </nz-form-item>
      </div>
    </div>
    <div>
      <nz-collapse nzGhost [nzBordered]="false" class="compact">
        <nz-collapse-panel [nzHeader]="t('command.advanced')">
          <nz-form-label nzFor="timeInForce">{{t('command.timeInForceLabel')}}</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="timeInForce" nzAllowClear [nzPlaceHolder]="t('command.timeInForcePlaceholder')">
              <nz-option
                *ngFor="let timeInForce of timeInForceEnum | keyvalue"
                [nzValue]="timeInForce.value" [nzLabel]="t('command.timeInForceOptions.' + timeInForce.key)"
              ></nz-option>
            </nz-select>
          </nz-form-control>

          <nz-form-item class="compact mt-4">
            <label
              formControlName="isIceberg"
              nz-checkbox
            >
              {{t('command.isIcebergLabel')}}
            </label>
          </nz-form-item>

          <ng-container *ngIf="form.get('isIceberg')?.value">
            <nz-form-control class="compact" [nzErrorTip]="icebergFixedError">
              <nz-form-label nzFor="icebergFixed">{{t('command.icebergFixedLabel')}}</nz-form-label>
              <nz-input-group>
                <input
                  nz-input
                  atsNumerical
                  formControlName="icebergFixed"
                  placeholder="0"
                  (mousedown)="$event.stopPropagation()"
                />
              </nz-input-group>
            </nz-form-control>

            <ng-template #icebergFixedError>
              <span *ngIf="form.get('icebergFixed')?.errors?.min">{{t('command.tooLittle')}}</span>
            </ng-template>
            <span nz-typography nzType="danger" *ngIf="form.errors?.icebergFixedNotBiggerThanQuantity">
              {{t('command.notBiggerThanError', { fieldName: t('command.quantityLabel') })}}
            </span>

            <nz-form-item class="compact">
              <nz-form-label nzFor="icebergVariance">
                {{t('command.icebergVarianceLabel')}}
              </nz-form-label>
              <nz-form-control [nzErrorTip]="icebergVarianceError">
                <input
                  nz-input
                  atsNumerical
                  formControlName="icebergVariance"
                  placeholder="0"
                  (mousedown)="$event.stopPropagation()"
                />
              </nz-form-control>

              <ng-template #icebergVarianceError>
                <span *ngIf="form.get('icebergFixed')?.errors?.min">{{t('command.tooLittle')}}</span>
              </ng-template>
            </nz-form-item>
          </ng-container>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </form>

  <ats-evaluation
    *ngIf="evaluation$ | async as evaluation"
    [evaluationProperties]="evaluation"
    (quantitySelect)="quantitySelect($event)"
  ></ats-evaluation>
</div>
