@import "theme-mixin";

.themeMixin({
  :host {
    .lot-size-hint {
      color: @text-color;
    }
  }
});

.limit-edit-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .compact {
    margin-right: 0;
  }
}

.iceberg-field {
  display: flex;
  flex-direction: row;
  margin-top: 4px;

  nz-form-label {
    line-height: 1;
    margin-left: 4px;
    padding: 0;
  }
}
