<div *ngIf="commandContext$ | async as commandContext">
  <form nz-form [nzLayout]="'inline'" [formGroup]="form">
    <div nz-row [nzGutter]="12">
      <div nz-col [nzSm]="12" [nzXs]="24">
        <nz-form-item class="compact">
          <nz-form-control nzErrorTip="Введите кол-во">
            <nz-form-label  nzRequired nzFor="quantity">Кол-во лотов <span *ngIf="(commandContext.instrument?.lotsize ?? -1) !== 1">&nbsp;(лотность {{commandContext.instrument?.lotsize}})</span></nz-form-label>
            <input class='ant-input' atsNumerical formControlName="quantity" (mousedown)="$event.stopPropagation()" nz-input placeholder="100" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSm]="12" [nzXs]="24">
        <nz-form-item class="compact">
          <nz-form-control nzErrorTip="Введите цену">
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="price">Цена</nz-form-label>
            <input class='ant-input' atsNumerical formControlName="price" (mousedown)="$event.stopPropagation()" placeholder="0" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <ats-evaluation *ngIf="evaluation$ | async as evaluation" [evaluationProperties]="evaluation"></ats-evaluation>
</div>
