<ul *transloco="let t; scope: 'shared/widget-menu'" nz-menu nzMode="inline">
  <ng-container *ngFor="let widget of widgetsMeta$ | async">
    <li
      (click)="selected.emit(widget.typeId)"
      nz-menu-item
    >
      <span><i [nzType]="widget.icon" nz-icon nzTheme="outline"></i><label>&nbsp;{{widget.name}}</label></span>
    </li>
  </ng-container>

  <ng-container *ngIf="showResetItem">
    <li nz-menu-divider></li>
    <li (click)="resetDashboard.emit()" nz-menu-item>
      <span>
        <i nz-icon nzTheme="outline" nzType="appstore"></i>
        <label> {{t('sharedWidgetMenu.standardView')}} </label>
      </span>
    </li>
  </ng-container>
</ul>
