<div class="container" *ngIf="!shouldShowSettings" [style.height]="(contentSize$ | async)?.height + 'px'">
  <nz-tabset
    nzTabPosition="top"
    nzSize="small"
    *transloco="let t; scope: 'blotter'"
    (mousedown)='$event.stopPropagation()' [nzSelectedIndex]="activeTabIndex$ | async"
    (nzSelectChange)="onIndexChange($event)"
    [nzAnimated]="false">
    <nz-tab [nzTitle]="t('blotter.infoTab')">
      <ng-template nz-tab>
        <ng-container *ngIf="marketType$ | async as marketType">
          <div class="w-100 show-scroll">
            <ats-common-summary
              *ngIf="!marketType || marketType !== marketTypes.Forward"
              [guid]="guid"
              [(shouldShowSettings)]="shouldShowSettings"
              [resize]="resize"></ats-common-summary>
            <ats-forward-summary
              *ngIf="marketType === marketTypes.Forward"
              [guid]="guid"
              [resize]="resize"></ats-forward-summary>
          </div>
        </ng-container>
      </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="t('blotter.ordersTab')">
      <ng-template nz-tab>
        <ats-orders
          [guid]="guid"
          [(shouldShowSettings)]="shouldShowSettings"></ats-orders>
      </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="t('blotter.stopOrdersTab')" nzForceRender>
      <ng-template nz-tab>
        <ats-stop-orders
          [guid]="guid"
          [(shouldShowSettings)]="shouldShowSettings"></ats-stop-orders>
      </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="t('blotter.positionsTab')" nzForceRender>
      <ng-template nz-tab>
        <ats-positions
          [guid]="guid"
          [(shouldShowSettings)]="shouldShowSettings"></ats-positions>
      </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="t('blotter.tradesTab')">
      <ng-template nz-tab>
        <ats-trades
          [guid]="guid"
          [(shouldShowSettings)]="shouldShowSettings"></ats-trades>
      </ng-template>
    </nz-tab>
  </nz-tabset>
</div>

<ats-blotter-settings *ngIf="shouldShowSettings" [guid]='guid' (settingsChange)="onSettingsChange()"></ats-blotter-settings>
