<nz-tabset nzTabPosition="top" *ngIf="!shouldShowSettings && (settings$ | async) as settings" nzSize="small">

  <nz-tab nzTitle="Заявки">
    <ats-orders
      [widget]="widget"
      [settings]="settings"
      [(shouldShowSettings)]="shouldShowSettings"></ats-orders>
  </nz-tab>
  <nz-tab nzTitle="Позиции">
    <ats-positions
      [widget]="widget"
      [settings]="settings"
      [(shouldShowSettings)]="shouldShowSettings"></ats-positions>
  </nz-tab>
  <nz-tab nzTitle="Сделки">
    <ats-trades
      [widget]="widget"
      [settings]="settings"
      [(shouldShowSettings)]="shouldShowSettings"></ats-trades>
  </nz-tab>
</nz-tabset>
<ats-blotter-settings *ngIf="shouldShowSettings" (settingsChange)="onSettingsChange($event)"></ats-blotter-settings>
