<ng-container *transloco="let t; scope: 'blotter/settings'">
  <p>{{t('settingsHeader')}}</p>
  <div>
    <form nz-form [nzLayout]="'horizontal'" [formGroup]="form" (ngSubmit)="submitForm()">
      <nz-form-item *ngIf="!excludedFields.includes('portfolio')">
        <nz-form-control [nzErrorTip]="t('blotterSettings.portfolioError')">
          <nz-form-label nzRequired nzFor="portfolio">{{t('blotterSettings.portfolioLabel')}}</nz-form-label>
          <nz-select
            formControlName="portfolio"
            nzAllowClear
            [nzPlaceHolder]="t('blotterSettings.portfolioLabel')"
            nzShowSearch
            (ngModelChange)="portfolioChanged($event)"
            *ngIf="availablePortfolios$ | async as availablePortfolios">
            <ng-container *ngFor="let agreement of availablePortfolios.keys()">
              <nz-option-group [nzLabel]="agreement">
                <ng-container *ngIf="availablePortfolios.get(agreement) as portfolios">
                  <ng-container *ngFor="let portfolio of portfolios">
                    <nz-option [nzValue]="toPortfolioKey(portfolio)" [nzLabel]="portfolio.market + ' ' +  portfolio.portfolio"></nz-option>
                  </ng-container>
                </ng-container>
              </nz-option-group>
            </ng-container>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="!excludedFields.includes('exchange')">
        <nz-form-control [nzErrorTip]="t('blotterSettings.exchangeError')">
          <nz-form-label nzRequired nzFor="exchange">{{t('blotterSettings.exchangeLabel')}}</nz-form-label>
          <nz-form-control>
            <input class='ant-input' formControlName='exchange' nz-input>
          </nz-form-control>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="t('blotterSettings.selectColumnsError')">
          <nz-form-label nzRequired nzFor="ordersColumns">
            {{t('blotterSettings.ordersColumnsLabel')}}
          </nz-form-label>
          <nz-select
            *transloco="let tOrders; scope: 'blotter/orders'"
            [nzMaxTagCount]="10"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            nzMode="multiple"
            [nzPlaceHolder]="t('blotterSettings.selectPlaceholder')"
            formControlName="ordersColumns"
          >
            <nz-option
              *ngFor="let item of allOrdersColumns"
              [nzLabel]="tOrders('blotterOrders.columns.' + item.columnId + '.name')"
              [nzValue]="item.columnId"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="t('blotterSettings.selectColumnsError')">
          <nz-form-label nzRequired nzFor="stopOrdersColumns">
            {{t('blotterSettings.stopOrdersColumnsLabel')}}
          </nz-form-label>
          <nz-select
            *transloco="let tStopOrders; scope: 'blotter/stop-orders'"
            [nzMaxTagCount]="10"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            nzMode="multiple"
            [nzPlaceHolder]="t('blotterSettings.selectPlaceholder')"
            formControlName="stopOrdersColumns"
          >
            <nz-option
              *ngFor="let item of allStopOrdersColumns"
              [nzLabel]="tStopOrders('blotterStopOrders.columns.' + item.columnId + '.name')"
              [nzValue]="item.columnId"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="t('blotterSettings.selectColumnsError')">
          <nz-form-label nzRequired nzFor="ordersColumns">
            {{t('blotterSettings.tradesColumnsLabel')}}
          </nz-form-label>
          <nz-select
            *transloco="let tTrades; scope: 'blotter/trades'"
            [nzMaxTagCount]="10"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            nzMode="multiple"
            [nzPlaceHolder]="t('blotterSettings.selectPlaceholder')"
            formControlName="tradesColumns"
          >
            <nz-option
              *ngFor="let item of allTradesColumns"
              [nzLabel]="tTrades('blotterTrades.columns.' + item.columnId + '.name')"
              [nzValue]="item.columnId"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="t('blotterSettings.selectColumnsError')">
          <nz-form-label nzRequired nzFor="ordersColumns">
            {{t('blotterSettings.positionsColumnsLabel')}}
          </nz-form-label>
          <nz-select
            *transloco="let tPositions; scope: 'blotter/positions'"
            [nzMaxTagCount]="10"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            nzMode="multiple"
            [nzPlaceHolder]="t('blotterSettings.selectPlaceholder')"
            formControlName="positionsColumns"
          >
            <nz-option
              *ngFor="let item of allPositionsColumns"
              [nzLabel]="tPositions('blotterPositions.columns.' + item.columnId + '.name')"
              [nzValue]="item.columnId"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="isSoldPositionsHidden">{{t('blotterSettings.hideSoldLabel')}}</nz-form-label>
        <nz-switch formControlName='isSoldPositionsHidden'></nz-switch>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="cancelOrdersWithoutConfirmation">{{t('blotterSettings.cancelWithoutConfirmLabel')}}</nz-form-label>
        <nz-switch formControlName='cancelOrdersWithoutConfirmation'></nz-switch>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button type="submit" nz-button nzType="primary" [disabled]="!form.valid">{{t('saveBtnText')}}</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>

  <ng-template #tagPlaceHolder let-selectedList>{{t('maxTagPlaceholder', { count: selectedList.length })}}</ng-template>
</ng-container>
