<nz-modal
  *transloco="let t; scope: 'arbitrage-spread/arbitrage-spread-modal-widget'"
  [nzTitle]="header"
  nzClosable="true"
  [nzVisible]='isVisible$ | async'
  [nzMaskClosable]='false'
  (nzOnCancel)="handleCancel()"
  nzDraggable
  >
  <ng-template #header>
    <div class="header">
      {{
      (spreadInfo$ | async)
      ? t('arbitrageSpreadArbitrageSpreadModalWidget.editTitle')
      : t('arbitrageSpreadArbitrageSpreadModalWidget.newTitle')
      }}
    </div>
  </ng-template>
  <ng-container *nzModalContent>
    <ats-arbitrage-spread-manage [spread]="spreadInfo$ | async" (formChange)="formChange($event)" />
  </ng-container>
  <ng-container *nzModalFooter>
    <button
      (click)="addOrEdit()"
      nz-button
      nzType="primary"
      [disabled]="!formData?.isValid"
      >
      @if (spreadInfo$ | async) {
        {{t('saveBtnText')}}
      } @else {
        {{t('addBtnText')}}
      }
    </button>
    <button nz-button nzType="default" (click)="handleCancel()">{{t('cancelBtnText')}}</button>
  </ng-container>
</nz-modal>
