<ng-container *transloco="let t; scope: 'light-chart/settings'">
  <p>{{t('settingsHeader')}}</p>
  <form nz-form [nzLayout]="'horizontal'" [formGroup]="form" (ngSubmit)="submitForm()" *ngIf="deviceInfo$ | async as deviceInfo">
    <nz-form-item *ngIf="!deviceInfo.isMobile">
      <nz-form-control [nzErrorTip]="t('lightChartSettings.tickerError')">
        <nz-form-label nzRequired nzFor="instrument">{{t('lightChartSettings.tickerLabel')}}</nz-form-label>
        <ats-instrument-search formControlName="instrument" (instrumentSelected)="instrumentSelected($event)"></ats-instrument-search>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="!deviceInfo.isMobile">
      <nz-form-control>
        <nz-form-label nzRequired nzFor="exchange">{{t('lightChartSettings.exchangeLabel')}}</nz-form-label>
        <input formControlName='exchange' nz-input>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-form-label nzRequired nzFor="timeFrame">{{t('lightChartSettings.timeframeLabel')}}</nz-form-label>
        <nz-select formControlName='timeFrame'>
          <nz-option  *ngFor='let tf of timeFrames' [nzValue]="tf.value" [nzLabel]="tf.label"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-form-label nzFor="timeFrameDisplayMode" nzRequired>{{t('lightChartSettings.timeframeDisplayLabel')}}</nz-form-label>
        <nz-select formControlName='timeFrameDisplayMode'>
          <nz-option [nzLabel]="t('lightChartSettings.timeframeDisplayButtons')" [nzValue]="timeFrameDisplayModes.Buttons"></nz-option>
          <nz-option [nzLabel]="t('lightChartSettings.timeframeDisplayMenu')" [nzValue]="timeFrameDisplayModes.Menu"></nz-option>
          <nz-option [nzLabel]="t('lightChartSettings.timeframeDisplayHide')" [nzValue]="timeFrameDisplayModes.Hide"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="!deviceInfo.isMobile">
      <nz-collapse [nzBordered]="false" nzGhost>
        <nz-collapse-panel [nzHeader]="t('lightChartSettings.advanced')">
          <nz-form-control [nzErrorTip]="t('lightChartSettings.instrumentGroupError')">
            <nz-form-label nzFor="instrumentGroup">{{t('lightChartSettings.instrumentGroupLabel')}}</nz-form-label>
            <ats-instrument-board-select
              [instrument]="form.value?.instrument ?? null"
              [placeholder]="t('lightChartSettings.instrumentGroupLabel')"
              formControlName="instrumentGroup">
            </ats-instrument-board-select>
          </nz-form-control>
        </nz-collapse-panel>
      </nz-collapse>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button type='submit' nz-button nzType="primary" [disabled]="!form.valid">{{t('saveBtnText')}}</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-container>
