<ats-widget-settings
  [canSave]="canSave"
  [canCopy]="canCopy"
  [showCopy]="showCopy"
  (saveClick)="updateSettings()"
  (copyClick)="createWidgetCopy()"
  >
  <ng-container *transloco="let t; scope: 'light-chart/settings'">
    <ng-container *transloco="let tChart; scope: 'light-chart'">
      @if (deviceInfo$ | async; as deviceInfo) {
        <form nz-form [nzLayout]="'horizontal'" [formGroup]="form">
          @if (!deviceInfo.isMobile) {
            <nz-form-item>
              <nz-form-control [nzErrorTip]="t('lightChartSettings.tickerError')">
                <nz-form-label nzRequired nzFor="instrument">{{t('lightChartSettings.tickerLabel')}}</nz-form-label>
                <ats-instrument-search formControlName="instrument" (instrumentSelected)="instrumentSelected($event)" />
              </nz-form-control>
            </nz-form-item>
          }
          @if (!deviceInfo.isMobile) {
            <nz-form-item>
              <nz-form-control>
                <nz-form-label nzRequired nzFor="exchange">{{t('lightChartSettings.exchangeLabel')}}</nz-form-label>
                <input nz-input type="text" [value]="form.value.instrument?.exchange" disabled/>
              </nz-form-control>
            </nz-form-item>
          }
          <nz-form-item>
            <nz-form-control [nzErrorTip]="t('lightChartSettings.selectTimeframesError')">
              <nz-form-label nzRequired nzFor="availableTimeFrames">
                {{t('lightChartSettings.availableTimeFramesLabel')}}
              </nz-form-label>
              <nz-select
                [nzMaxTagCount]="10"
                [nzMaxTagPlaceholder]="tagPlaceHolder"
                nzMode="multiple"
                formControlName="availableTimeFrames"
                atsRemoveSelectTitles
                (ngModelChange)="checkCurrentTimeFrame()"
                >
                @for (tf of allTimeFrames; track tf) {
                  <nz-option [nzValue]="tf" [nzLabel]="tChart('lightChart.timeframes.' + tf)" />
                }
              </nz-select>
              <ng-template #tagPlaceHolder let-selectedList>{{t('maxTagPlaceholder', { count: selectedList.length })}}</ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-form-label nzRequired nzFor="timeFrame">{{t('lightChartSettings.timeframeLabel')}}</nz-form-label>
              <nz-select formControlName='timeFrame'>
                @for (tf of this.form.controls.availableTimeFrames.value; track tf) {
                  <nz-option [nzValue]="tf"
                    [nzLabel]="tChart('lightChart.timeframes.' + tf)" />
                }
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-form-label nzFor="timeFrameDisplayMode" nzRequired>{{t('lightChartSettings.timeframeDisplayLabel')}}</nz-form-label>
              <nz-select formControlName='timeFrameDisplayMode'>
                <nz-option [nzLabel]="t('lightChartSettings.timeframeDisplayButtons')" [nzValue]="timeFrameDisplayModes.Buttons" />
                <nz-option [nzLabel]="t('lightChartSettings.timeframeDisplayMenu')" [nzValue]="timeFrameDisplayModes.Menu" />
                <nz-option [nzLabel]="t('lightChartSettings.timeframeDisplayHide')" [nzValue]="timeFrameDisplayModes.Hide" />
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          @if (!deviceInfo.isMobile) {
            <nz-form-item>
              <nz-collapse [nzBordered]="false" nzGhost>
                <nz-collapse-panel [nzHeader]="t('lightChartSettings.advanced')">
                  <nz-form-control [nzErrorTip]="t('lightChartSettings.instrumentGroupError')">
                    <nz-form-label nzFor="instrumentGroup">{{t('lightChartSettings.instrumentGroupLabel')}}</nz-form-label>
                    <ats-instrument-board-select [instrument]="form.value.instrument ?? null"
                      [placeholder]="t('lightChartSettings.instrumentGroupLabel')"
                      formControlName="instrumentGroup" />
                  </nz-form-control>
                </nz-collapse-panel>
              </nz-collapse>
            </nz-form-item>
          }
        </form>
      }
    </ng-container>
  </ng-container>
</ats-widget-settings>
