atsd-ai-chat-message-container {
  .right {
    flex-direction: row-reverse;

    .content-body {
      background-color: var(--ats-background-color-light);
      border-top-right-radius: 0;
      border-color: var(--ats-border-color-base);
    }
  }

  .left {
    flex-direction: row;

    .content-body {
      background-color: color-mix(in srgb, var(--ats-success-color) 10%, transparent);
      border-top-left-radius: 0;
      border-color: color-mix(in srgb, var(--ats-success-color) 50%, transparent);
    }
  }

  .content-body {
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 5px;
  }
}
