<ng-container>
  <ng-container *ngrxLet="{ itemsDisplayParams: itemsDisplayParams$, displayPositions: displayPositions$} as vm">
    <table>
      <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
        @for (item of vm.displayPositions.items; track trackBy) {
          <tr class="item">
            <td class="text-start">
              <div class="d-flex flex-column">
                <span>
                  <ats-truncated-text [maxLength]="50" [text]="item.targetInstrument.symbol" className="heading-color text-nowrap fs-6"></ats-truncated-text>
                  <span class="fs-11"> ({{item.ownedPortfolio.portfolio}})</span>
                </span>
                
                <span>
                  <ats-truncated-text [maxLength]="50" [text]="item.shortName" className="text-nowrap fs-10"></ats-truncated-text>
                </span>
              </div>

            </td>

            <td class="text-start">
              <span>{{ item.currentVolume | number }}</span>
            </td>

            <td class="text-end">
              <span
                  [ngClass]="{
                  'positive-color': item.dailyUnrealisedPl >= 0,
                  'negative-color': item.dailyUnrealisedPl < 0
                  }"
              >
                {{ calculateDailyUnrealisedPlRatio(item) | percent: '1.1-2' }}
              </span>
            </td>
          </tr>
        }
      </tbody>
    </table>

  </ng-container>
</ng-container>