<ng-container *transloco="let t; scope: 'mobile-home-screen/positions'">

  <ng-container
    *ngrxLet="{ itemsDisplayParams: itemsDisplayParams$, displayPositions: displayPositions$} as vm; suspenseTpl: loading"
    class="mt-15"
  >
    <span class="heading-color fs-5">{{ t('mobileHomeScreenPositions.sectionTitle') }}</span>

    @if (vm.displayPositions.totalItems > 0) {
      <table class="mt-10">
        <thead>
        <tr>
          <th class="text-start text-nowrap">{{ t('mobileHomeScreenPositions.columns.ticker.title') }}</th>
          <th class="text-start text-nowrap">{{ t('mobileHomeScreenPositions.columns.currentVolume.title') }}</th>
          <th class="text-end text-nowrap">{{ t('mobileHomeScreenPositions.columns.dailyPlPerc.title') }}</th>
        </tr>
        </thead>

        <tbody>
          @for (item of vm.displayPositions.items; track trackBy(item)) {
            <tr class="item" (click)="openChart(item)">
              <td class="text-start">
                <div class="d-flex flex-column">
                <span>
                  <ats-truncated-text
                    [maxLength]="20"
                    [text]="item.targetInstrument.symbol"
                    className="heading-color text-nowrap fs-6"
                  ></ats-truncated-text>
                  <span class="fs-11"> ({{ item.ownedPortfolio.portfolio }})</span>
                </span>

                  <span>
                  <ats-truncated-text [maxLength]="30" [text]="item.shortName"
                                      className="fs-10"></ats-truncated-text>
                </span>
                </div>

              </td>

              <td class="text-start">
                <span>{{ item.currentVolume | number }}</span>
              </td>

              <td class="text-end">
              <span
                [ngClass]="{
                  'positive-color': item.dailyUnrealisedPl >= 0,
                  'negative-color': item.dailyUnrealisedPl < 0
                  }"
              >
                @if(calculateDailyUnrealisedPlRatio(item); as dailyUnrealisedPlRatio) {
                  @if(isFinite(dailyUnrealisedPlRatio)) {
                    {{ dailyUnrealisedPlRatio | percent: '1.1-2' }}
                  }
                }
              </span>
              </td>
            </tr>
          }
        </tbody>
      </table>
      @if (vm.itemsDisplayParams.itemsDisplayCount < vm.displayPositions.totalItems) {
        <button
          nz-button
          nzBlock
          (click)="showMoreItems()"
          class="mt-5"
        >
          {{ t('mobileHomeScreenPositions.moreItemsButton.title') }}
        </button>
      }
    } @else {
      <nz-empty nzNotFoundImage="simple"></nz-empty>
    }
  </ng-container>

  <ng-template #loading>
    <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 5, width: '100%' }"></nz-skeleton>
  </ng-template>
</ng-container>
