<ng-container *transloco="let t; scope: 'mobile-home-screen/positions'">

  <ng-container
    *ngrxLet="{ itemsDisplayParams: itemsDisplayParams$, displayPositions: displayPositions$} as vm; suspenseTpl: loading"
    class="mt-15"
  >
    @if (vm.displayPositions.totalItems > 0) {
      <table class="mt-10">
        <tbody>
          @for (item of vm.displayPositions.items; track trackBy(item)) {
            <tr class="item" (click)="instrumentSelected.emit(item.targetInstrument)">
              <td class="text-start">
                <div class="d-flex flex-row flex-nowrap flex-gap-5 align-items-center">
                  <ats-instrument-icon [symbol]="item.targetInstrument.symbol" size="large"></ats-instrument-icon>
                  <div class="d-flex flex-column">
                    <span>
                      <ats-truncated-text
                        [maxLength]="50"
                        [text]="item.shortName"
                        className="heading-color text-nowrap fs-6"
                      ></ats-truncated-text>
                    </span>
                    <span>
                        <ats-truncated-text
                          [maxLength]="20"
                          [text]="item.targetInstrument.symbol"
                          className="fs-10"></ats-truncated-text>
                    </span>
                  </div>
                </div>
              </td>

              <td class="text-end">
                <div class="d-flex d-flex flex-column">
                  <span class="heading-color">{{ item.currentVolume | number }}</span>
                  <span
                    [ngClass]="{
                    'positive-color': item.dailyUnrealisedPl >= 0,
                    'negative-color': item.dailyUnrealisedPl < 0
                    }"
                  >
                    @if (calculateDailyUnrealisedPlRatio(item); as dailyUnrealisedPlRatio) {
                      @if (isFinite(dailyUnrealisedPlRatio)) {
                        @if (dailyUnrealisedPlRatio > 0) {
                          <span>+</span>
                        }
                        <span>{{ dailyUnrealisedPlRatio | percent: '1.1-2' }}</span>
                      }
                    }
                  </span>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
      @if (vm.itemsDisplayParams.itemsDisplayCount < vm.displayPositions.totalItems) {
        <button
          nz-button
          nzBlock
          (click)="showMoreItems()"
          class="mt-5"
        >
          {{ t('mobileHomeScreenPositions.moreItemsButton.title') }}
        </button>
      }
    } @else {
      <nz-empty nzNotFoundImage="simple"></nz-empty>
    }
  </ng-container>

  <ng-template #loading>
    <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 5, width: '100%' }"></nz-skeleton>
  </ng-template>
</ng-container>
