<ng-container *transloco="let t; scope: 'order-commands/order-forms'">
  @if (instrumentChanges$ | async; as formInstrument) {
    <div>
      <form [formGroup]="form" [nzLayout]="'vertical'" class="overflow-x-hidden" nz-form>
        <div [nzGutter]="12" nz-row>
          <div [nzSm]="12" [nzXs]="24" nz-col>
            <nz-form-item class="compact">
              <nz-form-label nzFor="quantity"
                             nzRequired>{{ t('orderCommandsOrderForms.quantityLabel') }}
              </nz-form-label>
              <nz-form-control [nzErrorTip]="quantityError">
                <ats-input-number formControlName="quantity" placeholder="0" />
                @if ((formInstrument.lotsize ?? 1) !== 1) {
                  <span>1 {{ t('orderCommandsOrderForms.lot') }} = <ats-short-number [value]="formInstrument.lotsize" />
                    {{ t('orderCommandsOrderForms.pcs') }}</span>
                }
                <ng-template #quantityError>
                  @if (form.controls.quantity.errors?.required) {
                    <span
                    >{{ t('orderCommandsOrderForms.emptyQuantityError') }}</span>
                  }
                  @if (form.controls.quantity.errors?.min) {
                    <span>{{ t('validationErrors.tooLittle') }}</span>
                  }
                  @if (form.controls.quantity.errors?.max) {
                    <span>{{ t('validationErrors.tooMuch') }}</span>
                  }
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div [nzSm]="12" [nzXs]="24" nz-col>
            <nz-form-item class="compact">
              <nz-form-label nzFor="price" nzRequired>{{ t('orderCommandsOrderForms.priceLabel') }}</nz-form-label>
              <nz-form-control [nzErrorTip]="priceError">
                <ats-input-number [allowNegative]="true"
                  [step]="formInstrument.minstep"
                  [suffix]="priceDiff"
                  formControlName="price"
                  placeholder="0"
                 />
                <ng-template #priceDiff>
                  @if (currentPriceDiffPercent$ | async; as currentPriceDiffPercent) {
                    <span [class]="currentPriceDiffPercent.sign > 0 ? 'profit' : 'loss'"
                          [nzTooltipTitle]="t('orderCommandsOrderForms.priceDifferenceTooltip')" nz-tooltip>
                        {{ (currentPriceDiffPercent.percent | number) + ' %' }}
                      </span>
                  }
                </ng-template>
                <ng-template #priceError>
                  @if (form.controls.price.errors?.required) {
                    <span
                    >{{ t('orderCommandsOrderForms.emptyPriceError') }}</span>
                  }
                  @if (form.controls.price.errors?.min) {
                    <span>{{ t('validationErrors.tooLittle') }}</span>
                  }
                  @if (form.controls.price.errors?.max) {
                    <span>{{ t('validationErrors.tooMuch') }}</span>
                  }
                  @if (form.controls.price.errors?.priceStepMultiplicity) {
                    <span>
                        {{ t('orderCommandsOrderForms.priceStepMultiplicityError') }}
                      ({{ form.controls.price.errors!.priceStepMultiplicity!.step }})
                      </span>
                  }
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div>
          @if (form.controls.reason.enabled) {
            <div>
              <nz-form-item class="compact">
                <nz-form-label nzFor="reason">{{ t('orderCommandsOrderForms.reasonLabel') }}</nz-form-label>
                <nz-form-control>
                  <nz-select formControlName="reason" nzAllowClear>
                    @for (reason of reasonEnum | keyvalue; track reason) {
                      <nz-option [nzLabel]="t('orderCommandsOrderForms.reasonOptions.' + reason.key)"
                        [nzValue]="reason.value"
                       />
                    }
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          }
          @if (!limitOrderConfig().unsupportedFields.advanced) {
            <nz-collapse [nzBordered]="false" class="compact" nzGhost>
              <nz-collapse-panel [nzActive]="expandAdvancedOptions" [nzHeader]="t('orderCommandsOrderForms.advanced')">
                <nz-form-item class="compact">
                  <nz-form-control [nzErrorTip]="t('orderCommandsOrderForms.instrumentGroupError')">
                    <nz-form-label
                      nzFor="instrumentGroup">{{ t('orderCommandsOrderForms.instrumentGroupLabel') }}
                    </nz-form-label>
                    <ats-instrument-board-select [instrument]="formInstrument"
                      [placeholder]="t('orderCommandsOrderForms.instrumentGroupPlaceholder')"
                      formControlName="instrumentGroup" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item class="compact">
                  <nz-form-label nzFor="timeInForce">{{ t('orderCommandsOrderForms.timeInForceLabel') }}</nz-form-label>
                  <nz-form-control>
                    <nz-select [nzPlaceHolder]="t('orderCommandsOrderForms.timeInForcePlaceholder')"
                               formControlName="timeInForce"
                               nzAllowClear>
                      @for (timeInForce of timeInForceEnum | keyvalue; track timeInForce) {
                        <nz-option [nzLabel]="t('orderCommandsOrderForms.timeInForceOptions.' + timeInForce.key)"
                          [nzValue]="timeInForce.value"
                         />
                      }
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                @if (!form.controls.orderEndUnixTime.disabled) {
                  <nz-form-item class="compact">
                    <nz-form-label nzFor="orderEndUnixTime">{{ t('orderCommandsOrderForms.orderEndUnixTimeLabel') }}
                    </nz-form-label>
                    <nz-form-control>
                      <nz-date-picker [nzDisabledDate]="disabledDate"
                        [nzPlaceHolder]="t('orderCommandsOrderForms.selectDatePlaceholder')"
                        [nzShowNow]="false"
                        class="w-100"
                        formControlName="orderEndUnixTime"
                        nzFormat="yyyy-MM-dd"
                       />
                    </nz-form-control>
                    @if (timezones$ | async; as timezones) {
                      @if (timezones.displayTimezone !== timezones.exchangeTimezone && form.controls.orderEndUnixTime.value !== null) {
                        <span
                          nz-typography
                          nzType="warning"
                        >
                            {{ t('orderCommandsOrderForms.orderEndUnixTimeHint') }}
                          </span>
                      }
                    }
                  </nz-form-item>
                }
                <nz-form-item class="compact mt-5">
                  <label
                    formControlName="isIceberg"
                    nz-checkbox
                  >
                    {{ t('orderCommandsOrderForms.isIcebergLabel') }}
                  </label>
                </nz-form-item>
                @if (form.controls.isIceberg.value) {
                  <nz-form-item class="compact">
                    <nz-form-label
                      nzFor="icebergFixed">{{ t('orderCommandsOrderForms.icebergFixedLabel') }}
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="icebergFixedError">
                      <ats-input-number formControlName="icebergFixed" placeholder="0" />
                      <ng-template #icebergFixedError>
                        @if (form.controls.icebergFixed.errors?.min) {
                          <span>{{ t('validationErrors.tooLittle') }}</span>
                        }
                        @if (form.controls.icebergFixed.errors?.max) {
                          <span>{{ t('validationErrors.tooMuch') }}</span>
                        }
                      </ng-template>
                      @if (form.errors?.icebergFixedNotBiggerThanQuantity) {
                        <span nz-typography nzType="danger">
                            {{ t('orderCommandsOrderForms.notBiggerThanError', {fieldName: t('orderCommandsOrderForms.quantityLabel')}) }}
                          </span>
                      }
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label nzFor="icebergVariance">
                      {{ t('orderCommandsOrderForms.icebergVarianceLabel') }}
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="icebergVarianceError">
                      <ats-input-number formControlName="icebergVariance" placeholder="0" />
                      <ng-template #icebergVarianceError>
                        @if (form.controls.icebergFixed.errors?.min) {
                          <span>{{ t('validationErrors.tooLittle') }}</span>
                        }
                        @if (form.controls.icebergFixed.errors?.max) {
                          <span>{{ t('validationErrors.tooMuch') }}</span>
                        }
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                }
                @if (limitOrderConfig().isBracketsSupported) {
                  <div class="d-flex align-items-start flex-gap-10">
                    <nz-form-item class="compact flex-shrink-2 w-100">
                      <nz-form-label class="flex-fill" nzFor="topOrderPrice">
                        {{ t('orderCommandsOrderForms.topOrderPriceLabel') }}
                      </nz-form-label>
                      <nz-form-control [nzErrorTip]="topOrderPriceError" class="flex-fill"
                      >
                        <ats-input-number [allowNegative]="true"
                          [step]="formInstrument.minstep"
                          formControlName="topOrderPrice"
                          placeholder="0"
                         />
                      </nz-form-control>
                    </nz-form-item>
                    <ng-template #topOrderPriceError>
                      @if (form.controls.topOrderPrice.errors?.min) {
                        <span
                        >{{ t('validationErrors.tooLittle') }}</span>
                      }
                      @if (form.controls.topOrderPrice.errors?.max) {
                        <span
                        >{{ t('validationErrors.tooMuch') }}</span>
                      }
                    </ng-template>
                    <nz-form-item class="compact flex-shrink-3 w-100">
                      <nz-form-label [nzNoColon]="true" class="flex-fill" nzFor="topOrderSide">
                        {{ t('orderCommandsOrderForms.sideLabel') }}
                      </nz-form-label>
                      <nz-form-control [nzErrorTip]="t('validationErrors.selectValueError')" class="flex-fill">
                        <nz-select formControlName="topOrderSide">
                          <nz-option [nzLabel]="t('orderCommandsOrderForms.buySideLabel')"
                                     [nzValue]="'buy'" />
                          <nz-option [nzLabel]="t('orderCommandsOrderForms.sellSideLabel')"
                                     [nzValue]="'sell'" />
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                }
                @if (limitOrderConfig().isBracketsSupported) {
                  <div class="d-flex  align-items-start flex-gap-10">
                    <nz-form-item class="compact flex-shrink-2 w-100">
                      <nz-form-label class="flex-fill" nzFor="bottomOrderPrice">
                        {{ t('orderCommandsOrderForms.bottomOrderPriceLabel') }}
                      </nz-form-label>
                      <nz-form-control [nzErrorTip]="bottomOrderPriceError" class="flex-fill">
                        <ats-input-number [allowNegative]="true"
                          [step]="formInstrument.minstep"
                          formControlName="bottomOrderPrice"
                          placeholder="0"
                         />
                      </nz-form-control>
                    </nz-form-item>
                    <ng-template #bottomOrderPriceError>
                      @if (form.controls.bottomOrderPrice.errors?.min) {
                        <span
                        >{{ t('validationErrors.tooLittle') }}</span>
                      }
                      @if (form.controls.bottomOrderPrice.errors?.max) {
                        <span
                        >{{ t('validationErrors.tooMuch') }}</span>
                      }
                    </ng-template>
                    <nz-form-item class="compact flex-shrink-3 w-100">
                      <nz-form-label [nzNoColon]="true" class="flex-fill" nzFor="bottomOrderSide">
                        {{ t('orderCommandsOrderForms.sideLabel') }}
                      </nz-form-label>
                      <nz-form-control [nzErrorTip]="t('validationErrors.selectValueError')" class="flex-fill">
                        <nz-select formControlName="bottomOrderSide">
                          <nz-option [nzLabel]="t('orderCommandsOrderForms.buySideLabel')"
                                     [nzValue]="'buy'" />
                          <nz-option [nzLabel]="t('orderCommandsOrderForms.sellSideLabel')"
                                     [nzValue]="'sell'" />
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                }
              </nz-collapse-panel>
            </nz-collapse>
          }
        </div>
      </form>
    </div>
    <div class="mt-10">
      <ats-order-evaluation (quantitySelect)="setQuantity($event)"
        [evaluationProperties]="evaluationRequest$ | async"
       />
    </div>
    <div class="mt-8">
      @if (requestProcessing$ | async; as requestProcessing) {
        <ats-buy-sell-buttons (btnClick)="submitOrder($event)"
          [buyBtnDisabled]="!canSubmit || !!requestProcessing.orderSide"
          [buyBtnLoading]="requestProcessing.orderSide === sides.Buy"
          [sellBtnDisabled]="!canSubmit || !!requestProcessing.orderSide"
          [sellBtnLoading]="requestProcessing.orderSide === sides.Sell"
         />
      }
    </div>
  }
</ng-container>
