<ng-container *transloco="let t;">
  @if (getTypedConfig(); as config) {
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-label [nzRequired]="config.validation.required">{{ config.label }}</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="property"
            nzFormat="yyyy-MM-dd"
            class="w-100"
            [nzDisabledDate]="disabledDate"
           />
        </nz-form-control>
      </nz-form-item>
    </form>
  }
</ng-container>

