ats-modifiers-indicator {
  .modifier-btn-indicators {
    display: flex;
    align-items: center;

    .counter-bid-indicator {
      font-size: 18px;
      color: var(--ats-primary-color);
    }
  }
}
