ats-mobile-home-screen-news {
  .item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-top: 5px;
    padding-bottom: 5px;

    &:not(:last-child) {
      border-bottom: 1px solid var(--ats-border-color-split);
    }
  }
}

