@let targetOption = option();

<ng-container *transloco="let t; scope: 'option-board'">
  <div class="d-flex flex-column flex-gap-5">
    <div class="d-flex flex-row flex-nowrap justify-content-evenly flex-gap-5">
      <ng-container *ngTemplateOutlet="parameterDisplay; context: {
      parameterName: optionParameter.Bid,
      optionParameter: targetOption.bid
      }" />
      <ng-container *ngTemplateOutlet="parameterDisplay; context: {
      parameterName: optionParameter.Price,
      optionParameter: targetOption.calculations.price
      }" />
      <ng-container *ngTemplateOutlet="parameterDisplay; context: {
      parameterName: optionParameter.Ask,
      optionParameter: targetOption.ask
      }" />
    </div>
    <hr class="w-100">
    <div class="d-flex flex-row flex-nowrap justify-content-evenly flex-gap-5">
      <ng-container *ngTemplateOutlet="parameterDisplay; context: {
      parameterName: optionParameter.Delta,
      optionParameter: formatNumberParameter(targetOption.calculations.delta)
      }" />
      <ng-container *ngTemplateOutlet="parameterDisplay; context: {
      parameterName: optionParameter.Vega,
      optionParameter: formatNumberParameter(targetOption.calculations.vega)
      }" />
    </div>
    <div class="d-flex flex-row flex-nowrap justify-content-evenly flex-gap-5">
      <ng-container *ngTemplateOutlet="parameterDisplay; context: {
      parameterName: optionParameter.Theta,
      optionParameter: formatNumberParameter(targetOption.calculations.theta)
      }" />
      <ng-container *ngTemplateOutlet="parameterDisplay; context: {
      parameterName: optionParameter.Rho,
      optionParameter: formatNumberParameter(targetOption.calculations.rho)
      }" />
      <ng-container *ngTemplateOutlet="parameterDisplay; context: {
      parameterName: optionParameter.Gamma,
      optionParameter: formatNumberParameter(targetOption.calculations.gamma)
      }" />
    </div>
  </div>

  <ng-template #parameterDisplay let-parameterName="parameterName" let-parameterValue="optionParameter">
    <div class="d-flex flex-column align-items-center">
      <span
        class="heading-color">{{t('optionBoard.parameterOptions.' + parameterName, {fallback: parameterName})}}</span>
      <span>{{parameterValue | number : '0.0-10'}}</span>
    </div>
  </ng-template>
</ng-container>

