<div *transloco="let t; scope: 'blotter/positions'" class="container">
  <ng-template #empty>
    <nz-empty
      [nzNotFoundContent]="isFilterDisabled() ? t('blotterPositions.emptyPositions') : t('blotterPositions.emptyPositionsWithFilters')"
      class="ant-list-empty-text"
      nzNotFoundImage="simple">
    </nz-empty>
  </ng-template>
  <div #tableContainer class="table-container" *ngIf="displayPositions$ | async as positions">
    <ng-container *ngIf="scrollHeight$ | async as scrollHeight">
      <ng-container *ngIf="settings$ | async as settings">
        <nz-table #nzTable [nzData]="positions"
                [nzFooter]="footer"
                [nzFrontPagination]="false"
                [nzNoResult]="empty"
                [nzScroll]="{ x: tableInnerWidth + 'px', y: scrollHeight - 5 + 'px' }"
                [nzShowPagination]="false"
                [nzVirtualItemSize]="20"
                [nzVirtualMaxBufferPx]="scrollHeight"
                [nzVirtualMinBufferPx]="scrollHeight"
                [nzVirtualForTrackBy]="trackBy"
                atsTableRowHeight
                nzTableLayout="fixed">
        <thead>
        <tr (cdkDropListDropped)="changeColumnOrder($event)" cdkDropList cdkDropListOrientation="horizontal">
          <th nzWidth="45px" *ngIf="showPositionActions(settings)">
            <ng-container *ngIf="getClosablePositions(nzTable.data) as closablePositions">
              <a
                *ngIf="closablePositions.length > 0"
                (click)="$event.preventDefault(); $event.stopPropagation()"
                nz-popconfirm
                [nzCancelText]="t('no')"
                [nzOkText]="t('yes')"
                [nzPopconfirmTitle]="t('blotterPositions.confirmCloseAll')"
                nzOkDanger="true"
                [nzAutofocus]="'cancel'"
                (nzOnConfirm)="closeAllPositions(closablePositions)"
                [title]="t('blotterPositions.closeAllTooltip')"
              >
                <i nz-icon nzTheme="outline" nzType="close-circle"></i>
              </a>
            </ng-container>
          </th>
          <th (atsWidthChanged)="saveColumnWidth(column.id, $event)"
              (atsWidthChanging)="recalculateTableWidth($event)"
              *ngFor='let column of listOfColumns'
              [atsResizeColumn]
              [minWidth]="column.minWidth ?? 50"
              [nzCustomFilter]='column.filterData && !column.filterData.isDefaultFilter'
              [nzFilters]="column.filterData?.filters ?? []"
              [nzShowFilter]="column.filterData && column.filterData.isDefaultFilter"
              [nzSortFn]="column.sortFn ?? false"
              [nzWidth]="column.width ? column.width + 'px': null"
              cdkDrag
              cdkDragLockAxis="x"
          >
              <span
                [nzTooltipPlacement]="['top', 'topLeft', 'topRight']"
                [nzTooltipTitle]="column.tooltip"
                nz-tooltip
              >
                {{column.displayName}}
              </span>
            <nz-filter-trigger
              *ngIf="column.filterData && !column.filterData.isDefaultFilter"
              [(nzVisible)]="!!column.filterData.isOpenedFilter"
              [nzActive]="!!filter$"
              [nzDropdownMenu]="searchMenu"
            >
              <i [ngClass]="isFilterApplied(column) ? 'active-filter' : 'not-active-filter'" nz-icon
                 nzType="search"></i>
            </nz-filter-trigger>
          </th>
        </tr>
        </thead>
        <tbody>
          <ng-template let-pos nz-virtual-scroll>
          <tr (click)="selectInstrument(pos.symbol, pos.exchange)">
            <td *ngIf="showPositionActions(settings)">
                <a
                  *ngIf="canClosePosition(pos)"
                  [title]="t('blotterPositions.closePositionTooltip')"
                  (click)="$event.preventDefault(); $event.stopPropagation()"
                  nz-popconfirm
                  [nzCancelText]="t('no')"
                  [nzOkText]="t('yes')"
                  [nzPopconfirmTitle]="t('blotterPositions.confirmClose')"
                  nzOkDanger="true"
                  [nzAutofocus]="'cancel'"
                  (nzOnConfirm)="closePosition(pos)"
                >
                  <i nz-icon nzTheme="outline" nzType="close-circle"></i>
                </a>
                &nbsp;
                <a *ngIf="canReversePosition(pos)"
                   [title]="t('blotterPositions.reversePositionTooltip')"
                   (click)="$event.preventDefault(); $event.stopPropagation()"
                   nz-popconfirm
                   [nzCancelText]="t('no')"
                   [nzOkText]="t('yes')"
                   [nzPopconfirmTitle]="t('blotterPositions.confirmReverse')"
                   nzOkDanger="true"
                   [nzAutofocus]="'cancel'"
                   (nzOnConfirm)="reversePosition(pos)"
                >
                  <i nz-icon nzTheme="outline" nzType="retweet"></i>
                </a>
            </td>
            <ng-container *ngFor='let column of listOfColumns'>
              <td *ngIf='column.id === "symbol"' class='bold'>
                <span class="symbol-name">{{ pos.symbol }}</span>
                <ats-instrument-badge-display [instrumentKey]="pos"></ats-instrument-badge-display>
              </td>
              <td *ngIf='column.id === "shortName"'>{{ pos.shortName }}</td>
              <td *ngIf='column.id === "avgPrice"'>{{ pos.avgPrice | number : '0.0-10' }}</td>
              <td *ngIf='column.id === "shareOfPortfolio"'>
                <ng-container *ngrxLet="portfolioTotalCost$ | async as portfolioCost">
                  {{ portfolioCost ?  (round(pos.volume * 100 / portfolioCost) | number) : '-' }}
                </ng-container>
              </td>
              <td *ngIf='column.id === "qtyT0"'
                  [class]='pos.qtyT0 < 0 ? "sell" : "buy"'>{{ round(pos.qtyT0) | number }}</td>
              <td *ngIf='column.id === "qtyT1"'
                  [class]='pos.qtyT1 < 0 ? "sell" : "buy"'>{{ round(pos.qtyT1) | number }}</td>
              <td *ngIf='column.id === "qtyT2"'
                  [class]='pos.qtyT2 < 0 ? "sell" : "buy"'>{{ round(pos.qtyT2) | number }}</td>
              <td *ngIf='column.id === "qtyTFuture"'
                  [class]='pos.qtyTFuture < 0 ? "sell" : "buy"'>{{ round(pos.qtyTFuture) | number }}</td>
              <td *ngIf='column.id === "volume"'>{{ pos.volume | number }}</td>
              <td *ngIf='column.id === "currentVolume"'>{{ pos.currentVolume | number }}</td>
              <td *ngIf='column.id === "unrealisedPl"'
                  [class]='pos.unrealisedPl < 0 ? "sell" : "buy"'>{{ round(pos.unrealisedPl) | number }}</td>
              <td *ngIf='column.id === "dailyUnrealisedPl"'
                  [class]='pos.dailyUnrealisedPl < 0 ? "sell" : "buy"'>{{ round(pos.dailyUnrealisedPl) | number }}</td>
              <td
                *ngIf='column.id === "unrealisedPlRatio"'
                [class]='pos.unrealisedPl < 0 ? "sell" : "buy"'
              >
                {{round(pos.unrealisedPl * 100 / pos.volume) | number}}
              </td>
              <td
                *ngIf='column.id === "dailyUnrealisedPlRatio"'
                [class]='pos.dailyUnrealisedPl < 0 ? "sell" : "buy"'
              >
                {{round(pos.dailyUnrealisedPl * 100 / pos.volume) | number}}
              </td>
            </ng-container>
          </tr>
        </ng-template>
        </tbody>
        <ng-template #footer>
          <div class="export-button-container" *transloco="let tCommon; scope: 'blotter/blotter-common'">
            <button nz-button nzType="link" *ngIf="canExport(nzTable.data)" (click)="exportToFile(nzTable.data)">
              <i nz-icon nzType="download"></i>
              {{tCommon('blotterBlotterCommon.exportToFile')}}
            </button>
          </div>
        </ng-template>
      </nz-table>
      </ng-container>
    </ng-container>
  </div>

  <nz-dropdown-menu #searchMenu="nzDropdownMenu">
    <ats-table-filter (filterChange)="filterChange($event)" [columns]="listOfColumns"></ats-table-filter>
  </nz-dropdown-menu>

</div>
