<div class="container" *transloco="let t; scope: 'blotter/positions'">
  <ng-template #empty>
    <nz-empty
      class="ant-list-empty-text"
      nzNotFoundImage="simple"
      [nzNotFoundContent]="isFilterDisabled() ? t('blotterPositions.emptyPositions') : t('blotterPositions.emptyPositionsWithFilters')">
    </nz-empty>
  </ng-template>
  <div class="table-container" #tableContainer *ngIf="selectedInstruments$ | async as selectedInstruments">
    <ng-container *ngIf="scrollHeight$ | async as scrollHeight">
      <nz-table *ngIf="displayPositions$ | async as positions" #nzTable [nzData]="positions"
          [nzNoResult]="empty"
          nzTableLayout="fixed"
          nzSize="small"
          [nzFrontPagination]="false"
          [nzShowPagination]="false"
          [nzScroll]="{ x: tableInnerWidth + 'px', y: scrollHeight - 5 + 'px' }"
          [nzVirtualItemSize]="20"
          [nzFooter]="footer">
        <thead>
          <tr cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="changeColumnOrder($event)">
            <th *ngFor='let column of listOfColumns'
                [nzCustomFilter]='column.hasSearch'
                [nzSortFn]='column.sortFn'
                [nzFilters]="column.listOfFilter"
                [nzShowFilter]="column.hasFilter"
                [nzWidth]="column.width ? column.width + 'px': null"
                [atsResizeColumn]
                [minWidth]="column.minWidth ?? 50"
                (atsWidthChanged)="saveColumnWidth(column.id, $event)"
                (atsWidthChanging)="recalculateTableWidth($event)"
                cdkDrag
                cdkDragLockAxis="x"
            >
              <span
                nz-tooltip
                [nzTooltipTitle]="column.tooltip"
                [nzTooltipPlacement]="['top', 'topLeft', 'topRight']"
              >
                {{column.name}}
              </span>
              <nz-filter-trigger *ngIf='column.hasSearch' [(nzVisible)]="column.isSearchVisible" [nzActive]="!!searchFilter" [nzDropdownMenu]="searchMenu">
                <i [ngClass]="isFilterApplied(column) ? 'active-filter' : 'not-active-filter'" nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ord of nzTable.data" (click)="selectInstrument(ord.symbol, ord.exchange)">
            <ng-container *ngFor='let column of listOfColumns'>
              <td class='bold' *ngIf='column.id === "symbol"'>
                <span class="symbol-name">{{ ord.symbol }}</span>
                <ng-container *ngFor="let item of (selectedInstruments | keyvalue)">
                  <nz-badge [nzColor]="item.key" *ngIf="item.value.symbol === ord.symbol && item.value.exchange === ord.exchange"></nz-badge>
                </ng-container>
              </td>
              <td *ngIf='column.id === "shortName"'>{{ ord.shortName }}</td>
              <td *ngIf='column.id === "avgPrice"'>{{ roundPrice(ord.avgPrice) | number }}</td>
              <td *ngIf='column.id === "qtyT0"' [class]='ord.qtyT0 < 0 ? "sell" : "buy"'>{{ round(ord.qtyT0) | number }}</td>
              <td *ngIf='column.id === "qtyT1"' [class]='ord.qtyT1 < 0 ? "sell" : "buy"'>{{ round(ord.qtyT1) | number }}</td>
              <td *ngIf='column.id === "qtyT2"' [class]='ord.qtyT2 < 0 ? "sell" : "buy"'>{{ round(ord.qtyT2) | number }}</td>
              <td *ngIf='column.id === "qtyTFuture"'  [class]='ord.qtyTFuture < 0 ? "sell" : "buy"'>{{ round(ord.qtyTFuture) | number }}</td>
              <td *ngIf='column.id === "volume"' >{{ ord.volume | number }}</td>
              <td *ngIf='column.id === "unrealisedPl"' [class]='ord.unrealisedPl < 0 ? "sell" : "buy"'>{{ round(ord.unrealisedPl) | number }}</td>
              <td *ngIf='column.id === "dailyUnrealisedPl"' [class]='ord.dailyUnrealisedPl < 0 ? "sell" : "buy"'>{{ round(ord.dailyUnrealisedPl) | number }}</td>
            </ng-container>
          </tr>
        </tbody>
      </nz-table>
    </ng-container>
  </div>

  <ng-template #footer>
    <div class="export-button-container">
      <button nz-button nzType="link" *ngIf="canExport" (click)="exportToFile()">
        <i nz-icon nzType="download"></i>
        {{t('blotterPositions.exportToFile')}}
      </button>
    </div>
  </ng-template>

  <nz-dropdown-menu #searchMenu="nzDropdownMenu">
    <ats-table-filter [columns]="listOfColumns" (filterChange)="filterChange($event)"></ats-table-filter>
  </nz-dropdown-menu>

</div>
