ats-widget-settings-form-item {
  .widget-settings-form-item {
    .ant-form-item-control-input-content {
      > * {
        max-width: 100%;
        min-width: 0;
        width: 100%;
      }

      > :not(nz-select) {
        display: block;
      }

      nz-select {
        width: 100%;
      }
    }
  }
}
