@import 'theme-mixin';

.themeMixin({
  :host {
    .option-cell {
      box-sizing: border-box;
      border: 1px @component-background solid;
      cursor: pointer;

      background-color: @background-color-light;

      &:hover {
        background-color: @background-color-active;
        border-color: @primary-color;
      }

      &.selected {
        border-color: @primary-color;
      }
    }

    .current-price-line {
      .marker {
        border: 1px @primary-color solid;
      }

      .line {
        background: @primary-color;
      }
    }
  }
});

.ant-spin-nested-loading {
  height: 100%;

  ::ng-deep .ant-spin-container {
    height: 100%;
    width: 100%;
  }
}

.header {
  overflow-x: hidden;
}

.strike-price-cell {
  position: sticky;
  left: 0;
  background-color: transparent;
}

.current-price-line {
  position: absolute;
  height: 2px;

  .marker {
    height: 12px;
    line-height: 12px;
    border-radius: 5px;

    position: sticky;
    left: 0;
  }

  .line {
    height: 2px;
  }
}


