<ng-container *transloco="let t; scope: 'option-board'">
  @if (activeLang$ | async; as activeLang) {
    <nz-spin [nzSpinning]="isLoading$ | async" [nzTip]="t('optionBoard.loadingLabel', { fallback: 'Loading...'})">
      @if (optionsMatrix$ | async; as optionsMatrix) {
        @if (optionsMatrix.priceIndex.length === 0) {
          <nz-empty [nzNotFoundContent]="t('optionBoard.noOptionsWithSelectedTypeMessage')"
            class="ant-list-empty-text"
            nzNotFoundImage="simple" />
        }
        @if (layoutSizes$ | async; as layoutSizes) {
          <div (nzResizeObserve)="updateContainerSize($event)" class="h-100 w-100 d-flex flex-column" nzResizeObserver>
            @if (contentSize$ | async; as contentSize) {
              <div #header class="d-flex flex-row heading-color header">
                <div [ngStyle]="{ width: layoutSizes.priceColumnWidth + 'px'}"
                  class="flex-shrink-0 strike-price-cell">
                </div>
                @for (date of optionsMatrix.dateIndex; track date) {
                  <div [ngStyle]="{ width: layoutSizes.optionCellWidth + 'px'}"
                    class="d-flex flex-column flex-shrink-0">
                    <div class="text-center text-nowrap">
                      {{t(
                      'optionBoard.dayOfMonthFormat',
                      {
                      day: date | date: 'dd',
                      month: date | date: 'MMM' : '': activeLang
                      })}}
                    </div>
                    <div class="text-center">{{date | date: 'YYYY'}}</div>
                    <div class="text-center text-color">
                      <i>{{getDaysToExpirations(date) + ' ' + t('optionBoard.abbreviations.days')}}</i>
                    </div>
                  </div>
                }
              </div>
              <cdk-virtual-scroll-viewport
                [itemSize]="rowHeight"
                [maxBufferPx]="contentSize.height"
                [minBufferPx]="contentSize.height"
                [orientation]="'vertical'"
                class="flex-fill"
                >
                <ng-container
                  *cdkVirtualFor="let priceIndex of optionsMatrix.priceIndex; trackBy: getPriceTrackKey; let i = index;">
                  <div class="d-flex flex-row flex-nowrap">
                    <div [ngStyle]="{ width: layoutSizes.priceColumnWidth + 'px', height: rowHeight + 'px'}"
                      class="heading-color flex-shrink-0 d-flex align-items-center justify-content-center strike-price-cell"
                      >
                      <span>{{priceIndex}}</span>
                    </div>
                    @if (dataContext().currentSelection$ | async; as optionsSelection) {
                      @for (dateIndex of optionsMatrix.dateIndex; track getDateTrackKey(j, dateIndex); let j = $index) {
                        <div
                          [ngStyle]="{ width: layoutSizes.optionCellWidth + 'px', height: rowHeight + 'px'}"
                          class="flex-shrink-0">
                          @if (optionsMatrix.options[i][j]; as option) {
                            <div
                              #popover="nzPopover"
                              (click)="updateOptionSelection(option, optionsMatrix.underlyingAsset!)"
                              (mouseleave)="popover.hide();"
                              [class.selected]="isOptionSelected(option, optionsSelection)"
                              [nzPopoverArrowPointAtCenter]="true"
                              [nzPopoverContent]="popoverContent"
                              [nzPopoverMouseLeaveDelay]="0"
                              class="w-100 h-100 d-flex align-items-center justify-content-center option-cell"
                              nz-popover
                              nzPopoverPlacement="top"
                              >
                              <span class="text-nowrap" nz-typography
                              nzEllipsis>{{option.displayValue | number : '0.0-10'}}</span>
                            </div>
                            <ng-template #popoverContent>
                              <ats-option-preview [option]="option" />
                            </ng-template>
                          }
                          @if (!optionsMatrix.options[i][j]) {
                            <div
                              #popover="nzPopover"
                              (mouseleave)="popover.hide();"
                              [nzPopoverArrowPointAtCenter]="true"
                              [nzPopoverContent]="missingOptionTooltip"
                              [nzPopoverMouseLeaveDelay]="0"
                              class="w-100 h-100 d-flex align-items-center justify-content-center"
                              nz-popover
                              nzPopoverPlacement="top"
                              >
                              <span nz-icon nzTheme="outline" nzType="close"></span>
                            </div>
                            <ng-template #missingOptionTooltip>
                              <div class="text-center" style="max-width: 150px">
                                <span class="heading-color">
                                  {{t(
                                  'optionBoard.missingOptionTooltip',
                                  {
                                  strikePrice: priceIndex,
                                  day: dateIndex | date: 'dd',
                                  month: dateIndex | date: 'MMM' : '': activeLang,
                                  year: dateIndex | date: 'YYYY'
                                  })
                                  }}
                                </span>
                              </div>
                            </ng-template>
                          }
                        </div>
                      }
                    }
                  </div>
                </ng-container>
                @if (currentPriceYPosition$ | async; as currentPriceYPosition) {
                  <div [ngStyle]="{top: currentPriceYPosition + 'px'}" class="current-price-line-item w-100">
                    <div [ngStyle]="{ width: layoutSizes.priceColumnWidth + 'px'}"
                         [nzTooltipTitle]="t(
                      'optionBoard.currentPriceTooltip',
                      {
                      price: optionsMatrix.underlyingAsset?.lastPrice
                      }
                      )"
                    class="marker text-center heading-color"
                    nz-tooltip
                    >
                  </div>
                </div>
                <div [ngStyle]="{top: currentPriceYPosition + 'px'}" class="current-price-line-item w-100">
                  <div class="line w-100">
                  </div>
                </div>
              }
            </cdk-virtual-scroll-viewport>
          }
        </div>
      }
    }
  </nz-spin>
}
</ng-container>

