<div *ngIf="commandContext$ | async as commandContext">
  <form nz-form [formGroup]="form" *transloco="let t; scope: 'command'">
    <div nz-row [nzGutter]="12">
      <div nz-col [nzSm]="12" [nzXs]="24">
        <nz-form-item class="compact">
          <nz-form-control [nzErrorTip]="quantityError" [nzValidateStatus]="form.get('quantity')!">
            <nz-form-label [nzNoColon]="true" nzRequired nzFor="quantity">
              {{t('command.quantityLabel')}}
              <span *ngIf="(commandContext.instrument.lotsize ?? 1) !== 1" class="lot-size-hint">
                &nbsp;1 {{t('command.lot')}} = {{commandContext.instrument.lotsize | shortNumber}} {{t('command.pcs')}}
              </span>
            </nz-form-label>
            <input class='ant-input' atsNumerical formControlName="quantity" (mousedown)="$event.stopPropagation()" nz-input placeholder="0" />
          </nz-form-control>
          <ng-template #quantityError>
            <span *ngIf="form.get('quantity')?.errors?.required">{{t('command.emptyQuantityError')}}</span>
            <span *ngIf="form.get('quantity')?.errors?.min">{{t('command.tooLittle')}}</span>
            <span *ngIf="form.get('quantity')?.errors?.max">{{t('command.tooMuch')}}</span>
          </ng-template>
        </nz-form-item>
      </div>

      <div [nzSm]="12" [nzXs]="24" nz-col>
        <nz-form-item class="compact">
          <nz-form-control [nzErrorTip]="t('command.conditionError')">
            <nz-form-label [nzNoColon]="true" nzFor="condition" nzRequired>{{t('command.conditionLabel')}}</nz-form-label>
            <nz-select formControlName="condition">
              <nz-option [nzValue]="'More'" [nzLabel]="t('command.more')"></nz-option>
              <nz-option [nzValue]="'Less'" [nzLabel]="t('command.less')"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div [nzSm]="12" [nzXs]="24" nz-col>
        <nz-form-item class="compact">
          <nz-form-control [nzErrorTip]="triggerPriceError" [nzValidateStatus]="form.get('triggerPrice')!">
            <nz-form-label [nzNoColon]="true" nzFor="triggerPrice" nzRequired>{{t('command.triggerPriceLabel')}}</nz-form-label>
            <input (mousedown)="$event.stopPropagation()" atsNumerical [step]="commandContext.instrument.minstep" class='ant-input'
                   formControlName="triggerPrice" nz-input placeholder="0"/>
          </nz-form-control>
          <ng-template #triggerPriceError>
            <span *ngIf="form.get('triggerPrice')?.errors?.required">{{t('command.emptyPriceError')}}</span>
            <span *ngIf="form.get('triggerPrice')?.errors?.min">{{t('command.tooLittle')}}</span>
            <span *ngIf="form.get('triggerPrice')?.errors?.max">{{t('command.tooMuch')}}</span>
            <span *ngIf="form.get('triggerPrice')?.errors?.priceStepMultiplicity">
              {{t('command.priceStepMultiplicityError')}} ({{commandContext.instrument.minstep}})
            </span>
          </ng-template>
        </nz-form-item>
      </div>

      <div [nzSm]="12" [nzXs]="24" nz-col>
        <nz-form-item class="compact">
          <nz-form-control [nzErrorTip]="t('command.stopEndTimeError')">
            <nz-form-label [nzNoColon]="true" nzFor="stopEndUnixTime">{{t('command.stopEndTimeLabel')}}</nz-form-label>
            <nz-date-picker
              formControlName="stopEndUnixTime"
              nzFormat="yyyy-MM-dd HH:mm:ss"
              nzShowTime
              [nzDisabledDate]="disabledDate"
              [nzShowNow]="canSelectNow"
              [nzPlaceHolder]="t('command.stopEndTimePlaceholder')"
            >
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="12">
      <div nz-col [nzSm]="12" [nzXs]="24">
        <nz-form-item class="compact">
          <nz-form-control>
            <nz-form-label [nzNoColon]="true" nzFor="withLimit" nzRequired>{{t('command.withLimitLabel')}}</nz-form-label>
            <nz-radio-group formControlName="withLimit">
              <label [nzValue]="true" nz-radio-button>Limit</label>
              <label [nzValue]="false" nz-radio-button>Market</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSm]="12" [nzXs]="24" *ngIf="form.getRawValue().withLimit">
        <nz-form-item class="compact">
          <nz-form-control [nzErrorTip]="priceError" [nzValidateStatus]="form.get('price')!">
            <nz-form-label [nzNoColon]="true" nzFor="price" nzRequired>{{t('command.priceLabel')}}</nz-form-label>
            <input (mousedown)="$event.stopPropagation()" atsNumerical [step]="commandContext.instrument.minstep" class='ant-input' formControlName="price" nz-input placeholder="0"/>
          </nz-form-control>
          <ng-template #priceError>
            <span *ngIf="form.get('price')?.errors?.required">{{t('command.emptyPriceError')}}</span>
            <span *ngIf="form.get('price')?.errors?.min">{{t('command.tooLittle')}}</span>
            <span *ngIf="form.get('price')?.errors?.max">{{t('command.tooMuch')}}</span>
            <span *ngIf="form.get('price')?.errors?.priceStepMultiplicity">
              {{t('command.priceStepMultiplicityError')}} ({{commandContext.instrument.minstep}})
            </span>
          </ng-template>
        </nz-form-item>
      </div>
    </div>
    <div *ngIf="form.getRawValue().withLimit">
      <nz-collapse nzGhost [nzBordered]="false" class="compact">
        <nz-collapse-panel [nzHeader]="t('command.advanced')">
          <nz-form-label nzFor="timeInForce">{{t('command.timeInForceLabel')}}</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="timeInForce" nzAllowClear [nzPlaceHolder]="t('command.timeInForcePlaceholder')">
              <nz-option [nzValue]="'oneday'" [nzLabel]="t('command.oneDayLabel')"></nz-option>
              <nz-option [nzValue]="'immediateorcancel'" [nzLabel]="t('command.immediateOrCancelLabel')"></nz-option>
              <nz-option [nzValue]="'fillorkill'" [nzLabel]="t('command.fillOrKillLabel')"></nz-option>
              <nz-option [nzValue]="'attheclose'" [nzLabel]="t('command.atTheCloseLabel')"></nz-option>
              <nz-option [nzValue]="'goodtillcancelled'" [nzLabel]="t('command.goodTillCancelledLabel')"></nz-option>
            </nz-select>
          </nz-form-control>

          <nz-form-item class="iceberg-field">
            <nz-form-control>
              <nz-switch formControlName='isIceberg'></nz-switch>
              <nz-form-label nzFor="isIceberg">
                {{t('command.isIcebergLabel')}}
              </nz-form-label>
            </nz-form-control>
          </nz-form-item>

          <ng-container *ngIf="form.get('isIceberg')?.value">
            <nz-form-item class="compact">
              <nz-form-label nzFor="icebergFixed">{{t('command.icebergFixedLabel')}}</nz-form-label>
              <nz-input-group>
                <input
                  nz-input
                  atsNumerical
                  class='ant-input'
                  formControlName="icebergFixed"
                  placeholder="0"
                  (mousedown)="$event.stopPropagation()"
                />
              </nz-input-group>
            </nz-form-item>

            <nz-form-item class="compact">
              <nz-form-label nzFor="icebergVariance">
                {{t('command.icebergVarianceLabel')}}
              </nz-form-label>
              <nz-input-group>
                <input
                  nz-input
                  atsNumerical
                  class='ant-input'
                  formControlName="icebergVariance"
                  placeholder="0"
                  (mousedown)="$event.stopPropagation()"
                />
              </nz-input-group>
            </nz-form-item>
          </ng-container>
        </nz-collapse-panel>
      </nz-collapse>
    </div>

    <span nz-typography nzType="warning">
      {{t('command.stopOrderWarning')}}
    </span>
  </form>
</div>
