<div>
  <ats-orderbook-chart [guid]='guid'></ats-orderbook-chart>
  <div *ngIf="!shouldShowSettings && (ob$ | async) as ob" [ngStyle]="sizes | async">
    <nz-table #basicTable [nzData]="ob.rows" nzSize="small" [nzFrontPagination]="false">
      <thead>
        <tr>
          <th>Vol</th>
          <th>Bid</th>
          <th>Ask</th>
          <th>Vol</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let row of basicTable.data'>
          <td class='row-cell'>
            <span>
              <button *ngIf='row.bidOrderVolume' nzSize="small" nz-button nzType="primary"
                (click)="newLimitOrder(row.bid ?? 0, row.bidOrderVolume)">
                <i *ngIf='row.bidOrderVolume' nz-icon nzType="close-square" nzTheme="outline"></i>
                {{row.bidOrderVolume}}
              </button>
              {{row.bidVolume}}
            </span>
          </td>
          <td class='row-cell--bid' (mousedown)="newLimitOrder(row.bid ?? 0)" [ngStyle]='getBidStyle(row.bidVolume ?? 0)'>{{row.bid}}</td>
          <td class='row-cell--ask' (mousedown)="newLimitOrder(row.ask ?? 0)" [ngStyle]='getAskStyle(row.askVolume ?? 0)'>{{row.ask}}</td>
          <td class='row-cell' nzAlign='right'>
            <span>
              {{row.askVolume}}
              <button *ngIf='row.askOrderVolume' nzSize="small" nz-button nzType="primary"
                (click)="newLimitOrder(row.bid ?? 0, row.askOrderVolume)">
                {{row.askOrderVolume}}
                <i *ngIf='row.askOrderVolume' nz-icon nzType="close-square" nzTheme="outline"></i>
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </nz-table>

  </div>
</div>
