<ng-container *transloco="let t; scope:'shared/widget-settings'">
  <header class="d-flex justify-content-between align-items-center mb-10">
    <div>
      <h3 class="mb-0">{{t('settingsHeader')}}</h3>
    </div>
    @if ((isMobile$ | async) === false) {
      @if (showCopy()) {
        <div>
          <button
            (click)="copyClick.emit()"
            [disabled]="!canCopy()"
            [nzTooltipMouseEnterDelay]="0.5"
            [nzTooltipTitle]="t('sharedWidgetSettings.copyTooltip')"
            nz-button
            nz-tooltip
            nzType="link"
            >
            <span>{{t('copyBtnText')}}</span>
            <span nz-icon nzTheme="outline" nzType="copy"></span>
          </button>
        </div>
      }
    }
  </header>
  <section class="mb-10">
    <ng-content />
  </section>
  <footer>
    <button
      (click)="saveClick.emit()"
      [disabled]="!canSave()"
      nz-button
      nzType="primary"
      >
      {{t('saveBtnText')}}
    </button>
  </footer>
</ng-container>
