<ng-container *transloco="let t;">
  <ats-widget-skeleton
    *ngIf="settings$ | async as settings"
    [content]="content"
    [header]="header"
    [isBlockWidget]="isBlockWidget"
    [showContentScroll]="true"
  >
    <ng-template #header>
      <ats-widget-header
        [guid]="guid"
        [hasHelp]="false"
        [hasSettings]="false"
        [showBadgesMenu]="false"
        [titleText]="t('widgetHeaders.ArbitrageSpreadSettings')"
        [titleIconTooltip]="t('widgetHeaders.ArbitrageSpreadSettings')"
        titleIcon="line-chart"
      ></ats-widget-header>
    </ng-template>

    <ng-template #content>
      <ats-arbitration-extension [guid]="guid"></ats-arbitration-extension>
    </ng-template>
  </ats-widget-skeleton>
</ng-container>

