<div class="container" *transloco="let t; scope: 'blotter/trades'">
  <ng-container *transloco="let th; scope: 'blotter/trades-history'">
    <ng-template #empty>
      <nz-empty class="ant-list-empty-text"
        nzNotFoundImage="simple"
        [nzNotFoundContent]="isFilterDisabled() ? t('blotterTradesHistory.emptyTrades') : t('blotterTrades.emptyTradesWithFilters')" />
    </ng-template>

    <ng-container *ngrxLet="{ contentSize: contentSize$, tableConfig: tableConfig$, settings: settings$, trades: tableData$ } as td">
      <div
        class="table-container"
        (nzResizeObserve)="containerSizeChanged($event)"
        nzResizeObserver
        >
        <nz-table
          #nzTable
          [nzData]="td.trades"
          [nzNoResult]="empty"
          nzTableLayout="fixed"
          nzSize="small"
          [nzFrontPagination]="false"
          [nzShowPagination]="false"
          [nzScroll]="{ x: (td.contentSize?.width ?? 0) + 'px', y: (td.contentSize?.height ?? 0) - 5 + 'px' }"
          [nzVirtualItemSize]="rowHeight"
          [nzVirtualMaxBufferPx]="td.contentSize?.height ?? 0"
          [nzVirtualMinBufferPx]="td.contentSize?.height ?? 0"
          [nzVirtualForTrackBy]="trackBy"
          [nzFooter]="footer"
          [nzLoading]="isLoading$ | async"
          >
          <thead>
            <tr
              (nzResizeObserve)="headerSizeChanged($event)"
              nzResizeObserver
              cdkDropList
              cdkDropListOrientation="horizontal"
              (cdkDropListDropped)="changeColumnOrder($event)"
              >
              <th nzWidth="5px"></th>
              @for (column of td.tableConfig.columns; track column) {
                <th
                  [nzCustomFilter]="column.filterData?.filterType !== filterTypes.Default"
                  [nzShowSort]="!!column.sortFn"
                  [nzSortFn]="column.sortFn ?? false"
                  [nzSortOrder]="column.sortOrder ?? null"
                  (nzSortOrderChange)="saveSortState(column.id, $event)"
                  [nzFilters]="column.filterData?.filters ?? []"
                  [nzShowFilter]="column.filterData?.filterType === filterTypes.Default"
                  [nzFilterMultiple]="column.filterData?.filterType === filterTypes.DefaultMultiple"
                  (nzFilterChange)="defaultFilterChange(column.id, $event)"
                  [nzWidth]="column.width ? column.width + 'px': null"
                  [atsResizeColumn]
                  [minWidth]="column.minWidth ?? 50"
                  (atsWidthChanged)="saveColumnWidth({ columnId: column.id, width: $event })"
                  cdkDrag
                  cdkDragLockAxis="x"
                  >
                  <span
                    nz-tooltip
                    [nzTooltipTitle]="column.tooltip"
                    [nzTooltipPlacement]="['top', 'topLeft', 'topRight']"
                    >
                    {{column.displayName}}
                  </span>
                  @if (column.filterData != null && column.filterData.filterType !== filterTypes.DefaultMultiple) {
                    <nz-filter-trigger
                      [nzVisible]="!!column.filterData.isOpenedFilter" (nzVisibleChange)="column.filterData.isOpenedFilter = $event"
                      [nzActive]="isFilterApplied(column)"
                      [nzDropdownMenu]="searchMenu"
                      >
                      <i nz-icon nzType="search"></i>
                    </nz-filter-trigger>
                  }
                </th>
              }
            </tr>
          </thead>
          <tbody>
            <ng-template let-trd nz-virtual-scroll>
              <tr
                (click)="rowClick(trd)"
                (contextmenu)="openContextMenu($event, contextMenu, trd)"
                >
                <td>
                  <span [class]='trd.side.toString() === "sell" ? "bg-sell" : "bg-buy"'>&nbsp;</span>
                </td>
                @for (column of td.tableConfig.columns; track column) {
                  @if (column.id === "id") {
                    <td>{{ trd.id }}</td>
                  }
                  @if (column.id === "orderNo") {
                    <td>{{ trd.orderNo }}</td>
                  }
                  @if (column.id === "symbol") {
                    <td class='fw-bold'>{{ trd.symbol }}</td>
                  }
                  @if (column.id === "shortName") {
                    <td>{{ trd.shortName }}</td>
                  }
                  @if (column.id === "side") {
                    <td [class]='trd.side.toString() === "sell" ? "sell" : "buy"'>{{ trd.side }}</td>
                  }
                  @if (column.id === "qty") {
                    <td>{{ trd.qty | number }}</td>
                  }
                  @if (column.id === "price") {
                    <td>{{ trd.price | number : '0.0-10' }}</td>
                  }
                  @if (column.id === "date") {
                    <td>{{ formatDate(trd.displayDate) }}</td>
                  }
                  @if (column.id === "volume") {
                    <td>{{ trd.volume | number }}</td>
                  }
                }
              </tr>
            </ng-template>
          </tbody>
          <ng-template #footer>
            <div
              class="export-button-container"
              (nzResizeObserve)="footerSizeChanged($event)"
              nzResizeObserver
              >
              @if (canExport(td.trades)) {
                <button nz-button nzType="link" (click)="exportToFile(td.trades)">
                  <i nz-icon nzType="download"></i>
                  {{t('exportToFile')}}
                </button>
              }
            </div>
          </ng-template>
        </nz-table>
      </div>
      <nz-dropdown-menu #searchMenu="nzDropdownMenu">
        <ats-table-search-filter [columns]="td.tableConfig.columns" (filterChange)="filterChange($event)" />
      </nz-dropdown-menu>

      <ats-add-to-watchlist-menu #contextMenu />
    </ng-container>
  </ng-container>
</div>
