<div class="container" *transloco="let t; scope: 'blotter/trades'">
  <ng-container *transloco="let th; scope: 'blotter/trades-history'">
    <ng-template #empty>
      <nz-empty
        class="ant-list-empty-text"
        nzNotFoundImage="simple"
        [nzNotFoundContent]="isFilterDisabled() ? t('blotterTradesHistory.emptyTrades') : t('blotterTrades.emptyTradesWithFilters')">
      </nz-empty>
    </ng-template>

    <ng-container *ngrxLet="{ contentSize: contentSize$, tableConfig: tableConfig$, settings: settings$, trades: tableData$ } as td">
      <div
        class="table-container"
        (nzResizeObserve)="containerSizeChanged($event)"
        nzResizeObserver
      >
        <nz-table
          #nzTable
          [nzData]="td.trades"
          [nzNoResult]="empty"
          nzTableLayout="fixed"
          nzSize="small"
          [nzFrontPagination]="false"
          [nzShowPagination]="false"
          [nzScroll]="{ x: (td.contentSize?.width ?? 0) + 'px', y: (td.contentSize?.height ?? 0) - 5 + 'px' }"
          [nzVirtualItemSize]="rowHeight"
          [nzVirtualMaxBufferPx]="td.contentSize?.height ?? 0"
          [nzVirtualMinBufferPx]="td.contentSize?.height ?? 0"
          [nzVirtualForTrackBy]="trackBy"
          [nzFooter]="footer"
          [nzLoading]="isLoading$ | async"
        >
          <thead>
          <tr
            (nzResizeObserve)="headerSizeChanged($event)"
            nzResizeObserver
            cdkDropList
            cdkDropListOrientation="horizontal"
            (cdkDropListDropped)="changeColumnOrder($event)"
          >
            <th nzWidth="5px"></th>
            <th *ngFor="let column of td.tableConfig.columns"
                [nzCustomFilter]="column.filterData?.filterType !== filterTypes.DefaultMultiple"
                [nzShowSort]="!!column.sortFn"
                [nzSortFn]="column.sortFn ?? false"
                [nzFilters]="column.filterData?.filters ?? []"
                [nzShowFilter]="column.filterData?.filterType === filterTypes.DefaultMultiple"
                [nzFilterMultiple]="column.filterData?.filterType === filterTypes.DefaultMultiple"
                (nzFilterChange)="defaultFilterChange(column.id, $event)"
                [nzWidth]="column.width ? column.width + 'px': null"
                [atsResizeColumn]
                [minWidth]="column.minWidth ?? 50"
                (atsWidthChanged)="saveColumnWidth({ columnId: column.id, width: $event })"
                cdkDrag
                cdkDragLockAxis="x"
            >
            <span
              nz-tooltip
              [nzTooltipTitle]="column.tooltip"
              [nzTooltipPlacement]="['top', 'topLeft', 'topRight']"
            >
              {{column.displayName}}
            </span>
              <nz-filter-trigger
                *ngIf="column.filterData != null && column.filterData?.filterType !== filterTypes.DefaultMultiple"
                [nzVisible]="!!column.filterData.isOpenedFilter" (nzVisibleChange)="column.filterData.isOpenedFilter = $event"
                [nzActive]="!!filters$"
                [nzDropdownMenu]="searchMenu"
              >
                <i [ngClass]="isFilterApplied(column) ? 'active-filter' : 'not-active-filter'"  nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
          </tr>
          </thead>
          <tbody>
            <ng-template let-trd nz-virtual-scroll>
              <tr (click)="rowClick(trd)">
              <td>
                <span [class]='trd.side.toString() === "sell" ? "bg-sell" : "bg-buy"'>&nbsp;</span>
              </td>
              <ng-container *ngFor='let column of td.tableConfig.columns'>
                <td *ngIf='column.id === "id"'>{{ trd.id }}</td>
                <td *ngIf='column.id === "orderno"'>{{ trd.orderno }}</td>
                <td *ngIf='column.id === "symbol"' class='fw-bold'>{{ trd.symbol }}</td>
                <td *ngIf='column.id === "shortName"'>{{ trd.shortName }}</td>
                <td *ngIf='column.id === "side"' [class]='trd.side.toString() === "sell" ? "sell" : "buy"'>{{ trd.side }}</td>
                <td *ngIf='column.id === "qty"'>{{ trd.qty | number }}</td>
                <td *ngIf='column.id === "price"'>{{ trd.price | number : '0.0-10' }}</td>
                <td *ngIf='column.id === "date"'>{{ formatDate(trd.date) }}</td>
                <td *ngIf='column.id === "volume"'>{{ trd.volume | number }}</td>
              </ng-container>
            </tr>
          </ng-template>
          </tbody>
          <ng-template #footer>
            <div
              class="export-button-container"
              *transloco="let tCommon; scope: 'blotter/blotter-common'"
              (nzResizeObserve)="footerSizeChanged($event)"
              nzResizeObserver
            >
              <button nz-button nzType="link" *ngIf="canExport(td.trades)" (click)="exportToFile(td.trades)">
                <i nz-icon nzType="download"></i>
                {{tCommon('blotterBlotterCommon.exportToFile')}}
              </button>
            </div>
          </ng-template>
        </nz-table>
      </div>
      <nz-dropdown-menu #searchMenu="nzDropdownMenu">
        <ats-table-filter [columns]="td.tableConfig.columns" (filterChange)="filterChange($event)"></ats-table-filter>
      </nz-dropdown-menu>
    </ng-container>
  </ng-container>
</div>
