.ant-descriptions {
  .ant-descriptions-view {
    .ant-descriptions-item-label {
      color: var(--ats-text-color);
    }

    .ant-descriptions-item-content {
      color: var(--ats-heading-color);
    }
  }
}

.ant-descriptions-item-container,
.ant-descriptions-item-label,
.ant-descriptions-item-content {
  cursor: default;
}
