.ant-radio-group {
  .ant-radio-button-wrapper {
    user-select: none;

    &:first-child {
      border-radius: var(--ats-control-border-radius) 0 0 var(--ats-control-border-radius);
    }

    &:last-child {
      border-radius: 0 var(--ats-control-border-radius) var(--ats-control-border-radius) 0;
    }
  }
}
