.ant-table-filter-dropdown {
  &.custom-filter {
    padding: 10px;
  }

  .filter-input {
    margin-bottom: 10px;
  }

  .ant-table-filter-dropdown-btns {
    border-top: none;
  }
}

.ant-table-header {
  overflow-y: hidden !important;
}

.ant-table-wrapper {
  &.high {
    .ant-table-cell {
      padding: 12px 8px;
    }
  }

  &.medium {
    .ant-table-cell {
      padding: 4px;
    }
  }

  &.low {
    .ant-table-cell {
      padding: 2px 4px;
    }
  }
}
