<ng-container *transloco="let t; scope: 'option-board'">
  <ng-container *transloco="let tListView; scope: 'option-board/all-options-list-view'">

    @if (isLoading$ | async) {
      <div class="position-absolute top-0 h-100 w-100">
        <ng-container [ngTemplateOutlet]="loading"/>
      </div>
    }

    <div (nzResizeObserve)="updateContentSize($event)"
         class="h-100 show-scroll"
         nzResizeObserver
    >
      <div class="settings">
        <form [formGroup]="settingsForm" [nzLayout]="((contentSize$ | async)?.width ?? 0) > 550 ? 'inline' : 'vertical'"
              nz-form>
          <nz-form-item>
            <nz-form-label>{{ tListView('optionBoardAllOptionsListView.settingsForm.strikesCount.label') }}</nz-form-label>
            <nz-form-control>
              <nz-select [formControl]="settingsForm.controls.strikesCount">
                @for (option of availableValuesForStrikesCount; track option) {
                  <nz-option [nzLabel]="option" [nzValue]="option"/>
                }
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label>{{ tListView('optionBoardAllOptionsListView.settingsForm.highlightedSpreadItemsCount.label') }}</nz-form-label>
            <nz-form-control>
              <ats-input-number [allowDecimal]="false"
                                [allowNegative]="false"
                                [formControl]="settingsForm.controls.highlightedSpreadItemsCount"
                                [step]="1"
              />
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>

      <ng-container
        *ngrxLet="{
      expirations: expirations$,
      rowLayout: rowLayout$,
      parameterCellWidth: parameterCellWidth$,
      activeLang: activeLang$,
      currentPrice: currentPrice$,
      selectedOptionKeys: selectedOptionKeys$
      } as vm"
      >
        @if ((vm.expirations ?? []).length > 0) {
          <div class="board">
            <nz-collapse nzAccordion>

              @for (expiration of vm.expirations; track expiration) {

                <ng-template #groupHeader>
                  <span class="text-color">
                      {{
                      t(
                        'optionBoard.dayOfMonthFormat',
                        {
                          day: expiration.expiration | date: 'dd',
                          month: expiration.expiration | date: 'MMM' : '': vm.activeLang
                        })
                    }}
                  </span>

                  <span class="text-color">{{ expiration.expiration  | date: 'yyyy' }}</span>

                  <span
                    class="pl-10 fw-bold"> {{ getDaysToExpirations(expiration.expiration) + ' ' + t('optionBoard.abbreviations.days') }}</span>
                </ng-template>

                <nz-collapse-panel #panel [nzActive]="$first" [nzHeader]="groupHeader">
                  @if (panel.active()) {
                    <ng-container *ngrxLet="expiration.strikes$ as options; suspenseTpl: suspense">
                      @if (options != null && options.strikes.length > 0) {

                        <div class="row justify-content-around">
                          <span class="fw-bold heading-color">
                            {{ t('optionBoard.sideOptions.call', {fallback: 'Call'}) }}
                          </span>
                          <span class="fw-bold heading-color ">
                            {{ t('optionBoard.sideOptions.put', {fallback: 'Put'}) }}
                          </span>
                        </div>

                        <div class="header row">
                          @for (parameter of vm.rowLayout.callSideLayout; track parameter) {
                            <div [style.width]="vm.parameterCellWidth + 'px'" class="cell bordered-right">
                              @if (parameter.isEditable) {
                                <ng-container
                                  [ngTemplateOutletContext]="{cellLayout: parameter, side: OptionSide.Call, index: $index}"
                                  [ngTemplateOutlet]="editableParameter"/>
                              } @else {
                                <span>{{ t('optionBoard.parameterOptions.' + parameter.displayParameter, {fallback: parameter.displayParameter}) }}</span>
                              }
                            </div>
                          }

                          <div [style.width]="vm.parameterCellWidth + 'px'" class="cell text-center">
                            <span
                              class="fw-bold heading-color">{{ t('optionBoard.strikePriceLabel', {fallback: 'Strike'}) }}</span>
                          </div>

                          @for (parameter of vm.rowLayout.putSideLayout; track parameter) {
                            <div [style.width]="vm.parameterCellWidth + 'px'" class="cell bordered-left">
                              @if (parameter.isEditable) {
                                <ng-container
                                  [ngTemplateOutletContext]="{cellLayout: parameter, side: OptionSide.Put, index: $index}"
                                  [ngTemplateOutlet]="editableParameter"/>
                              } @else {
                                <span>{{ t('optionBoard.parameterOptions.' + parameter.displayParameter, {fallback: parameter.displayParameter}) }}</span>
                              }
                            </div>
                          }

                          <ng-template #editableParameter let-cellLayout='cellLayout' let-index='index' let-side='side'>
                            <nz-select
                              (ngModelChange)="changeCellLayout(side, index, $event)"
                              [ngModel]="cellLayout.displayParameter"
                              [nzDropdownMatchSelectWidth]="false"
                              [nzShowArrow]="true"
                              [nzSize]="'small'"
                              nzVariant="borderless"
                            >
                              @for (option of AvailableParameters; track option) {
                                <nz-option [nzLabel]="t('optionBoard.parameterOptions.' + option, {fallback: option})"
                                           [nzValue]="option"
                                />
                              }
                            </nz-select>
                          </ng-template>
                        </div>

                        @for (strikeRow of options.strikes; track strikeRow) {
                          <div
                            #strikeRowEl
                            class="row position-relative"
                          >
                            <div
                              (click)="updateOptionSelection(strikeRow.call?.optionKey ?? null, options.underlyingAsset)"
                              [class.selected]="isOptionSelected(strikeRow.call?.optionKey ?? null, vm.selectedOptionKeys)"
                              class="option-row call-row"
                            >
                              <ng-container
                                [ngTemplateOutletContext]="{option: strikeRow.call, layout: vm.rowLayout.callSideLayout}"
                                [ngTemplateOutlet]="optionView"/>
                            </div>

                            <div
                              [style.width]="vm.parameterCellWidth + 'px'"
                              class="fw-bold cell"
                            >
                              <span class="text-max-contrast-color">{{ strikeRow.strikePrice }}</span>
                            </div>

                            <div
                              (click)="updateOptionSelection(strikeRow.put?.optionKey ?? null, options.underlyingAsset)"
                              [class.selected]="isOptionSelected(strikeRow.put?.optionKey ?? null, vm.selectedOptionKeys)"
                              class="option-row put-row"
                            >
                              <ng-container
                                [ngTemplateOutletContext]="{option: strikeRow.put, layout: vm.rowLayout.putSideLayout}"
                                [ngTemplateOutlet]="optionView"/>
                            </div>

                            <ng-container
                              *ngrxLet="getCurrentPricePosition($index, options.strikes, vm.currentPrice, strikeRowEl) as position">
                              @if (position != null) {
                                <div
                                  [style.top]="position + 'px'"
                                  class="current-price-line"
                                >
                            <span [style.left]="(-vm.parameterCellWidth / 2) + 'px'" class="itm-call">
                              <span nz-icon nzTheme="outline" nzType="up"></span>
                            </span>
                                  <span [style.left]="(vm.parameterCellWidth / 2) + 'px'" class="itm-put">
                              <span nz-icon nzTheme="outline" nzType="down"></span>
                            </span>
                                </div>
                              }
                            </ng-container>
                          </div>
                        }

                        <ng-template #optionView
                                     let-layout='layout'
                                     let-option="option"
                        >
                          <ng-container *ngrxLet="option.quotes$ as quotes">
                            @for (cell of layout; track cell) {
                              <div
                                [class.highlighted]="(cell.displayParameter === OptionParameters.Ask || cell.displayParameter === OptionParameters.Bid) && isSpreadHighlighted(quotes, options.underlyingAsset)"
                                [style.width]="vm.parameterCellWidth + 'px'"
                                class="cell"
                              >
                                @if (option != null) {
                                  <ng-container
                                    [ngTemplateOutletContext]="{option: option, parameter: cell.displayParameter, quotes: quotes}"
                                    [ngTemplateOutlet]="cellView"/>
                                } @else {
                                  <span>-</span>
                                }
                              </div>
                            }
                          </ng-container>
                        </ng-template>

                        <ng-template #cellView let-option='option' let-parameter='parameter' let-quotes='quotes'>
                      <span>
                        @switch (parameter) {
                          @case (OptionParameters.Price) {
                            {{ roundPrice(option.parameters.price, options.underlyingAsset) | number: '0.0-10' }}
                          }
                          @case (OptionParameters.Delta) {
                            {{ option.parameters.delta | number: '0.2-2' }}
                          }
                          @case (OptionParameters.Gamma) {
                            {{ option.parameters.gamma | number: '0.2-2' }}
                          }
                          @case (OptionParameters.Vega) {
                            {{ option.parameters.vega | number: '0.2-2' }}
                          }
                          @case (OptionParameters.Theta) {
                            {{ option.parameters.theta | number: '0.2-2' }}
                          }
                          @case (OptionParameters.Rho) {
                            {{ option.parameters.rho | number: '0.2-2' }}
                          }
                          @case (OptionParameters.Ask) {
                            @if (quotes.ask != null) {
                              <ats-price-diff [basePrice]="quotes.prevAsk"
                                              [currentPrice]="quotes.ask"
                                              [showChangeForce]="false"/>
                            } @else {
                              <span>-</span>
                            }

                          }
                          @case (OptionParameters.Bid) {
                            @if (quotes.bid != null) {
                              <ats-price-diff [basePrice]="quotes.prevBid"
                                              [currentPrice]="quotes.bid"
                                              [showChangeForce]="false"/>
                            } @else {
                              <span>-</span>
                            }
                          }
                        }
                      </span>
                        </ng-template>

                      } @else {
                        <nz-empty [nzNotFoundContent]="t('optionBoard.noOptionsMessage')"
                                  class="ant-list-empty-text"
                                  nzNotFoundImage="simple"/>
                      }
                    </ng-container>

                    <ng-template #suspense>
                      <span>...</span>
                    </ng-template>
                  }

                </nz-collapse-panel>

              }
            </nz-collapse>
          </div>
        } @else {
          <nz-empty [nzNotFoundContent]="t('optionBoard.noOptionsMessage')"
                    class="ant-list-empty-text"
                    nzNotFoundImage="simple"/>
        }

      </ng-container>
    </div>

    <ng-template #loading>
      <div class="h-100 d-flex justify-content-center align-items-center">
        <nz-spin [nzTip]="t('optionBoard.loadingLabel', { fallback: 'Loading...'})" class="w-100"/>
      </div>
    </ng-template>
  </ng-container>
</ng-container>
