ats-limit-orders-volume-indicator {
  .volume-item {
    font-size: larger;

    &:hover {
      box-shadow: 0 0 2px 1px var(--ats-border-color-base);
      border-radius: var(--ats-border-radius-base);
      background-color: var(--ats-component-background);
    }
  }
}
