ats-search-results-list {
  .item {
    border-bottom: var(--ats-border-color-base) solid 1px;

    &:hover {
      background-color: var(--ats-item-hover-bg);
    }
  }
}

.instruments-search-results-badges-menu {
  .ant-dropdown-menu-item {
    display: flex;
    justify-content: center;

    .badge {
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: 50%;
    }
  }
}
