<div #tableContainer class="table-container">
  <nz-table *ngIf="watchedInstruments$ | async as instruments"
    #nzTable
    [nzData]="instruments"
    nzTableLayout="fixed"
    nzSize="small"
    [nzFrontPagination]="false"
    [nzShowPagination]="false"
    [nzScroll]="{ y: ((scrollHeight$ | async) ?? 0) - 5 + 'px'}"
    [nzVirtualItemSize]="20">
    <thead *transloco="let t; scope: 'instruments/select'">
      <tr>
        <th [nzSortFn]="sortFns[col.id]" *ngFor="let col of displayedColumns" [nzWidth]="(col.minWidth ?? 50) + 'px'">
          <span nz-tooltip [nzTooltipTitle]="t('instrumentsSelect.columns.' + col.id + '.tooltip', { fallback: col.tooltip })">
            {{t('instrumentsSelect.columns.' + col.id + '.name', { fallback: col.displayName })}}
          </span>
        </th>
        <th [nzWidth]="'40px'">
          <span nz-tooltip [nzTooltipTitle]="t('instrumentsSelect.columns.delete.tooltip')">
            {{t('instrumentsSelect.columns.delete.name')}}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let inst of nzTable.data!; trackBy: getTrackKey"
        (click)='makeActive(inst.instrument)'
        (contextmenu)="contextMenu($event, menu, inst.instrument)"
      >
        <td *ngIf="isVisibleColumn('symbol')" class="ticker">
          <span class="ticker-name">{{ inst.instrument.symbol }}</span>
          <ats-instrument-badge-display [instrumentKey]="inst.instrument"></ats-instrument-badge-display>
        </td>
        <td *ngIf="isVisibleColumn('shortName')">
          {{inst.instrument.shortName}}
        </td>
        <td *ngIf="isVisibleColumn('price')">
          <ats-price-tick [price]='inst.price' [prevPrice]='inst.prevTickPrice'>
          </ats-price-tick>
        </td>
        <td *ngIf="isVisibleColumn('dayChange')" [ngClass]="inst.dayChange < 0 ? 'sellCell' : 'buyCell'">
          {{ inst.dayChange }}
        </td>
        <td *ngIf="isVisibleColumn('dayChangePerPrice')" [ngClass]="inst.dayChangePerPrice < 0 ? 'sellCell' : 'buyCell'">
          {{ inst.dayChangePerPrice }}
        </td>
        <td *ngIf="isVisibleColumn('maxPrice')">{{ inst.maxPrice }}</td>
        <td *ngIf="isVisibleColumn('minPrice')">{{ inst.minPrice }}</td>
        <td *ngIf="isVisibleColumn('volume')" style="white-space: nowrap;">
          <ats-short-number [value]="inst.volume" [allowRounding]="true" [roundPrecision]="3"></ats-short-number>
        </td>
        <td *ngIf="isVisibleColumn('openPrice')">{{ inst.openPrice }}</td>
        <td *ngIf="isVisibleColumn('closePrice')">{{ inst.closePrice }}</td>
        <td>
          <a (click)="remove(inst.instrument)">
            <i nz-icon nzTheme="outline" nzType="close"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ng-container *ngIf="menuWidgets$ | async as displayWidgets">
    <ats-widget-menu [showedWidgets]="displayWidgets" (selected)="addWidget($event)"></ats-widget-menu>
  </ng-container>
</nz-dropdown-menu>
