<div *ngrxLet="ideas$ as ideas; suspenseTpl: loading" class="h-100 position-relative">
  @if (ideas.length > 0) {

    @if (ideas.length > 1) {
      <span class="nav-buttons left" (click)="carousel.pre()">
        <nz-icon nzType="left" nzTheme="outline"/>
      </span>
      <span class="nav-buttons right" (click)="carousel.next()">
        <nz-icon nzType="right" nzTheme="outline"/>
      </span>
    }

    <div class="h-100 overflow-hidden mx-15">
      <nz-carousel
        [nzDots]="true"
        [nzDotPosition]="'top'"
        [nzEnableSwipe]="false"
        [nzEffect]="'fade'"
        #carousel
      >
        @for (idea of ideas; track idea) {
          <div nz-carousel-content>
            <div class="idea pt-25">
              <div class="d-flex flex-column h-100">
                <div class="mb-10">
                  <span nz-typography nzEllipsis class="fs-6 heading-color">{{ idea.title }}</span>
                </div>
                <div>
                  <p
                    nz-typography
                    nzEllipsis
                    [nzEllipsisRows]="3"
                    (click)="selectedIdea.set(idea)"
                    class="cursor-pointer user-select-none"
                  >
                    {{ idea.body }}
                  </p>
                </div>

                <div class="flex-fill d-flex flex-column flex-gap-10 show-scroll">
                  @for (symbol of idea.symbols; track symbol) {
                    <div
                      class="symbol p-5 cursor-pointer"
                      (click)="instrumentSelected.emit({symbol: symbol.ticker, exchange: symbol.exchange})"
                    >
                      <div
                        class="d-flex flex-row justify-content-start flex-nowrap align-items-center flex-gap-5 overflow-hidden">
                        <ats-instrument-icon [symbol]="symbol.ticker" size="large" />
                        <div class="d-flex flex-column overflow-hidden">
                          <span nz-typography nzEllipsis
                                class="heading-color">{{ symbol.shortName ?? symbol.ticker }}</span>
                          <span nz-typography nzEllipsis>{{ symbol.ticker }}</span>
                        </div>
                      </div>
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
        }
      </nz-carousel>
    </div>

  } @else {
    <nz-empty nzNotFoundImage="simple" />
  }
</div>

<ng-template #loading>
  <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 5, width: '100%' }" />
</ng-template>

<ats-invest-ideas-details-dialog [(displayIdea)]="selectedIdea" (symbolSelected)="selectSymbol($event)" />

