<div (mousedown)='$event.stopPropagation()' class="search-field">
  <nz-input-group [nzSuffix]="suffixIcon">
    <input #searchInput
           (blur)="checkInstrumentSelection()"
           (mousedown)="$event.stopPropagation()"
           (input)="filterChanged(searchInput.value)"
           [ngModel]="currentValue?.symbol"
           [nzAutocomplete]="auto"
           class='whole ant-input'
           nz-input
           placeholder='Поиск...'
    />
  </nz-input-group>
  <ng-template #suffixIcon>
    <span [nzTooltipTitle]="searchHelp" nz-icon nz-tooltip nzType="question-circle"></span>
  </ng-template>
  <ng-template #searchHelp>
    <span>Введите краткое наименование инструмента, Seccode или ISIN. Далее появится выпадающий список с инструментами, удовлетворяющий Вашему запросу.</span>
    <br/>
    <ng-container *ngIf="!exchange">
      <span>Также вы можете искать инструмент на определённой бирже и с определённым режимом торгов. Формат такой:</span>
      <br/>
      <span nz-typography><code>[Exchange]:[Ticker]:[Board]</code></span>
      <br/>
      <span nz-typography>Например MOEX:SBER:SMAL</span>
      <br/>
      <span>либо если борд по-умолчанию, то</span>
      <br/>
      <span nz-typography><code>[Exchange]:[Ticker]</code></span>
      <br/>
      <span nz-typography>Например MOEX:SBER</span>
    </ng-container>

    <ng-container *ngIf="exchange">
      <span>Также вы можете искать инструмент с определённым режимом торгов. Формат такой:</span>
      <br/>
      <span nz-typography><code>[Ticker]:[Board]</code></span>
      <br/>
      <span nz-typography>Например SBER:SMAL</span>
    </ng-container>

  </ng-template>
  <nz-autocomplete #auto [nzWidth]="optionsBoxWidth">
    <nz-auto-option
      (selectionChange)='onSelect($event, option)' *ngFor="let option of filteredInstruments$ | async"
      [nzLabel]="option.symbol"
      [nzValue]="option.symbol">
      <span class='search-row'>
        <nz-tag>{{ option.symbol }}</nz-tag>
        <span class='row-center'>{{ option.shortName }}</span>
        <nz-tag *ngIf='option.instrumentGroup'>{{ option.instrumentGroup }}</nz-tag>
        <nz-tag>{{ option.exchange }}</nz-tag>
      </span>
    </nz-auto-option>
  </nz-autocomplete>
</div>
