<ats-widget-settings
  [canSave]="canSave"
  [canCopy]="canCopy"
  [showCopy]="showCopy"
  (saveClick)="updateSettings()"
  (copyClick)="createWidgetCopy()"
  >
  <ng-container *transloco="let t">
    <ng-container *transloco="let tSettings; scope: 'all-trades/all-trades-settings'">
      <div>
        <form nz-form [nzLayout]="'vertical'" [formGroup]="form">
          <nz-form-item class="compact">
            <nz-form-control [nzErrorTip]="tSettings('allTradesAllTradesSettings.selectColumnsError')">
              <nz-form-label nzRequired nzFor="allTradesColumns">{{tSettings('allTradesAllTradesSettings.selectColumnLabel')}}</nz-form-label>
              <nz-select
                [nzMaxTagCount]="10"
                [nzMaxTagPlaceholder]="tagPlaceHolder"
                nzMode="multiple"
                [nzPlaceHolder]="tSettings('allTradesAllTradesSettings.selectColumnPlaceholder')"
                formControlName="allTradesColumns"
                >
                <ng-container *transloco="let tTrades; scope: 'all-trades/all-trades'">
                  @for (item of allTradesColumns; track item) {
                    <nz-option [nzLabel]="tTrades('allTradesAllTrades.columns.' + item.id + '.displayName')"
                      [nzValue]="item.id"
                       />
                  }
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="one-row">
            <nz-form-label nzFor="highlightRowsBySide">
              {{t('allTradesAllTradesSettings.highlightRowsBySide')}}
            </nz-form-label>
            <nz-form-control>
              <nz-switch formControlName='highlightRowsBySide' />
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>

      <ng-template #tagPlaceHolder let-selectedList>{{t('maxTagPlaceholder', { count: selectedList.length })}}</ng-template>
    </ng-container>
  </ng-container>
</ats-widget-settings>
