<ng-container *transloco="let t; scope: 'arbitrage-spread/arbitrage-spread-manage'">
  <div class="d-flex flex-column" [formGroup]="firstLegFormGroup">
    <h2>{{t('arbitrageSpreadArbitrageSpreadManage.firstLegTitle')}}</h2>

    <nz-form-item class="compact">
      <nz-form-control [nzErrorTip]="t('arbitrageSpreadArbitrageSpreadManage.instrumentRequiredError')">
        <nz-form-label nzRequired>{{t('arbitrageSpreadArbitrageSpreadManage.instrumentLabel')}}</nz-form-label>
        <ats-instrument-search formControlName="instrument"></ats-instrument-search>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="compact">
      <nz-form-control [nzErrorTip]="quantityError">
        <nz-form-label nzRequired>{{t('arbitrageSpreadArbitrageSpreadManage.quantityLabel')}}</nz-form-label>
        <ats-input-number placeholder="0" formControlName="quantity"></ats-input-number>
      </nz-form-control>
      <ng-template #quantityError>
        <span *ngIf="firstLegFormGroup.get('quantity')?.errors?.required">
          {{t('arbitrageSpreadArbitrageSpreadManage.quantityRequiredError')}}
        </span>
        <span *ngIf="firstLegFormGroup.get('quantity')?.errors?.min">
          {{t('arbitrageSpreadArbitrageSpreadManage.tooLittle')}}
        </span>
        <span *ngIf="firstLegFormGroup.get('quantity')?.errors?.max">
          {{t('arbitrageSpreadArbitrageSpreadManage.tooMuch')}}
        </span>
      </ng-template>
    </nz-form-item>
    <nz-form-item class="compact">
      <nz-form-control [nzErrorTip]="ratioError">
        <nz-form-label nzRequired>{{t('arbitrageSpreadArbitrageSpreadManage.calculationRatioLabel')}}</nz-form-label>
        <ats-input-number placeholder="0" formControlName="ratio"></ats-input-number>
      </nz-form-control>
      <ng-template #ratioError>
        <span *ngIf="firstLegFormGroup.get('ratio')?.errors?.required">
          {{t('arbitrageSpreadArbitrageSpreadManage.ratioRequiredError')}}
        </span>
        <span *ngIf="firstLegFormGroup.get('ratio')?.errors?.min">
          {{t('arbitrageSpreadArbitrageSpreadManage.tooLittle')}}
        </span>
        <span *ngIf="firstLegFormGroup.get('ratio')?.errors?.max">
          {{t('arbitrageSpreadArbitrageSpreadManage.tooMuch')}}
        </span>
      </ng-template>
    </nz-form-item>
    <nz-form-item *ngIf="portfolios$ | async as portfolios" class="compact">
      <nz-form-control [nzErrorTip]="t('arbitrageSpreadArbitrageSpreadManage.portfolioPlaceholder')">
        <nz-form-label nzRequired>{{t('arbitrageSpreadArbitrageSpreadManage.portfolioLabel')}}</nz-form-label>
        <nz-select
          formControlName="portfolio"
          [compareWith]="isPortfoliosEqual"
          [nzPlaceHolder]="t('arbitrageSpreadArbitrageSpreadManage.portfolioPlaceholder')"
          [nzNotFoundContent]="emptyPortfolios"
        >
          <nz-option
            *ngFor="let p of getAvailablePortfolios(portfolios)"
            [nzLabel]="p.portfolio + ' (' + p.exchange + ')'"
            [nzValue]="p"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="d-flex flex-column mt-10" [formGroup]="secondLegFormGroup">
    <h2>{{t('arbitrageSpreadArbitrageSpreadManage.secondLegTitle')}}</h2>

    <nz-form-item class="compact">
      <nz-form-control [nzErrorTip]="t('arbitrageSpreadArbitrageSpreadManage.instrumentRequiredError')">
        <nz-form-label nzRequired>{{t('arbitrageSpreadArbitrageSpreadManage.instrumentLabel')}}</nz-form-label>
        <ats-instrument-search formControlName="instrument"></ats-instrument-search>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="compact">
      <nz-form-control [nzErrorTip]="quantityError">
        <nz-form-label nzRequired>{{t('arbitrageSpreadArbitrageSpreadManage.quantityLabel')}}</nz-form-label>
        <ats-input-number placeholder="0" formControlName="quantity"></ats-input-number>
      </nz-form-control>
            <ng-template #quantityError>
              <span *ngIf="secondLegFormGroup.get('quantity')?.errors?.required">
                {{t('arbitrageSpreadArbitrageSpreadManage.quantityRequiredError')}}
              </span>
              <span *ngIf="secondLegFormGroup.get('quantity')?.errors?.min">
                {{t('arbitrageSpreadArbitrageSpreadManage.tooLittle')}}
              </span>
              <span *ngIf="secondLegFormGroup.get('quantity')?.errors?.max">
                {{t('arbitrageSpreadArbitrageSpreadManage.tooMuch')}}
              </span>
            </ng-template>
    </nz-form-item>
    <nz-form-item class="compact">
      <nz-form-control [nzErrorTip]="ratioError">
        <nz-form-label nzRequired>{{t('arbitrageSpreadArbitrageSpreadManage.calculationRatioLabel')}}</nz-form-label>
        <ats-input-number placeholder="0" formControlName="ratio"></ats-input-number>
      </nz-form-control>
      <ng-template #ratioError>
        <span *ngIf="secondLegFormGroup.get('ratio')?.errors?.required">
          {{t('arbitrageSpreadArbitrageSpreadManage.ratioRequiredError')}}
        </span>
        <span *ngIf="secondLegFormGroup.get('ratio')?.errors?.min">
          {{t('arbitrageSpreadArbitrageSpreadManage.tooLittle')}}
        </span>
        <span *ngIf="secondLegFormGroup.get('ratio')?.errors?.max">
          {{t('arbitrageSpreadArbitrageSpreadManage.tooMuch')}}
        </span>
      </ng-template>
    </nz-form-item>
    <nz-form-item *ngIf="portfolios$ | async as portfolios" class="compact">
      <nz-form-control [nzErrorTip]="t('arbitrageSpreadArbitrageSpreadManage.portfolioPlaceholder')">
        <nz-form-label nzRequired>{{t('arbitrageSpreadArbitrageSpreadManage.portfolioLabel')}}</nz-form-label>
        <nz-select
          formControlName="portfolio"
          [compareWith]="isPortfoliosEqual"
          [nzPlaceHolder]="t('arbitrageSpreadArbitrageSpreadManage.portfolioPlaceholder')"
          [nzNotFoundContent]="emptyPortfolios"
        >
          <nz-option
            *ngFor="let p of getAvailablePortfolios(portfolios, false)"
            [nzLabel]="p.portfolio + ' (' + p.exchange + ')'"
            [nzValue]="p"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <ng-template #emptyPortfolios>
    <nz-empty
      [nzNotFoundContent]="t('arbitrageSpreadArbitrageSpreadManage.portfoliosEmpty')"
      nzNotFoundImage="simple"
    ></nz-empty>
  </ng-template>
</ng-container>
