<ng-container *transloco="let t; scope: 'arbitrage-spread/arbitrage-spread-manage'">
  <div [formGroup]="form">
    <div class="d-flex flex-column" >
      <nz-form-item>
        <nz-form-control [nzErrorTip]="t('arbitrageSpreadArbitrageSpreadManage.calculationFormulaIncorrectError')">
          <nz-form-label>{{t('arbitrageSpreadArbitrageSpreadManage.calculationFormulaLabel')}}</nz-form-label>
          <nz-input-group [nzSuffix]="suffixIconHelp">
            <input
              type="text"
              nz-input
              [formControl]="calculationFormulaControl"
              [placeholder]="t('arbitrageSpreadArbitrageSpreadManage.calculationFormulaLabel')"
              />
          </nz-input-group>

          <ng-template #suffixIconHelp>
            <span
              class="help-icon"
              nz-icon
              nzType="question-circle"
              nz-tooltip
              [nzTooltipTitle]="calculationTooltip"
            ></span>
          </ng-template>

          <ng-template #calculationTooltip>
            <p>{{t('arbitrageSpreadArbitrageSpreadManage.calculationFormulaTooltip1')}}</p>
            <p>{{t('arbitrageSpreadArbitrageSpreadManage.calculationFormulaTooltip2')}}</p>
            <p>L1*L3-L2</p>
            <p>L1/L2</p>
            <p>{{t('arbitrageSpreadArbitrageSpreadManage.calculationFormulaTooltip3')}}</p>
          </ng-template>
        </nz-form-control>

        @if (form.errors?.calculationFormula) {
          <span
            nz-typography
            nzType="danger"
            >
            {{t('arbitrageSpreadArbitrageSpreadManage.calculationFormulaNoThirdLegError')}}
          </span>
        }
      </nz-form-item>

      <h2>{{t('arbitrageSpreadArbitrageSpreadManage.firstLegTitle')}}</h2>

      <ats-spread-leg formControlName="firstLeg" [portfolios]="(portfolios$ | async) ?? []" />
    </div>

    <div class="d-flex flex-column mt-10">
      <h2>{{t('arbitrageSpreadArbitrageSpreadManage.secondLegTitle')}}</h2>

      <ats-spread-leg formControlName="secondLeg"
        [isSideNeeded]="true"
        [portfolios]="(portfolios$ | async) ?? []"
       />
    </div>

    <nz-form-item class="mt-10">
      <nz-form-label nzFor="isThirdLeg">
        {{t('arbitrageSpreadArbitrageSpreadManage.isThirdLegLabel')}}
      </nz-form-label>
      <nz-form-control>
        <nz-switch [formControl]="isThirdLegControl" />
      </nz-form-control>
    </nz-form-item>

    @if (isThirdLegControl.value) {
      <div class="d-flex flex-column mt-10">
        <ats-spread-leg formControlName="thirdLeg"
          [isSideNeeded]="true"
          [portfolios]="(portfolios$ | async) ?? []"
         />
      </div>
    }
  </div>
</ng-container>
