<ng-container *transloco="let t; scope: 'dashboard/navbar/common'">
  <button [nzDropdownMenu]="menu" [nzType]="'text'" nz-button nz-dropdown nzPlacement="bottomRight">
    <i nz-icon nzType="ats-user"></i>
  </button>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item (click)="openTerminalSettings()" class='menu-item'>
        <span><i nz-icon nzType="user" nzTheme="outline"></i> <span>&nbsp;{{t('dashboardNavbarCommon.profile')}}</span></span>
      </li>

      @if(!isNullOrEmpty(externalLinks?.reports)) {
        <li nz-menu-item class='menu-item external-link' (click)="openThirdPartyLink(externalLinks?.reports!)">
          <span>
            <i nz-icon nzType="audit" nzTheme="outline"></i>
            <ng-container [ngTemplateOutlet]="externalLink" [ngTemplateOutletContext]="{name: t('dashboardNavbarCommon.reports')}" />
          </span>
        </li>
      }

      @if(!isNullOrEmpty(externalLinks?.releases)) {
        <li nz-menu-item class='menu-item external-link' (click)="openThirdPartyLink(externalLinks?.releases!)">
          <span>
            <i nz-icon nzType="history" nzTheme="outline"></i>
            <ng-container [ngTemplateOutlet]="externalLink" [ngTemplateOutletContext]="{name: t('dashboardNavbarCommon.releases')}" />
          </span>
        </li>
      }

      @if(!isNullOrEmpty(externalLinks?.support)) {
        <li nz-menu-item class='menu-item external-link' (click)="openThirdPartyLink(externalLinks?.support!)">
          <span>
            <i nz-icon nzType="customer-service" nzTheme="outline"></i>
            <ng-container [ngTemplateOutlet]="externalLink" [ngTemplateOutletContext]="{name: t('dashboardNavbarCommon.support')}" />
          </span>
        </li>
      }

      @if(!isNullOrEmpty(externalLinks?.issuesList)) {
        <li nz-menu-item class='menu-item external-link' (click)="openThirdPartyLink(externalLinks?.issuesList!)">
          <span>
            <i nz-icon nzType="bulb" nzTheme="outline"></i>
            <ng-container [ngTemplateOutlet]="externalLink" [ngTemplateOutletContext]="{name: t('dashboardNavbarCommon.issuesList')}" />
          </span>
        </li>
      }

      @if(!isNullOrEmpty(externalLinks?.videoTutorial)) {
        <li nz-menu-item class='menu-item external-link' (click)="openThirdPartyLink(externalLinks?.videoTutorial!)">
          <span>
            <i nz-icon nzType="play-circle" nzTheme="outline"></i>
            <ng-container [ngTemplateOutlet]="externalLink" [ngTemplateOutletContext]="{name: t('dashboardNavbarCommon.videoTutorial')}" />
          </span>
        </li>
      }


      @if (helpLink$ | async; as helpLink) {
        <li
          nz-menu-item
          class='menu-item external-link'
          (click)="openThirdPartyLink(helpLink)"
          >
          <span>
            <i nz-icon nzType="question-circle" nzTheme="outline"></i>
            <ng-container [ngTemplateOutlet]="externalLink" [ngTemplateOutletContext]="{name: t('dashboardNavbarCommon.help')}" />
          </span>
        </li>
      }
      <li nz-menu-item (click)="logout()" class='menu-item' >
        <span><i nz-icon nzType="logout" nzTheme="outline"></i> <span>&nbsp;{{t('dashboardNavbarCommon.exit')}}</span></span>
      </li>
    </ul>
    <ng-template #externalLink let-name='name'>
      <span class="link-label">&nbsp;{{name}}&nbsp;<span nz-icon nzType="ats-external-link" nzTheme="outline"></span></span>
    </ng-template>
  </nz-dropdown-menu>
</ng-container>
