@if (settings$ | async; as settings) {
  <div>
    <ng-container>
      <ng-container *transloco="let t; scope: 'orders-basket/orders-basket'">
        @if (settings.showPresetsPanel) {
          <div class="mb-5">
            <ats-presets [guid]="guid()"
              [presets]="(currentPresets$ | async) ?? []"
              [canAddPreset]="form.valid"
              (addPreset)="savePreset($event.title)"
              (removePreset)="removePreset($event.id)"
              (presetSelected)="applyPreset($event)"
               />
          </div>
        }
        <form [formGroup]="form" nz-form nzLayout="vertical">
          <div class="basket-items-container" nzResizeObserver (nzResizeObserve)="itemsContainerWidthChanged($event)">
            @for (itemControl of form.controls.items.controls; track itemControl; let i = $index) {
              <div class="basket-item">
                <div class="item-control">
                  <ats-orders-basket-item (delete)="form.controls.items.removeAt(i)"
                    [enableDelete]="form.controls.items.controls.length > 1"
                    [exchange]="settings.exchange"
                    [formControl]="itemControl"
                    [itemIndex]="i"
                    [width]="itemsContainerWidth$ | async"
                   />
                </div>
              </div>
            }
            @if (form.controls.items.errors?.max100Percent) {
              <span nz-typography nzType="danger">
                {{t('ordersBasketOrdersBasket.moreThan100Percents')}} ({{form.controls.items.errors?.max100Percent.actual}})
              </span>
            }
            <div>
              <button (click)="addItemDraft(form.controls.items)"
                id="add-item-btn"
                nz-button
                nzBlock
                nzType="dashed">
                <span nz-icon nzType="plus"></span>
              </button>
            </div>
          </div>
          <div class="budget-container">
            <div nz-col>
              <nz-form-item>
                <nz-form-label nzRequired>{{t('ordersBasketOrdersBasket.budgetLabel')}}</nz-form-label>
                <nz-form-control [nzErrorTip]="budgetError">
                  <ats-input-number formControlName="budget"
                    [placeholder]="t('ordersBasketOrdersBasket.budgetPlaceholder')"
                   />
                  <ng-template #budgetError>
                    @if (form.controls.budget.errors?.required) {
                      <span>{{t('ordersBasketOrdersBasket.budgetPlaceholder')}}</span>
                    }
                    @if (form.controls.budget.errors?.min) {
                      <span>{{t('validationErrors.tooLittle')}}</span>
                    }
                    @if (form.controls.budget.errors?.max) {
                      <span>{{t('validationErrors.tooMuch')}}</span>
                    }
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col>
              <nz-form-item>
                <nz-form-label>&nbsp;</nz-form-label>
                <nz-form-control>
                  <button
                    (click)="submitOrders()"
                    [disabled]="(canSubmit$ | async)===false"
                    [nzLoading]="processing$ | async"
                    class="submit-orders-btn"
                    nz-button>
                    {{t('ordersBasketOrdersBasket.submitLabel')}}
                  </button>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          @if (submitResult$ | async; as submitResult) {
            <div>
              @if (submitResult === 'success') {
                <span nz-typography nzType="success">{{t('ordersBasketOrdersBasket.submitSuccessMessage')}}</span>
              }
              @if (submitResult === 'failed') {
                <span nz-typography nzType="warning">{{t('ordersBasketOrdersBasket.submitFailedMessage')}}</span>
              }
            </div>
          }
        </form>
      </ng-container>
    </ng-container>
  </div>
}
