<ng-container *transloco="let t;">
  @if (settings$ | async; as settings) {
    <ats-widget-skeleton
      [content]="contentRef"
      [header]="headerRef"
      [settings]="settingsRef"
      [showSettings]="shouldShowSettings"
      [isBlockWidget]="isBlockWidget()"
      [showContentScroll]="false"
      >
      <ng-template #headerRef>
        <ats-widget-header [guid]="guid"
          [hasSettings]="true"
          [selectedBadgeColor]="settings.badgeColor"
          [showBadgesMenu]="(showBadge$ | async) ?? false"
          [linkToActive]="settings.linkToActive ?? null"
          [customTitle]="titleText + ' ' + (widgetTitle$ | async)"
          [widgetMeta]="widgetInstance().widgetMeta"
          (switchSettings)="onSettingsChange()"
         />
      </ng-template>
      <ng-template #contentRef>
        <ats-news [guid]="guid"
          (sectionChange)="sectionChange($event)"
         />
      </ng-template>
      <ng-template #settingsRef>
        <ats-news-settings (settingsChange)="onSettingsChange()" [guid]="guid" />
      </ng-template>
    </ats-widget-skeleton>
  }

</ng-container>

