@import (reference) '/src/styles.less';

.order-book-table {
  display: flex;
  justify-content: center;
}

.order-book-rows {
  .ask-row {
    &.trade-row {
      .price-cell {
        color: @sell-color;
      }

      &.best-row {
        background-color: fade(@sell-color, 20%);
      }
    }
  }

  .bid-row {
    &.trade-row {
      .price-cell {
        color: @buy-color;
      }

      &.best-row {
        background-color: fade(@buy-color, 20%);
      }
    }
  }

  .spread-row {
    background-color: fade(@disabled-color, 7%);
  }
}
