<div
  *ngIf="!shouldShowSettings"
  (mouseenter)="activeOrderbookChanged(true)"
  (mouseleave)="activeOrderbookChanged(false)"
>
  <div *ngIf="(orderBookRows$ | async) as orderBookRows" class="order-book-table">
    <div class="working-volumes">
      <nz-tag
        class="working-volume"
        [class.working-volume_active]="(activeWorkingVolume$ | async) === vol"
        *ngFor="let vol of workingVolumes"
        (click)="selectVol(vol)"
      >
        {{vol}}
      </nz-tag>
    </div>
    <nz-table nzBordered nzSize="small" nzTableLayout="fixed" nzTemplateMode>
      <tbody class="order-book-rows">
      <tr *ngFor='let row of orderBookRows; trackBy: getTrackKey'
          [ngClass]="{
          'row': true,
          'ask-row': row.rowType === rowTypes.Ask,
          'bid-row': row.rowType === rowTypes.Bid,
          'spread-row': row.rowType === rowTypes.Spread,
          'best-row': row.isBest,
          'trade-row': (row.volume ?? 0) > 0
          }"
          (click)="addStopOrder($event, row)"
      >
        <td [ngStyle]='getVolumeStyle(row.rowType, row.volume ?? 0)' class="volume-cell"
            nzAlign="center">{{row.volume}}</td>
        <td class="price-cell" nzAlign="center">{{row.displayValue}}</td>
        <td nzAlign="right">
          <span>{{getCurrentOrdersVolume(row.currentOrders)}}</span>
          <button (click)="cancelOrders(row.currentOrders)" *ngIf='row.currentOrders.length > 0'
                  class="cancel-order-btn" nz-button
                  nzSize="small" nzType="primary">
            <i nz-icon nzType="close-square"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </nz-table>
    <nz-empty *ngIf="orderBookRows.length === 0" nzNotFoundImage="simple"></nz-empty>
  </div>
</div>
