@import (reference) '/src/styles.less';

.order-book-rows {
  .row {
    td {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  .ask-row {
    &.trade-row {
      .price-cell {
        color: @sell-color;
      }

      &.best-row {
        .price-cell {
          background-color: @sell-color-background;
        }
      }
    }
  }

  .bid-row {
    &.trade-row {
      .price-cell {
        color: @buy-color;
      }

      &.best-row {
        .price-cell {
          background-color: @buy-color-background;
        }
      }
    }
  }

  .cancel-order-btn {
    margin-left: 0.5em;
  }
}
