<ng-container *transloco="let t;">
  @if (getTypedConfig(); as config) {
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-label nzFor="property" [nzRequired]="config.validation.minLength > 0">{{ config.label }}
        </nz-form-label>
        <nz-form-control
          [nzErrorTip]="t('validationErrors.stringInputLength', {min: config.validation.minLength, max: config.validation.maxLength})">
          <input nz-input formControlName="property"/>
        </nz-form-control>
      </nz-form-item>
    </form>
  }
</ng-container>

