<ng-container *transloco="let t; scope: 'scalper-order-book/current-position-state'">
  <div *ngIf="orderBookPosition$ | async as position" class="container">
    <div
      [nz-tooltip]="t('scalperOrderBookCurrentPositionState.avgPositionPriceTooltip')"
      [nzTooltipMouseEnterDelay]="1"
    >
      {{position.price}}
    </div>
    <div [ngClass]="{
        'qty': true,
        'positive': position.qty >= 0,
        'negative': position.qty < 0
        }"
         [nz-tooltip]="t('scalperOrderBookCurrentPositionState.lotsQtyTooltip')"
         [nzTooltipMouseEnterDelay]="1">
      {{position.qty}}{{t('scalperOrderBookCurrentPositionState.lots')}}.
    </div>
    <div [ngClass]="{
        'loss-or-profit': true,
        'positive': position.lossOrProfitPoints > 0,
        'negative': position.lossOrProfitPoints < 0
        }"
         [nz-tooltip]="t('scalperOrderBookCurrentPositionState.lossOrProfitTooltip')"
         [nzTooltipMouseEnterDelay]="1"
         (click)="changeLossOrProfitDisplayType()"
    >
      <ng-container *ngIf="lossOrProfitDisplayType$ | async as lossOrProfitDisplayType">
        <span *ngIf="lossOrProfitDisplayType === 'points'">{{position.lossOrProfitPoints}}{{t('scalperOrderBookCurrentPositionState.positions')}}.</span>
        <span *ngIf="lossOrProfitDisplayType === 'percentage'">{{position.lossOrProfitPercent}}%</span>
      </ng-container>

    </div>
  </div>
</ng-container>

