<ng-container *transloco="let t; scope: 'instruments/settings'">
  @if (menuItems$ | async; as menuItems) {
    <nz-dropdown-menu>
      <ul nz-menu>
        @for (item of menuItems; track item) {
          @if (item.subItems.length === 0) {
            <li
              (click)="item.selectItem(item)"
              nz-menu-item
              >
              {{ item.title }}
            </li>
          } @else {
            <li
              (click)="item.selectItem(item)"
              [nzTitle]="item.title"
              nz-submenu
              >
              <ul>
                @for (subItem of item.subItems; track subItem) {
                  <li
                    (click)="subItem.selectItem(subItem)"
                    nz-menu-item
                    >
                    {{ subItem.title }}
                  </li>
                }
              </ul>
            </li>
          }
        }
      </ul>
    </nz-dropdown-menu>
    <nz-modal
      (nzAfterOpen)="afterNewListDialogOpen()"
      (nzOnCancel)="showNewListDialog = false"
      [nzFooter]="null"
      [nzOkDisabled]="!newListForm.valid"
      [nzTitle]="t('instrumentsSettings.watchListPlaceholder')"
      [nzVisible]="showNewListDialog"
      [nzWidth]="300"
      nzCentered
      nzDraggable
      >
      <ng-container *nzModalContent>
        <form [formGroup]="newListForm" [nzLayout]="'inline'" class="flex-nowrap" nz-form>
          <nz-form-item class="flex-fill mr-5 mb-0">
            <nz-form-control [nzErrorTip]="titleError">
              <input
                #titleInput
                (keydown.enter)="addItemToNewList()"
                [placeholder]="t('instrumentsSettings.watchListPlaceholder')"
                class="flex-fill"
                formControlName="title"
                nz-input
                type="text"/>
                <ng-template #titleError>
                  @if (newListForm.controls.title.errors?.existing) {
                    <span>{{ t('instrumentsSettings.watchListExistingError') }}</span>
                  } @else {
                    @if (newListForm.controls.title.errors;) {
                      <span>{{ t('instrumentsSettings.watchListError') }}</span>
                    }
                  }
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="mr-0">
              <button
                (click)="addItemToNewList()"
                [disabled]="!newListForm.valid"
                nz-button
                nzType="primary"
                >
                <span nz-icon nzTheme="outline" nzType="check"></span>
              </button>
            </nz-form-item>
          </form>
        </ng-container>
      </nz-modal>
    }
  </ng-container>

