<nz-modal
  *transloco="let t; scope: 'arbitration-extension/arbitration-extension-modal-widget'"
  [nzTitle]="header"
  nzClosable="true"
  [nzVisible]='isVisible$ | async'
  [nzMaskClosable]='true'
  (nzOnCancel)="handleCancel()"
>
  <ng-template #header>
    <div class="header">
      {{
      (extensionInfo$ | async)
        ? t('arbitrationExtensionArbitrationExtensionModalWidget.editTitle')
        : t('arbitrationExtensionArbitrationExtensionModalWidget.newTitle')
      }}
    </div>
  </ng-template>
  <ng-container *nzModalContent>
    <ats-arbitration-extension-manage [extension]="extensionInfo$ | async" (formChange)="formChange($event)"></ats-arbitration-extension-manage>
  </ng-container>
  <ng-container *nzModalFooter>
    <button
      (click)="addOrEdit()"
      nz-button
      nzType="primary"
      [disabled]="!formData?.isValid"
    >
      <ng-container *ngIf="extensionInfo$ | async; else newExt">{{t('saveBtnText')}}</ng-container>
      <ng-template #newExt>{{t('addBtnText')}}</ng-template>
    </button>
  </ng-container>
</nz-modal>
