<ng-container *transloco="let t;">
  <ats-widget-skeleton
    *ngIf="settings$ | async as settings"
    [content]="contentRef"
    [header]="headerRef"
    [showContentScroll]="true"
    [isBlockWidget]="isBlockWidget"
  >
    <ng-template #headerRef>
      <ats-widget-header
        [guid]="guid"
        [hasHelp]="true"
        [hasSettings]="false"
        [showBadgesMenu]="false"
        [customTitle]="title$ | async"
        [widgetMeta]="widgetInstance.widgetMeta"
      ></ats-widget-header>
    </ng-template>

    <ng-template #contentRef>
      <ats-orders-basket [guid]="guid"></ats-orders-basket>
    </ng-template>
  </ats-widget-skeleton>

</ng-container>
