@if (settings$ | async; as settings) {
  @if (!settings.marketType || settings.marketType !== marketTypes.Forward) {
    <ng-container *transloco="let t; scope: 'blotter/common-summary'">
      @if (commonSummary$ | async; as commonSummary) {
        <ats-scrollable-row>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterCommonSummary.portfolioLiquidationTitle')}}:</span>
            <span>{{commonSummary.portfolioLiquidationValue}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterCommonSummary.portfolioEvaluationTitle')}}:</span>
            <span>{{commonSummary.portfolioEvaluation}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterCommonSummary.profitTitle')}}:</span>
            <span [class]="commonSummary.profitRate > 0 ? 'buy' : 'sell'">{{commonSummary.profit}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterCommonSummary.profitRateTitle')}}:</span>
            <span [class]="commonSummary.profitRate > 0 ? 'buy' : 'sell'">{{commonSummary.profitRate}}%</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterCommonSummary.buyingPowerAtMorningTitle')}}:</span>
            <span>{{commonSummary.buyingPowerAtMorning}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterCommonSummary.initialMarginTitle')}}:</span>
            <span>{{commonSummary.initialMargin}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterCommonSummary.riskBeforeForcePositionClosingTitle')}}:</span>
            <span>{{commonSummary.riskBeforeForcePositionClosing}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterCommonSummary.commissionTitle')}}:</span>
            <span>{{commonSummary.commission}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterCommonSummary.buyingPowerTitle')}}:</span>
            <span>{{commonSummary.buyingPower}}</span>
          </div>
        </ats-scrollable-row>
      }
    </ng-container>
  }
  @if (settings.marketType === marketTypes.Forward) {
    <ng-container *transloco="let t; scope: 'blotter/forward-summary'">
      @if (forwardSummary$ | async; as forwardSummary) {
        <ats-scrollable-row>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterForwardSummary.moneyFreeTitle')}}:</span>
            <span>{{forwardSummary.moneyFree}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterForwardSummary.moneyBlockedTitle')}}:</span>
            <span>{{forwardSummary.moneyBlocked}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterForwardSummary.feeTitle')}}:</span>
            <span>{{forwardSummary.fee}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterForwardSummary.moneyAmountTitle')}}:</span>
            <span>{{forwardSummary.moneyAmount}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterForwardSummary.portfolioLiquidationValueTitle')}}:</span>
            <span>{{forwardSummary.portfolioLiquidationValue}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterForwardSummary.moneyPledgeAmountTitle')}}:</span>
            <span>{{forwardSummary.moneyPledgeAmount}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterForwardSummary.vmInterClTitle')}}:</span>
            <span>{{forwardSummary.vmInterCl}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterForwardSummary.vmCurrentPositionsTitle')}}:</span>
            <span>{{forwardSummary.vmCurrentPositions}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterForwardSummary.varMarginTitle')}}:</span>
            <span>{{forwardSummary.varMargin}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterForwardSummary.isLimitsSetTitle')}}:</span>
            <span>{{forwardSummary.isLimitsSet ? t('yes') : t('no')}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterForwardSummary.indicativeVarMarginTitle')}}:</span>
            <span>{{forwardSummary.indicativeVarMargin}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterForwardSummary.netOptionValueTitle')}}:</span>
            <span>{{forwardSummary.netOptionValue}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterForwardSummary.posRiskTitle')}}:</span>
            <span>{{forwardSummary.posRisk}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterForwardSummary.initialMarginTitle')}}:</span>
            <span>{{forwardSummary.initialMargin}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterForwardSummary.minimalMarginTitle')}}:</span>
            <span>{{forwardSummary.minimalMargin}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterForwardSummary.correctedMarginTitle')}}:</span>
            <span>{{forwardSummary.correctedMargin}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterForwardSummary.riskCoverageRatioOneTitle')}}:</span>
            <span>{{forwardSummary.riskCoverageRatioOne}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterForwardSummary.riskCoverageRatioTwoTitle')}}:</span>
            <span>{{forwardSummary.riskCoverageRatioTwo}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterForwardSummary.clientTypeTitle')}}:</span>
            <span>{{t('blotterForwardSummary.clientTypeValues.' + forwardSummary.clientType, {fallback: forwardSummary.clientType})}}</span>
          </div>
          <div atsScrollableItem class="item">
            <span class="label">{{t('blotterForwardSummary.riskStatusTitle')}}:</span>
            <span>{{t('blotterForwardSummary.riskStatusValues.' + forwardSummary.riskStatus, {fallback: forwardSummary.riskStatus})}}</span>
          </div>
        </ats-scrollable-row>
      }
    </ng-container>
  }
}
