atsm-dashboard-page {
  .ant-layout {
    height: 100%;

    background: var(--atsm-mobile-background-gradient);

    .content-wrapper {
      height: 100%;

      .fixed-height {
        flex: 0;
      }

      .instruments-history {
        width: 100%;
      }

      .content {
        flex: 1;
        overflow: hidden;
      }
    }
  }
}
