@let displayMessage = message();
<div
  class="d-flex flex-column flex-gap-5 align-items-start"
  [ngClass]="{
  'right': displayMessage.isMe,
  'left': !displayMessage.isMe
  }"
  >
  @if (!displayMessage.isMe) {
    <div class="avatar">
      <nz-avatar nzSize="large" nzIcon="user" [nzSrc]="displayMessage.avatarUri" />
    </div>
  }

  <div class="content">
    @switch (displayMessage.messageType) {
      @case (messageTypes.Text) {
        <ats-text-message [content]="displayMessage.content"
         />
      }
    }
  </div>
</div>
