<div
  class="d-flex flex-column flex-gap-5 align-items-start"
  [ngClass]="{
  'right': message.isMe,
  'left': !message.isMe
  }"
  >
  @if (!message.isMe) {
    <div class="avatar">
      <nz-avatar nzSize="large" nzIcon="user" [nzSrc]="message.avatarUri"></nz-avatar>
    </div>
  }

  <div class="content">
    @switch (message.messageType) {
      @case (messageTypes.Text) {
        <ats-text-message
          [content]="message.content"
        ></ats-text-message>
      }
    }
  </div>
</div>
