<ng-container *ngIf="tableConfig">
  <nz-table
    #dataTable
    atsTableRowHeight
    nzTableLayout="fixed"
    [nzVirtualItemSize]="itemHeight"
    [nzVirtualForTrackBy]="trackByFn"
    [nzVirtualMinBufferPx]="scrollHeight"
    [nzVirtualMaxBufferPx]="scrollHeight"
    [nzData]="data"
    [nzShowPagination]="false"
    [nzFrontPagination]="false"
    [nzScroll]="{y: scrollHeight + 'px'}"
    [nzLoading]="isLoading"
  >
    <thead>
    <tr
      #headerRow
      (cdkDropListDropped)="orderColumnChange.emit($event)"
      cdkDropList
      cdkDropListOrientation="horizontal"
    >
      <th
        *ngFor="let column of tableConfig.columns"
        class="table-cell"
        cdkDrag
        cdkDragLockAxis="x"
        [nzWidth]="column.width ? column.width + 'px' : null"
        [minWidth]="column.minWidth ?? 50"
        [nzShowSort]="!!column.sortFn || !!column.sortChangeFn"
        [nzSortOrder]="sortedColumnId === column.id ? sortedColumnOrder : null"
        (nzSortOrderChange)="sortChange($event, column)"
        [nzFilters]="column.filterData?.filters || []"
        [nzFilterMultiple]="column.filterData?.filterType === filterTypes.DefaultMultiple"
        [nzCustomFilter]="column.filterData?.filterType !== filterTypes.DefaultMultiple && column.filterData?.filterType !== filterTypes.Default"
        (nzFilterChange)="defaultFilterChange(column.filterData!.filterName!, $event)"
        [atsResizeColumn]="column.isResizable !== false"
        (atsWidthChanged)="columnWidthChange.emit({columnId: column.id, width: $event})"
      >
        <span
          *ngIf="column.tooltip; else simpleColumn"
          [nzTooltipPlacement]="['top', 'topLeft', 'topRight']"
          [nzTooltipTitle]="column.tooltip"
          nz-tooltip
        >
          {{column.displayName}}
        </span>

        <ng-template #simpleColumn>
          {{column.displayName}}
        </ng-template>
        <nz-filter-trigger
          *ngIf="!!column.filterData"
          (nzVisibleChange)="openedFilterChange(column.filterData.filterName, $event)"
          [nzDropdownMenu]="searchMenu"
        >
          <i
            nz-icon
            nzType="search"
            [class.active-filter]="(getFilterControl(column.filterData.filterName)?.value?.length ?? 0) > 0
            || !!getFilterControl(column.filterData.intervalStartName!)?.value
            || !!getFilterControl(column.filterData.intervalEndName!)?.value"
            nz-tooltip
            [nzTooltipTitle]="column.filterData.filterWarning == null ? null : filterWarning"
          >
          </i>
          <ng-template #filterWarning>
            <span
              nzType="warning"
              nz-typography>
              {{column.filterData.filterWarning}}
            </span>
          </ng-template>
        </nz-filter-trigger>
      </th>
    </tr>
    </thead>

    <tbody>
    <ng-template nz-virtual-scroll let-data>
      <tr
        (click)="rowClick.emit(data)"
        (contextmenu)="openContextMenu($event, menu, data)"
        [class]="tableConfig.rowConfig?.rowClass && tableConfig.rowConfig?.rowClass(data)"
      >
        <td *ngFor="let column of tableConfig.columns" class="table-cell" [class]="column.classFn && column.classFn(data)">
          <span>{{column.transformFn && column.transformFn(data) || data[column.id]}}</span>
          <ng-container *ngIf="data['badges']?.length && column.showBadges">
            <span>&nbsp;</span>
            <ats-merged-badge [colors]="data['badges']"></ats-merged-badge>
          </ng-container>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </nz-table>

  <nz-dropdown-menu #searchMenu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown custom-filter" *transloco="let t; scope: 'shared/infinite-scroll-table'">
      <ng-container *ngFor='let column of tableConfig.columns'>
        <div
          *ngIf='!!column.filterData && activeFilterName === column.filterData.filterName'
          class="d-flex flex-column justify-content-start"
        >
          <nz-select
            *ngIf="column.filterData.filterType === filterTypes.MultipleAutocomplete"
            class="multiple-autocomplete-filter mb-10"
            nzMode="multiple"
            [nzPlaceHolder]="t('sharedInfiniteScrollTable.selectValuesPlaceHolder')"
            [nzCustomTemplate]="customOption"
            [formControl]="getFilterControl(column.filterData.filterName)!"
          >
              <nz-option
                *ngFor="let item of column.filterData.filters"
                [nzLabel]="item.text"
                [nzValue]="item.value"
              >
              </nz-option>
          </nz-select>
          <ng-template #customOption let-option>
            {{option[column.filterData.multipleAutocompleteSelectedOptionLabelKey ?? 'nzLabel']}}
          </ng-template>
          <ng-container *ngIf="column.filterData.filterType === filterTypes.Search">
            <input
              *ngIf="(column.filterData.inputFieldType ?? inputFieldType.String) === inputFieldType.String"
              nz-input
              class="mb-10"
              type="text"
              [placeholder]="column.displayName"
              [formControl]="getFilterControl(column.filterData.filterName)!"
            />
            <ats-input-number
              *ngIf="column.filterData.inputFieldType === inputFieldType.Number"
              class="mb-10"
              [formControl]="getFilterControl(column.filterData.filterName)!"
              [placeholder]="column.displayName"
            ></ats-input-number>
          </ng-container>
          <ng-container *ngIf="column.filterData.filterType === filterTypes.Interval">
            <ng-container *ngIf="(column.filterData.inputFieldType ?? inputFieldType.String) === inputFieldType.String">
              <input
                nz-input
                class="mb-10"
                type="text"
                [placeholder]="column.displayName + ', ' + t('from')"
                [formControl]="getFilterControl(column.filterData.intervalStartName!)!"
              />
              <input
                nz-input
                class="mb-10"
                type="text"
                [placeholder]="column.displayName + ', ' + t('to')"
                [formControl]="getFilterControl(column.filterData.intervalEndName!)!"
              />
            </ng-container>
            <ng-container *ngIf="column.filterData.inputFieldType === inputFieldType.Number">
              <ats-input-number
                class="mb-10"
                [placeholder]="column.displayName + ', ' + t('from')"
                [formControl]="getFilterControl(column.filterData.intervalStartName!)!"
              ></ats-input-number>
              <ats-input-number
                class="mb-10"
                [placeholder]="column.displayName + ', ' + t('to')"
                [formControl]="getFilterControl(column.filterData.intervalEndName!)!"
              ></ats-input-number>
            </ng-container>

          </ng-container>
          <button
            nz-button
            nzType="text"
            nzSize="small"
            class="reset-button"
            (click)="resetFilter(column.filterData)"
          >
            {{t('resetBtnText')}}
          </button>
        </div>
      </ng-container>
    </div>
  </nz-dropdown-menu>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <ng-container *ngFor="let m of contextMenu">
        <li
          *ngIf="!m.subMenu?.length; else subMenu"
          nz-menu-item
          (click)="m.clickFn?.(selectedRow)"
        >
          {{m.title}}
        </li>

        <ng-template #subMenu>
          <li
            nz-submenu
            [nzTitle]="m.title"
            (click)="m.clickFn?.(selectedRow)"
          >
            <ul>
              <li
                nz-menu-item
                *ngFor="let subM of m.subMenu"
                (click)="subM.clickFn?.(selectedRow)"
              >
                {{subM.title}}
              </li>
            </ul>
          </li>
        </ng-template>
      </ng-container>
    </ul>
  </nz-dropdown-menu>
</ng-container>

