<nz-table
  #dataTable
  nzSize="small"
  nzTableLayout="fixed"
  [nzVirtualItemSize]="itemHeight"
  [nzVirtualForTrackBy]="trackByFn"
  [nzVirtualMinBufferPx]="scrollHeight"
  [nzVirtualMaxBufferPx]="scrollHeight"
  [nzData]="data"
  [nzShowPagination]="false"
  [nzFrontPagination]="false"
  [nzScroll]="{y: scrollHeight + 'px'}"
  [nzWidthConfig]="getWidthArr()"
  [nzLoading]="isLoading"
>
  <thead>
  <tr #tableRow>
    <th
      *ngFor="let column of columns"
      [nzWidth]="column.width ?? null"
      [nzShowSort]="!!column.sortFn"
      [nzSortOrder]="sortedColumnName === column.name ? sortedColumnOrder : null"
      (nzSortOrderChange)="sortChange($event, column)"
      [nzFilters]="column.filters!"
      [nzFilterMultiple]="column.isMultipleFilter!"
      (nzFilterChange)="defaultFilterChange(column.name, $event)"
      [nzCustomFilter]="!column.isDefaultFilter"
    >
      {{column.displayName}}
      <nz-filter-trigger
        *ngIf="column.isFiltering"
        (nzVisibleChange)="openedFilterChange(column.name, $event)"
        [nzDropdownMenu]="searchMenu"
      >
        <i nz-icon nzType="search" [class.active-filter]="!!getFilterControl(column.name).value"></i>
      </nz-filter-trigger>
    </th>
  </tr>
  </thead>

  <tbody>
  <ng-template nz-virtual-scroll let-data>
    <tr
      (click)="rowClick.emit(data)"
      (contextmenu)="openContextMenu($event, menu, data)"
    >
      <td *ngFor="let column of columns" [class]="column.classFn && column.classFn(data)">
        {{column.transformFn && column.transformFn(data) || data[column.name]}}
        <ng-container *ngIf="data['badges']?.length && column.showBadges">
          <ng-container *ngFor="let item of data['badges']">
            <nz-badge [nzColor]="item"></nz-badge>
          </ng-container>
        </ng-container>
      </td>
    </tr>
  </ng-template>
  </tbody>
</nz-table>

<nz-dropdown-menu #searchMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown table-filter">
    <div *ngFor='let column of columns'>
      <div *ngIf='column.isFiltering && activeFilterName === column.name'>
        <input
          nz-input
          class='ant-input'
          type="text"
          [placeholder]="column.displayName"
          [formControl]="getFilterControl(column.name)"
        />
        <button nz-button nzType="primary" nzSize="small" (click)="resetFilter(column.name)">Сбросить</button>
      </div>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <ng-container *ngFor="let m of contextMenu">
      <li
        *ngIf="!m.subMenu?.length; else subMenu"
        nz-menu-item
        (click)="m.clickFn(selectedRow)"
      >
          {{m.title}}
      </li>

      <ng-template #subMenu>
        <li
          nz-submenu
          [nzTitle]="m.title"
          (click)="m.clickFn(selectedRow)"
        >
          <ul>
            <li
              nz-menu-item
              *ngFor="let subM of m.subMenu"
              (click)="subM.clickFn(selectedRow)"
            >
              {{subM.title}}
            </li>
          </ul>
        </li>
      </ng-template>
    </ng-container>
  </ul>
</nz-dropdown-menu>
