@let config = tableConfig();
@if (config) {
  <nz-table
    #dataTable
    atsTableRowHeight
    nzTableLayout="fixed"
    [nzVirtualItemSize]="itemHeight"
    [nzVirtualForTrackBy]="trackByFn()"
    [nzVirtualMinBufferPx]="scrollHeight"
    [nzVirtualMaxBufferPx]="scrollHeight"
    [nzData]="data"
    [nzShowPagination]="false"
    [nzFrontPagination]="false"
    [nzScroll]="{y: scrollHeight + 'px'}"
    [nzLoading]="isLoading()"
    >
    <thead>
      <tr
        #headerRow
        (cdkDropListDropped)="orderColumnChange.emit($event)"
        cdkDropList
        cdkDropListOrientation="horizontal"
        >
        @for (column of config.columns; track column.id) {
          <th
            cdkDrag
            cdkDragLockAxis="x"
            [nzWidth]="column.width ? column.width + 'px' : null"
            [minWidth]="column.minWidth ?? 50"
            [nzShowSort]="!!column.sortFn || !!column.sortChangeFn"
            [nzSortOrder]="sortedColumnId === column.id ? sortedColumnOrder : null"
            (nzSortOrderChange)="sortChange($event, column)"
            [nzFilters]="column.filterData?.filters || []"
            [nzFilterMultiple]="column.filterData?.filterType === filterTypes.DefaultMultiple"
            [nzCustomFilter]="column.filterData?.filterType !== filterTypes.DefaultMultiple && column.filterData?.filterType !== filterTypes.Default"
            (nzFilterChange)="defaultFilterChange(column.filterData!.filterName!, $event)"
            [atsResizeColumn]="column.isResizable !== false"
            (atsWidthChanged)="columnWidthChange.emit({columnId: column.id, width: $event})"
            >
            @if (column.tooltip) {
              <span
                [nzTooltipPlacement]="['top', 'topLeft', 'topRight']"
                [nzTooltipTitle]="column.tooltip"
                nz-tooltip
                >
                {{column.displayName}}
              </span>
            } @else {
              {{column.displayName}}
            }
            @if (!!column.filterData) {
              <nz-filter-trigger
                (nzVisibleChange)="openedFilterChange(column.filterData.filterName, $event)"
                [nzDropdownMenu]="searchMenu"
                >
                <i
                  nz-icon
                  nzType="search"
            [class.active-filter]="(getFilterControl(column.filterData.filterName)?.value?.length ?? 0) > 0
            || !!getFilterControl(column.filterData.intervalStartName!)?.value
            || !!getFilterControl(column.filterData.intervalEndName!)?.value"
                  nz-tooltip
                  [nzTooltipTitle]="column.filterData.filterWarning == null ? null : filterWarning"
                  >
                </i>
                <ng-template #filterWarning>
                  <span
                    nzType="warning"
                    nz-typography>
                    {{column.filterData.filterWarning}}
                  </span>
                </ng-template>
              </nz-filter-trigger>
            }
          </th>
        }
      </tr>
    </thead>
    <tbody>
      <ng-template nz-virtual-scroll let-data>
        <tr
          (click)="rowClick.emit(data)"
          (contextmenu)="rowContextMenu.emit({ event: $event, row: data})"
          [class]="config?.rowConfig?.rowClass && config?.rowConfig?.rowClass(data)"
          >
          @for (column of config?.columns ?? []; track column.id) {
            <td [class]="column.classFn && column.classFn(data)">
              <div
                class="table-cell"
                [nzTooltipPlacement]="['top', 'topLeft', 'topRight']"
                [nzTooltipTitle]="column.transformFn ? column.transformFn(data) : data[column.id]"
                nz-tooltip
                [nzTooltipMouseEnterDelay]="1"
                >
                <span>{{ column.transformFn ? column.transformFn(data) : data[column.id] }}</span>
                @if (data['badges']?.length && column.showBadges) {
                  <span>&nbsp;</span>
                  <ats-merged-badge [colors]="data['badges']" />
                }
              </div>
            </td>
          }
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #searchMenu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown custom-filter" *transloco="let t; scope: 'shared/infinite-scroll-table'">
      @for (column of config?.columns ?? []; track column.id) {
        @if (!!column.filterData && activeFilterName === column.filterData.filterName) {
          <div
            class="d-flex flex-column justify-content-start"
            >
            @if (column.filterData.filterType === filterTypes.MultipleAutocomplete) {
              <nz-select
                class="multiple-autocomplete-filter mb-10"
                nzMode="multiple"
                [nzPlaceHolder]="t('sharedInfiniteScrollTable.selectValuesPlaceHolder')"
                [nzCustomTemplate]="customOption"
                [formControl]="getFilterControl(column.filterData.filterName)!"
                [nzDropdownMatchSelectWidth]="false"
                >
                @for (item of column.filterData.filters; track item.value) {
                  <nz-option [nzLabel]="item.text"
                    [nzValue]="item.value"
                     />
                }
              </nz-select>
            }
            <ng-template #customOption let-option>
              {{option[column.filterData.multipleAutocompleteSelectedOptionLabelKey ?? 'nzLabel']}}
            </ng-template>
            @if (column.filterData.filterType === filterTypes.Search) {
              @if ((column.filterData.inputFieldType ?? inputFieldType.String) === inputFieldType.String) {
                <input
                  nz-input
                  class="mb-10"
                  type="text"
                  [placeholder]="column.displayName"
                  [formControl]="getFilterControl(column.filterData.filterName)!"
                  />
              }
              @if (column.filterData.inputFieldType === inputFieldType.Number) {
                <ats-input-number class="mb-10"
                  [formControl]="getFilterControl(column.filterData.filterName)!"
                  [placeholder]="column.displayName"
                 />
              }
            }
            @if (column.filterData.filterType === filterTypes.Interval) {
              @if ((column.filterData.inputFieldType ?? inputFieldType.String) === inputFieldType.String) {
                <input
                  nz-input
                  class="mb-10"
                  type="text"
                  [placeholder]="column.displayName + ', ' + t('from')"
                  [formControl]="getFilterControl(column.filterData.intervalStartName!)!"
                  />
                <input
                  nz-input
                  class="mb-10"
                  type="text"
                  [placeholder]="column.displayName + ', ' + t('to')"
                  [formControl]="getFilterControl(column.filterData.intervalEndName!)!"
                  />
              }
              @if (column.filterData.inputFieldType === inputFieldType.Number) {
                <ats-input-number class="mb-10"
                  [placeholder]="column.displayName + ', ' + t('from')"
                  [formControl]="getFilterControl(column.filterData.intervalStartName!)!"
                 />
                <ats-input-number class="mb-10"
                  [placeholder]="column.displayName + ', ' + t('to')"
                  [formControl]="getFilterControl(column.filterData.intervalEndName!)!"
                 />
              }
            }
            <button
              nz-button
              nzType="text"
              nzSize="small"
              class="reset-button"
              (click)="resetFilter(column.filterData)"
              >
              {{t('resetBtnText')}}
            </button>
          </div>
        }
      }
    </div>
  </nz-dropdown-menu>
}

