ats-widget-settings-aux-panel {
  display: contents;

  .aux-panel {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    &.vertical {
      flex-direction: column;
      padding-right: 12px;
      border-right: var(--ats-border-width-base) var(--ats-border-style-base) var(--ats-border-color-split);
    }

    &.horizontal {
      flex-direction: row;
      justify-content: center;
      padding-bottom: 8px;
      border-bottom: var(--ats-border-width-base) var(--ats-border-style-base) var(--ats-border-color-split);
    }

    .toggle {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border: none;
      border-radius: var(--ats-border-radius-base);
      background: transparent;
      color: var(--ats-text-color);
      font-size: var(--ats-font-size-lg);
      cursor: pointer;

      &:hover {
        background: var(--ats-item-hover-bg);
      }

      &.active {
        background: var(--ats-select-item-selected-bg);
        color: var(--ats-primary-color);
      }
    }
  }
}
