<div class="container">
  <ng-template #empty>
    <nz-empty
      class="ant-list-empty-text"
      nzNotFoundImage="simple"
      [nzNotFoundContent]='isFilterDisabled() ? "Сделок сегодня не было" : "С такими фильтрами ничего не найдено"'>
    </nz-empty>
  </ng-template>

  <div class="table-container" #tableContainer>
    <ng-container *ngIf="scrollHeight$ | async as scrollHeight">
      <nz-table *ngIf="displayTrades$ | async as trades" #nzTable [nzData]="trades"
      [nzNoResult]="empty"
      nzTableLayout="fixed"
      nzSize="small"
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
      [nzScroll]="{ x: tableInnerWidth + 'px', y: scrollHeight - 5 + 'px' }"
      [nzVirtualItemSize]="20"
      [nzFooter]="footer">
    <thead>
      <tr cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="changeColumnOrder($event)">
        <th *ngFor='let column of listOfColumns'
            [nzCustomFilter]='column.hasSearch'
            [nzSortFn]='column.sortFn'
            [nzFilters]="column.listOfFilter"
            [nzShowFilter]="column.hasFilter"
            (nzFilterChange)="defaultFilterChange(column.id, $event)"
            [nzWidth]="column.width ? column.width + 'px': null"
            [atsResizeColumn]
            [minWidth]="50"
            (atsWidthChanged)="saveColumnWidth(column.id, $event)"
            (atsWidthChanging)="recalculateTableWidth($event)"
            cdkDrag
            cdkDragLockAxis="x"
        >
          <span nz-tooltip [nzTooltipTitle]="column.tooltip">{{column.name}}</span>
          <nz-filter-trigger *ngIf='column.hasSearch' [(nzVisible)]="column.isSearchVisible" [nzActive]="!!filter" [nzDropdownMenu]="searchMenu">
            <i [ngClass]="isFilterApplied(column) ? 'active-filter' : 'not-active-filter'"  nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ord of nzTable.data">
        <ng-container *ngFor='let column of listOfColumns'>
          <td *ngIf='column.id === "id"'>{{ ord.id }}</td>
          <td *ngIf='column.id === "orderno"'>{{ ord.orderno }}</td>
          <td *ngIf='column.id === "symbol"' class='bold'>{{ ord.symbol }}</td>
          <td *ngIf='column.id === "side"' [class]='ord.side.toString() === "sell" ? "sell" : "buy"'>{{ ord.side }}</td>
          <td *ngIf='column.id === "qty"'>{{ ord.qty | number }}</td>
          <td *ngIf='column.id === "price"'>{{ ord.price | number : '0.0-10' }}</td>
          <td *ngIf='column.id === "date"'>{{ formatDate(ord.date) }}</td>
          <td *ngIf='column.id === "volume"'>{{ ord.volume | number }}</td>
        </ng-container>
      </tr>
    </tbody>
  </nz-table>
    </ng-container>
  </div>

  <ng-template #footer>
    <div class="export-button-container">
      <button nz-button nzType="link" *ngIf="canExport" (click)="exportToFile()"><i nz-icon nzType="download"></i>Сохранить в файл</button>
    </div>
  </ng-template>

  <nz-dropdown-menu #searchMenu="nzDropdownMenu">
    <ats-table-filter [columns]="listOfColumns" (filterChange)="filterChange($event)"></ats-table-filter>
  </nz-dropdown-menu>
</div>
