@import "theme-mixin";

.themeMixin({
  :host {
    .link-to-active-btn {
      i.active {
        color: @link-to-active-btn-color;
      }
    }

    .title {
      .title-text {
        color: @title-text-color;
      }
      .title-with-icon {
        .title-icon {
          color: @title-icon-color;
        }
      }
    }
  }
});

.icon-display {
  transform: scale(0.7)
}

.panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:not(:first-child) {
    padding-left: 5px;
  }

  &:not(:last-child) {
    padding-right: 5px;
  }

  .title-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
  }

  .title-with-icon {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .title-text {
      padding-left: 8px;
    }
  }
}

button {
  line-height: normal;
  height: auto;
  border: none;
  // value should be greater then value of .gridster-item-resizable-handler (2)
  z-index: 10;

  &:first-child {
    margin-left: -5px;
  }

  &:last-child {
    margin-right: -5px;
  }
}

.badge-menu {
  width: fit-content;
}

::ng-deep {
  .title .ant-badge-status-text {
    margin-left: 3px;
  }

  .ant-badge-status-dot {
    width: 10px;
    height: 10px;
    margin-bottom: 1px;
  }

  .square-badge .ant-badge-status-dot {
    border-radius: 0;
  }
}

.buttons-group {
  display: flex;
  align-items: center;
}

.title-wrapper {
  max-width: calc(100% - 70px);
}
