<div class='panel' *ngIf="settings$ | async as s">
  <button *ngIf="hasSettings" nz-button nzSize="small" (click)="switchSettings($event)">
    <i nz-icon
      nzType="setting"
      [nzTheme]="'fill'"
      joyrideStep="step8"
      [title]="joyrideContent.step8.title"
      [text]="joyrideContent.step8.text"></i>
  </button>
  <label class="title">{{s.title}}</label>
  <span>
    <button *ngIf='s.linkToActive !== undefined' nz-button nzSize="small"
      (mousedown)="linkToActive($event, !s.linkToActive)"
      (touchstart)="linkToActive($event, !s.linkToActive)"
      class="link-to-active-btn">
      <i nz-icon
        [nzType]="'link'"
        [nzTheme]="'outline'"
        joyrideStep="step7"
        [title]="joyrideContent.step7.title"
        [text]="joyrideContent.step7.text"
        [class.active]="s.linkToActive"></i>
    </button>
    <button *ngIf="hasHelp" nz-button nzSize="small" (click)="openHelp()">
      <i nz-icon nzType="question-circle" [nzTheme]="'outline'"
      joyrideStep="step6"
      [title]="joyrideContent.step6.title"
      [text]="joyrideContent.step6.text"></i>
    </button>
    <button nz-button
      nzSize="small"
      (mousedown)="removeItem($event)"
      (touchstart)="removeItem($event)"
      joyrideStep="step5"
      [title]="joyrideContent.step5.title"
      [text]="joyrideContent.step5.text">
      <i nz-icon nzType="close-circle" [nzTheme]="'outline'"></i>
    </button>
  </span>
</div>
