<div class='panel'>
  <button nz-button class='btn-panel' *ngIf="!widget.gridItem.hasContent" (mousedown)="switchSettings($event)">
    <i nz-icon [nzType]="'setting'" [nzTheme]="'fill'"></i>
  </button>
  <label>{{widget.title}}</label>
  <span>
    <button nz-buttonclass='btn-panel' *ngIf="!widget.gridItem.hasContent" (mousedown)="removeItem($event, widget)"
      (touchstart)="removeItem($event, widget)">
      <i nz-icon nzType="close-circle" nzTheme="outline"></i>
    </button>
  </span>
</div>
