<div class='panel' *ngIf="widget$ | async as w">
  <button nz-button class='btn-panel' *ngIf="!w.gridItem.hasContent" (mousedown)="switchSettings($event)">
    <i nz-icon [nzType]="'setting'" [nzTheme]="'fill'"></i>
  </button>
  <label>{{w.title}}</label>
  <span>
    <button nz-buttonclass='btn-panel' *ngIf="!w.gridItem.hasContent" (mousedown)="removeItem($event, w)"
      (touchstart)="removeItem($event, w)">
      <i nz-icon nzType="close-circle" nzTheme="outline"></i>
    </button>
  </span>
</div>
