<ng-container *transloco="let t; scope: 'info/calendar'">
  @let targetBond = bond();
  @if (targetBond.coupons == null && targetBond.amortizations == null && targetBond.offers == null) {
    <nz-empty nzNotFoundImage="simple" />
  }

  @if (targetBond.coupons != null) {
    <h5 nz-typography>{{ t('infoCalendar.couponsTable') }}</h5>
    <nz-table
      #couponsTable
      [nzData]="targetBond.coupons"
      nzTableLayout="fixed"
      atsTableRowHeight
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
      nzBordered
    >
      <thead>
      <tr>
        <th>{{ t('infoCalendar.date') }}</th>
        <th>{{ t('infoCalendar.qty') }}</th>
        <th>{{ t('infoCalendar.couponType') }}</th>
        <th>{{ t('infoCalendar.accruedInterest') }}</th>
      </tr>
      </thead>
      <tbody>
        @for (coupon of couponsTable.data; track $index) {
          <tr
            [ngClass]="{
            closest: coupon.isClosest,
            expired: isInPast(coupon.date)
            }"
          >
            <td>{{ formatDate(coupon.date) }}</td>
            <td>{{ coupon.amount | currency: (coupon.currency ?? "RUB") :'symbol-narrow' }}</td>
            <td>{{ coupon.couponType }}</td>
            <td>
              @if(coupon.accruedInterest !== 0) {
                {{ coupon.accruedInterest | currency: (coupon.currency ?? "RUB"):'symbol-narrow' }}
              } @else {
                -
              }
            </td>
          </tr>
        }
      </tbody>
    </nz-table>
    <br/>
  }

  @if (targetBond.amortizations != null) {
    <h5 nz-typography>{{ t('infoCalendar.amortizationTable') }}</h5>
    <nz-table
      #amortizationsTable
      [nzData]="targetBond.amortizations"
      nzTableLayout="fixed"
      atsTableRowHeight
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
      nzBordered
    >
      <thead>
      <tr>
        <th>{{ t('infoCalendar.date') }}</th>
        <th>{{ t('infoCalendar.qty') }}</th>
        <th>{{ t('infoCalendar.parFraction') }}</th>
      </tr>
      </thead>
      <tbody>

        @for (amort of amortizationsTable.data; track $index) {
          <tr
            [ngClass]="{
            closest: amort.isClosest,
            expired: isInPast(amort.date)
            }"
          >
            <td>{{ formatDate(amort.date) }}</td>
            <td>{{ amort.amount | currency: (amort.currency ?? 'RUB'):'symbol-narrow' }}</td>
            <td>{{ amort.parFraction | percent }}</td>
          </tr>
        }
      </tbody>
    </nz-table>
    <br/>
  }

  @if (targetBond.offers != null) {
    <h5 nz-typography>{{ t('infoCalendar.offersTable') }}</h5>
    <nz-table
      #offersTable
      [nzData]="targetBond.offers"
      nzTableLayout="fixed"
      atsTableRowHeight
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
      nzBordered
    >
      <thead>
      <tr>
        <th>{{ t('infoCalendar.date') }}</th>
        <th>{{ t('infoCalendar.type') }}</th>
        <th>{{ t('infoCalendar.description') }}</th>
      </tr>
      </thead>
      <tbody>
        @for (offer of offersTable.data; track $index) {
          <tr
            [ngClass]="{
            closest: offer.isClosest,
            expired: isInPast(offer.date)
            }"
          >
            <td>{{ formatDate(offer.date) }}</td>
            <td>{{ offer.bondEventType }}</td>
            <td>{{ offer.description }}</td>
          </tr>
        }
      </tbody>
    </nz-table>
  }
</ng-container>
