<ats-widget-settings
  [canSave]="canSave"
  [canCopy]="canCopy"
  [showCopy]="showCopy"
  (saveClick)="updateSettings()"
  (copyClick)="createWidgetCopy()"
  >
  <ng-container *transloco="let t; scope: 'orderbook/settings'">
    @if (deviceInfo$ | async; as deviceInfo) {
      <div>
        <form nz-form [nzLayout]="'vertical'" [formGroup]="form">
          <nz-form-item>
            <nz-collapse [nzBordered]="false" nzGhost>
              @if (!deviceInfo.isMobile) {
                <nz-collapse-panel [nzHeader]="t('orderbookSettings.instrumentHeader')" nzActive="true"
                  >
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="instrument">{{ t('orderbookSettings.tickerLabel') }}</nz-form-label>
                    <nz-form-control [nzErrorTip]="t('orderbookSettings.tickerError')">
                      <ats-instrument-search formControlName="instrument"
                      (instrumentSelected)="instrumentSelected($event)" />
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="exchange">{{ t('orderbookSettings.exchangeLabel') }}</nz-form-label>
                    <nz-form-control>
                      <input nz-input type="text" [value]="form.value.instrument?.exchange" disabled/>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label nzFor="instrumentGroup">{{ t('orderbookSettings.instrumentGroupLabel') }}</nz-form-label>
                    <nz-form-control [nzErrorTip]="t('orderbookSettings.instrumentGroupError')">
                      <ats-instrument-board-select [instrument]="form.value.instrument ?? null"
                        [placeholder]="t('orderbookSettings.instrumentGroupLabel')"
                        formControlName="instrumentGroup" />
                    </nz-form-control>
                  </nz-form-item>
                </nz-collapse-panel>
              }
              <nz-collapse-panel [nzHeader]="t('orderbookSettings.viewSettingsHeader')" [nzActive]="deviceInfo.isMobile">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="depth">
                    {{ t('orderbookSettings.depthLabel') }}
                  </nz-form-label>
                  <nz-form-control>
                    <nz-slider [nzMin]="validationOptions.depth.min"
                      [nzMax]="validationOptions.depth.max"
                      [nzStep]="1"
                      [nzMarks]="getSliderMarks(validationOptions.depth.min, validationOptions.depth.max)"
                      formControlName="depth"
                       />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="columnsOrder">{{ t('orderbookSettings.columnsOrderLabel') }}
                  </nz-form-label>
                  <nz-form-control>
                    <nz-select formControlName="columnsOrder">
                      <nz-option [nzValue]="columnsOrderEnum.VolumesAtTheEdges"
                      [nzLabel]="t('orderbookSettings.columnOrders.volumesAtTheEdges')" />
                      <nz-option [nzValue]="columnsOrderEnum.VolumesAtTheMiddle"
                      [nzLabel]="t('orderbookSettings.columnOrders.volumesAtTheMiddle')" />
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzFor="volumeDisplayFormat">{{ t('orderbookSettings.volumeFormatDisplayLabel') }}
                  </nz-form-label>
                  <nz-form-control>
                    <nz-select formControlName='volumeDisplayFormat'>
                      @for (option of availableNumberFormats; track option) {
                        <nz-option [nzLabel]="t('numberDisplayFormatOptions.' + option, { fallback: option })"
                          [nzValue]="option"
                         />
                      }
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item class="one-row">
                  <nz-form-label nzFor="showChart">{{ t('orderbookSettings.displayChartLabel') }}</nz-form-label>
                  <nz-form-control>
                    <nz-switch formControlName='showChart' />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item class="one-row">
                  <nz-form-label nzFor="showTable">{{ t('orderbookSettings.displayTableLabel') }}</nz-form-label>
                  <nz-form-control>
                    <nz-switch formControlName='showTable' />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item class="one-row">
                  <nz-form-label nzFor="showVolume">{{ t('orderbookSettings.displayVolumeLabel') }}</nz-form-label>
                  <nz-form-control>
                    <nz-switch formControlName='showVolume' />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item class="one-row">
                  <nz-form-label
                    nzNoColon
                    nzFor="showYieldForBonds">{{ t('orderbookSettings.displayYieldForBondsLabel') }}
                  </nz-form-label>
                  <nz-form-control>
                    <nz-switch formControlName='showYieldForBonds' />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item class="one-row">
                  <nz-form-label nzFor="showPriceWithZeroPadding"
                    nzNoColon>{{ t('orderbookSettings.showPriceWithZeroPaddingLabel') }}
                  </nz-form-label>
                  <nz-form-control>
                    <nz-switch formControlName='showPriceWithZeroPadding' />
                  </nz-form-control>
                </nz-form-item>
              </nz-collapse-panel>
              @if (!deviceInfo.isMobile) {
                <nz-collapse-panel [nzHeader]="t('orderbookSettings.ordersHeader')">
                  <nz-form-item class="one-row">
                    <nz-form-label nzFor="useOrderWidget">
                      {{ t('orderbookSettings.useOrderWidgetLabel') }}
                      <span
                        class="popover-hint"
                        nz-icon
                        nz-popover
                        [nzPopoverContent]="t('orderbookSettings.useOrderWidgetPopover')"
                        nzType="info-circle"
                        nzTheme="outline"
                      ></span>
                    </nz-form-label>
                    <nz-form-control>
                      <nz-switch formControlName='useOrderWidget' />
                    </nz-form-control>
                  </nz-form-item>
                </nz-collapse-panel>
              }
            </nz-collapse>
          </nz-form-item>
        </form>
      </div>
    }
  </ng-container>
</ats-widget-settings>
