<p>Settings</p>
<form nz-form [nzLayout]="'inline'" [formGroup]="form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Инструмент">
      <nz-input-group nzPrefixIcon="user">
        <input formControlName="symbol" (mousedown)="$event.stopPropagation()" nz-input placeholder="Symbol" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Биржа">
      <nz-input-group nzPrefixIcon="lock">
        <input formControlName="exchange" (mousedown)="$event.stopPropagation()" placeholder="Exchange" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!form.valid">Сохранить</button>
    </nz-form-control>
  </nz-form-item>
</form>
