<div *ngIf="viewData | async as command">
  <nz-modal nzOkText="Выставить" nzCancelText="Отмена"
   [nzVisible]='isVisible$ | async' [nzTitle]="command?.side ? 'Купить' : 'Продать'"
    (nzOnCancel)="handleCancel()" (nzOnOk)="submitForm()">
    <ng-container *nzModalContent>
      <ats-command-header [symbol]='command.instrument.symbol'
        [exchange]='command.instrument.exchange'
        [instrumentGroup]="command.instrument.instrumentGroup ?? ''"></ats-command-header>
      <form  nz-form [nzLayout]="'horizontal'" [formGroup]="form" (ngSubmit)="submitForm()">
        <nz-form-item class="compact">
          <nz-form-control nzErrorTip="Введите кол-во">
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="quantity">Кол-во</nz-form-label>
            <nz-input-group nzPrefixIcon="user">
              <input class='ant-input'  formControlName="quantity" (mousedown)="$event.stopPropagation()" nz-input placeholder="100" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="compact">
          <nz-form-control nzErrorTip="Введите цену">
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="price">Цена</nz-form-label>
            <nz-input-group nzPrefixIcon="lock">
              <input class='ant-input'  formControlName="price" (mousedown)="$event.stopPropagation()" placeholder="0" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-collapse [nzBordered]="false" class="compact">
          <nz-collapse-panel nzHeader="Продвинутые">
            <nz-form-control nzErrorTip="Группа">
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="instrumentGroup">Группа</nz-form-label>
              <nz-input-group nzPrefixIcon="lock">
                <input class='ant-input'  formControlName="instrumentGroup" (mousedown)="$event.stopPropagation()"
                  placeholder="Режим торгов" />
              </nz-input-group>
            </nz-form-control>
          </nz-collapse-panel>
        </nz-collapse>
        <nz-form-item class="compact">
          <nz-form-control>
            <button class='ant-input'  type="submit" nz-button nzType="primary" [disabled]="!form.valid">Сохранить</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </ng-container>
  </nz-modal>

</div>
