<div *ngIf="commandContext$ | async as commandContext">
  <form nz-form [formGroup]="form" *transloco="let t; scope: 'command'">
    <div nz-row [nzGutter]="12">
      <div nz-col [nzSm]="12" [nzXs]="24">
        <nz-form-item class="compact">
          <nz-form-control [nzErrorTip]="quantityError" [nzValidateStatus]="form.get('quantity')!">
            <nz-form-label [nzNoColon]="true" nzRequired nzFor="quantity">
              {{t('command.quantityLabel')}}
              <span *ngIf="(commandContext.instrument?.lotsize ?? 1) !== 1" class="lot-size-hint">
                &nbsp;1 {{t('command.lot')}} = <ats-short-number [value]="commandContext.instrument.lotsize"></ats-short-number> {{t('command.pcs')}}
              </span>
            </nz-form-label>
            <ats-input-number formControlName="quantity" placeholder="0"></ats-input-number>
          </nz-form-control>
          <ng-template #quantityError>
            <span *ngIf="form.get('quantity')?.errors?.required">{{t('command.emptyQuantityError')}}</span>
            <span *ngIf="form.get('quantity')?.errors?.min">{{t('command.tooLittle')}}</span>
            <span *ngIf="form.get('quantity')?.errors?.max">{{t('command.tooMuch')}}</span>
          </ng-template>
        </nz-form-item>
      </div>
      <div nz-col [nzSm]="12" [nzXs]="24">
        <nz-form-item class="compact">
          <nz-form-control [nzErrorTip]="priceError" [nzValidateStatus]="form.get('price')!">
            <nz-form-label [nzNoColon]="true" nzRequired nzFor="price">{{t('command.priceLabel')}}</nz-form-label>
              <ats-input-number formControlName="price" placeholder="0" [step]="commandContext.instrument.minstep" [allowNegative]="true"></ats-input-number>
          </nz-form-control>
          <ng-template #priceError>
            <span *ngIf="form.get('price')?.errors?.required">{{t('command.emptyPriceError')}}</span>
            <span *ngIf="form.get('price')?.errors?.min">{{t('command.tooLittle')}}</span>
            <span *ngIf="form.get('price')?.errors?.max">{{t('command.tooMuch')}}</span>
            <span *ngIf="form.get('price')?.errors?.priceStepMultiplicity">
              {{t('command.priceStepMultiplicityError')}} ({{commandContext.instrument.minstep}})
            </span>
          </ng-template>
        </nz-form-item>
      </div>
    </div>
    <div>
      <nz-collapse nzGhost [nzBordered]="false" class="compact">
        <nz-collapse-panel [nzHeader]="t('command.advanced')">
          <nz-form-item class="compact">
            <nz-form-control [nzErrorTip]="t('command.instrumentGroupError')">
              <nz-form-label [nzNoColon]="true" nzFor="instrumentGroup">{{t('command.instrumentGroupLabel')}}</nz-form-label>
              <ats-instrument-board-select
                [instrument]="commandContext.instrument"
                [placeholder]="t('command.instrumentGroupPlaceholder')"
                formControlName="instrumentGroup">
              </ats-instrument-board-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="compact">
            <nz-form-control>
              <nz-form-label nzFor="timeInForce">{{t('command.timeInForceLabel')}}</nz-form-label>
              <nz-select formControlName="timeInForce" nzAllowClear [nzPlaceHolder]="t('command.timeInForcePlaceholder')">
                <nz-option
                  *ngFor="let timeInForce of timeInForceEnum | keyvalue"
                  [nzValue]="timeInForce.value" [nzLabel]="t('command.timeInForceOptions.' + timeInForce.key)"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="compact">
            <label
              formControlName="isIceberg"
              nz-checkbox
            >
              {{t('command.isIcebergLabel')}}
            </label>
          </nz-form-item>

          <ng-container *ngIf="form.get('isIceberg')?.value">
            <nz-form-item class="compact">
              <nz-form-control [nzErrorTip]="icebergFixedError">
                <nz-form-label nzFor="icebergFixed">{{t('command.icebergFixedLabel')}}</nz-form-label>
                <ats-input-number formControlName="icebergFixed" placeholder="0"></ats-input-number>
              </nz-form-control>
            </nz-form-item>

            <ng-template #icebergFixedError>
              <span *ngIf="form.get('icebergFixed')?.errors?.min">{{t('command.tooLittle')}}</span>
            </ng-template>
            <span nz-typography nzType="danger" *ngIf="form.errors?.icebergFixedNotBiggerThanQuantity">
              {{t('command.notBiggerThanError', { fieldName: t('command.quantityLabel') })}}
            </span>

            <nz-form-item class="compact">
              <nz-form-control [nzErrorTip]="icebergVarianceError">
                <nz-form-label nzFor="icebergVariance">
                  {{t('command.icebergVarianceLabel')}}
                </nz-form-label>
                <ats-input-number formControlName="icebergVariance" placeholder="0"></ats-input-number>
              </nz-form-control>

              <ng-template #icebergVarianceError>
                <span *ngIf="form.get('icebergFixed')?.errors?.min">{{t('command.tooLittle')}}</span>
              </ng-template>
            </nz-form-item>
          </ng-container>

          <div class="d-flex flex-gap-10">
            <nz-form-item class="compact flex-shrink-2 w-100">
              <nz-form-control [nzErrorTip]="topOrderPriceError">
                <nz-form-label nzFor="topOrderPrice">{{t('command.topOrderPriceLabel')}}</nz-form-label>
                <ats-input-number formControlName="topOrderPrice" placeholder="0" [allowNegative]="true"></ats-input-number>
              </nz-form-control>
            </nz-form-item>

            <ng-template #topOrderPriceError>
              <span *ngIf="form.get('topOrderPrice')?.errors?.min">{{t('command.tooLittle')}}</span>
              <span *ngIf="form.get('topOrderPrice')?.errors?.max">{{t('command.tooMuch')}}</span>
            </ng-template>

            <nz-form-item class="compact flex-shrink-3 w-100">
              <nz-form-control>
                <nz-form-label [nzNoColon]="true" nzFor="topOrderSide">{{t('command.sideLabel')}}</nz-form-label>
                <nz-select formControlName="topOrderSide">
                  <nz-option [nzValue]="'buy'" [nzLabel]="t('command.buySideLabel')"></nz-option>
                  <nz-option [nzValue]="'sell'" [nzLabel]="t('command.sellSideLabel')"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="d-flex flex-gap-10">
            <nz-form-item class="compact flex-shrink-2 w-100">
              <nz-form-control [nzErrorTip]="bottomOrderPriceError">
                <nz-form-label nzFor="bottomOrderPrice">{{t('command.bottomOrderPriceLabel')}}</nz-form-label>
                <ats-input-number formControlName="bottomOrderPrice" placeholder="0" [allowNegative]="true"></ats-input-number>
              </nz-form-control>
            </nz-form-item>

            <ng-template #bottomOrderPriceError>
              <span *ngIf="form.get('bottomOrderPrice')?.errors?.min">{{t('command.tooLittle')}}</span>
              <span *ngIf="form.get('bottomOrderPrice')?.errors?.max">{{t('command.tooMuch')}}</span>
            </ng-template>

            <nz-form-item class="compact flex-shrink-3 w-100">
              <nz-form-control>
                <nz-form-label [nzNoColon]="true" nzFor="bottomOrderSide">{{t('command.sideLabel')}}</nz-form-label>
                <nz-select formControlName="bottomOrderSide">
                  <nz-option [nzValue]="'buy'" [nzLabel]="t('command.buySideLabel')"></nz-option>
                  <nz-option [nzValue]="'sell'" [nzLabel]="t('command.sellSideLabel')"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </form>

  <ng-container *ngIf="form.valid">
    <ats-evaluation
      *ngIf="evaluation$ | async as evaluation"
      [evaluationProperties]="evaluation"
      (quantitySelect)="quantitySelect($event)"
    ></ats-evaluation>
  </ng-container>
</div>
