@import "theme-mixin";

.themeMixin({
  :host {
    .lot-size-hint {
      color: @text-color;
    }

    ::ng-deep {
      .loss {
        color: @sell-color;
      }

      .profit {
        color: @buy-color;
      }
    }
  }
});

.ant-form-item.compact {
  margin-bottom: 0;
}
