@if (filtersForm) {
  <div *transloco="let t" class="ant-table-filter-dropdown custom-filter">
    @for (column of columns(); track column) {
      @if (!!column.filterData && column.filterData.isOpenedFilter) {
        <div class="search-box" [formGroup]="filtersForm">
          <input
            class="mb-10"
            type="text" nz-input
            [placeholder]="column.filterData.filterName"
            [formControlName]="column.id"
            />
          </div>
        }
      }
      <button nz-button nzType="text" nzSize="small" (click)="reset()">{{t('resetBtnText')}}</button>
    </div>
  }
