@import "theme-mixin";

.themeMixin({
  :host {
    .ant-layout-header {
      ::ng-deep {
        .ant-btn {
          color: @layout-header-color;

          .ant-typography {
            color: @layout-header-color;
          }

          &.empty-portfolio {
            color: @error-color;
          }
        }
      }
    }

    ats-instrument-search {
      ::ng-deep {
        .ant-input {
          &-focused {
            color: @layout-header-color;
          }
        }
      }
    }
  }
});

@logo-height: 30px;
@indent: 2px;

@base-font-size: 18px;
@secondary-font-size: @base-font-size - 2;

nz-header {
  padding-left: 10px;
  padding-right: 10px;
  height: auto;

  .header-row {
    padding-top: 8px;
    line-height: 100%;
    //min-height: @navbar-height;

    .logo {
      height: @logo-height;
      width: @logo-height - @indent;
      overflow: hidden;
      margin-right: 5px;

      .anticon {
        color: transparent;
      }
    }

    .portfolio {
      height: 100%;
      display: flex;
      align-items: center;
      overflow: hidden;
      min-width: 0;

      .dropdown-btn {
        font-size: @secondary-font-size;
        line-height: 1;
        display: flex;
        align-items: center;
        max-width: 100%;

        span {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .arrow-icon {
        font-size: 10px;
        flex-shrink: 0;
        margin-left: 4px;
      }
    }

    .right {
      margin-left: auto;
      display: flex;
      gap: 0 8px;

      ::ng-deep .anticon,
      ::ng-deep .ant-btn,
      ::ng-deep .ant-btn-icon-only > *
       {
        font-size: @base-font-size !important;
        line-height: 1;
      }

      ats-lang-switch-widget {
        ::ng-deep .ant-btn
        {
          padding-left: 2px;
          padding-right: 2px;
        }
      }

      .menu-btn {
        padding: 0;
      }
    }
  }

  ats-instrument-search {
    ::ng-deep {
      .search-field {
        display: flex;
        padding: 10px 0 6px 0;
      }
    }
  }
}

.portfolio-menu {
  li {
    padding-left: 13px;
    padding-right: 10px;
  }

  .portfolio-search {
    margin-bottom: 15px;
    margin-top: 7px;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    box-shadow: none;
  }

  .porfolio-menu-item {
    font-size: @secondary-font-size;
  }
}

::ng-deep .side-menu {
  .actions-menu {
    border-right: none;

    .menu-item {
      height: 50px;
      padding-left: 0;

      .content {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        .anticon:first-child {
          font-size: @base-font-size;
        }
      }
    }
  }

  .menu-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;

    .close-btn {
      padding: 0;
      .anticon {
        font-size: @base-font-size !important;
      }
    }
  }

  .ant-menu {
    border-right: 0;
  }
}
