ats-ticker-list-manager {
  display: block;

  .add-tag {
    cursor: pointer;
    background: transparent;
    border-style: dashed;
  }

  .hint {
    color: var(--ats-text-color-secondary);
  }

  .search-box {
    min-width: 150px;
    max-width: 250px;
    flex: 1 1 auto;
  }
}
