<ng-container *transloco="let t; scope: 'invest-ideas'">
  <div *ngrxLet="ideas$ as ideas; suspenseTpl: loading">
    @if (ideas.length > 0) {
      <nz-carousel [nzDots]="true">
        @for (idea of ideas; track idea) {
          <div nz-carousel-content class="p-5">
            <div class="idea" (click)="openIdea(idea)">
              <div class="mb-10">
                <span nz-typography nzEllipsis class="fs-6 heading-color">{{ idea.title }}</span>
              </div>
              <div>
                <p nz-typography nzEllipsis [nzEllipsisRows]="3">{{ idea.body }}</p>
              </div>
              <div class="d-flex flex-row flex-nowrap justify-content-start flex-gap-10">
                @for (instrument of idea.instruments; track instrument) {
                  @if ($index < 4) {
                    @if (instrument | async; as instrumentInfo) {
                      <div class="d-flex flex-column align-items-center flex-gap-5 symbol">
                        <ats-instrument-icon [symbol]="instrumentInfo.symbol" size="large"
                                             shape="rounded-square" />
                        <span nz-typography nzEllipsis class="heading-color">{{ instrumentInfo.shortName }}</span>
                      </div>
                    }
                  }
                }
              </div>
            </div>
          </div>
        }
      </nz-carousel>
    } @else {
      <nz-empty nzNotFoundImage="simple" [nzNotFoundContent]="t('investIdeas.noItemsToDisplayMessage')" />
    }
  </div>

  <ng-template #loading>
    <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 5, width: '100%' }" />
  </ng-template>

  <ats-idea-details [(displayIdea)]="selectedIdea" />
</ng-container>
