<ats-widget-settings-editor
  (cancelClick)="requestClose()"
  (copyClick)="createWidgetCopy()"
  (saveClick)="updateSettings()"
  [canCopy]="canCopy"
  [canSave]="canSave"
  [showCopy]="showCopy"
  [widgetInstance]="widgetInstance()"
>
  <ng-container *transloco="let t; scope: 'instruments/settings'">
    <ats-widget-settings-group
      [isValid]="settingsForm.controls.display.valid"
      [title]="t('instrumentsSettings.displaySettingsTab')"
      groupId="display"
    >
      <ats-widget-settings-form [formGroup]="settingsForm.controls.display">
        <ats-widget-settings-form-item
          [errorTip]="t('instrumentsSettings.selectColumnsError')"
          [label]="t('instrumentsSettings.selectColumnsLabel')"
          [required]="true"
        >
          <nz-select
            *transloco="let tSelect; scope: 'instruments/select'"
            [nzMaxTagCount]="10"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            [nzPlaceHolder]="t('instrumentsSettings.selectColumnsPlaceholder')"
            [valueChanges]="settingsForm.controls.display.controls.instrumentColumns.valueChanges"
            atsRemoveSelectTitles
            formControlName="instrumentColumns"
            nzMode="multiple"
          >
            @for (item of allInstrumentColumns; track item.id) {
              <nz-option
                [nzLabel]="tSelect('instrumentsSelect.columns.' + item.id + '.name')"
                [nzValue]="item.id"
                nzCustomContent
              >
                <div
                  [nzTooltipPlacement]="['topLeft', 'top', 'topRight']"
                  [nzTooltipTitle]="tSelect('instrumentsSelect.columns.' + item.id + '.tooltip')"
                  nz-tooltip
                >
                  {{ tSelect('instrumentsSelect.columns.' + item.id + '.name') }}
                </div>
              </nz-option>
            }
          </nz-select>
        </ats-widget-settings-form-item>

        <ats-widget-settings-form-item [label]="t('instrumentsSettings.priceChangeTimeframeLabel')">
          <nz-select formControlName="priceChangeTimeframe">
            @for (timeframe of priceChangeTimeFrames; track timeframe.value) {
              <nz-option
                [nzLabel]="t('instrumentsSettings.timeframes.' + timeframe.name)"
                [nzValue]="timeframe.value"
              />
            }
          </nz-select>
        </ats-widget-settings-form-item>

        <ats-widget-settings-switch
          [label]="t('instrumentsSettings.showFavoritesLabel')"
          formControlName="showFavorites"
        />
      </ats-widget-settings-form>
    </ats-widget-settings-group>

    <ats-widget-settings-group
      [title]="t('instrumentsSettings.instrumentsListsTab')"
      groupId="watchlists"
    >
      <ats-watchlist-collection-edit/>
    </ats-widget-settings-group>

    <ng-template #tagPlaceHolder let-selectedList>
      {{ t('maxTagPlaceholder', {count: selectedList.length}) }}
    </ng-template>
  </ng-container>
</ats-widget-settings-editor>
