ats-widget-settings {
  .ant-collapse-header {
    background-color: color-mix(in srgb, var(--ats-background-color-light) 40%, transparent);
    border-radius: var(--ats-border-radius-base);
    font-size: calc(var(--ats-form-item-label-font-size) + 1px);
    padding-left: 2px !important;
  }
}
