@import "projects/terminal-styling-lib/src/styles/ng-zorro-overrides/desktop/modal";

.ant-modal {
  &.full-screen {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;

    max-width: 100%;
    margin: 0;
    padding: 0;

    .ant-modal-content {
      height: 100%;
      display: flex;
      flex-direction: column;

      .ant-modal-body {
        flex: 1 1 auto;
        padding-top: 0;
        max-height: 100%;
      }
    }
  }
}
