<ng-container *transloco="let t; scope: 'order-commands'">
  <ng-container *transloco="let td; scope: 'order-commands/edit-order-dialog'">
    @if (currentPortfolio$ | async; as currentPortfolio) {
      @if (currentInstrument$ | async; as currentInstrument) {
        <nz-modal
          *ngrxLet="dialogParams$ as dialogParams"
          (nzOnCancel)="cancelEditing()"
          (nzOnOk)='submit()'
          [nzCancelText]="t('cancelBtnText')"
          [nzOkText]="t('editBtnText')"
          [nzTitle]="title"
          [nzVisible]="(dialogParams$ | async) !== null"
          [nzOkDisabled]="!(formState$ | async)?.isValid"
          [nzOkLoading]="busy$ | async"
          [nzAutofocus]="(dialogParams?.initialValues?.hasPriceChanged ?? false) ? 'ok' : null"
          nzClosable="false"
          nzMaskClosable="false"
          nzDraggable
          >
          <ng-container *nzModalContent>
            @if (dialogParams) {
              <div>
                <ats-instrument-info (priceSelected)="setCommonParameters({price: $event})"
                  (qtySelected)="setCommonParameters({quantity: $event})"
                  [currentPortfolio]="currentPortfolio"
                  [instrumentKey]="currentInstrument"
                   />
              </div>
              <div>
                @switch (dialogParams.orderType) {
                  @case (orderTypes.Limit) {
                    <ats-edit-limit-order-form [orderId]="dialogParams.orderId"
                      [portfolioKey]="dialogParams.portfolioKey"
                      [initialValues]="dialogParams.initialValues"
                      (formStateChanged)="formState$.next($event)"
                     />
                  }
                  @case (orderTypes.Stop) {
                    <ats-edit-stop-order-form [orderId]="dialogParams.orderId"
                      [portfolioKey]="dialogParams.portfolioKey"
                      [initialValues]="dialogParams.initialValues"
                      (formStateChanged)="formState$.next($event)"
                     />
                  }
                  @default {
                    <span>{{t('orderCommandsEditOrderDialog.notSupportedOrderType')}}</span>
                  }
                }
              </div>
            }
          </ng-container>
        </nz-modal>
        <ng-template #title>
          <div class="title">
            <div>
              <h3 nz-typography>
                <span>{{t('orderCommandsEditOrderDialog.dialogTitle')}}</span>
                <span>&nbsp;</span>
                <span>({{currentPortfolio.portfolio}}:{{currentInstrument.exchange}})</span>
              </h3>
            </div>
            <div class="right">
              <button (click)="closeDialog()" aria-label="Close" nz-button>
                <i [nzTheme]="'outline'" nz-icon nzType="close"></i>
              </button>
            </div>
          </div>
        </ng-template>
      }
    }
  </ng-container>
</ng-container>
