<ng-container *transloco="let t; scope: 'orders-basket/presets'">
  <div class="d-flex flex-row flex-wrap justify-content-start flex-gap-8">
    @for (preset of presets(); track preset) {
      <nz-tag
        (click)="presetSelected.emit(preset)"
        nz-tooltip
        [nzTooltipTitle]="preset.title"
        [nzTooltipMouseEnterDelay]="1"
        >
        {{sliceTagName(preset.title)}}
        <span
          class="remove-btn"
          nz-icon
          nzType="close"
          nzTheme="outline"
          nz-popconfirm
          (click)="$event.preventDefault(); $event.stopPropagation()"
          [nzPopconfirmTitle]="t('ordersBasketPresets.removeConfirmationText')"
          [nzOkText]="t('yes')"
          [nzCancelText]="t('no')"
          (nzOnConfirm)="removePreset.emit(preset)"
          nzPopconfirmPlacement="bottom"
          >
        </span>
      </nz-tag>
    }
    @if (!inputVisible) {
      <nz-tag
        (click)="showInput()"
        [class.disabled]="!canAddPreset()"
        class="editable-tag"
        nz-tooltip
        [nzTooltipTitle]="t('ordersBasketPresets.savePresetTooltip')"
        [nzTooltipMouseEnterDelay]="1"
        >
        <span nz-icon nzType="plus"></span>
        <span>{{t('ordersBasketPresets.savePresetTag')}}</span>
      </nz-tag>
    }
    @if (inputVisible) {
      <input
        #inputElement
        (blur)="handleInputConfirm()"
        (keydown.enter)="handleInputConfirm()"
        [(ngModel)]="inputValue"
        id="new-preset-title-input"
        nz-input
        nzSize="small"
        type="text"
        [maxlength]="50"
        [placeholder]="t('ordersBasketPresets.titlePlaceholder')"
        />
    }
  </div>
</ng-container>

