<ng-container *transloco="let t; scope: 'terminal-settings/general-settings-form'">
  <form [formGroup]="form" [nzLayout]="'vertical'" nz-form>
    <nz-form-item>
      <nz-form-label nzFor="language" nzRequired>{{t('terminalSettingsGeneralSettingsForm.langLabel')}}</nz-form-label>
      <nz-form-control>
        <nz-select formControlName='language'>
          <nz-option [nzLabel]="t('terminalSettingsGeneralSettingsForm.notSelectedOption')" [nzValue]="''" nzDisabled nzHide />
          @for (option of availableLanguages; track option.key) {
            <nz-option [nzValue]="option.key" [nzLabel]="option.title" />
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <ng-container [formGroup]="form.controls.designSettings">
      <nz-form-item>
        <nz-form-label nzFor="theme" nzRequired>{{t('terminalSettingsGeneralSettingsForm.themeLabel')}}</nz-form-label>
        <nz-form-control>
          <nz-select formControlName='theme'>
            <nz-option [nzLabel]="t('terminalSettingsGeneralSettingsForm.darkThemeOption')" [nzValue]="themeTypes.dark" />
            <nz-option [nzLabel]="t('terminalSettingsGeneralSettingsForm.lightThemeOption')" [nzValue]="themeTypes.default" />
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="fontFamily">{{t('terminalSettingsGeneralSettingsForm.fontFamilyLabel')}}</nz-form-label>
        <nz-form-control>
          <nz-select formControlName='fontFamily' [nzPlaceHolder]="t('terminalSettingsGeneralSettingsForm.fontFamilyPlaceholder')">
            @for (fontFamily of availableFontFamilies; track fontFamily) {
              <nz-option [nzLabel]="fontFamily" [nzValue]="fontFamily" />
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      @if (!excludedSettings().includes('gridType')) {
        <nz-form-item>
          <nz-form-label nzFor="gridType">{{t('terminalSettingsGeneralSettingsForm.gridTypeLabel')}}</nz-form-label>
          <nz-form-control>
            <nz-select formControlName='gridType'>
              <nz-option [nzLabel]="t('terminalSettingsGeneralSettingsForm.gridTypeFitOption')" [nzValue]="gridTypes.Fit" />
              <nz-option [nzLabel]="t('terminalSettingsGeneralSettingsForm.gridTypeVerticalFixedOption')" [nzValue]="gridTypes.VerticalFixed" />
              <nz-option [nzLabel]="t('terminalSettingsGeneralSettingsForm.gridTypeHorizontalFixedOption')" [nzValue]="gridTypes.HorizontalFixed" />
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      }
    </ng-container>
    <nz-form-item>
      <nz-form-label nzFor="timezoneDisplayOption" nzRequired>{{t('terminalSettingsGeneralSettingsForm.timezoneLabel')}}</nz-form-label>
      <nz-form-control>
        <nz-select formControlName='timezoneDisplayOption'>
          <nz-option [nzLabel]="t('terminalSettingsGeneralSettingsForm.mskTimezoneOption')"
          [nzValue]="timezoneDisplayOption.MskTime" />
          <nz-option [nzLabel]="t('terminalSettingsGeneralSettingsForm.localTimezoneOption')"
          [nzValue]="timezoneDisplayOption.LocalTime" />
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    @if (!excludedSettings().includes('showCurrentTime')) {
      <nz-form-item>
        <label
          formControlName="showCurrentTime"
          nz-checkbox
          >
          {{t('terminalSettingsGeneralSettingsForm.showCurrentTimeLabel')}}
        </label>
      </nz-form-item>
    }

    <nz-form-item>
      <nz-form-label nzFor="tableRowHeight" nzRequired>{{t('terminalSettingsGeneralSettingsForm.tableRowHeightLabel')}}</nz-form-label>
      <nz-form-control>
        <nz-select formControlName='tableRowHeight'>
          <nz-option [nzLabel]="t('terminalSettingsGeneralSettingsForm.tableRowHeight.low')"
            [nzValue]="tableRowHeight.Low"
           />
          <nz-option [nzLabel]="t('terminalSettingsGeneralSettingsForm.tableRowHeight.medium')"
            [nzValue]="tableRowHeight.Medium"
           />
          <nz-option [nzLabel]="t('terminalSettingsGeneralSettingsForm.tableRowHeight.high')"
            [nzValue]="tableRowHeight.High"
           />
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="mb-0">
      <label
        formControlName="isLogoutOnUserIdle"
        nz-checkbox
        >
        {{t('terminalSettingsGeneralSettingsForm.isLogoutOnUserIdleLabel')}}
      </label>
    </nz-form-item>

    <p nz-typography nzType="warning">
      {{t('terminalSettingsGeneralSettingsForm.logoutDisclaimer')}}
    </p>

    @if (form.controls.isLogoutOnUserIdle.value) {
      <nz-form-item>
        <nz-form-label nzFor="userIdleDurationMin"
        nzRequired>{{t('terminalSettingsGeneralSettingsForm.userIdleDurationLabel')}}</nz-form-label>
        <nz-form-control
          [nzErrorTip]="t(
                  'terminalSettingsGeneralSettingsForm.intervalError',
                   {
                    min: validationSettings.userIdleDurationMin.min,
                    max: validationSettings.userIdleDurationMin.max
                   })"
          >
          <ats-input-number formControlName="userIdleDurationMin" />
        </nz-form-control>
      </nz-form-item>
    }

    @if (!excludedSettings().includes('badgesBind')) {
      <nz-form-item>
        <label
          formControlName="badgesBind"
          nz-checkbox
          >
          {{t('terminalSettingsGeneralSettingsForm.badgesBindLabel')}}
          <span
            [nzPopoverTitle]="badgeBindHint"
            nz-icon
            nz-popover
            nzTheme="outline"
            nzType="info-circle">
          </span>
        </label>
        <ng-template #badgeBindHint>
          <p> {{t('terminalSettingsGeneralSettingsForm.badgesBindHint1')}} </p>
          <p>
            <nz-badge class="square-badge" nzColor="yellow" />
            - {{t('terminalSettingsGeneralSettingsForm.badgesBindHint2')}}
          </p>
          <p>
            <nz-badge nzColor="yellow" />
            - {{t('terminalSettingsGeneralSettingsForm.badgesBindHint3')}}
          </p>
        </ng-template>
      </nz-form-item>
    }

    @if (form.controls.badgesBind.value) {
      <ats-badges-settings formControlName="badgesColors"
       />
    }
  </form>
</ng-container>
