@let isReadonly = item()?.widgetType === readonlyWidget;
<nz-select
  (nzOnClear)="clear()"
  [ngModel]="item()?.widgetType ?? null"
  (ngModelChange)="changeWidgetType($event)"
  [nzAllowClear]="!isReadonly"
  [nzDisabled]="isReadonly"
  class="w-100"
>
  @let selectableWidgets = (selectableWidgets$ | async) ?? [];
  @for (widget of selectableWidgets; track widget.widgetType) {
    <nz-option [nzLabel]="widget.displayName" [nzValue]="widget.widgetType" nzCustomContent>
      <nz-icon [nzType]="widget.icon"/>
      {{ widget.displayName }}
    </nz-option>
  }
</nz-select>
