<ng-container *transloco="let t; scope: 'mobile-home-screen/news'">
<div
  *ngrxLet="items$ as items; suspenseTpl: loading"
  class="d-flex flex-column"
>
  @for (item of items; track item.id) {
    <div class="item">
      <span>{{ formatDate(item.publishDate) }}</span>
      <span class="heading-color">{{ item.header }}</span>
    </div>
  } @empty {
    <nz-empty
      nzNotFoundImage="simple"
      [nzNotFoundContent]="t('mobileHomeScreenNews.noItemsToDisplayMessage')">
    </nz-empty>
  }
</div>
<button
  nz-button
  nzBlock
  (click)="showMore.emit()"
  class="mt-5"
>
  {{ t('mobileHomeScreenNews.moreItemsButton.title') }}
</button>
</ng-container>

<ng-template #loading>
  <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: displayRecordsCount, width: '100%' }"></nz-skeleton>
</ng-template>
