atsm-instruments-history {
  .history-wrapper {
    height: 40px;
  }

  .ant-tag {
    min-height: calc(var(--ats-input-height-mobile) - 5px);
    display: flex;
    align-items: center;
  }
}
