@import "theme-mixin";

.themeMixin({
  :host ::ng-deep {
    .buy-btn {
      background-color: @buy-color;
      color: white;
    }

    .sell-btn {
      background-color: @sell-color;
      color: white;
    }

    .buy-badge {
      .ant-badge-count {
        background-color: @buy-color;
      }
    }

    .sell-badge {
      .ant-badge-count {
        background-color: @sell-color;
      }
    }
  }
});

.compact {
  margin: 0;
}


:host ::ng-deep {
  .ant-badge-count {
    right: -5px;
    padding-left: 3px;
    padding-right: 3px;
  }
}
