<ng-container *transloco="let t; scope: 'arbitrage-spread/arbitrage-spread-table'">
  @if (items$ | async; as orders) {
    <nz-table
      #nzTable
      [nzData]="orders"
      [nzFrontPagination]="false"
      [nzNoResult]="empty"
      [nzShowPagination]="false"
      atsTableRowHeight
      nzTableLayout="fixed"
      >
      <thead>
        <tr>
          @for (column of listOfColumns; track column) {
            <th
              [nzWidth]="column.width ? column.width + 'px': null"
              >
              {{t('arbitrageSpreadArbitrageSpreadTable.columns.' + column.id)}}
            </th>
          }
          <th nzWidth="50px" nzAlign="center">
            <button
              nz-button
              nzShape="circle"
              nzType="primary"
              (click)="addSpread()"
              nz-tooltip=""
              [nzTooltipTitle]="t('arbitrageSpreadArbitrageSpreadTable.addBtnText')"
              >
              <i nz-icon nzTheme="outline" nzType="plus"></i>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        @for (spread of nzTable.data!; track trackByFn(i, spread); let i = $index) {
          <tr>
            @for (column of listOfColumns; track column) {
              @if (column.id === "symbols") {
                <td class='fw-bold'>
                  <div class="symbol-name" [class.mr-8]="!!spread.firstLeg.positionsCount">
                    @if (!!spread.firstLeg.positionsCount) {
                      <span
                        class="badge"
                        [class]="spread.firstLeg.positionsCount > 0 ? 'long' : 'short'"
                        [title]="getAbs(spread.firstLeg.positionsCount)"
                        >
                        {{getAbs(spread.firstLeg.positionsCount)}}
                      </span>
                    }
                    {{ spread.firstLeg.instrument.symbol }}
                  </div>
                  /
                  <div class="symbol-name" [class.mr-8]="!!spread.secondLeg.positionsCount">
                    @if (!!spread.secondLeg.positionsCount) {
                      <span
                        class="badge"
                        [class]="spread.secondLeg.positionsCount > 0 ? 'long' : 'short'"
                        [title]="getAbs(spread.secondLeg.positionsCount)"
                        >
                        {{getAbs(spread.secondLeg.positionsCount)}}
                      </span>
                    }
                    {{ spread.secondLeg.instrument.symbol }}
                  </div>
                  @if (spread.isThirdLeg) {
                    /
                    <div class="symbol-name" [class.mr-8]="!!spread.thirdLeg.positionsCount">
                      @if (!!spread.thirdLeg.positionsCount) {
                        <span
                          class="badge"
                          [class]="spread.thirdLeg.positionsCount > 0 ? 'long' : 'short'"
                          [title]="getAbs(spread.thirdLeg.positionsCount)"
                          >
                          {{getAbs(spread.thirdLeg.positionsCount)}}
                        </span>
                      }
                      {{ spread.thirdLeg.instrument.symbol }}
                    </div>
                  }
                  <!--              <nz-badge-->
                  <!--                nzSize="small"-->
                  <!--                [nzCount]="getAbs(spread.firstLeg.positionsCount!)"-->
                  <!--                [class.mr-8]="!!spread.firstLeg.positionsCount"-->
                  <!--                [class.buy-badge]="spread.firstLeg.positionsCount! > 0"-->
                  <!--                [class.sell-badge]="spread.firstLeg.positionsCount! < 0"-->
                  <!--              >-->
                  <!--               <span class="symbol-name">{{ spread.firstLeg.instrument.symbol }}</span>-->
                <!--              </nz-badge>-->
                <!--              /-->
                <!--              <nz-badge-->
                <!--                nzSize="small"-->
                <!--                [nzCount]="getAbs(spread.secondLeg.positionsCount!)"-->
                <!--                [class.buy-badge]="spread.secondLeg.positionsCount! > 0"-->
                <!--                [class.sell-badge]="spread.secondLeg.positionsCount! < 0"-->
                <!--              >-->
                <!--                <span class="symbol-name">{{spread.secondLeg.instrument.symbol}}</span>-->
              <!--              </nz-badge>-->
              <!--              <ng-container *ngIf="spread.isThirdLeg">-->
              <!--                /-->
              <!--                <nz-badge-->
              <!--                  nzSize="small"-->
              <!--                  [nzCount]="getAbs(spread.thirdLeg.positionsCount!)"-->
              <!--                  [class.buy-badge]="spread.thirdLeg.positionsCount! > 0"-->
              <!--                  [class.sell-badge]="spread.thirdLeg.positionsCount! < 0"-->
              <!--                >-->
              <!--                  <span class="symbol-name">{{spread.thirdLeg.instrument.symbol}}</span>-->
            <!--                </nz-badge>-->
          <!--              </ng-container>-->
        </td>
      }
      @if (column.id === "buySpread") {
        <td>{{ spread.buySpread | number}}</td>
      }
      @if (column.id === "sellSpread") {
        <td>{{ spread.sellSpread | number}}</td>
      }
      @if (column.id === "volume") {
        <td>
          <nz-form-item class="compact">
            <nz-form-control>
              <ats-input-number placeholder="0" [ngModel]="volumes[spread.id!]" (ngModelChange)="volumeChange($event, spread.id!)" />
            </nz-form-control>
          </nz-form-item>
        </td>
      }
      @if (column.id === "operation") {
        <td>
          <div class="d-flex">
            <button [disabled]="!isVolumeValid(spread.id!)" class="flex-fill buy-btn" nz-button (click)="buySpread(spread)">
              {{t('arbitrageSpreadArbitrageSpreadTable.buyBtnText')}}
            </button>
            <button [disabled]="!isVolumeValid(spread.id!)" class="flex-fill sell-btn" nz-button (click)="sellSpread(spread)">
              {{t('arbitrageSpreadArbitrageSpreadTable.sellBtnText')}}
            </button>
          </div>
        </td>
      }
    }
    <td>
      <div class="d-flex justify-content-evenly">
        <a (click)="editSpread(spread)">
          <i nz-icon nzTheme="outline" nzType="edit"></i>
        </a>
        <a (click)="removeSpread(spread.id!)">
          <i nz-icon nzTheme="outline" nzType="close-circle"></i>
        </a>
      </div>
    </td>
  </tr>
}
</tbody>
</nz-table>
}

<ng-template #empty>
  <nz-empty [nzNotFoundContent]="t('arbitrageSpreadArbitrageSpreadTable.emptyListText')"
    class="ant-list-empty-text"
    nzNotFoundImage="simple" />
</ng-template>
</ng-container>
