<ng-container *transloco="let t;">
  @if (settings$ | async; as settings) {
    <ats-widget-skeleton
      [content]="content"
      [header]="header"
      [isBlockWidget]="isBlockWidget()"
      [showContentScroll]="true"
      >
      <ng-template #header>
        <ats-widget-header [guid]="guid"
          [hasSettings]="false"
          [showBadgesMenu]="false"
          [widgetMeta]="widgetInstance().widgetMeta"
         />
      </ng-template>
      <ng-template #content>
        <ats-events-calendar [guid]="guid" />
      </ng-template>
    </ats-widget-skeleton>
  }

</ng-container>

