<ng-container *transloco="let t; scope: 'order-commands/order-submit-settings'">
  <ats-widget-settings-editor
    (cancelClick)="requestClose()"
    (copyClick)="createWidgetCopy()"
    (saveClick)="updateSettings()"
    [canCopy]="canCopy"
    [canSave]="canSave"
    [showCopy]="showCopy"
    [widgetInstance]="widgetInstance()"
  >
    <ats-widget-settings-group
      [device]="DeviceVisibility.DesktopOnly"
      [isValid]="form.controls.instrument.valid"
      [title]="t('orderCommandsOrderSubmitSettings.instrumentSettings')"
      groupId="instrument"
    >
      <ats-widget-settings-form [formGroup]="form.controls.instrument">
        <ats-widget-settings-form-item
          [errorTip]="t('orderCommandsOrderSubmitSettings.tickerError')"
          [label]="t('orderCommandsOrderSubmitSettings.tickerLabel')"
          [required]="true"
        >
          <ats-inline-instrument-search (instrumentSelected)="instrumentSelected($event)" formControlName="instrumentKey"/>
        </ats-widget-settings-form-item>
        <ats-widget-settings-form-item
          [controlId]="'exchange-' + guid()"
          [label]="t('orderCommandsOrderSubmitSettings.exchangeLabel')"
        >
          <input [id]="'exchange-' + guid()" [value]="form.controls.instrument.controls.instrumentKey.value?.exchange ?? ''" disabled nz-input type="text"/>
        </ats-widget-settings-form-item>
        <ats-widget-settings-form-item
          [errorTip]="t('orderCommandsOrderSubmitSettings.instrumentGroupError')"
          [label]="t('orderCommandsOrderSubmitSettings.instrumentGroupLabel')"
        >
          <ats-instrument-board-select
            [instrument]="form.controls.instrument.controls.instrumentKey.value"
            [placeholder]="t('orderCommandsOrderSubmitSettings.instrumentGroupLabel')"
            formControlName="instrumentGroup"
          />
        </ats-widget-settings-form-item>
      </ats-widget-settings-form>
    </ats-widget-settings-group>
    <ats-widget-settings-group
      [isValid]="form.controls.fastEditing.valid"
      [title]="t('orderCommandsOrderSubmitSettings.fastEditingSettings')"
      groupId="fastEditing"
    >
      <ats-widget-settings-form [formGroup]="form.controls.fastEditing">
        <ats-widget-settings-switch
          [label]="t('orderCommandsOrderSubmitSettings.limitOrdersFastEditingLabel')"
          formControlName="enableLimitOrdersFastEditing"
        />
        @if (form.controls.fastEditing.controls.enableLimitOrdersFastEditing.value) {
          <p nz-typography nzType="secondary">
            {{ t('orderCommandsOrderSubmitSettings.denominationSettingsHint') }} <strong>2*0.1=0.2</strong>
          </p>
          @for (control of form.controls.fastEditing.controls.limitOrderPriceMoveSteps.controls; track control; let i = $index) {
            <ats-widget-settings-form-item
              [controlId]="'price-step-' + guid() + '-' + i"
              [errorTip]="t('orderCommandsOrderSubmitSettings.intervalError', { min: validationOptions.limitOrderPriceMoveStep.min, max: validationOptions.limitOrderPriceMoveStep.max })"
              [label]="t('orderCommandsOrderSubmitSettings.denominationLabel') + ' ' + (i + 1)"
              [required]="true"
            >
              <div class="d-flex align-items-start flex-gap-5">
                <nz-input-number
                  class="flex-equal min-w-0"
                  [formControl]="control"
                  [nzId]="'price-step-' + guid() + '-' + i"
                  [nzMax]="validationOptions.limitOrderPriceMoveStep.max"
                  [nzMin]="validationOptions.limitOrderPriceMoveStep.min"
                  [nzPrecision]="0"
                />
                <button
                  (click)="removeLimitOrderPriceMoveStep($event, i)"
                  [attr.aria-label]="t('orderCommandsOrderSubmitSettings.removeDenomination', { index: i + 1 })"
                  [disabled]="form.controls.fastEditing.controls.limitOrderPriceMoveSteps.length <= 1"
                  nz-button
                  nzType="dashed"
                  type="button"
                >
                  <i nz-icon nzType="minus"></i>
                </button>
              </div>
            </ats-widget-settings-form-item>
          }
          <button
            (click)="addLimitOrderPriceMoveStep($event)"
            [disabled]="!form.controls.fastEditing.controls.limitOrderPriceMoveSteps.valid"
            class="w-100 mb-3"
            nz-button
            nzType="dashed"
            type="button"
          >
            <i nz-icon nzType="plus"></i>
            {{ t('orderCommandsOrderSubmitSettings.addDenomination') }}
          </button>
          <ats-widget-settings-switch
            [label]="t('orderCommandsOrderSubmitSettings.skipMarginOrderConfirmationLabel')"
            formControlName="skipMarginOrderConfirmation"
          />
        }
      </ats-widget-settings-form>
    </ats-widget-settings-group>
    <ats-widget-settings-group
      [isValid]="form.controls.volumes.valid"
      [title]="t('orderCommandsOrderSubmitSettings.workingVolumesSettings')"
      groupId="volumes"
    >
      <ats-widget-settings-form [formGroup]="form.controls.volumes">
        <ats-widget-settings-switch
          [label]="t('orderCommandsOrderSubmitSettings.showVolumePanel')"
          formControlName="showVolumePanel"
        />
        @if (form.controls.volumes.controls.showVolumePanel.value) {
          <p nz-typography nzType="secondary">
            {{ t('orderCommandsOrderSubmitSettings.volumeSettingsHint') }}
          </p>
          @for (control of form.controls.volumes.controls.workingVolumes.controls; track control; let i = $index) {
            <ats-widget-settings-form-item
              [controlId]="'working-volume-' + guid() + '-' + i"
              [errorTip]="t('orderCommandsOrderSubmitSettings.intervalError', { min: validationOptions.workingVolume.min, max: validationOptions.workingVolume.max })"
              [label]="t('orderCommandsOrderSubmitSettings.volumeLabel') + ' ' + (i + 1)"
              [required]="true"
            >
              <div class="d-flex align-items-start flex-gap-5">
                <nz-input-number
                  class="flex-equal min-w-0"
                  [formControl]="control"
                  [nzId]="'working-volume-' + guid() + '-' + i"
                  [nzMax]="validationOptions.workingVolume.max"
                  [nzMin]="validationOptions.workingVolume.min"
                  [nzPrecision]="0"
                />
                <button
                  (click)="removeWorkingVolume($event, i)"
                  [attr.aria-label]="t('orderCommandsOrderSubmitSettings.removeVolume', { index: i + 1 })"
                  nz-button
                  nzType="dashed"
                  type="button"
                >
                  <i nz-icon nzType="minus"></i>
                </button>
              </div>
            </ats-widget-settings-form-item>
          }
          <button
            (click)="addWorkingVolume($event)"
            [disabled]="!form.controls.volumes.controls.workingVolumes.valid"
            class="w-100 mb-3"
            nz-button
            nzType="dashed"
            type="button"
          >
            <i nz-icon nzType="plus"></i>
            {{ t('orderCommandsOrderSubmitSettings.addVolume') }}
          </button>
        }
      </ats-widget-settings-form>
    </ats-widget-settings-group>
  </ats-widget-settings-editor>
</ng-container>
