<nz-input-wrapper [nzAllowClear]="allowClear()">
  <input
    #inputElement
    nz-input
    (mousedown)="$event.stopPropagation()"
    [placeholder]="placeholder()"
    [readOnly]="readonly()"
    (blur)="atsBlur.emit()"
    autocomplete="off"
    inputmode="decimal"
    [ngModel]="displayValue"
    (ngModelChange)="onModelChange($event)"
    (keydown)="processKeydown($event)"
    (keydown.enter)="atsEnter.emit()"
    (wheel)="processWheel($event)"
  />

  @let suffixRef = suffix();
  @if(suffixRef != null) {
    <ng-container nzInputSuffix *ngTemplateOutlet="suffixRef" />
  }
</nz-input-wrapper>
