<nz-input-group [nzSuffix]="suffixTmp" nzCompact>
  <input
    #inputElement
    nz-input
    (mousedown)="$event.stopPropagation()"
    [placeholder]="placeholder"
    [readOnly]="readonly"
    (blur)="atsBlur.emit()"
    autocomplete="off"
    inputmode="decimal"
    [ngModel]="displayValue"
    (ngModelChange)="onModelChange($event)"
    (keydown)="processKeydown($event)"
    (keydown.enter)="atsEnter.emit()"
    (wheel)="processWheel($event)"
  />
</nz-input-group>

<ng-template #suffixTmp>
  <ng-container *ngTemplateOutlet="suffix"></ng-container>
</ng-template>
