<ng-container *ngrxLet="{ gridSettings: gridSettings$ } as vm">
  <div [class.active]="isActive()" class="container">
    <div
      [style.font-size]="vm.gridSettings.fontSize + 'px'"
      class="order-book-body"
    >
      <ats-scalper-order-book-body [guid]="guid()" [isActive]="isActive()"/>
    </div>
    <div>
      <ats-current-position-panel [guid]="guid()" [hideTooltips]="(hideTooltips$ | async) ?? false"/>
      @if (showMarginWarning$ | async) {
        <ng-container *transloco="let t; scope: 'order-commands'">
          <div class="warning-color p-2" [style.font-size.em]="0.85" role="status">
            {{ t('orderCommands.marginOrderWarning') }}
          </div>
        </ng-container>
      }
    </div>
  </div>
</ng-container>
