<ats-widget-settings-editor
  (cancelClick)="requestClose()"
  [widgetInstance]="widgetInstance()"
  (copyClick)="createWidgetCopy()"
  (saveClick)="updateSettings()"
  [canCopy]="canCopy"
  [canSave]="canSave"
  [showCopy]="showCopy"
>
  <ng-container *transloco="let t; scope: 'scalper-order-book/settings'">
    <ats-widget-settings-group
      groupId="instrument"
      [title]="t('scalperOrderBookSettings.instrumentSelectionHeader')"
      [isValid]="form.controls.instrument.valid"
    >
      <ats-widget-settings-form [formGroup]="form.controls.instrument">
        <ats-widget-settings-form-item
          [label]="t('scalperOrderBookSettings.tickerLabel')"
          [required]="true"
          [errorTip]="t('scalperOrderBookSettings.tickerError')"
        >
          <ats-inline-instrument-search
            (instrumentSelected)="instrumentSelected($event)"
            formControlName="instrument"
          />
        </ats-widget-settings-form-item>
        <ats-widget-settings-form-item
          [label]="t('scalperOrderBookSettings.exchangeLabel')"
          [required]="true"
        >
          <input
            [value]="form.controls.instrument.value.instrument?.exchange ?? ''"
            nz-input
            readonly
            type="text"
          />
        </ats-widget-settings-form-item>
        <ats-widget-settings-form-item
          [label]="t('scalperOrderBookSettings.instrumentGroupLabel')"
          [errorTip]="t('scalperOrderBookSettings.instrumentGroupError')"
        >
          <ats-instrument-board-select
            [instrument]="form.controls.instrument.value.instrument ?? null"
            [placeholder]="t('scalperOrderBookSettings.instrumentGroupLabel')"
            formControlName="instrumentGroup"
          />
        </ats-widget-settings-form-item>
      </ats-widget-settings-form>
    </ats-widget-settings-group>
    <ats-widget-settings-group
      groupId="display"
      [title]="t('scalperOrderBookSettings.displaySettingsHeader')"
      [isValid]="form.controls.display.valid"
    >
      <ats-widget-settings-form [formGroup]="form.controls.display">
        <ats-widget-settings-form-item
          [label]="t('scalperOrderBookSettings.depthLabel')"
          [required]="true"
        >
          <nz-slider
            [nzMarks]="getSliderMarks(validationOptions.depth.min, validationOptions.depth.max)"
            [nzMax]="validationOptions.depth.max"
            [nzMin]="validationOptions.depth.min"
            [nzStep]="1"
            formControlName="depth"
          />
        </ats-widget-settings-form-item>
        <ats-widget-settings-switch
          [label]="t('scalperOrderBookSettings.showZeroVolumeItemsLabel')"
          formControlName="showZeroVolumeItems"
        />
        <ats-widget-settings-switch
          [label]="t('scalperOrderBookSettings.showSpreadItemsLabel')"
          formControlName="showSpreadItems"
        />
        <ats-widget-settings-switch
          [label]="t('scalperOrderBookSettings.showLimitOrdersVolumeIndicatorsLabel')"
          formControlName="showLimitOrdersVolumeIndicators"
        />
        <ats-widget-settings-form-item
          [label]="t('scalperOrderBookSettings.volumeFormatDisplayLabel')"
        >
          <nz-select formControlName="volumeDisplayFormat">
            @for (option of availableNumberFormats; track option) {
              <nz-option
                [nzLabel]="t('numberDisplayFormatOptions.' + option, { fallback: option })"
                [nzValue]="option"
              />
            }
          </nz-select>
        </ats-widget-settings-form-item>
        <ats-widget-settings-switch
          [label]="t('scalperOrderBookSettings.showRulerLabel')"
          formControlName="showRuler"
        />
        @if (showRulerOptions()) {
          <div [formGroup]="form.controls.display.controls.rulerSettings">
            <ats-widget-settings-form-item
              [label]="t('scalperOrderBookSettings.markerDisplayFormatLabel')"
            >
              <nz-radio-group formControlName="markerDisplayFormat">
                <label [nzValue]="orderPriceUnits.Points" nz-radio-button>
                  {{ t('scalperOrderBookSettings.priceUnitsOptions.points') }}
                </label>
                <label [nzValue]="orderPriceUnits.Percents" nz-radio-button> % </label>
              </nz-radio-group>
            </ats-widget-settings-form-item>
          </div>
        }
        <ats-widget-settings-switch
          [label]="t('scalperOrderBookSettings.enableAutoAlignLabel')"
          formControlName="enableAutoAlign"
        />
        @if (form.controls.display.controls.enableAutoAlign.value) {
          <div>
            <ats-widget-settings-form-item
              [label]="t('scalperOrderBookSettings.autoAlignIntervalLabel')"
              [errorTip]="
                t('scalperOrderBookSettings.intervalError', {
                  min: validationOptions.autoAlignIntervalSec.min,
                  max: validationOptions.autoAlignIntervalSec.max
                })
              "
            >
              <ats-input-number
                [allowDecimal]="true"
                [step]="0.1"
                formControlName="autoAlignIntervalSec"
              />
            </ats-widget-settings-form-item>
          </div>
        }
        <ats-widget-settings-switch
          [label]="t('scalperOrderBookSettings.showPriceWithZeroPaddingLabel')"
          formControlName="showPriceWithZeroPadding"
        />
        <ats-widget-settings-switch
          [label]="t('scalperOrderBookSettings.hideTooltipsLabel')"
          formControlName="hideTooltips"
        />
      </ats-widget-settings-form>
    </ats-widget-settings-group>
    <ats-widget-settings-group
      groupId="table"
      [title]="t('scalperOrderBookSettings.gridSettingsLabel')"
      [isValid]="form.controls.table.valid"
    >
      <ats-widget-settings-form [formGroup]="form.controls.table">
        <ats-widget-settings-form-item
          [label]="t('scalperOrderBookSettings.fontSizeLabel')"
          [required]="true"
        >
          <nz-slider
            [nzMarks]="
              getSliderMarks(validationOptions.fontSize.min, validationOptions.fontSize.max)
            "
            [nzMax]="validationOptions.fontSize.max"
            [nzMin]="validationOptions.fontSize.min"
            [nzStep]="1"
            formControlName="fontSize"
          />
        </ats-widget-settings-form-item>
        <ats-widget-settings-form-item
          [label]="t('scalperOrderBookSettings.rowHeightLabel')"
          [required]="true"
        >
          <nz-slider
            [nzMarks]="
              getSliderMarks(validationOptions.rowHeight.min, validationOptions.rowHeight.max)
            "
            [nzMax]="validationOptions.rowHeight.max"
            [nzMin]="validationOptions.rowHeight.min"
            [nzStep]="1"
            formControlName="rowHeight"
          />
        </ats-widget-settings-form-item>
        <ats-widget-settings-form-item
          [label]="t('scalperOrderBookSettings.minorLinesStepLabel')"
          [required]="true"
          [errorTip]="
            t('scalperOrderBookSettings.intervalError', {
              min: validationOptions.minorLinesStep.min,
              max: validationOptions.minorLinesStep.max
            })
          "
        >
          <ats-input-number [allowDecimal]="false" formControlName="minorLinesStep" />
        </ats-widget-settings-form-item>
        <ats-widget-settings-form-item
          [label]="t('scalperOrderBookSettings.majorLinesStepLabel')"
          [required]="true"
          [errorTip]="
            t('scalperOrderBookSettings.intervalError', {
              min: validationOptions.majorLinesStep.min,
              max: validationOptions.majorLinesStep.max
            })
          "
        >
          <ats-input-number [allowDecimal]="false" formControlName="majorLinesStep" />
        </ats-widget-settings-form-item>
      </ats-widget-settings-form>
    </ats-widget-settings-group>
    <ats-widget-settings-group
      groupId="orders"
      [title]="t('scalperOrderBookSettings.ordersSettingsHeader')"
      [isValid]="form.controls.orders.valid"
    >
      <ats-widget-settings-form [formGroup]="form.controls.orders">
        <ats-widget-settings-switch
          [label]="t('scalperOrderBookSettings.disableHotkeysLabel')"
          formControlName="disableHotkeys"
        />
        <ats-widget-settings-switch
          [label]="t('scalperOrderBookSettings.enableMouseClickSilentOrdersLabel')"
          formControlName="enableMouseClickSilentOrders"
        />
        <ats-widget-settings-switch
          [label]="t('scalperOrderBookSettings.allowMarginLabel')"
          formControlName="allowMargin"
        />
        <ats-widget-settings-form-item
          [label]="t('scalperOrderBookSettings.stopLimitOrdersDistanceLabel')"
          [errorTip]="
            t('scalperOrderBookSettings.intervalError', {
              min: validationOptions.stopLimitOrdersDistance.min,
              max: validationOptions.stopLimitOrdersDistance.max
            })
          "
        >
          <ats-input-number
            [allowDecimal]="false"
            [allowNegative]="false"
            formControlName="stopLimitOrdersDistance"
          />
        </ats-widget-settings-form-item>
      </ats-widget-settings-form>
    </ats-widget-settings-group>
    <ats-widget-settings-group
      groupId="panels"
      [title]="t('scalperOrderBookSettings.additionalPanelsHeader')"
      [isValid]="form.controls.panels.valid"
    >
      <ats-widget-settings-form [formGroup]="form.controls.panels">
        <ats-widget-settings-switch
          [label]="t('scalperOrderBookSettings.showShortLongIndicatorsLabel')"
          formControlName="showShortLongIndicators"
        />
        @if (form.controls.panels.controls.showShortLongIndicators.value) {
          <div>
            <ats-widget-settings-form-item [label]="t('scalperOrderBookSettings.panelSlotsLabel')">
              <nz-select formControlName="shortLongIndicatorsPanelSlot">
                @for (option of shortLongPanelSlots; track option) {
                  <nz-option
                    [nzLabel]="
                      t('scalperOrderBookSettings.panelSlotOptions.' + option, { fallback: option })
                    "
                    [nzValue]="option"
                  />
                }
              </nz-select>
            </ats-widget-settings-form-item>
            <ats-widget-settings-form-item
              [label]="t('scalperOrderBookSettings.shortLongIndicatorsUpdateIntervalSecLabel')"
              [required]="true"
            >
              <nz-slider
                [nzMarks]="
                  getSliderMarks(
                    validationOptions.shortLongIndicators.min,
                    validationOptions.shortLongIndicators.max
                  )
                "
                [nzMax]="validationOptions.shortLongIndicators.max"
                [nzMin]="validationOptions.shortLongIndicators.min"
                [nzStep]="1"
                formControlName="shortLongIndicatorsUpdateIntervalSec"
              />
            </ats-widget-settings-form-item>
          </div>
        }
        <ats-widget-settings-switch
          [label]="t('scalperOrderBookSettings.showInstrumentPriceDayChangeLabel')"
          formControlName="showInstrumentPriceDayChange"
        />
        <ats-widget-settings-switch
          [label]="t('scalperOrderBookSettings.showTradesPanelLabel')"
          formControlName="showTradesPanel"
        />
        @if (form.controls.panels.controls.showTradesPanel.value) {
          <div [formGroup]="form.controls.panels.controls.tradesPanelSettings">
            <ats-widget-settings-form-item
              [label]="t('scalperOrderBookSettings.minTradeVolumeFilterLabel')"
              [required]="true"
              [errorTip]="
                t('scalperOrderBookSettings.intervalError', {
                  min: validationOptions.tradesPanelSettings.minTradeVolumeFilter.min,
                  max: validationOptions.tradesPanelSettings.minTradeVolumeFilter.max
                })
              "
            >
              <ats-input-number [allowDecimal]="false" formControlName="minTradeVolumeFilter" />
            </ats-widget-settings-form-item>
            <ats-widget-settings-switch
              [label]="t('scalperOrderBookSettings.hideFilteredTradesLabel')"
              formControlName="hideFilteredTrades"
            />
            <ats-widget-settings-form-item
              [label]="t('scalperOrderBookSettings.tradesAggregationPeriodMsLabel')"
              [required]="true"
              [errorTip]="
                t('scalperOrderBookSettings.intervalError', {
                  min: validationOptions.tradesPanelSettings.tradesAggregationPeriodMs.min,
                  max: validationOptions.tradesPanelSettings.tradesAggregationPeriodMs.max
                })
              "
            >
              <ats-input-number [allowDecimal]="false" formControlName="tradesAggregationPeriodMs" />
            </ats-widget-settings-form-item>
            <ats-widget-settings-switch
              [label]="t('scalperOrderBookSettings.showOwnTradesLabel')"
              formControlName="showOwnTrades"
            />
          </div>
        }
        <ats-widget-settings-switch
          [label]="t('scalperOrderBookSettings.showTradesClustersPanelLabel')"
          formControlName="showTradesClustersPanel"
        />
        @if (form.controls.panels.controls.showTradesClustersPanel.value) {
          <div [formGroup]="form.controls.panels.controls.tradesClusterPanelSettings">
            <ats-widget-settings-form-item
              [label]="t('scalperOrderBookSettings.tradesClusterHighlightModeLabel')"
            >
              <nz-select formControlName="highlightMode">
                @for (option of availableTradesClusterHighlightModes; track option) {
                  <nz-option
                    [nzLabel]="
                      t('scalperOrderBookSettings.tradesClusterHighlightOptions.' + option, {
                        fallback: option
                      })
                    "
                    [nzValue]="option"
                  />
                }
              </nz-select>
            </ats-widget-settings-form-item>
            @if (form.controls.panels.controls.tradesClusterPanelSettings.controls.targetVolume.enabled) {
              <ats-widget-settings-form-item
                [label]="t('scalperOrderBookSettings.volumeHighlightFullnessLabel')"
                [required]="true"
                [errorTip]="
                  t('scalperOrderBookSettings.intervalError', {
                    min: validationOptions.tradesClusterPanelSettings.targetVolume.min,
                    max: validationOptions.tradesClusterPanelSettings.targetVolume.max
                  })
                "
              >
                <ats-input-number [allowDecimal]="false" formControlName="targetVolume" />
              </ats-widget-settings-form-item>
            }
          </div>
        }
      </ats-widget-settings-form>
    </ats-widget-settings-group>
    <ats-widget-settings-group
      groupId="volumes"
      [title]="t('scalperOrderBookSettings.workingVolumesHeader')"
      [isValid]="form.controls.volumes.valid"
    >
      <ats-widget-settings-form [formGroup]="form.controls.volumes">
        <div class="mb-5">{{ t('scalperOrderBookSettings.workingVolumesHint') }}</div>
        <ats-widget-settings-switch
          [label]="t('scalperOrderBookSettings.showWorkingVolumesPanelLabel')"
          formControlName="showWorkingVolumesPanel"
        />
        @if (form.controls.volumes.value.showWorkingVolumesPanel) {
          <ats-widget-settings-form-item [label]="t('scalperOrderBookSettings.panelSlotsLabel')">
            <nz-select formControlName="workingVolumesPanelSlot">
              @for (option of workingVolumesPanelSlots; track option) {
                <nz-option
                  [nzLabel]="
                    t('scalperOrderBookSettings.panelSlotOptions.' + option, { fallback: option })
                  "
                  [nzValue]="option"
                />
              }
            </nz-select>
          </ats-widget-settings-form-item>
          <ats-scalper-working-volumes-editor
            [volumes]="form.controls.volumes.controls.workingVolumes"
            [validationOptions]="validationOptions.workingVolume"
            (addClick)="addWorkingVolume()"
            (removeClick)="removeWorkingVolume($event)"
          />
        }
      </ats-widget-settings-form>
    </ats-widget-settings-group>
    <ats-widget-settings-group
      groupId="highlight"
      [title]="t('scalperOrderBookSettings.highlightSettingsHeader')"
      [isValid]="form.controls.highlight.valid"
    >
      <ats-widget-settings-form [formGroup]="form.controls.highlight">
        <ats-widget-settings-form-item
          [label]="t('scalperOrderBookSettings.highlightHighVolumeLabel')"
        >
          <nz-select formControlName="volumeHighlightMode">
            @for (option of availableVolumeHighlightModes; track option) {
              <nz-option
                [nzLabel]="
                  t('scalperOrderBookSettings.highlightHighVolumeOptions.' + option, {
                    fallback: option
                  })
                "
                [nzValue]="option"
              />
            }
          </nz-select>
          @if (form.controls.highlight.value.volumeHighlightMode === volumeHighlightModes.BiggestVolume) {
            <span nz-typography nzType="secondary">
              {{ t('scalperOrderBookSettings.biggestVolumeHint') }}
            </span>
          }
          @if (form.controls.highlight.value.volumeHighlightMode === volumeHighlightModes.VolumeBoundsWithFixedValue) {
            <span nz-typography nzType="secondary">
              {{ t('scalperOrderBookSettings.volumeBoundsWithFixedValueHint') }}
            </span>
          }
        </ats-widget-settings-form-item>
        @if (showVolumeHighlightOptions()) {
          <div>
            @if (form.controls.highlight.value.volumeHighlightMode === volumeHighlightModes.VolumeBoundsWithFixedValue) {
              <ats-widget-settings-form-item
                [label]="t('scalperOrderBookSettings.volumeHighlightFullnessLabel')"
                [required]="true"
                [errorTip]="
                  t('scalperOrderBookSettings.intervalError', {
                    min: validationOptions.volumeHighlightOption.volumeHighlightFullness.min,
                    max: validationOptions.volumeHighlightOption.volumeHighlightFullness.max
                  })
                "
              >
                <ats-input-number [allowDecimal]="false" formControlName="volumeHighlightFullness" />
              </ats-widget-settings-form-item>
            }
            <ats-scalper-volume-highlight-editor
              [options]="form.controls.highlight.controls.volumeHighlightOptions"
              [validationOptions]="validationOptions.volumeHighlightOption.boundary"
              (addClick)="addVolumeHighlightOption()"
              (removeClick)="removeVolumeHighlightOption($event)"
            />
          </div>
        }
      </ats-widget-settings-form>
    </ats-widget-settings-group>
    <ats-widget-settings-group
      groupId="automation"
      [title]="t('scalperOrderBookSettings.automationSettingsHeader')"
      [isValid]="form.controls.automation.valid"
    >
      <ats-widget-settings-form [formGroup]="form.controls.automation">
        <div [formGroup]="form.controls.automation.controls.bracketsSettings">
          <ats-widget-settings-form-item
            [label]="t('scalperOrderBookSettings.orderPriceUnitsLabel')"
          >
            <nz-radio-group formControlName="orderPriceUnits">
              <label [nzValue]="orderPriceUnits.Points" nz-radio-button>
                {{ t('scalperOrderBookSettings.priceUnitsOptions.points') }}
              </label>
              <label [nzValue]="orderPriceUnits.Percents" nz-radio-button> % </label>
            </nz-radio-group>
          </ats-widget-settings-form-item>
          <ats-widget-settings-form-item
            [label]="t('scalperOrderBookSettings.topOrderPriceRatioLabel')"
            [errorTip]="t('scalperOrderBookSettings.intervalError', { min: validationOptions.bracket.triggerPrice.min, max: validationOptions.bracket.triggerPrice.max })"
          >
            <ats-input-number
              [allowDecimal]="
                form.controls.automation.controls.bracketsSettings.controls.orderPriceUnits
                  .value === orderPriceUnits.Percents
              "
              [step]="
                form.controls.automation.controls.bracketsSettings.controls.orderPriceUnits
                  .value === orderPriceUnits.Points
                  ? validationOptions.bracket.triggerPrice.stepsStep
                  : validationOptions.bracket.triggerPrice.percentsStep
              "
              formControlName="topOrderPriceRatio"
            />
          </ats-widget-settings-form-item>
          <ats-widget-settings-form-item
            [label]="t('scalperOrderBookSettings.topOrderPriceGapRatioLabel')"
            [errorTip]="t('scalperOrderBookSettings.intervalError', { min: validationOptions.bracket.limitPrice.min, max: validationOptions.bracket.limitPrice.max })"
          >
            <ats-input-number
              [allowDecimal]="
                form.controls.automation.controls.bracketsSettings.controls.orderPriceUnits
                  .value === orderPriceUnits.Percents
              "
              [step]="
                form.controls.automation.controls.bracketsSettings.controls.orderPriceUnits
                  .value === orderPriceUnits.Points
                  ? validationOptions.bracket.limitPrice.stepsStep
                  : validationOptions.bracket.limitPrice.percentsStep
              "
              formControlName="topOrderPriceGapRatio"
            />
          </ats-widget-settings-form-item>
          <ats-widget-settings-form-item
            [label]="t('scalperOrderBookSettings.bottomOrderPriceRatioLabel')"
            [errorTip]="t('scalperOrderBookSettings.intervalError', { min: validationOptions.bracket.triggerPrice.min, max: validationOptions.bracket.triggerPrice.max })"
          >
            <ats-input-number
              [allowDecimal]="
                form.controls.automation.controls.bracketsSettings.controls.orderPriceUnits
                  .value === orderPriceUnits.Percents
              "
              [step]="
                form.controls.automation.controls.bracketsSettings.controls.orderPriceUnits
                  .value === orderPriceUnits.Points
                  ? validationOptions.bracket.triggerPrice.stepsStep
                  : validationOptions.bracket.triggerPrice.percentsStep
              "
              formControlName="bottomOrderPriceRatio"
            />
          </ats-widget-settings-form-item>
          <ats-widget-settings-form-item
            [label]="t('scalperOrderBookSettings.bottomOrderPriceGapRatioLabel')"
            [errorTip]="t('scalperOrderBookSettings.intervalError', { min: validationOptions.bracket.limitPrice.min, max: validationOptions.bracket.limitPrice.max })"
          >
            <ats-input-number
              [allowDecimal]="
                form.controls.automation.controls.bracketsSettings.controls.orderPriceUnits
                  .value === orderPriceUnits.Percents
              "
              [step]="
                form.controls.automation.controls.bracketsSettings.controls.orderPriceUnits
                  .value === orderPriceUnits.Points
                  ? validationOptions.bracket.limitPrice.stepsStep
                  : validationOptions.bracket.limitPrice.percentsStep
              "
              formControlName="bottomOrderPriceGapRatio"
            />
          </ats-widget-settings-form-item>
          <ats-widget-settings-switch
            [label]="t('scalperOrderBookSettings.useBracketsWhenClosingPositionLabel')"
            formControlName="useBracketsWhenClosingPosition"
          />
        </div>
      </ats-widget-settings-form>
    </ats-widget-settings-group>
  </ng-container>
</ats-widget-settings-editor>
