.ats-application-updated-dialog {
  .button-example {
    font-size: 20px;
  }

  .header {
    margin-right: 20px;
  }

  .scrollable {
    max-height: 350px;
    overflow: auto;
  }

  .problem-title {
    color: var(--ats-info-color);
  }

  .ant-collapse-header {
    padding-left: 0;
  }
}


