<ng-container *transloco="let t; scope: 'info'">
  <ng-container *ngrxLet="{ commonDescriptors: descriptors$, info: info$ } as vm">
    @if(vm.info == null) {
      <nz-empty nzNotFoundImage="simple"></nz-empty>
    } @else {
      <nz-tabset
        (mousedown)='$event.stopPropagation()'
        nzSize="small"
        nzTabPosition="top"
      >
        @if (vm.commonDescriptors != null) {
          <nz-tab [nzTitle]="t('info.instrumentTab')">
            <ats-descriptors-list [descriptors]="vm.commonDescriptors"></ats-descriptors-list>
          </nz-tab>
        }
      </nz-tabset>
    }
  </ng-container>
</ng-container>
