ats-events-list-view {
  .no-data {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 15px;
    color: color-mix(in srgb, var(--ats-text-color) 40%, transparent);
  }
}
