<div *transloco="let t; scope: 'terminal-settings'">
  <nz-modal
    [nzTitle]="t('terminalSettings.profileHeader')"
    [nzVisible]='isVisible$ | async'
    (nzOnCancel)="handleClose()">
    <!-- [nzBodyStyle]="{overflowY: 'auto', height: '300px' }"  -->
    <ng-container *nzModalContent>
      <ats-terminal-settings (formChange)="formChange($event)" (tabChange)="selectedTab = $event"></ats-terminal-settings>
    </ng-container>
    <div *nzModalFooter>
      <ng-container *ngIf="selectedTab !== tabNames.usefulLinks">
        <button nz-button nzType="primary" (click)="saveSettingsChanges()" [disabled]="isSaveDisabled">{{t('saveBtnText')}}</button>
        <button nz-button nzType="default" class="secondary-btn" (click)="handleClose()">{{t('cancelBtnText')}}</button>
      </ng-container>
    </div>
  </nz-modal>
</div>
