<div *transloco="let t; scope: 'terminal-settings'">
  <nz-modal
    [nzTitle]="t('terminalSettings.settingsDialogTitle')"
    [nzVisible]='isVisible$ | async'
    (nzOnCancel)="handleClose()">
    <ng-container *nzModalContent>
      <ats-terminal-settings [hiddenSections]="hiddenSections()" (formChange)="formChange($event)" (tabChange)="selectedTab = $event" />
    </ng-container>
    <div *nzModalFooter>
      @if (isSaveAvailable) {
        <button
          nz-button
          nzType="primary"
          (click)="saveSettingsChanges()"
          [disabled]="!isSettingsHasChanges"
          [nzLoading]="isLoading$ | async">
          {{t('saveBtnText')}}
        </button>
        <button nz-button nzType="default" (click)="closeModal()">{{t('cancelBtnText')}}</button>
      }
    </div>
  </nz-modal>
</div>
