<div class="events-list" *ngIf="events$ | async as events">
  <ng-container *ngrxLet="{ activeLang: activeLang$, currencySettings: currencySettings$ } as vm">
    <ng-container *transloco="let t; scope: 'events-calendar'">
      <ng-container *ngFor="let eventItem of events | keyvalue">
        <h2> {{eventItem.key | date : 'dd MMMM yyyy' : '' : vm.activeLang}} </h2>
        <p *ngFor="let dateEvent of (eventItem.value.dividendEvents ?? [])">
          {{t('eventsCalendar.dividends')}} <a (click)="selectInstrument(dateEvent.symbol)">{{dateEvent.symbol}}</a>:
          {{dateEvent.recordDate | date : 'dd.MM.yyyy'}}
          {{formatCurrencyFn(dateEvent.dividendPerShare, dateEvent.currency, vm.currencySettings)}}
        </p>

        <p *ngFor="let dateEvent of (eventItem.value.bondEvents?.couponEvents ?? [])">
          {{t('eventsCalendar.coupon')}} <a (click)="selectInstrument(dateEvent.symbol)">{{dateEvent.shortName}}</a>:
          {{dateEvent.date | date : 'dd.MM.yyyy'}}
          {{formatCurrencyFn(dateEvent.amount, dateEvent.currency, vm.currencySettings)}}
        </p>

        <p *ngFor="let dateEvent of (eventItem.value.bondEvents?.amortizationEvents ?? [])">
          {{t('eventsCalendar.amortization')}} <a (click)="selectInstrument(dateEvent.symbol)">{{dateEvent.shortName}}</a>:
          {{dateEvent.date | date : 'dd.MM.yyyy'}}
          {{formatCurrencyFn(dateEvent.amount, dateEvent.currency, vm.currencySettings)}}
        </p>

        <p *ngFor="let dateEvent of (eventItem.value.bondEvents?.offerEvents ?? [])">
          {{t('eventsCalendar.offer')}} <a (click)="selectInstrument(dateEvent.symbol)">{{dateEvent.shortName}}</a>:
          {{dateEvent.date | date : 'dd.MM.yyyy'}}
        </p>
      </ng-container>

      <span *ngIf="isEventsEmpty(events)" class="no-data">
        {{t('eventsCalendar.emptyEvents')}}
      </span>
    </ng-container>
  </ng-container>
</div>
