@if (events$ | async; as events) {
  <div class="events-list">
    <ng-container *ngrxLet="{ activeLang: activeLang$, currencySettings: currencySettings$ } as vm">
      <ng-container *transloco="let t; scope: 'events-calendar'">
        @for (eventItem of events | keyvalue; track eventItem) {
          <h2> {{eventItem.key | date : 'dd MMMM yyyy' : '' : vm.activeLang}} </h2>
          @for (dateEvent of (eventItem.value.dividendEvents ?? []); track dateEvent) {
            <p>
              {{t('eventsCalendar.dividends')}} <a (click)="selectInstrument(dateEvent.symbol)">{{dateEvent.symbol}}</a>:
              {{dateEvent.recordDate | date : 'dd.MM.yyyy'}}
              {{formatCurrencyFn(dateEvent.dividendPerShare, dateEvent.currency, vm.currencySettings)}}
            </p>
          }
          @for (dateEvent of (eventItem.value.bondEvents?.couponEvents ?? []); track dateEvent) {
            <p>
              {{t('eventsCalendar.coupon')}} <a (click)="selectInstrument(dateEvent.symbol)">{{dateEvent.shortName}}</a>:
              {{dateEvent.date | date : 'dd.MM.yyyy'}}
              {{formatCurrencyFn(dateEvent.amount, dateEvent.currency, vm.currencySettings)}}
            </p>
          }
          @for (dateEvent of (eventItem.value.bondEvents?.amortizationEvents ?? []); track dateEvent) {
            <p>
              {{t('eventsCalendar.amortization')}} <a (click)="selectInstrument(dateEvent.symbol)">{{dateEvent.shortName}}</a>:
              {{dateEvent.date | date : 'dd.MM.yyyy'}}
              {{formatCurrencyFn(dateEvent.amount, dateEvent.currency, vm.currencySettings)}}
            </p>
          }
          @for (dateEvent of (eventItem.value.bondEvents?.offerEvents ?? []); track dateEvent) {
            <p>
              {{t('eventsCalendar.offer')}} <a (click)="selectInstrument(dateEvent.symbol)">{{dateEvent.shortName}}</a>:
              {{dateEvent.date | date : 'dd.MM.yyyy'}}
            </p>
          }
        }
        @if (isEventsEmpty(events)) {
          <span class="no-data">
            {{t('eventsCalendar.emptyEvents')}}
          </span>
        }
      </ng-container>
    </ng-container>
  </div>
}
