<ng-container *transloco="let t; scope: 'order-commands/order-forms'">
  <ng-container *ngIf="formInstrument$ | async as formInstrument">
    <ng-container *ngIf="portfolioKey$ | async as portfolioKey">
      <div>
        <form *ngIf="form" [formGroup]="form" [nzLayout]="'vertical'" nz-form>
          <nz-form-item class="compact">
            <nz-form-label nzFor="quantity" nzRequired>{{t('orderCommandsOrderForms.quantityLabel')}}</nz-form-label>
            <nz-form-control [nzErrorTip]="quantityError">
              <ats-input-number formControlName="quantity" placeholder="0"></ats-input-number>
              <span *ngIf="(formInstrument.lotsize ?? 1) !== 1">1 {{t('orderCommandsOrderForms.lot')}} = <ats-short-number
                [value]="formInstrument.lotsize"></ats-short-number>
                {{t('orderCommandsOrderForms.pcs')}}</span>
            </nz-form-control>
            <ng-template #quantityError>
              <span
                *ngIf="form.controls.quantity.errors?.required">{{t('orderCommandsOrderForms.emptyQuantityError')}}</span>
              <span *ngIf="form.controls.quantity.errors?.min">{{t('orderCommandsOrderForms.tooLittle')}}</span>
              <span *ngIf="form.controls.quantity.errors?.max">{{t('orderCommandsOrderForms.tooMuch')}}</span>
            </ng-template>
          </nz-form-item>
          <nz-collapse [nzBordered]="false" class="compact" nzGhost>
            <nz-collapse-panel [nzHeader]="t('orderCommandsOrderForms.advanced')">
              <nz-form-label
                nzFor="instrumentGroup">{{t('orderCommandsOrderForms.instrumentGroupLabel')}}</nz-form-label>
              <nz-form-control [nzErrorTip]="t('orderCommandsOrderForms.instrumentGroupError')">
                <ats-instrument-board-select
                  [instrument]="formInstrument"
                  [placeholder]="t('orderCommandsOrderForms.instrumentGroupPlaceholder')"
                  formControlName="instrumentGroup">
                </ats-instrument-board-select>
              </nz-form-control>
            </nz-collapse-panel>
          </nz-collapse>
        </form>
      </div>
    </ng-container>
    <div>
      <ats-order-evaluation
        (quantitySelect)="setQuantity($event)"
        [evaluationProperties]="evaluationRequest$ | async"
      ></ats-order-evaluation>
    </div>
    <div class="mt-8">
      <ng-container *ngIf="requestProcessing$ | async as requestProcessing">
        <ats-buy-sell-buttons
          (btnClick)="submitOrder($event)"
          [buyBtnDisabled]="!canSubmit || !!requestProcessing.orderSide"
          [buyBtnLoading]="requestProcessing.orderSide === sides.Buy"
          [sellBtnDisabled]="!canSubmit || !!requestProcessing.orderSide"
          [sellBtnLoading]="requestProcessing.orderSide === sides.Sell"
        >
        </ats-buy-sell-buttons>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
