<ng-container *transloco="let t; scope: 'order-commands/order-forms'">
  @if (instrumentChanges$ | async; as formInstrument) {
    <div>
      <form [formGroup]="form" [nzLayout]="'vertical'" nz-form>
        <nz-form-item class="compact">
          <nz-form-label nzFor="quantity" nzRequired>{{ t('orderCommandsOrderForms.quantityLabel') }}</nz-form-label>
          <nz-form-control [nzErrorTip]="quantityError">
            <ats-input-number formControlName="quantity" placeholder="0" />
            @if ((formInstrument.lotsize ?? 1) !== 1) {
              <span>1 {{ t('orderCommandsOrderForms.lot') }} = <ats-short-number [value]="formInstrument.lotsize" />
                {{ t('orderCommandsOrderForms.pcs') }}</span>
            }
          </nz-form-control>
          <ng-template #quantityError>
            @if (form.controls.quantity.errors?.required) {
              <span
              >{{ t('orderCommandsOrderForms.emptyQuantityError') }}</span>
            }
            @if (form.controls.quantity.errors?.min) {
              <span>{{ t('validationErrors.tooLittle') }}</span>
            }
            @if (form.controls.quantity.errors?.max) {
              <span>{{ t('validationErrors.tooMuch') }}</span>
            }
          </ng-template>
        </nz-form-item>
        @if (!marketOrderConfig().unsupportedFields.advanced) {
          <nz-collapse [nzBordered]="false" class="compact" nzGhost>
            <nz-collapse-panel [nzHeader]="t('orderCommandsOrderForms.advanced')">
              <nz-form-item class="compact">
                <nz-form-label nzFor="timeInForce">{{ t('orderCommandsOrderForms.timeInForceLabel') }}</nz-form-label>
                <nz-form-control>
                  <nz-select [nzPlaceHolder]="t('orderCommandsOrderForms.timeInForcePlaceholder')"
                             formControlName="timeInForce"
                             nzAllowClear>
                    @for (timeInForce of timeInForceEnum | keyvalue; track timeInForce) {
                      <nz-option [nzLabel]="t('orderCommandsOrderForms.timeInForceOptions.' + timeInForce.key)"
                                 [nzValue]="timeInForce.value"
                      />
                    }
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzFor="instrumentGroup">{{ t('orderCommandsOrderForms.instrumentGroupLabel') }}
                </nz-form-label>
                <nz-form-control [nzErrorTip]="t('orderCommandsOrderForms.instrumentGroupError')">
                  <ats-instrument-board-select [instrument]="formInstrument"
                                               [placeholder]="t('orderCommandsOrderForms.instrumentGroupPlaceholder')"
                                               formControlName="instrumentGroup" />
                </nz-form-control>
              </nz-form-item>
            </nz-collapse-panel>
          </nz-collapse>
        }
      </form>
    </div>
    <div class="mt-8">
      <ats-order-evaluation (quantitySelect)="setQuantity($event)"
        [evaluationProperties]="evaluationRequest$ | async"
       />
    </div>
    <div class="mt-8">
      @if (requestProcessing$ | async; as requestProcessing) {
        <ats-buy-sell-buttons (btnClick)="submitOrder($event)"
          [buyBtnDisabled]="!canSubmit || !!requestProcessing.orderSide"
          [buyBtnLoading]="requestProcessing.orderSide === sides.Buy"
          [sellBtnDisabled]="!canSubmit || !!requestProcessing.orderSide"
          [sellBtnLoading]="requestProcessing.orderSide === sides.Sell"
         />
      }
    </div>
  }
</ng-container>
