<nz-modal
  *transloco="let t; scope: 'blotter/orders-group'"
  [nzTitle]="header"
  nzClosable="true"
  [nzVisible]='isVisible$ | async'
  [nzMaskClosable]='true'
  (nzOnCancel)="handleCancel()"
  nzDraggable
>
  <ng-template #header>
    <div class="header">
      {{t('blotterOrdersGroup.modalTitle')}}
    </div>
  </ng-template>
  <ng-container *nzModalContent>
    <ats-orders-group-modal [groupId]="(groupId$ | async)!" [guid]="guid()" />
  </ng-container>
  <ng-container *nzModalFooter>
    <button nz-button nzType="primary" (click)="handleCancel()">{{t('okBtnText')}}</button>
  </ng-container>
</nz-modal>
