<div class="d-flex flex-column h-100 overflow-hidden">
  <div>
    <button
      (click)="run()"
      [disabled]="config == null"
      [nzLoading]="isLoading"
      nz-button
      nzType="primary"
    >
      <span nz-icon nzTheme="outline" nzType="caret-right"></span>
    </button>
  </div>

  <div class="show-scroll">
    @for (resultItem of result; track $index) {
      <h3>{{ resultItem.source }}:</h3>
      @if (resultItem.format === Formats.Markdown) {
        <markdown>
          {{ resultItem.result }}
        </markdown>
      }
    }
  </div>
</div>
