<ats-widget-settings-editor
  (cancelClick)="requestClose()"
  (copyClick)="createWidgetCopy()"
  (saveClick)="updateSettings()"
  [canCopy]="canCopy"
  [canSave]="canSave"
  [showCopy]="showCopy"
  [widgetInstance]="widgetInstance()"
>
  <ng-container *transloco="let t">
    <ng-container *transloco="let tSettings; scope: 'all-trades/all-trades-settings'">
      <ats-widget-settings-form [formGroup]="form">
        <ats-widget-settings-form-item
          [errorTip]="tSettings('allTradesAllTradesSettings.selectColumnsError')"
          [label]="tSettings('allTradesAllTradesSettings.selectColumnLabel')"
          [required]="true"
        >
          <nz-select
            [nzMaxTagCount]="10"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            [nzPlaceHolder]="tSettings('allTradesAllTradesSettings.selectColumnPlaceholder')"
            formControlName="allTradesColumns"
            nzMode="multiple"
          >
            <ng-container *transloco="let tTrades; scope: 'all-trades/all-trades'">
              @for (item of allTradesColumns; track item.id) {
                <nz-option
                  [nzLabel]="tTrades('allTradesAllTrades.columns.' + item.id + '.displayName')"
                  [nzValue]="item.id"
                />
              }
            </ng-container>
          </nz-select>
        </ats-widget-settings-form-item>

        <ats-widget-settings-switch
          [label]="tSettings('allTradesAllTradesSettings.highlightRowsBySide')"
          formControlName="highlightRowsBySide"
        />
      </ats-widget-settings-form>

      <ng-template #tagPlaceHolder let-selectedList>{{ t('maxTagPlaceholder', {count: selectedList.length}) }}
      </ng-template>
    </ng-container>
  </ng-container>
</ats-widget-settings-editor>
