@if (settings$ | async; as settings) {
  <ats-widget-skeleton
    [content]="contentRef"
    [header]="headerRef"
    [isBlockWidget]="isBlockWidget()"
    [settings]="settingsRef"
    [showContentScroll]="false"
    [showSettings]="shouldShowSettings"
    >
    <ng-template #headerRef>
      <ats-widget-header [guid]="guid"
        [hasSettings]="true"
        [widgetMeta]="widgetInstance().widgetMeta"
        (switchSettings)="onSettingsChange()"
       />
    </ng-template>
    <ng-template #contentRef>
      <ats-admin-clients [guid]="guid" />
    </ng-template>
    <ng-template #settingsRef>
      <ats-admin-clients-settings (settingsChange)="onSettingsChange()" [guid]='guid' />
    </ng-template>
  </ats-widget-skeleton>
}
