<ng-container *transloco="let t;">
  <ats-widget-skeleton
    *ngIf="settings$ | async as settings"
    [content]="contentRef"
    [header]="headerRef"
    [isBlockWidget]="isBlockWidget"
    [showContentScroll]="true"
    [showSettings]="shouldShowSettings"
  >

    <ng-template #headerRef>
      <ats-widget-header
        [guid]="guid"
        [hasSettings]="false"
        [widgetMeta]="widgetInstance.widgetMeta"
      ></ats-widget-header>
    </ng-template>

    <ng-template #contentRef>
      <ats-admin-clients [guid]="guid"></ats-admin-clients>
    </ng-template>
  </ats-widget-skeleton>
</ng-container>
