<div class="history-container" *transloco="let t; scope: 'operations-history'">
  <h2 class="title" *ngIf="!preview()">{{ t('operationsHistory.title') }}</h2>

  <form class="filters" [formGroup]="filterForm" *ngIf="!preview()">
    <div class="filters-row row-main">
      <nz-select
        formControlName="search"
        nzAllowClear
        [nzPlaceHolder]="t('operationsHistory.filters.typePlaceholder')"
        class="filter-control type-filter">
        <nz-option-group [nzLabel]="t('operationsHistory.filterGroups.moneymove')">
          <nz-option
            *ngFor="let option of getFilterGroupOptions('moneymove')"
            [nzLabel]="t(getOptionLabelKey(option.value))"
            [nzValue]="option.value" />
        </nz-option-group>
        <nz-option-group [nzLabel]="t('operationsHistory.filterGroups.operation')">
          <nz-option
            *ngFor="let option of getFilterGroupOptions('operation')"
            [nzLabel]="t(getOptionLabelKey(option.value))"
            [nzValue]="option.value" />
        </nz-option-group>
      </nz-select>

      <button
        nz-button
        nzType="default"
        class="reset-button"
        type="button"
        [disabled]="!hasActiveFilters()"
        (click)="resetFilters()">
        <span nz-icon nzType="close-circle"></span>
        {{ t('operationsHistory.filters.reset') }}
      </button>
    </div>

    <div class="filters-row row-dates">
      <nz-date-picker
        formControlName="dateFrom"
        [nzDisabledDate]="disabledFromDate"
        [nzPlaceHolder]="t('operationsHistory.filters.dateFromPlaceholder')"
        class="filter-control date-filter" />

      <nz-date-picker
        formControlName="dateTo"
        [nzDisabledDate]="disabledToDate"
        [nzPlaceHolder]="t('operationsHistory.filters.dateToPlaceholder')"
        class="filter-control date-filter" />
    </div>
  </form>

  <nz-list
    [nzDataSource]="history()"
    [nzItemLayout]="'vertical'"
    [nzLoading]="isLoading()"
    [nzLoadMore]="!preview() && hasMore ? loadMoreTpl : null"
    [nzBordered]="false"
    class="history-list">
    <nz-list-item *ngFor="let item of history()" class="history-item">
      <nz-list-item-meta
        [nzAvatar]="itemIcon"
        [nzTitle]="itemTitle"
        [nzDescription]="itemDescription">
        <ng-template #itemIcon>
          <div class="item-icon" [ngClass]="getStatusColor(item.status)">
            <span nz-icon [nzType]="getIcon(item)" nzTheme="outline"></span>
          </div>
        </ng-template>
        <ng-template #itemTitle>
          <span class="item-title-text">{{ getItemTitle(item, t) }}</span>
        </ng-template>
        <ng-template #itemDescription>
          <div class="item-description">
            <div class="item-info-row">
              <nz-tag *ngIf="getStatusLabel(item, t)" [nzColor]="getStatusColor(item.status)" class="item-status-tag">
                {{ getStatusLabel(item, t) }}
              </nz-tag>
              <span class="item-date">{{ item.date | date:'dd.MM.yyyy HH:mm' }}</span>
            </div>
            <span class="item-amount"
                  *ngIf="getAbsoluteAmount(item) !== null"
                  [class.negative]="isNegativeAmount(item)"
                  [class.positive]="!isNegativeAmount(item)">
              {{ getAbsoluteAmount(item) | number:'1.2-2' }} {{ getCurrency(item) }}
            </span>
            <span class="item-counterparty" *ngIf="getCounterparty(item)">
              {{ getCounterparty(item) }}
            </span>
          </div>
        </ng-template>
      </nz-list-item-meta>
    </nz-list-item>
    <nz-list-empty *ngIf="history().length === 0 && !isLoading()">
      <div class="empty-text">{{ t('operationsHistory.empty') }}</div>
    </nz-list-empty>
  </nz-list>

  <ng-template #loadMoreTpl>
    <div class="load-more">
      <button
        nz-button
        nzType="default"
        nzBlock
        [disabled]="isLoading()"
        (click)="loadMore()">
        {{ t('operationsHistory.loadMore') }}
      </button>
    </div>
  </ng-template>
</div>
