@import "theme-mixin";
@import "buy-sell-button-mixin";

.themeMixin({
  :host {
    display: block;
    height: 100%;
    color: @text-color;
    background-color: @component-background;

    table.history-table {
      tr {
        &.item:not(:last-child) {
          td {
            border-bottom: 1px solid @border-color-split;
          }
        }

        &.item:hover {
          background-color: @table-row-hover-bg;
        }
      }
    }
  }

  .history-container {
    padding: 16px;
    height: 100%;
    overflow-y: auto;
    background-color: @component-background;

    .title {
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 600;
      color: @heading-color;
    }

    table.history-table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;

      thead {
        tr {
          th {
            padding: 8px 5px;
            color: @text-color-secondary;
            font-weight: normal;
            font-size: 12px;
            border-bottom: 1px solid @border-color-split;
          }
        }
      }

      tbody {
        tr.item {
          td {
            padding: 8px 5px;
            vertical-align: middle;
          }
        }
      }

      .text-start {
        text-align: left;
      }

      .text-end {
        text-align: right;
      }

      .icon-circle {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          background-color: fade(@text-color, 5%);
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
          color: @text-color;
          flex-shrink: 0;
      }

      .item-amount {
        font-weight: 500;
        .currency {
            font-size: 0.85em;
            color: @text-color-secondary;
        }

        &.money_input {
          color: @buy-color;
        }

        &.money_withdrawal {
          color: @sell-color;
        }
      }

    }

    .load-more {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
});
