<div class="d-flex flex-row flex-nowrap justify-content-between flex-gap-10">
  <div class="flex-equal">
    <ng-container *transloco="let t; scope: 'order-commands/buy-sell-buttons'">
      <nz-radio-group [(ngModel)]="side" class="buy-sell-switch">
        <label [nzValue]="Sides.Buy" class="buy"
               nz-radio-button>{{ t('orderCommandsBuySellButtons.buyBtnText') }}</label>
        <label [nzValue]="Sides.Sell" class="sell"
               nz-radio-button>{{ t('orderCommandsBuySellButtons.sellBtnText') }}</label>
      </nz-radio-group>
    </ng-container>
  </div>
  <div class="flex-equal">
    <ng-container *transloco="let toc; scope: 'order-commands'">
      <nz-select [(ngModel)]="formType" class="w-100">
        <nz-option [nzLabel]="toc('orderCommands.limitOrderTabTitle')" nzValue="limit"/>
        <nz-option [nzLabel]="toc('orderCommands.marketOrderTabTitle')" nzValue="market"/>
      </nz-select>
    </ng-container>
  </div>
</div>

<div class="mt-15">
  @if (orderTarget$ | async; as orderTarget) {
    @let displayFormType = formType();

    <div [hidden]="displayFormType !== 'market'">
      <ats-market-order-form
        [orderTarget]="orderTarget"
        [side]="side()"
        (submitted)="submitted.emit()"
      />
    </div>

    <div [hidden]="displayFormType !== 'limit'">
      <ats-limit-order-form
        [orderPrice]="price()"
        [orderTarget]="orderTarget"
        [side]="side()"
        (submitted)="submitted.emit()"
      />
    </div>
  }
</div>
