<ng-container *ngIf="finance$ | async as finance; else empty">
  <ng-container *transloco="let t; scope: 'info/finance'">
    <div *ngIf="(isLoading$ | async) === false">
      <nz-descriptions [nzColumn]="columns" [nzSize]="columns === 1 ? 'small' : 'default'" nzBordered>
        <ng-container *ngIf="finance.mainIndicators">
          <nz-descriptions-item [nzTitle]="mainIndicators" nzSpan="2"></nz-descriptions-item>
          <nz-descriptions-item *ngIf="finance.mainIndicators.ebitda"
                                [nzTitle]="t('infoFinance.EBITDA')">{{finance.mainIndicators.ebitda | currency: finance.currency:'symbol-narrow' | slice: 0:-3}}</nz-descriptions-item>
          <nz-descriptions-item *ngIf="finance.mainIndicators.marketCap"
                                [nzTitle]="t('infoFinance.capitalization')">{{finance.mainIndicators.marketCap | currency: finance.currency:'symbol-narrow' | slice: 0:-3}}</nz-descriptions-item>
        </ng-container>
        <ng-container *ngIf="finance.costEstimate">
          <nz-descriptions-item [nzTitle]="costEstimate" nzSpan="2"></nz-descriptions-item>
          <nz-descriptions-item
            [nzTitle]="t('infoFinance.priceToEarnings')">{{finance.costEstimate.priceToEarnings | number}}</nz-descriptions-item>
          <nz-descriptions-item
            [nzTitle]="t('infoFinance.pricePerShare')">{{finance.costEstimate.pricePerShare | number}}</nz-descriptions-item>
          <nz-descriptions-item
            [nzTitle]="t('infoFinance.dilutedEarningsPerShare')">{{finance.costEstimate.dilutedEarningsPerShare | number}}</nz-descriptions-item>
        </ng-container>

        <ng-container *ngIf="finance.profitability">
          <nz-descriptions-item [nzTitle]="profitability" nzSpan="2"></nz-descriptions-item>
          <nz-descriptions-item
            [nzTitle]="t('infoFinance.returnOnEquity')">{{finance.profitability.returnOnEquity | percent}}</nz-descriptions-item>
          <nz-descriptions-item
            [nzTitle]="t('infoFinance.returnOnAssets')">{{finance.profitability.returnOnAssets | percent}}</nz-descriptions-item>
          <nz-descriptions-item
            [nzTitle]="t('infoFinance.debtPerEquity')">{{finance.profitability.debtPerEquity | percent}}</nz-descriptions-item>
        </ng-container>
        <ng-container *ngIf="finance.dividends">
          <nz-descriptions-item [nzTitle]="dividends" nzSpan="2"></nz-descriptions-item>
          <nz-descriptions-item
            [nzTitle]="t('infoFinance.payoutRation')">{{finance.dividends.payoutRation | percent}}</nz-descriptions-item>
          <nz-descriptions-item
            [nzTitle]="t('infoFinance.averageDividendFor5years')">{{finance.dividends.averageDividendFor5years | currency: finance.currency:'symbol-narrow'}}</nz-descriptions-item>
          <nz-descriptions-item
            [nzTitle]="t('infoFinance.lastDividendYield')">{{finance.dividends.lastDividendYield | percent}}</nz-descriptions-item>
        </ng-container>
        <ng-container *ngIf="finance.trading">
          <nz-descriptions-item [nzTitle]="trading" nzSpan="2"></nz-descriptions-item>
          <nz-descriptions-item
            [nzTitle]="t('infoFinance.closePrice')">{{finance.trading.closePrice | number}}</nz-descriptions-item>
          <nz-descriptions-item
            [nzTitle]="t('infoFinance.maxFor52Weeks')">{{finance.trading.maxFor52Weeks | number}}</nz-descriptions-item>
          <nz-descriptions-item
            [nzTitle]="t('infoFinance.minFor52Weeks')">{{finance.trading.minFor52Weeks | number}}</nz-descriptions-item>
          <nz-descriptions-item
            [nzTitle]="t('infoFinance.averageTurnoverPerDay')">{{finance.trading.averageTurnoverPerDay | number}}</nz-descriptions-item>
          <nz-descriptions-item
            [nzTitle]="t('infoFinance.averageTurnoverPerMonth')">{{finance.trading.averageTurnoverPerMonth | number}}</nz-descriptions-item>
        </ng-container>
      </nz-descriptions>

      <div *ngIf="finance">
        <ats-finance-bar-chart [finance]="finance"></ats-finance-bar-chart>
      </div>
    </div>

    <ng-template #mainIndicators let-data><strong>{{t('infoFinance.mainIndicators')}}</strong></ng-template>
    <ng-template #costEstimate let-data><strong>{{t('infoFinance.costEstimate')}}</strong></ng-template>
    <ng-template #profitability let-data><strong>{{t('infoFinance.profitability')}}</strong></ng-template>
    <ng-template #dividends let-data><strong>{{t('infoFinance.dividends')}}</strong></ng-template>
    <ng-template #trading let-data><strong>{{t('infoFinance.trading')}}</strong></ng-template>
  </ng-container>
</ng-container>

<ats-loading-indicator [isLoading]="isLoading$ | async"></ats-loading-indicator>

<ng-template #empty>
  <nz-empty
    *ngIf="(isLoading$ | async) === false"
    class="ant-list-empty-text"
    nzNotFoundImage="simple"
  ></nz-empty>
</ng-template>
