<ng-container *ngIf="finance$ | async as finance">
  <div *ngIf="(isLoading$ | async) === false">
    <nz-descriptions [nzColumn]="columns" [nzSize]="columns === 1 ? 'small' : 'default'" nzBordered>
      <ng-container *ngIf="finance.mainIndicators">
        <nz-descriptions-item [nzTitle]="mainIndicators" nzSpan="2"></nz-descriptions-item>
        <nz-descriptions-item *ngIf="finance.mainIndicators.ebitda" nzTitle="EBITDA">{{finance.mainIndicators.ebitda | currency: finance.currency:'symbol-narrow' | slice: 0:-3}}</nz-descriptions-item>
        <nz-descriptions-item *ngIf="finance.mainIndicators.marketCap" nzTitle="Капитализация">{{finance.mainIndicators.marketCap | currency: finance.currency:'symbol-narrow' | slice: 0:-3}}</nz-descriptions-item>
      </ng-container>
      <ng-container *ngIf="finance.costEstimate">
        <nz-descriptions-item [nzTitle]="costEstimate" nzSpan="2"></nz-descriptions-item>
        <nz-descriptions-item nzTitle="P/E">{{finance.costEstimate?.priceToEarnings | number}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="P/S">{{finance.costEstimate?.pricePerShare | number}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="EPS dil.">{{finance.costEstimate?.dilutedEarningsPerShare | number}}</nz-descriptions-item>
      </ng-container>

      <ng-container *ngIf="finance.profitability">
        <nz-descriptions-item [nzTitle]="profitability" nzSpan="2"></nz-descriptions-item>
        <nz-descriptions-item nzTitle="ROE">{{finance.profitability?.returnOnEquity | percent}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="ROA">{{finance.profitability?.returnOnAssets | percent}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Долг к капиталу">{{finance.profitability?.debtPerEquity | percent}}</nz-descriptions-item>
      </ng-container>
      <ng-container *ngIf="finance.dividends">
        <nz-descriptions-item [nzTitle]="dividends" nzSpan="2"></nz-descriptions-item>
        <nz-descriptions-item nzTitle="Коэф. выплаты">{{finance.dividends?.payoutRation | percent}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Ср. за 5 лет">{{finance.dividends?.averageDividendFor5years | currency: finance.currency:'symbol-narrow'}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Последний">{{finance.dividends?.lastDividendYield | percent}}</nz-descriptions-item>
      </ng-container>
      <ng-container *ngIf="finance.trading">
        <nz-descriptions-item [nzTitle]="trading" nzSpan="2"></nz-descriptions-item>
        <nz-descriptions-item nzTitle="Цена закрытия">{{finance.trading?.closePrice | number}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Макс. 52 недели">{{finance.trading?.maxFor52Weeks | number}}</nz-descriptions-item>
        <nz-descriptions-item
          nzTitle="Мин. 52 недели">{{finance.trading?.minFor52Weeks | number}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Оборот за день">{{finance.trading?.averageTurnoverPerDay | number}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Оборот за месяц">{{finance.trading?.averageTurnoverPerMonth | number}}</nz-descriptions-item>
      </ng-container>
    </nz-descriptions>

    <div *ngIf="finance">
      <ats-finance-bar-chart [finance]="finance"></ats-finance-bar-chart>
    </div>
  </div>

  <ng-template #mainIndicators let-data><strong>Основные</strong></ng-template>
  <ng-template #costEstimate let-data><strong>Мультип. стоимости</strong></ng-template>
  <ng-template #profitability let-data><strong>Рентабельность</strong></ng-template>
  <ng-template #dividends let-data><strong>Дивиденды</strong></ng-template>
  <ng-template #trading let-data><strong>Торговые</strong></ng-template>
</ng-container>
<ats-loading-indicator [isLoading]="isLoading$ | async"></ats-loading-indicator>
