<ng-container *transloco="let t; scope: 'dashboard/widgets-gallery'">
  <nz-drawer
    (nzOnClose)="close()"
    [nzClosable]="closable()"
    [nzExtra]="showResetBtn() ? extra : ''"
    [nzTitle]="t('dashboardWidgetsGallery.title')"
    [nzVisible]="atsVisible()"
    [nzWidth]="310"
    nzPlacement="left"
    nzWrapClassName="widget-gallery"
    >
    <ng-container *nzDrawerContent>
      @let currentGallery = gallery();
      @if (currentGallery) {
        @for (widget of currentGallery.allCategory.widgets; track widget.typeId) {
          <ng-container [ngTemplateOutletContext]="{widget}" [ngTemplateOutlet]="widgetTemplate" />
        }
        @for (group of currentGallery.groups; track group) {
          <div>
            <div class="divider">
              <span
              class="divider-text user-select-none">{{t('dashboardWidgetsGallery.categories.' + group.category, { fallback: group.category })}}</span>
            </div>
            @for (widget of group.widgets; track widget.typeId) {
              <ng-container [ngTemplateOutletContext]="{widget}" [ngTemplateOutlet]="widgetTemplate" />
            }
          </div>
        }
      }
    </ng-container>
  </nz-drawer>

  <ng-template #extra>
    <span
      (click)="reset()"
      class="cursor-pointer user-select-none"
      >
      <i nz-icon nzTheme="outline" nzType="appstore"></i>&nbsp;{{t('dashboardWidgetsGallery.standardView')}}
    </span>
  </ng-template>

  <ng-template #widgetTemplate let-widget='widget'>
    <div
      (click)="selectWidget(widget)"
      class="cursor-pointer user-select-none d-flex flex-row flex-nowrap align-items-center gallery-item"
      [class.active-item]="activeWidget() === widget.typeId"
      >
      <i [nzType]="widget.icon" class="fs-5 mr-10" nz-icon nzTheme="outline"></i>&nbsp;{{widget.name}}
    </div>
  </ng-template>
</ng-container>

