<div class="d-flex mobile-dashboard" *transloco="let t; scope: 'dashboard/mobile-dashboard'">
  <div
    *ngrxLet="{ defaultWidgets: defaultWidgets$, selectedWidget: selectedWidget$ } as vm"
    class="d-flex flex-column w-100 h-100"
  >
    <div class="d-flex w-100 h-100 overflow-hidden">
      <div class="overflow-auto w-100">
        <ats-parent-widget
          *ngIf="vm.selectedWidget"
          [widgetInstance]="vm.selectedWidget"
          [isBlockWidget]="false"
        ></ats-parent-widget>
      </div>
    </div>

    <div class="tabs d-flex justify-content-between p-10 flex-gap-10 overflow-auto">
      <div
        class="d-flex flex-column"
        [class.active-tab]="!defaultWidgetNames.includes(vm.selectedWidget?.instance?.widgetType ?? '')"
        (click)="galleryVisible = true"
      >
        <i nz-icon nzType="menu" nzTheme="outline"></i>
        <div class="widget-label">
          <span>{{t('dashboardMobileDashboard.more')}}</span>
        </div>
      </div>

      <div
        *ngFor="let widget of vm.defaultWidgets"
      >
        <div
          class="d-flex flex-column"
          [class.new-order]="widget.instance.widgetType === newOrderWidgetId"
          [class.active-tab]="widget.instance.widgetType === vm.selectedWidget?.instance?.widgetType"
          (click)="selectWidget(widget.instance.widgetType)"
        >
          <i nz-icon [nzType]="widget.widgetMeta.mobileMeta!.ribbonIcon" class="widget-icon" nzTheme="outline"></i>
          <div class="widget-label">
            <span>{{getWidgetName(widget.widgetMeta)}}</span>
          </div>
        </div>
      </div>
    </div>

    <ats-widgets-gallery
      [gallery]="widgetsGallery$ | async"
      [isMobile]="true"
      [(atsVisible)]="galleryVisible"
      (selected)="selectWidget($event)"
    ></ats-widgets-gallery>
  </div>
</div>
