<ng-container>
  @if (settings$ | async; as settings) {
    <ats-widget-skeleton
      [content]="contentRef"
      [header]="headerRef"
      [isBlockWidget]="isBlockWidget()"
      [settings]="settingsRef"
      [showContentScroll]="true"
      [showSettings]="shouldShowSettings"
      >
      <ng-template #headerRef>
        <ats-widget-header (switchSettings)="onSettingsChange()"
          [badgeShape]="'square'"
          [guid]="guid"
          [hasSettings]="true"
          [selectedBadgeColor]="settings.badgeColor"
          [showBadgesMenu]="(showBadge$ | async) ?? false"
          [widgetMeta]="widgetInstance().widgetMeta"
         />
      </ng-template>
      <ng-template #contentRef>
        <ats-market-trends (instrumentSelected)="selectInstrument($event)"
          [extendedFilter]="settings.extendedFilter"
          [fixedHeader]="true"
          [itemsCount]="settings.itemsCount"
        [marketFilters]="{
        targetMarkets: settings.marketFilters?.targetMarkets,
        ignoredBoards: settings.marketFilters?.ignoredBoards,
        instrumentTypes: settings.marketFilters?.instrumentTypes,
        minTradeAmount: settings.marketFilters?.minTradeAmount,
        minCapitalization: settings.marketFilters?.minCapitalization
        }"
          [sectors]="settings.displaySectors"
          [showMoreButton]="false"
         />
      </ng-template>
      <ng-template #settingsRef>
        <ats-market-trends-settings (settingsChange)="onSettingsChange()" [guid]="guid" />
      </ng-template>
    </ats-widget-skeleton>
  }

</ng-container>

