<ng-container *transloco="let t;">
  @if (settings$ | async; as settings) {
    <ats-widget-skeleton
      [content]="contentRef"
      [header]="headerRef"
      [showContentScroll]="false"
      [showSettings]="false"
      [isBlockWidget]="isBlockWidget()"
      >
      <ng-template #headerRef>
        <ats-widget-header [guid]="guid"
          [hasSettings]="false"
          [widgetMeta]="widgetInstance().widgetMeta"
         />
      </ng-template>
      <ng-template #contentRef>
        <ats-graphs-list (editGraph)="graphEditor.targetGraphId.set($event)" />
        <ats-ai-graph-editor-dialog [targetGraphId]="null" #graphEditor />
      </ng-template>
    </ats-widget-skeleton>
  }
</ng-container>


