<ng-container *transloco="let t; scope: 'command'">
  <div *ngIf="commandContext$ | async as commandContext">
    <nz-modal
      [nzVisible]='isVisible$ | async'
      [nzTitle]="header" (nzOnCancel)="handleCancel()"
      [nzFooter]='null'
      [nzMaskClosable]='false'
      (nzAfterOpen)="setInitialCommandTab()"
      nzClosable="false"
    >
      <ng-container *nzModalContent>
        <ats-command-header
          [instrument]="commandContext.instrument"
          (priceSelected)="priceChanges$.next({ price: $event })"
          (qtySelected)="qtyChanges$.next({ quantity: $event })"
        >

        </ats-command-header>

        <nz-tabset nzTabPosition="top" nzSize="small" class="command-parameters" #commandTabs>
          <nz-tab [nzTitle]="t('command.limitTab')" #limitTab (nzSelect)="setSelectedTab(componentTabs.LimitOrder)">
            <ats-limit-command
              [commandContext]="commandContext"
              [price]="(priceChanges$ | async) ?? null"
              [quantity]="(qtyChanges$ | async) ?? null"
            ></ats-limit-command>
          </nz-tab>
          <nz-tab [nzTitle]="t('command.marketTab')" #marketTab (nzSelect)="setSelectedTab(componentTabs.MarketOrder)">
            <ats-market-command
              [commandContext]="commandContext"
              [activated]="marketTab.isActive"
              [quantity]="(qtyChanges$ | async) ?? null"
            >
            </ats-market-command>
          </nz-tab>
          <nz-tab [nzTitle]="t('command.stopTab')" #stopTab (nzSelect)="setSelectedTab(componentTabs.StopOrder)">
            <ats-stop-command
              [commandContext]="commandContext"
              [price]="(priceChanges$ | async) ?? null"
              [quantity]="(qtyChanges$ | async) ?? null"
            >
            </ats-stop-command>
          </nz-tab>
          <nz-tab #notificationsTab [nzTitle]="titleTemplate" (nzClick)="setSelectedTab(componentTabs.Notifications)">
            <ats-setup-instrument-notifications
              [instrumentKey]="commandContext.instrument"
              [active]="notificationsTab.isActive"
              [priceChanges]="(priceChanges$ | async) ?? null"
            >
            </ats-setup-instrument-notifications>
            <ng-template #titleTemplate>
              <span>
                <span nz-icon nzType="bell" nzTheme="outline"></span>
                <span class="pl-2">{{t('command.notificationsTab')}}</span>
              </span>
            </ng-template>
          </nz-tab>
        </nz-tabset>
        <ng-container *ngIf="selectedTab$ | async as selectedTab">
          <ats-command-footer *ngIf="isOrderTab(selectedTab)" [activeCommandType]="toCommandType(selectedTab)!"></ats-command-footer>
        </ng-container>
      </ng-container>
    </nz-modal>

    <ng-template #header>
      <div class="title">
        <div class="left">
          <label>
            <h2>
              {{t('command.newOrderHeader')}}
              <span>
                ({{commandContext.commandParameters.user?.portfolio}}:{{commandContext.instrument.exchange}})
              </span>
            </h2>
          </label>
        </div>
        <div class="right">
          <button nz-button (click)="handleCancel()" aria-label="Close">
            <i nz-icon nzType="close" [nzTheme]="'outline'"></i>
          </button>
          <button nz-button (click)="openHelp()" aria-label="Help">
            <i nz-icon nzType="question-circle" [nzTheme]="'outline'"></i>
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</ng-container>
