<div *ngIf="commandParams$ | async as command">
  <nz-modal nzOkText="Выставить" nzCancelText="Отмена" [nzVisible]='isVisible$ | async'
    [nzTitle]="header" (nzOnCancel)="handleCancel()"
    [nzFooter]='null' [nzMaskClosable]='false'>
    <ng-container *nzModalContent>
      <ats-command-header [symbol]='command.instrument.symbol' [exchange]='command.instrument.exchange'
        [instrumentGroup]="command.instrument.instrumentGroup ?? ''"></ats-command-header>
      <nz-tabset nzTabPosition="top" nzSize="small" (nzSelectChange)='tabChanged($event)' class="command-parameters">
        <nz-tab nzTitle="Лимитная">
          <ats-limit-command></ats-limit-command>
        </nz-tab>
        <nz-tab nzTitle="Рыночная">
          <ats-market-command></ats-market-command>
        </nz-tab>
        <nz-tab nzTitle="Условная">
          <ats-stop-command></ats-stop-command>
        </nz-tab>
      </nz-tabset>
      <ats-command-footer *ngIf="activeTab | async as tab" [activeTab]='tab'></ats-command-footer>
    </ng-container>
  </nz-modal>

  <ng-template #header>
  <span class="title">
    <button nz-button class='btn-help' nzSize="small" (click)="openHelp()">
      <i nz-icon nzType="question-circle" [nzTheme]="'outline'"></i>
    </button>
    <label>
      <h2>Выставить заявку<span *ngIf="command?.user as portfolio"> ({{portfolio.portfolio}}:{{portfolio.exchange}})</span></h2>
    </label>
  </span>
  </ng-template>
</div>


