<div *ngIf="instrument$ | async as instrument">
  <ng-container *transloco="let t; scope: 'command'">
    <form *ngIf="form" [formGroup]="form" nz-form [nzLayout]="'vertical'">
      <div [nzGutter]="12" nz-row>
        <div [nzSm]="12" [nzXs]="24" nz-col>
          <nz-form-item class="compact">
            <nz-form-label nzFor="quantity" nzRequired>
              {{t('command.quantityLabel')}}
            </nz-form-label>
            <nz-form-control [nzErrorTip]="quantityError">
              <ats-input-number formControlName="quantity" placeholder="0"></ats-input-number>
              <span *ngIf="(instrument?.lotsize ?? 1) !== 1">
                1 {{t('command.lot')}} = <ats-short-number [value]="instrument.lotsize"></ats-short-number> {{t('command.pcs')}}
              </span>
              <ng-template #quantityError>
                <span *ngIf="form.get('quantity')?.errors?.required">{{t('command.emptyQuantityError')}}</span>
                <span *ngIf="form.get('quantity')?.errors?.min">{{t('command.tooLittle')}}</span>
                <span *ngIf="form.get('quantity')?.errors?.max">{{t('command.tooMuch')}}</span>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div [nzSm]="12" [nzXs]="24" nz-col>
          <nz-form-item class="compact">
            <nz-form-label nzFor="condition" nzRequired>{{t('command.conditionLabel')}}</nz-form-label>
            <nz-form-control [nzErrorTip]="t('command.conditionError')">
              <nz-select formControlName="condition">
                <nz-option [nzValue]="conditionType.More" [nzLabel]="t('command.more')"></nz-option>
                <nz-option [nzValue]="conditionType.Less" [nzLabel]="t('command.less')"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div [nzSm]="12" [nzXs]="24" nz-col>
          <nz-form-item class="compact">
            <nz-form-label nzFor="triggerPrice" nzRequired>{{t('command.triggerPriceLabel')}}</nz-form-label>
            <nz-form-control [nzErrorTip]="triggerPriceError">
              <ats-input-number [step]="instrument.minstep" [allowNegative]="true" formControlName="triggerPrice" placeholder="0"></ats-input-number>
            </nz-form-control>
            <ng-template #triggerPriceError>
              <span *ngIf="form.get('triggerPrice')?.errors?.required">{{t('command.emptyPriceError')}}</span>
              <span *ngIf="form.get('triggerPrice')?.errors?.min">{{t('command.tooLittle')}}</span>
              <span *ngIf="form.get('triggerPrice')?.errors?.max">{{t('command.tooMuch')}}</span>
              <span *ngIf="form.get('triggerPrice')?.errors?.priceStepMultiplicity">
                {{t('command.priceStepMultiplicityError')}} ({{instrument.minstep}})
              </span>
            </ng-template>
          </nz-form-item>
        </div>
        <div [nzSm]="12" [nzXs]="24" nz-col>
          <nz-form-item class="compact">
            <nz-form-label nzFor="stopEndUnixTime">{{t('command.stopEndTimeLabel')}}</nz-form-label>
            <nz-form-control [nzErrorTip]="t('command.stopEndTimeError')">
              <nz-date-picker
                formControlName="stopEndUnixTime"
                nzFormat="yyyy-MM-dd HH:mm:ss"
                nzShowTime
                [nzDisabledDate]="disabledDate"
                [nzShowNow] = "canSelectNow"
                [nzPlaceHolder]="t('command.stopEndTimePlaceholder')"
              >
              </nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="12">
        <div nz-col [nzSm]="12" [nzXs]="24">
          <nz-form-item class="compact">
            <nz-form-label nzFor="withLimit" nzRequired>{{t('command.withLimitLabel')}}</nz-form-label>
            <nz-form-control>
              <nz-radio-group formControlName="withLimit" (ngModelChange)="checkPriceAvailability()">
                <label [nzValue]="true" nz-radio-button>Limit</label>
                <label [nzValue]="false" nz-radio-button>Market</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSm]="12" [nzXs]="24" *ngIf="form.value.withLimit">
          <nz-form-item class="compact">
            <nz-form-label nzFor="price" nzRequired>{{t('command.priceLabel')}}</nz-form-label>
            <nz-form-control [nzErrorTip]="priceError">
              <ats-input-number [step]="instrument.minstep" [allowNegative]="true" formControlName="price" placeholder="0"></ats-input-number>
              <ng-template #priceError>
                <span *ngIf="form.get('price')?.errors?.required">{{t('command.emptyPriceError')}}</span>
                <span *ngIf="form.get('price')?.errors?.min">{{t('command.tooLittle')}}</span>
                <span *ngIf="form.get('price')?.errors?.max">{{t('command.tooMuch')}}</span>
                <span *ngIf="form.get('price')?.errors?.priceStepMultiplicity">
                  {{t('command.priceStepMultiplicityError')}} ({{instrument.minstep}})</span>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <nz-collapse [nzBordered]="false" class="compact" nzGhost>
        <nz-collapse-panel [nzHeader]="t('command.advanced')">
          <ng-container *ngIf="form.value.withLimit">
            <nz-form-item class="compact">
              <nz-form-label nzFor="timeInForce">{{t('command.timeInForceLabel')}}</nz-form-label>
              <nz-form-control>
                <nz-select formControlName="timeInForce" nzAllowClear [nzPlaceHolder]="t('command.timeInForcePlaceholder')">
                  <nz-option
                    *ngFor="let timeInForce of timeInForceEnum | keyvalue"
                    [nzValue]="timeInForce.value" [nzLabel]="t('command.timeInForceOptions.' + timeInForce.key)"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item class="compact">
              <label
                formControlName="isIceberg"
                nz-checkbox
              >
                {{t('command.isIcebergLabel')}}
              </label>
            </nz-form-item>

            <ng-container *ngIf="form.get('isIceberg')?.value">
              <nz-form-item class="compact">
                <nz-form-label nzFor="icebergFixed">{{t('command.icebergFixedLabel')}}</nz-form-label>
                <nz-form-control [nzErrorTip]="icebergFixedError">
                  <ats-input-number formControlName="icebergFixed" placeholder="0"></ats-input-number>
                </nz-form-control>
              </nz-form-item>

              <ng-template #icebergFixedError>
                <span *ngIf="form.get('icebergFixed')?.errors?.min">{{t('command.tooLittle')}}</span>
              </ng-template>
              <span nz-typography nzType="danger" *ngIf="form.errors?.icebergFixedNotBiggerThanQuantity">
                {{t('command.notBiggerThanError', { fieldName: t('command.quantityLabel') })}}
              </span>

              <nz-form-item class="compact">
                <nz-form-label nzFor="icebergVariance">
                  {{t('command.icebergVarianceLabel')}}
                </nz-form-label>
                <nz-form-control [nzErrorTip]="icebergVarianceError">
                  <ats-input-number formControlName="icebergVariance" placeholder="0"></ats-input-number>
                </nz-form-control>

                <ng-template #icebergVarianceError>
                  <span *ngIf="form.get('icebergFixed')?.errors?.min">{{t('command.tooLittle')}}</span>
                </ng-template>
              </nz-form-item>

            </ng-container>
          </ng-container>

          <nz-form-item class="compact">
            <label
              formControlName="allowLinkedOrder"
              nz-checkbox
            >
              {{t('command.allowLinkedOrderLabel')}}
            </label>
          </nz-form-item>

          <ng-container *ngIf="form.get('allowLinkedOrder')?.value">
            <div formGroupName="linkedOrder">
              <div [nzGutter]="12" nz-row>
                <div [nzSm]="12" [nzXs]="24" nz-col>
                  <nz-form-item class="compact">
                    <nz-form-control [nzErrorTip]="linkedOrderQuantityError" [nzValidateStatus]="form.get('linkedOrder')!.get('triggerPrice')!">
                      <nz-form-label [nzNoColon]="true" nzFor="quantity" nzRequired>
                        {{t('command.quantityLabel')}}
                        <span *ngIf="(instrument.lotsize ?? 1) !== 1" class="lot-size-hint">
                    &nbsp;1 {{t('command.lot')}} = <ats-short-number [value]="instrument.lotsize"></ats-short-number> {{t('command.pcs')}}
                  </span>
                      </nz-form-label>
                      <ats-input-number formControlName="quantity" placeholder="0"></ats-input-number>
                      <span *ngIf="form?.errors?.requiredIfTrueLinkedOrderQuantity" nz-typography nzType="danger">
                      {{t('command.emptyQuantityError')}}
                    </span>
                    </nz-form-control>
                    <ng-template #linkedOrderQuantityError>
                      <span *ngIf="form.get('linkedOrder')?.get('quantity')?.errors?.min">{{t('command.tooLittle')}}</span>
                      <span *ngIf="form.get('linkedOrder')?.get('quantity')?.errors?.max">{{t('command.tooMuch')}}</span>
                    </ng-template>

                  </nz-form-item>
                </div>
                <div [nzSm]="12" [nzXs]="24" nz-col>
                  <nz-form-item class="compact">
                    <nz-form-control [nzErrorTip]="t('command.conditionError')">
                      <nz-form-label [nzNoColon]="true" nzFor="condition" nzRequired>{{t('command.conditionLabel')}}</nz-form-label>
                      <nz-select formControlName="condition">
                        <nz-option [nzValue]="'More'" [nzLabel]="t('command.more')"></nz-option>
                        <nz-option [nzValue]="'Less'" [nzLabel]="t('command.less')"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div [nzSm]="12" [nzXs]="24" nz-col>
                  <nz-form-item class="compact">
                    <nz-form-control [nzErrorTip]="linkedOrderTriggerPriceError" [nzValidateStatus]="form.get('linkedOrder')!.get('triggerPrice')!">
                      <nz-form-label [nzNoColon]="true" nzFor="triggerPrice" nzRequired>{{t('command.triggerPriceLabel')}}</nz-form-label>
                      <ats-input-number formControlName="triggerPrice" placeholder="0" [step]="instrument.minstep" [allowNegative]="true"></ats-input-number>
                      <span *ngIf="form?.errors?.requiredIfTrueLinkedOrderTriggerPrice" nz-typography nzType="danger">
                      {{t('command.emptyPriceError')}}
                    </span>
                    </nz-form-control>
                    <ng-template #linkedOrderTriggerPriceError>
                      <span *ngIf="form.get('linkedOrder')?.get('triggerPrice')?.errors?.min">{{t('command.tooLittle')}}</span>
                      <span *ngIf="form.get('linkedOrder')?.get('triggerPrice')?.errors?.max">{{t('command.tooMuch')}}</span>
                      <span *ngIf="form.get('linkedOrder')?.get('triggerPrice')?.errors?.priceStepMultiplicity">
                  {{t('command.priceStepMultiplicityError')}} ({{instrument.minstep}})
                </span>
                    </ng-template>
                  </nz-form-item>
                </div>
                <div [nzSm]="12" [nzXs]="24" nz-col>
                  <nz-form-item class="compact">
                    <nz-form-control [nzErrorTip]="t('command.stopEndTimeError')">
                      <nz-form-label [nzNoColon]="true" nzFor="stopEndUnixTime">{{t('command.stopEndTimeLabel')}}</nz-form-label>
                      <nz-date-picker
                        formControlName="stopEndUnixTime"
                        nzFormat="yyyy-MM-dd HH:mm:ss"
                        nzShowTime
                        [nzDisabledDate]="disabledDate"
                        [nzShowNow]="canSelectNow"
                        [nzPlaceHolder]="t('command.stopEndTimePlaceholder')"
                      >
                      </nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-row [nzGutter]="12">
                <div nz-col [nzSm]="12" [nzXs]="24">
                  <nz-form-item class="compact">
                    <nz-form-control>
                      <nz-form-label [nzNoColon]="true" nzFor="withLimit" nzRequired>
                        {{t('command.withLimitLabel')}}
                      </nz-form-label>
                      <nz-radio-group formControlName="withLimit" >
                        <label [nzValue]="true" nz-radio-button>Limit</label>
                        <label [nzValue]="false" nz-radio-button>Market</label>
                      </nz-radio-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSm]="12" [nzXs]="24" *ngIf="form.value.linkedOrder?.withLimit">
                  <nz-form-item class="compact">
                    <nz-form-control [nzErrorTip]="linkedOrderPriceError" [nzValidateStatus]="form.get('linkedOrder')!.get('price')!">
                      <nz-form-label [nzNoColon]="true" nzFor="price" nzRequired>
                        {{t('command.priceLabel')}}
                      </nz-form-label>
                      <ats-input-number
                        formControlName="price"
                        placeholder="0"
                        [step]="instrument.minstep"
                        [allowNegative]="true"
                      ></ats-input-number>
                      <span *ngIf="form?.errors?.requiredIfTrueLinkedOrderPrice" nz-typography nzType="danger">
                      {{t('command.emptyPriceError')}}
                    </span>
                    </nz-form-control>
                    <ng-template #linkedOrderPriceError>
                      <span *ngIf="form.get('linkedOrder')!.get('price')?.errors?.min">{{t('command.tooLittle')}}</span>
                      <span *ngIf="form.get('linkedOrder')!.get('price')?.errors?.max">{{t('command.tooMuch')}}</span>
                      <span *ngIf="form.get('linkedOrder')!.get('price')?.errors?.priceStepMultiplicity">
                      {{t('command.priceStepMultiplicityError')}} ({{instrument.minstep}})
                    </span>
                    </ng-template>
                  </nz-form-item>
                </div>
              </div>

              <div nz-row [nzGutter]="12">
                <div nz-col [nzXs]="24" [nzSm]="24">
                  <nz-form-item class="compact">
                    <nz-form-control>
                      <nz-form-label [nzNoColon]="true" nzFor="side">{{t('command.sideLabel')}}</nz-form-label>
                      <nz-select formControlName="side">
                        <nz-option [nzValue]="'buy'" [nzLabel]="t('command.buySideLabel')"></nz-option>
                        <nz-option [nzValue]="'sell'" [nzLabel]="t('command.sellSideLabel')"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
          </ng-container>
        </nz-collapse-panel>
      </nz-collapse>
  </form>
</ng-container>
</div>
