<ng-container *transloco="let t;">
  @if (settings$ | async; as settings) {
    <ats-widget-skeleton
      [content]="contentRef"
      [header]="headerRef"
      [settings]="settingsRef"
      [showContentScroll]="false"
      [showSettings]="shouldShowSettings"
      [isBlockWidget]="isBlockWidget()"
      >
      <ng-template #headerRef>
        <ats-widget-header (switchSettings)="onSettingsChange()"
          [guid]="guid"
          [hasSettings]="true"
          [linkToActive]="settings.linkToActive ?? null"
          [selectedBadgeColor]="settings.badgeColor"
          [showBadgesMenu]="(showBadge$ | async) ?? false"
          [widgetMeta]="widgetInstance().widgetMeta"
          [titleTemplate]="titleTemplate"
         />
        <ng-template #titleTemplate>
          <ats-widget-header-instrument-switch [widgetGuid]="widgetInstance().instance.guid" />
        </ng-template>
      </ng-template>
      <ng-template #contentRef>
        <ats-all-trades [guid]="guid" />
      </ng-template>
      <ng-template #settingsRef>
        <ats-all-trades-settings (settingsChange)="onSettingsChange()" [guid]='guid' />
      </ng-template>
    </ats-widget-skeleton>
  }
</ng-container>


