<div class="beta">
  <h2>Заявление о присоединении к бета-тестированию* программы для ЭВМ «Astras»</h2>
  <p>
    Нажимая «Согласен», я, {{fullName$ | async}}, присоединяюсь к бета-тестированию программы для ЭВМ «Astras» (далее — Программа) для
    портфелей на фондовом, срочном и валютном рынках
  </p>
  <p>
    Я уведомлен о том, что программа находится в стадии разработки и предлагается для бета-тестирования.
  </p>
  <p>
    Я согласен с тем, что бета-версия Программы не является финальной версией, тестирование производится с целью
    обнаружения и исправления ошибок как в работе самой Программы, так и в процессе взаимодействия данной Программы с
    операционной системой и другими программами, запущенными на компьютере, на котором производится тестирование.
  </p>
  <p>
    Я как участник бета-тестирования принимаю на себя все риски, в том числе имущественные, и всю ответственность за
    действия, совершенные мной с использованием Программы.
  </p>
  <p>
    Я согласен с тем, что Программа предоставляется по принципу «как есть». При этом не предусматривается никаких
    гарантий, явных или подразумеваемых, со стороны ООО «АЛОР +».
  </p>
  <p>
    Я выражаю согласие с тем, что ООО «АЛОР +» не несут ответственности:
  </p>
  <ul>
    <li>за возникновение сбоев и ошибок в работе Программы, операционной системы в процессе тестирования Программы и
      другого программного обеспечения, запущенного на компьютере, на котором производится тестирование Программы;</li>
    <li>за потери и повреждение данных, связанные с использованием (правильным или неправильным) Программы;</li>
    <li>за возможные убытки, понесенные мной как участником тестирования в связи с использованием (правильным или
      неправильным) Программы;</li>
    <li>за убытки, возникшие в результате действия или бездействия Программы при взаимодействии с любым программным
      обеспечением, установленным на компьютере, на котором производится тестирование.</li>
  </ul>
  <p>
    * Бета-тестирование — интенсивное использование почти готовой версии программного обеспечения с целью выявления
    максимального числа ошибок в его работе для их последующего устранения перед окончательным выходом (релизом)
    продукта
    на рынок, к массовому потребителю.
  </p>

</div>
