ats-trade-screen-content {
  .footer {
    position: absolute;
    left: 0;
    bottom: 25px;
    width: 100%;
    z-index: 100;
  }

  .order-panel-body {
    border-top: 1px solid var(--ats-border-color-base);
  }

  .order-panel-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ats-heading-color);
    margin-top: -8px;
  }
}


