.scrollable(@scrollbar-color) {
  overflow-y: auto;

  @supports not selector(::-webkit-scrollbar) {
    scrollbar-width: thin;
    scrollbar-color: @scrollbar-color  transparent;
  }

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: @scrollbar-color; /* or add it to the track */
    border-radius: 10px;
  }
}
