<nz-table #basicTable [nzData]="ob()?.rows ?? []" [nzFrontPagination]="false" id="order-book-table" nzSize="small">
  <thead>
  <tr>
    <th nzWidth="20px">Bid</th>
    <th nzAlign="right">Vol</th>
    <th>Vol</th>
    <th nzAlign="right" nzWidth="20px">Ask</th>
  </tr>
  </thead>
  <tbody (click)="newLimitOrder($event, 0, Side.Buy)" cdkDropListGroup>
    @for (row of basicTable.data; track $index) {
      <tr>
        @if (row.bid || (row.bid === 0)) {
          @if (showYield()) {
            <td
              (click)="newLimitOrder($event, row.bid, Side.Buy)"
              [ngStyle]="{background: 'unset'}">
              {{ row.yieldBid }}
            </td>
          } @else {
            <td
              (click)="newLimitOrder($event, row.bid, Side.Buy)"
              [ngStyle]="{background: 'unset'}">
              {{ row.bid | atsPrice: getPriceDecimalSymbolsCount() }}
            </td>
          }
          <td
            (cdkDropListDropped)="updateOrderPrice($event.item.data, row.bid)"
            (click)="newLimitOrder($event, row.bid, Side.Buy)"
            [ngStyle]="getBidStyle(row.bidVolume ?? 0)"
            cdkDropList
            nzAlign="right"
          >
            @if (row.bidOrders && row.bidOrderVolume) {
              <button
                (click)="cancelOrder($event, row.bidOrders)"
                [cdkDragData]="row.bidOrders![0]"
                [cdkDragDisabled]="row.bidOrders!.length !== 1"
                cdkDrag
                cdkDragPreviewClass="order-book-order"
                nz-button
                nzSize="small"
                nzType="primary">
                @if (row.bidOrderVolume) {
                  <i nz-icon nzTheme="outline" nzType="close-square"></i>
                }
                {{ row.bidOrderVolume }}
              </button>
            }
            <span class="cell-value">
                @if (volumeDisplayFormat() === numberFormats.LetterSuffix) {
                  <ats-short-number [allowRounding]="true"
                                    [value]="row.bidVolume"/>
                } @else {
                  <span>{{ row.bidVolume }}</span>
                }
              </span>
          </td>
        } @else {
          <td [ngStyle]="{background: 'unset'}" colspan="2"></td>
        }
        @if (row.ask || (row.ask === 0)) {
          <td (cdkDropListDropped)="updateOrderPrice($event.item.data, row.ask)"
              (click)="newLimitOrder($event, row.ask, Side.Sell)"
              [ngStyle]="getAskStyle(row.askVolume ?? 0)"
              cdkDropList
              class='row-cell--ask-volume'
          >
              <span class="cell-value">
                @if (volumeDisplayFormat() === numberFormats.LetterSuffix) {
                  <ats-short-number [allowRounding]="true"
                                    [value]="row.askVolume"/>
                } @else {
                  <span>{{ row.askVolume }}</span>
                }
              </span>
            @if (row.askOrders && row.askOrderVolume) {
              <button
                (click)="cancelOrder($event, row.askOrders)"
                [cdkDragData]="row.askOrders![0]"
                [cdkDragDisabled]="row.askOrders!.length !== 1"
                cdkDrag
                cdkDragPreviewClass="order-book-order"
                nz-button
                nzSize="small"
                nzType="primary">
                {{ row.askOrderVolume }}
                @if (row.askOrderVolume) {
                  <i nz-icon nzTheme="outline" nzType="close-square"></i>
                }
              </button>
            }
          </td>
          @if (showYield()) {
            <td
              (click)="newLimitOrder($event, row.ask, Side.Sell)"
              [ngStyle]="{background: 'unset'}"
              nzAlign="right">
              {{ row.yieldAsk }}
            </td>
          } @else {
            <td
              (click)="newLimitOrder($event, row.ask, Side.Sell)"
              [ngStyle]="{background: 'unset'}"
              nzAlign="right">
              {{ row.ask | atsPrice: getPriceDecimalSymbolsCount() }}
            </td>
          }
        } @else {
          <td [ngStyle]="{background: 'unset'}" colspan="2"></td>
        }
      </tr>
    }
  </tbody>
</nz-table>
