ats-notifications-nav-btn {
  nz-badge-sup {
    box-shadow: none !important;
  }

  .ant-popover-inner-content {
    padding: 8px;
  }


}

.ats-notification-list {
  .dialog-title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    button {
      margin-right: -10px;
      border: none;
      opacity: 0.5;
    }
  }
}
