<div
  *ngrxLet="{ tableConfig: tableConfig$, tableData: tableData$, contentSize: contentSize$ } as td"
  class="container"
  (nzResizeObserve)="containerSizeChanged($event)"
  nzResizeObserver
  >
  <ats-infinite-scroll-table (filterApplied)="applyFilter($event)"
    (rowClick)="rowClick($event)"
    (scrolled)="scrolled()"
    (orderColumnChange)="changeColumnOrder($event)"
    (columnWidthChange)="saveColumnWidth($event)"
    [tableConfig]="td.tableConfig"
    [data]="td.tableData"
    [isLoading]="(isLoading$ | async) ?? false"
    [tableContainerHeight]="td.contentSize?.height || 0"
    [tableContainerWidth]="td.contentSize?.width || 0"
    (rowContextMenu)="openContextMenu($event.event, contextMenu, $event.row)"
    #table
   />

  <div
    class="export-button-container"
    *transloco="let t"
    (nzResizeObserve)="exportBtnSizeChange($event)"
    nzResizeObserver
    >
    @if (td.tableData.length > 0) {
      <button nz-button nzType="link" (click)="exportToFile()">
        <i nz-icon nzType="download"></i>
        {{t('exportToFile')}}
      </button>
    }
  </div>

  <ats-add-to-watchlist-menu #contextMenu />
</div>
