<div class="container"
  (nzResizeObserve)="containerSizeChanged($event)"
     nzResizeObserver>
  <ats-infinite-scroll-table
    (filterApplied)="applyFilter($event)"
    (rowClick)="selectInstrument($event)"
    (scrolled)="scrolled()"
    [contextMenu]="contextMenu"
    [tableConfig]="tableConfig$ | async"
    [data]="(instrumentsDisplay$ | async) ?? []"
    [isLoading]="(isLoading$ | async) ?? false"
    [tableContainerHeight]="(contentSize$ | async)?.height || 0"
    [tableContainerWidth]="(contentSize$ | async)?.width || 0"
  ></ats-infinite-scroll-table>
</div>
