.ats-idea-details {
  .content {
    white-space: pre-wrap;
  }

  .selected {
    background-color: color-mix(in srgb, var(--ats-select-item-selected-bg) 50%, transparent);
    border-radius: 5px;
  }

  .content {
    .ant-typography-expand {
      color: var(--ats-primary-color);
    }
  }
}
