@let idea = displayIdea();

<nz-modal (nzOnCancel)="close()"
          [nzAutofocus]="null"
          [nzClosable]="false"
          [nzContent]="content"
          [nzFooter]="null"
          [nzMaskClosable]="true"
          [nzTitle]="modalTitle"
          [nzVisible]="displayIdea() !== null"
          nzClassName="full-screen ats-idea-details"
/>

<ng-template #content>
  @if (idea != null) {
    @if (idea.format === IdeaResponseFormat.HtmlBody) {
      <p class="content">{{ idea.body }}</p>
    } @else {
      <div>
        <ats-idea-metrics [idea]="idea"/>
      </div>

      <div class="mb-10">
        <ats-expandable-text [rows]="3" [expandButtonTemplate]="expandBtn">
          {{ idea.description }}
        </ats-expandable-text>
        <ng-template #expandBtn>
          <nz-icon nzType="down" nzTheme="outline"  class="primary-color"/>
        </ng-template>
      </div>

      <div class="d-flex flex-row flex-nowrap flex-gap-10 align-items-center justify-content-between  symbol">
        <div class="d-flex flex-row justify-content-start flex-nowrap align-items-center flex-gap-5 overflow-hidden">
          <ats-instrument-icon [symbol]="idea.ticker" size="large"/>
          <div class="d-flex flex-column  overflow-hidden">
              <span class="heading-color" nz-typography nzEllipsis>{{ idea.company }}</span>
            <span nz-typography nzEllipsis>{{ idea.ticker }}</span>
          </div>
        </div>

        <div *ngrxLet="priceInfo$ as priceInfo" class="d-flex flex-column align-items-end">
          @if (priceInfo != null) {
            <span class="heading-color">{{ priceInfo.lastPrice }}</span>
            <span
              [class]="{
                  'positive-color': priceInfo.dayChangePercent >= 0,
                  'negative-color': priceInfo.dayChangePercent < 0
                  }"
            >
                  @if (priceInfo.dayChangePercent > 0) {
                    <span>+</span>
                  }

              <span>{{ priceInfo.dayChangePercent }}%</span>
                </span>
          }
        </div>
      </div>

      <div class="mt-15">
        <div>
          <ats-submit-order-for-symbol [symbol]="{symbol: idea.ticker, exchange: idea.exchange}"/>
        </div>
      </div>
    }
  }
</ng-template>

<ng-template #modalTitle>
  <span (click)="close()" class="mr-10">
    <nz-icon nzTheme="outline" nzType="arrow-left"/>
  </span>
  <span>{{ idea?.title }}</span>
</ng-template>

