.ats-idea-details {
  .content {
    white-space: pre-wrap;
    .ant-typography-expand {
      color: var(--ats-primary-color);
    }
  }

  .symbol {
    background-color: var(--ats-descriptions-bg);
    border-radius: 10px;
    padding: 10px;
  }
}
