<ng-container *transloco="let t; scope: 'orderbook/settings'">
  <p>{{t('settingsHeader')}}</p>
  <div *ngIf="form">
    <form (ngSubmit)="submitForm()" [formGroup]="form" [nzLayout]="'vertical'" nz-form>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="t('orderbookSettings.tickerError')">
          <nz-form-label nzRequired nzFor="instrument">{{t('orderbookSettings.tickerLabel')}}</nz-form-label>
          <ats-instrument-search formControlName="instrument" (instrumentSelected)="instrumentSelected($event)"></ats-instrument-search>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="exchange" nzRequired>{{t('orderbookSettings.exchangeLabel')}}</nz-form-label>
        <nz-form-control>
          <nz-select formControlName='exchange'>
            <nz-option *ngFor='let exchange of exchanges' [nzLabel]="exchange" [nzValue]="exchange"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="depth" nzRequired>{{t('orderbookSettings.depthLabel')}}</nz-form-label>
        <nz-form-control [nzErrorTip]="t('orderbookSettings.intervalError', { min: validationOptions.depth.min, max: validationOptions.depth.max })">
          <input
            (mousedown)="$event.stopPropagation()"
            atsNumerical
            formControlName="depth"
            nz-input
            [placeholder]="t('orderbookSettings.intervalPlaceholder', { min: validationOptions.depth.min, max: validationOptions.depth.max })"
          >
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="one-row">
        <nz-form-label nzFor="showZeroVolumeItems">{{t('orderbookSettings.showZeroVolumeItemsLabel')}}</nz-form-label>
        <nz-form-control>
          <nz-switch formControlName='showZeroVolumeItems'></nz-switch>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="one-row">
        <nz-form-label nzFor="showSpreadItems">{{t('orderbookSettings.showSpreadItemsLabel')}}</nz-form-label>
        <nz-form-control>
          <nz-switch formControlName='showSpreadItems'></nz-switch>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="one-row">
        <nz-form-label nzFor="disableHotkeys">{{t('orderbookSettings.disableHotkeysLabel')}}</nz-form-label>
        <nz-form-control>
          <nz-switch formControlName='disableHotkeys'></nz-switch>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="one-row">
        <nz-form-label nzFor="enableMouseClickSilentOrders">{{t('orderbookSettings.enableMouseClickSilentOrdersLabel')}}</nz-form-label>
        <nz-form-control>
          <nz-switch formControlName='enableMouseClickSilentOrders'></nz-switch>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="highlightHighVolume">{{t('orderbookSettings.highlightHighVolumeLabel')}}</nz-form-label>
        <nz-form-control>
          <nz-select [nzDisabled]="hasVolumeHighlightOptionsErrors()" formControlName='volumeHighlightMode'>
            <nz-option *ngFor='let option of availableVolumeHighlightModes' [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
          </nz-select>
          <span *ngIf="form.value.volumeHighlightMode === volumeHighlightModes.BiggestVolume" nz-typography nzType="secondary">
            {{t('orderbookSettings.biggestVolumeHint')}}
          </span>
          <span *ngIf="form.value.volumeHighlightMode === volumeHighlightModes.VolumeBoundsWithFixedValue" nz-typography nzType="secondary">
            {{t('orderbookSettings.VolumeBoundsWithFixedValueHint')}}
          </span>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-collapse *ngIf="showVolumeHighlightOptions()" [nzBordered]="false" nzGhost>
          <nz-collapse-panel
            [nzActive]="true"
            [nzDisabled]="hasVolumeHighlightOptionsErrors()"
            [nzHeader]="t('orderbookSettings.volumeHighlightSettingsLabel')"
          >
            <nz-form-item *ngIf="form.value.volumeHighlightMode === volumeHighlightModes.VolumeBoundsWithFixedValue">
              <nz-form-label nzFor="volumeHighlightFullness" nzRequired>{{t('orderbookSettings.volumeHighlightFullness')}}</nz-form-label>
              <nz-form-control [nzErrorTip]="t(
              'orderbookSettings.intervalError',
               {
                min: validationOptions.volumeHighlightOption.volumeHighlightFullness.min,
                 max: validationOptions.volumeHighlightOption.volumeHighlightFullness.max
                 })"
              >
                <input (mousedown)="$event.stopPropagation()" atsNumerical nz-input formControlName="volumeHighlightFullness"/>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <ng-container *ngFor="let optionForm of volumeHighlightOptions.controls; index as i">
                <div [formGroup]="asFormGroup(optionForm)" class="volume-highlight-options">
                  <nz-form-control
                    [nzErrorTip]="t(
                    'orderbookSettings.intervalError',
                    {
                     min: validationOptions.volumeHighlightOption.boundary.min,
                     max: validationOptions.volumeHighlightOption.boundary.max
                    })"
                  >
                    <nz-form-label nzFor="boundary" nzRequired>{{t('orderbookSettings.volumeLabel')}}</nz-form-label>
                    <input (mousedown)="$event.stopPropagation()" atsNumerical nz-input formControlName="boundary"/>
                  </nz-form-control>
                  <nz-form-control [nzErrorTip]="t('orderbookSettings.colorError')">
                    <nz-form-label nzFor="color" nzRequired>{{t('orderbookSettings.colorLabel')}}</nz-form-label>
                    <ats-color-picker-input (colorChangeComplete)="setVolumeHighlightOptionColor(i, $event)" [value]="optionForm.value.color"></ats-color-picker-input>
                  </nz-form-control>
                  <button (click)="removeVolumeHighlightOption($event, i)"
                          class="volume-highlight-options-remove-btn"
                          nz-button
                          nzType="dashed"
                          [disabled]="!canRemoveVolumeHighlightOption">
                    <i nz-icon nzType="minus"></i>
                  </button>
                </div>
              </ng-container>
              <button (click)="addVolumeHighlightOption($event)" [disabled]="!volumeHighlightOptions.valid" class="add-volume-highlight-option-btn" nz-button nzType="dashed">
                <i nz-icon nzType="plus"></i>
              </button>
            </nz-form-item>
          </nz-collapse-panel>
        </nz-collapse>
      </nz-form-item>

      <nz-form-item>
        <nz-collapse [nzBordered]="false" nzGhost class="working-volumes">
          <nz-collapse-panel [nzDisabled]="!form.controls.workingVolumes.valid" [nzHeader]="t('orderbookSettings.workingVolumesHeader')">
            <div class="hint">{{t('orderbookSettings.workingVolumesHint')}}</div>
            <nz-form-item *ngFor="let ctrl of workingVolumes.controls; let i = index">
              <nz-form-label nzFor="workingVolume1" nzRequired>{{t('orderbookSettings.workingVolumeLabel')}} {{i + 1}}</nz-form-label>
              <nz-form-control [nzErrorTip]="workingVolumeError">
                <nz-input-group>
                  <input
                    (mousedown)="$event.stopPropagation()"
                    [formControl]="workingVolumeCtrl(i)"
                    atsNumerical
                    nz-input
                    placeholder="1"
                  />
                </nz-input-group>
              </nz-form-control>

              <ng-template #workingVolumeError>
                <span *ngIf="ctrl.errors?.required">{{t('orderbookSettings.workingVolumeRequiredError')}}</span>
                <span *ngIf="ctrl.errors?.min">{{t('orderbookSettings.workingVolumeMinError')}}</span>
              </ng-template>
            </nz-form-item>
          </nz-collapse-panel>
        </nz-collapse>
      </nz-form-item>

      <nz-form-item>
        <nz-collapse [nzBordered]="false" nzGhost>
          <nz-collapse-panel [nzHeader]="t('orderbookSettings.advanced')">
            <nz-form-item>
              <nz-form-label nzFor="instrumentGroup">{{t('orderbookSettings.instrumentGroupLabel')}}</nz-form-label>
              <nz-form-control [nzErrorTip]="t('orderbookSettings.instrumentGroupError')">
                <input
                  (mousedown)="$event.stopPropagation()"
                  nz-input
                  formControlName="instrumentGroup"
                  [placeholder]="t('orderbookSettings.instrumentGroupPlaceholder')"
                />
              </nz-form-control>
              <nz-form-label nzFor="autoAlignIntervalSec" class="auto-align-label">
                {{t('orderbookSettings.autoAlignIntervalLabel')}}
              </nz-form-label>
              <nz-form-control
                [nzErrorTip]="t(
                'orderbookSettings.intervalError',
                {
                min: validationOptions.autoAlignIntervalSec.min,
                max: validationOptions.autoAlignIntervalSec.max
                })"
              >
                <input (mousedown)="$event.stopPropagation()" atsNumerical nz-input formControlName="autoAlignIntervalSec"/>
                <span nz-typography nzType="secondary">
                  {{t('orderbookSettings.autoAlignIntervalHint')}}
                </span>
              </nz-form-control>
            </nz-form-item>
          </nz-collapse-panel>
        </nz-collapse>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <button [disabled]="!form.valid" nz-button nzType="primary" type="submit">{{t('saveBtnText')}}</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</ng-container>
