<p>Настройки</p>
<div *ngIf="form">
  <form (ngSubmit)="submitForm()" [formGroup]="form" [nzLayout]="'vertical'" nz-form>
    <nz-form-item class="compact">
      <nz-form-label nzFor="symbol" nzRequired>Тикер</nz-form-label>
      <nz-form-control nzErrorTip="Тикер должен иметь длину от {{validationOptions.symbol.min}} до {{validationOptions.symbol.max}}">
        <nz-input-group>
          <input (mousedown)="$event.stopPropagation()" class='ant-input' formControlName="symbol" placeholder="Тикер"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="compact">
      <nz-form-label nzFor="exchange" nzRequired>Биржа</nz-form-label>
      <nz-form-control nzErrorTip="Выберите биржу">
        <nz-select formControlName='exchange'>
          <nz-option *ngFor='let exchange of exchanges' [nzLabel]="exchange" [nzValue]="exchange"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="depth" nzRequired>Глубина</nz-form-label>
      <nz-form-control nzErrorTip="Значение глубины должно быть от {{validationOptions.depth.min}} до {{validationOptions.depth.max}}">
        <input (mousedown)="$event.stopPropagation()" atsNumerical class='ant-input' formControlName="depth" placeholder="Значение от {{validationOptions.depth.min}} до {{validationOptions.depth.max}}">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="one-row">
      <nz-form-label nzFor="showZeroVolumeItems">Показывать цены заявок с нулевым объемом</nz-form-label>
      <nz-form-control>
        <nz-switch formControlName='showZeroVolumeItems'></nz-switch>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="one-row">
      <nz-form-label nzFor="showSpreadItems">Показывать цены между лучшими ценами покупки/продажи</nz-form-label>
      <nz-form-control>
        <nz-switch formControlName='showSpreadItems'></nz-switch>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="one-row">
      <nz-form-label nzFor="disableHotkeys">Выключить горячие клавиши</nz-form-label>
      <nz-form-control>
        <nz-switch formControlName='disableHotkeys'></nz-switch>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="one-row">
      <nz-form-label nzFor="enableMouseClickSilentOrders">Покупать по кликам без уведомлений</nz-form-label>
      <nz-form-control>
        <nz-switch formControlName='enableMouseClickSilentOrders'></nz-switch>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="highlightHighVolume">Выделение цветом объема</nz-form-label>
      <nz-form-control>
        <nz-select [nzDisabled]="hasVolumeHighlightOptionsErrors()" formControlName='volumeHighlightMode'>
          <nz-option *ngFor='let option of availableVolumeHighlightModes' [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
        </nz-select>
        <span *ngIf="form.value.volumeHighlightMode === volumeHighlightModes.BiggestVolume" nz-typography nzType="secondary">
        Ячейка объема будет выделена стандартными цветами покупки/продажи.
        Процент заполнения ячейки цветом определяется отношением объема ячейки к максимальному объему в стакане.
      </span>
        <span *ngIf="form.value.volumeHighlightMode === volumeHighlightModes.VolumeBoundsWithFixedValue" nz-typography nzType="secondary">
        Цвет ячейки определяется настройками ниже.
        Для выделения будет выбрана опция с наибольшим объемом, для которой выполняется условие: объем ячейки >= объема опции.
        Процент заполнения ячейки цветом определяется отношением объема ячейки к значению настройки "Заполненность полосы объема".
      </span>
      </nz-form-control>
    </nz-form-item>

    <nz-collapse *ngIf="showVolumeHighlightOptions()" [nzBordered]="false" class="compact">
      <nz-collapse-panel [nzActive]="true" [nzDisabled]="hasVolumeHighlightOptionsErrors()" nzHeader="Настройки выделения объемов">
        <nz-form-item *ngIf="form.value.volumeHighlightMode === volumeHighlightModes.VolumeBoundsWithFixedValue">
          <nz-form-label nzFor="volumeHighlightFullness" nzRequired>Заполненность полосы объема</nz-form-label>
          <nz-form-control nzErrorTip="Значение должно быть от {{validationOptions.volumeHighlightOption.volumeHighlightFullness.min}} до {{validationOptions.volumeHighlightOption.volumeHighlightFullness.max}}">
            <input (mousedown)="$event.stopPropagation()" atsNumerical class='ant-input' formControlName="volumeHighlightFullness"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <ng-container *ngFor="let optionForm of volumeHighlightOptions.controls; index as i">
            <div [formGroup]="asFormGroup(optionForm)" class="volume-highlight-options">
              <nz-form-control nzErrorTip="Значение должно быть от {{validationOptions.volumeHighlightOption.boundary.min}} до {{validationOptions.volumeHighlightOption.boundary.max}}">
                <nz-form-label nzFor="boundary" nzRequired>Объем</nz-form-label>
                <input (mousedown)="$event.stopPropagation()" atsNumerical class='ant-input' formControlName="boundary"/>
              </nz-form-control>
              <nz-form-control nzErrorTip="Выберите цвет">
                <nz-form-label nzFor="color" nzRequired>Цвет выделения</nz-form-label>
                <ats-color-picker-input (colorChangeComplete)="setVolumeHighlightOptionColor(i, $event)" [value]="optionForm.value.color"></ats-color-picker-input>
              </nz-form-control>
              <button (click)="removeVolumeHighlightOption($event, i)"
                      class="volume-highlight-options-remove-btn"
                      nz-button
                      nzType="dashed"
                      [disabled]="!canRemoveVolumeHighlightOption">
                <i nz-icon nzType="minus"></i>
              </button>
            </div>
          </ng-container>
          <button (click)="addVolumeHighlightOption($event)" [disabled]="!volumeHighlightOptions.valid" class="add-volume-highlight-option-btn" nz-button nzType="dashed">
            <i nz-icon nzType="plus"></i>
          </button>
        </nz-form-item>
      </nz-collapse-panel>
    </nz-collapse>

    <nz-collapse [nzBordered]="false" class="compact working-volumes">
      <nz-collapse-panel [nzDisabled]="!form.controls.workingVolumes.valid" nzHeader="Рабочие объёмы">
        <div class="hint">Используются для быстрого выставления заявок с нужным объёмом</div>
        <nz-form-item *ngFor="let ctrl of workingVolumes.controls; let i = index" class="compact">
          <nz-form-label nzFor="workingVolume1" nzRequired>Рабочий объём {{i + 1}}</nz-form-label>
          <nz-form-control [nzErrorTip]="workingVolumeError">
            <nz-input-group>
              <input
                (mousedown)="$event.stopPropagation()"
                [formControl]="workingVolumeCtrl(i)"
                atsNumerical
                class='ant-input'
                placeholder="1"
              />
            </nz-input-group>
          </nz-form-control>

          <ng-template #workingVolumeError>
            <span *ngIf="ctrl.errors?.required">Введите значение</span>
            <span *ngIf="ctrl.errors?.min">Значение должно быть больше нуля</span>
          </ng-template>
        </nz-form-item>
      </nz-collapse-panel>
    </nz-collapse>

    <nz-collapse [nzBordered]="false" class="compact">
      <nz-collapse-panel nzHeader="Продвинутые">
        <nz-form-item>
          <nz-form-label nzFor="instrumentGroup">Группа</nz-form-label>
          <nz-form-control nzErrorTip="Группа">
            <input (mousedown)="$event.stopPropagation()" class='ant-input' formControlName="instrumentGroup" placeholder="Режим торгов"/>
          </nz-form-control>
          <nz-form-label nzFor="instrumentGroup">Интервал автоматического выравнивания стакана, сек.</nz-form-label>
          <nz-form-control nzErrorTip="Значение должно быть от {{validationOptions.autoAlignIntervalSec.min}} до {{validationOptions.autoAlignIntervalSec.max}}">
            <input (mousedown)="$event.stopPropagation()" atsNumerical class='ant-input' formControlName="autoAlignIntervalSec"/>
          </nz-form-control>
        </nz-form-item>
      </nz-collapse-panel>
    </nz-collapse>
    <br/>
    <nz-form-item class="compact">
      <nz-form-control>
        <button [disabled]="!form.valid" nz-button nzType="primary" type="submit">Сохранить</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

