<ng-container>
  @if (settings$ | async; as settings) {
    <ats-widget-skeleton
      [content]="contentRef"
      [header]="headerRef"
      [isBlockWidget]="isBlockWidget()"
      >
      <ng-template #headerRef>
        <ats-widget-header [guid]="guid"
          [hasSettings]="false"
          [showBadgesMenu]="false"
          [widgetMeta]="widgetInstance().widgetMeta"
         />
      </ng-template>
      <ng-template #contentRef>
        <ats-correlation-chart [guid]="guid" />
      </ng-template>
    </ats-widget-skeleton>
  }

</ng-container>

