<ng-container *transloco="let t;">
  @if (getTypedConfig(); as config) {
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-label nzFor="property" [nzRequired]="config.validation.required">{{ config.label }}
        </nz-form-label>
        <nz-form-control
          [nzErrorTip]="t('validationErrors.selectValueError')">
          @if (availablePortfolios$ | async; as availablePortfolios) {
            <nz-select
              formControlName="property"
              nzAllowClear
              nzShowSearch
              >
              @for (agreement of availablePortfolios.keys(); track agreement) {
                <nz-option-group [nzLabel]="agreement">
                  @for (portfolio of availablePortfolios.get(agreement); track portfolio){
                    <nz-option [nzValue]="portfolioToStr(portfolio)"
                    [nzLabel]="portfolio.market + ' ' +  portfolio.portfolio" />
                  }
                </nz-option-group>
              }
            </nz-select>
          }
        </nz-form-control>
      </nz-form-item>
    </form>
  }
</ng-container>

