<ng-container *transloco="let t;">
  @if (getTypedConfig(); as config) {
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-label nzFor="property" [nzRequired]="config.validation.required">{{ config.label }}
        </nz-form-label>
        <nz-form-control
          [nzErrorTip]="t('validationErrors.selectValueError')">
          <nz-select
            formControlName="property"
            nzAllowClear
            nzShowSearch
            *ngIf="availablePortfolios$ | async as availablePortfolios">
            <ng-container *ngFor="let agreement of availablePortfolios.keys()">
              <nz-option-group [nzLabel]="agreement">
                @for (portfolio of availablePortfolios.get(agreement); track portfolio){
                  <nz-option [nzValue]="portfolioToStr(portfolio)"
                             [nzLabel]="portfolio.market + ' ' +  portfolio.portfolio"></nz-option>
                }
              </nz-option-group>
            </ng-container>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  }
</ng-container>

