ats-edit-limit-order-form {
  .ant-form-item.compact {
    margin-bottom: 0;
  }

  nz-form-label {
    label {
      display: inherit;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .loss {
    color: var(--ats-sell-color);
  }

  .profit {
    color: var(--ats-buy-color);
  }
}


