<ng-container *transloco="let t; scope: 'ai-chat/side-chat-widget'">
  <nz-drawer (nzOnClose)="close()"
    [nzClosable]="true"
    [nzContent]="content"
    [nzSize]="'default'"
    [nzTitle]="t('aiChatSideChatWidget.title')"
    [nzVisible]="atsVisible()"
    [nzWrapClassName]="'ai-chat' + (isResizing ? ' resizing' : '')"
    [nzExtra]="extra"
    nzPlacement="right"
    [nzNoAnimation]="isResizing"
    [nzWidth]="(drawerWidth$ | async) ?? 375"
    (nzVisibleChange)="drawerVisibleChange($event)"
   />
  <ng-template #content>
    <ats-ai-chat [atsDisabled]="isChatDisabled" />
    <div
      class="resize-trigger"
      (mousedown)="isResizingChange(true)"
    ></div>
  </ng-template>

  <ng-template #extra>
    <span  nz-typography class="cursor-pointer" (click)="isTermOfUseDialogVisible = true">
      <u>{{t('aiChatSideChatWidget.termsOfUseLink')}}</u>
    </span>
  </ng-template>
</ng-container>

<ats-terms-of-use-dialog [(atsVisible)]="isTermOfUseDialogVisible" (confirmed)="setTermsOfUseAgreement($event)" />
