<ng-container *transloco="let t;">
  <ats-widget-skeleton
    *ngIf="settings$ | async as settings"
    [content]="content"
    [header]="header"
    [isBlockWidget]="isBlockWidget"
    [showContentScroll]="true"
  >
    <ng-template #header>
      <ats-widget-header
        [guid]="guid"
        [hasHelp]="false"
        [hasSettings]="false"
        [showBadgesMenu]="false"
        [titleText]="t('widgetHeaders.ArbitrageSpreadSettings')"
        [widgetMeta]="widgetInstance.widgetMeta"
      ></ats-widget-header>
    </ng-template>

    <ng-template #content>
      <ats-arbitrage-spread [guid]="guid"></ats-arbitrage-spread>
    </ng-template>
  </ats-widget-skeleton>
</ng-container>

<ats-arbitrage-spread-modal-widget></ats-arbitrage-spread-modal-widget>
