<ng-container *transloco="let t; scope: 'option-board'">
  <ng-container *ngrxLet="{selectedTab: selectedTab$} as vm">
    <div class="container h-100 d-flex flex-column  user-select-none">
      <div class="header d-flex flex-row justify-content-between flex-gap-5">
        <div class="d-flex flex-row justify-content-start flex-gap-5" [style.visibility]="vm.selectedTab === ComponentTabs.AllOptions ? 'visible' : 'hidden'">
          <div>
            <nz-select (ngModelChange)="dataContext.selectedParameter$.next($event)"
              [ngModel]="dataContext.selectedParameter$ | async">
              @for (parameter of parameters; track parameter) {
                <nz-option [nzLabel]="t('optionBoard.parameterOptions.' + parameter, { fallback: parameter})"
                  [nzValue]="parameter" />
              }
            </nz-select>
          </div>

          <div>
            <nz-select (ngModelChange)="dataContext.selectedSide$.next($event)"
              [ngModel]="dataContext.selectedSide$ | async">
              @for (side of optionSides; track side) {
                <nz-option [nzLabel]="t('optionBoard.sideOptions.' + side, { fallback: side})" [nzValue]="side" />
              }
            </nz-select>
          </div>
        </div>

        @if (dataContext.currentSelection$ | async; as currentSelection) {
          <div
            class="flex-fill d-flex flex-row justify-content-end overflow-x-hidden"
            #container
            >
            <ats-view-selector
              [selectedView]="selectedTab$ | async"
              [layout]="container.clientWidth < 310 ? 'menu' : 'row'"
              (selectionChange)="selectTab($event)"
              >
              <ats-view-selector-item [value]="ComponentTabs.AllOptions">
                <span>{{t('optionBoard.tabNames.' + ComponentTabs.AllOptions)}}</span>
              </ats-view-selector-item>
              <ats-view-selector-item [value]="ComponentTabs.OptionsByExpiration">
                <span>{{t('optionBoard.tabNames.' + ComponentTabs.OptionsByExpiration)}}</span>
              </ats-view-selector-item>
              <ats-view-selector-item [value]="ComponentTabs.SelectedOptions" [disabled]="currentSelection.selectedOptions.length === 0">
                <span>{{t('optionBoard.tabNames.' + ComponentTabs.SelectedOptions)}}({{currentSelection.selectedOptions.length}})</span>
              </ats-view-selector-item>
              <ats-view-selector-item [value]="ComponentTabs.Charts" [disabled]="currentSelection.selectedOptions.length === 0">
                <span>{{t('optionBoard.tabNames.' + ComponentTabs.Charts)}}</span>
              </ats-view-selector-item>
            </ats-view-selector>
          </div>
        }
      </div>

      <div class="body flex-fill w-100 mt-10">
        <div class="tab" [hidden]="vm.selectedTab !== ComponentTabs.AllOptions">
          <ats-all-options [dataContext]="dataContext" />
        </div>

        <div class="tab" [hidden]="vm.selectedTab !== ComponentTabs.OptionsByExpiration">
          <ats-all-options-list-view [guid]="guid()" [dataContext]="dataContext" />
        </div>

        <div class="tab" [hidden]="vm.selectedTab !== ComponentTabs.SelectedOptions">
          <ats-selected-options [dataContext]="dataContext" />
        </div>

        <div class="tab" [hidden]="vm.selectedTab !== ComponentTabs.Charts">
          <ats-option-board-charts-layout [dataContext]="dataContext" />
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
