<ng-container *transloco="let t; scope: 'option-board'">
  <div *ngIf="selectedTab$ | async as selectedTab" class="container h-100 d-flex flex-column">
    <div class="header d-flex flex-row justify-content-between flex-gap-5">
      <div [hidden]="selectedTab !== tabs.AllOptions" class="d-flex flex-row justify-content-start flex-gap-5">
        <div>
          <nz-select (ngModelChange)="dataContext.selectedParameter$.next($event)"
                     [ngModel]="dataContext.selectedParameter$ | async">
            <ng-container *ngFor="let parameter of parameters">
              <nz-option [nzLabel]="t('optionBoard.parameterOptions.' + parameter, { fallback: parameter})"
                         [nzValue]="parameter">
              </nz-option>
            </ng-container>
          </nz-select>
        </div>

        <div>
          <nz-select (ngModelChange)="dataContext.selectedSide$.next($event)"
                     [ngModel]="dataContext.selectedSide$ | async">
            <ng-container *ngFor="let side of optionSides">
              <nz-option [nzLabel]="t('optionBoard.sideOptions.' + side, { fallback: side})" [nzValue]="side">
              </nz-option>
            </ng-container>
          </nz-select>
        </div>
      </div>

      <div *ngIf="dataContext.currentSelection$ | async as currentSelection" class="flex-fill d-flex flex-row justify-content-end">
        <nz-radio-group (ngModelChange)="selectTab($event)" [ngModel]="selectedTab$ | async">
          <label [nzValue]="tabs.AllOptions" nz-radio-button>{{t('optionBoard.tabNames.' + tabs.AllOptions)}}</label>
          <label [nzValue]="tabs.SelectedOptions" nz-radio-button>{{t('optionBoard.tabNames.' + tabs.SelectedOptions)}}
            ({{currentSelection.selectedOptions.length}})</label>
        </nz-radio-group>
      </div>
    </div>

    <div class="body flex-fill w-100 mt-10">
      <ng-container *ngIf="selectedTab$ | async as selectedTab">
        <div [hidden]="selectedTab !== componentTabs.AllOptions" class="tab">
          <ats-all-options [dataContext]="dataContext"></ats-all-options>
        </div>

        <div [hidden]="selectedTab !== componentTabs.SelectedOptions" class="tab">
          <ats-selected-options [dataContext]="dataContext"></ats-selected-options>
        </div>
      </ng-container>

    </div>
  </div>
</ng-container>
