ats-inline-instrument-search {
  .search-tooltip-icon {
    font-size: 17px;
    margin-right: 0 !important;
  }
}

.inline-instrument-search-options {
  position: fixed;
  left: 15px;
  top: inherit;
  width: inherit;
}
