name: PNPM Test

on:
  push:
    branch:
      - '**'
      - 'master'

  workflow_dispatch:
    branch:
      - '**'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v2
    - uses: pnpm/action-setup@v3
        with:
          version: 8
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: pnpm install
    - run: pnpm run test -- --browsers=ChromeHeadless --watch=false
