<div class="widget-header">
  <ng-container *ngTemplateOutlet="header"></ng-container>
</div>
@if (isBlockWidget) {
  <div class="blocked-widget-overlay"></div>
}
@if (!showSettings) {
  <div (mousedown)="$event.stopPropagation()" [ngClass]="{'show-scroll': showContentScroll, 'hide-scroll': !showContentScroll}"
    class="widget-content">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>
}
@if (!!settings && showSettings) {
  <div (mousedown)="$event.stopPropagation()" class="widget-content show-scroll">
    <ng-container *ngTemplateOutlet="settings"></ng-container>
  </div>
}
