<div class="widget-header">
  <ng-container *ngTemplateOutlet="header()" />
</div>
@if (isBlockWidget()) {
  <div class="blocked-widget-overlay"></div>
}
@if (!showSettings()) {
  <div (mousedown)="$event.stopPropagation()" [ngClass]="{'show-scroll': showContentScroll(), 'hide-scroll': !showContentScroll()}"
    class="widget-content">
    <ng-container *ngTemplateOutlet="content()" />
  </div>
}

@let settingsEl = settings();
@if (!!settingsEl && showSettings()) {
  <div (mousedown)="$event.stopPropagation()" class="widget-content show-scroll">
    <ng-container *ngTemplateOutlet="settingsEl" />
  </div>
}
