<div [ngClass]="displayMode$ | async" class="container">
  <ng-container *ngIf="form">
    <ng-container *transloco="let t; scope: 'orders-basket/orders-basket-item'">
      <form [formGroup]="form" nz-form nzLayout="vertical">
        <nz-form-item>
          <nz-form-label *ngIf="showLabels$ | async" nzFor="instrumentKey" nzRequired>{{t('ordersBasketOrdersBasketItem.tickerLabel')}}</nz-form-label>
          <nz-form-control [nzErrorTip]="t('ordersBasketOrdersBasketItem.tickerError')">
            <ats-instrument-search
              (instrumentSelected)="onTouched()"
              [exchange]="exchange"
              [optionsBoxWidth]="(itemsContainerWidth$ | async) ?? 100"
              formControlName="instrumentKey"
            ></ats-instrument-search>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label *ngIf="showLabels$ | async" nzFor="quota"
                         nzRequired>{{t('ordersBasketOrdersBasketItem.quotaLabel')}}</nz-form-label>
          <nz-form-control
            [nzErrorTip]="t('ordersBasketOrdersBasketItem.intervalError', {min: validationOptions.quota.min, max: validationOptions.quota.max})"
          >
            <ats-input-number
              [suffix]="suffixTmp"
              formControlName="quota"
              [step]="0.1"
              [placeholder]="t('ordersBasketOrdersBasketItem.quotaPlaceholder')"
              (atsBlur)="onTouched()"
            ></ats-input-number>

            <ng-template #suffixTmp>%</ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label *ngIf="showLabels$ | async" nzFor="price"
                         nzRequired>{{t('ordersBasketOrdersBasketItem.priceLabel')}}</nz-form-label>
          <nz-form-control
            [nzErrorTip]="priceError">
            <ats-input-number
              formControlName="price"
              [step]="0.1"
              [placeholder]="t('ordersBasketOrdersBasketItem.pricePlaceholder')"
              (atsBlur)="onTouched()"
            ></ats-input-number>
            <ng-template #priceError>
              <span *ngIf="form.get('price')?.errors?.required">{{t('ordersBasketOrdersBasketItem.pricePlaceholder')}}</span>
              <span *ngIf="form.get('price')?.errors?.min">{{t('ordersBasketOrdersBasketItem.intervalError', {
                min: validationOptions.price.min,
                max: validationOptions.price.max
              })}}</span>
              <span *ngIf="form.get('price')?.errors?.max">{{t('ordersBasketOrdersBasketItem.intervalError', {
                min: validationOptions.price.min,
                max: validationOptions.price.max
              })}}</span>
              <span *ngIf="form.get('price')?.errors?.priceStepMultiplicity">
                {{t('ordersBasketOrdersBasketItem.priceStepMultiplicityError')}} ({{form.get('price')!.errors!.priceStepMultiplicity!.step}})
              </span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label *ngIf="showLabels$ | async" nzFor="quantity"
                         nzRequired>{{t('ordersBasketOrdersBasketItem.quantityLabel')}}</nz-form-label>
          <nz-form-control [nzValidateStatus]="form.get('quantity')!.valid ? 'success' : 'warning'" nzHasFeedback>
            <input
              (blur)="onTouched()"
              (mousedown)="$event.stopPropagation()"
              [placeholder]="t('ordersBasketOrdersBasketItem.quantityPlaceholder')"
              class="ant-input-disabled"
              formControlName="quantity"
              nz-input
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </form>
      <button (click)="delete.emit()"
              [class.with-labels]="(showLabels$ | async)===true"
              [disabled]="!enableDelete"
              id="remove-item-btn"
              nz-button
              nzType="link"
      >
        <span nz-icon nzType="close"></span>
      </button>
    </ng-container>
  </ng-container>
</div>

