<div [ngClass]="displayMode$ | async" class="container">
  <ng-container>
    <ng-container *transloco="let t; scope: 'orders-basket/orders-basket-item'">
      <form [formGroup]="form" nz-form nzLayout="vertical">
        <nz-form-item>
          @if (showLabels$ | async) {
            <nz-form-label nzFor="instrumentKey" nzRequired>{{t('ordersBasketOrdersBasketItem.tickerLabel')}}</nz-form-label>
          }
          <nz-form-control [nzErrorTip]="t('ordersBasketOrdersBasketItem.tickerError')">
            <ats-instrument-search (instrumentSelected)="onTouched()"
              [exchange]="exchange()"
              [optionsBoxWidth]="(widthChanges$ | async) ?? 100"
              formControlName="instrumentKey"
             />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          @if (showLabels$ | async) {
            <nz-form-label nzFor="quota"
            nzRequired>{{t('ordersBasketOrdersBasketItem.quotaLabel')}}</nz-form-label>
          }
          <nz-form-control
            [nzErrorTip]="t('ordersBasketOrdersBasketItem.intervalError', {min: validationOptions.quota.min, max: validationOptions.quota.max})"
            >
            <ats-input-number [suffix]="suffixTmp"
              formControlName="quota"
              [step]="0.1"
              [placeholder]="t('ordersBasketOrdersBasketItem.quotaPlaceholder')"
              (atsBlur)="onTouched()"
             />

            <ng-template #suffixTmp>%</ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          @if (showLabels$ | async) {
            <nz-form-label nzFor="price"
            nzRequired>{{t('ordersBasketOrdersBasketItem.priceLabel')}}</nz-form-label>
          }
          <nz-form-control
            [nzErrorTip]="priceError">
            <ats-input-number formControlName="price"
              [step]="(instrument$ | async)?.minstep ?? 0.1"
              [placeholder]="t('ordersBasketOrdersBasketItem.pricePlaceholder')"
              (atsBlur)="onTouched()"
             />
            <ng-template #priceError>
              @if (form.get('price')?.errors?.required) {
                <span>{{t('ordersBasketOrdersBasketItem.pricePlaceholder')}}</span>
              }
              @if (form.get('price')?.errors?.min) {
                <span>{{t('ordersBasketOrdersBasketItem.intervalError', {
                  min: validationOptions.price.min,
                  max: validationOptions.price.max
                })}}</span>
              }
              @if (form.get('price')?.errors?.max) {
                <span>{{t('ordersBasketOrdersBasketItem.intervalError', {
                  min: validationOptions.price.min,
                  max: validationOptions.price.max
                })}}</span>
              }
              @if (form.get('price')?.errors?.priceStepMultiplicity) {
                <span>
                  {{t('ordersBasketOrdersBasketItem.priceStepMultiplicityError')}} ({{form.get('price')!.errors!.priceStepMultiplicity!.step}})
                </span>
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          @if (showLabels$ | async) {
            <nz-form-label nzFor="quantity"
            nzRequired>{{t('ordersBasketOrdersBasketItem.quantityLabel')}}</nz-form-label>
          }
          <nz-form-control [nzValidateStatus]="form.get('quantity')!.valid ? 'success' : 'warning'" nzHasFeedback>
            <input
              (blur)="onTouched()"
              (mousedown)="$event.stopPropagation()"
              [placeholder]="t('ordersBasketOrdersBasketItem.quantityPlaceholder')"
              class="ant-input-disabled"
              formControlName="quantity"
              nz-input
              readonly
              />
          </nz-form-control>
        </nz-form-item>
      </form>
      <button (click)="delete.emit()"
        [class.with-labels]="(showLabels$ | async)===true"
        [disabled]="!enableDelete()"
        id="remove-item-btn"
        nz-button
        nzType="link"
        >
        <span nz-icon nzType="close"></span>
      </button>
    </ng-container>
  </ng-container>
</div>

