<ng-container *transloco="let t; scope: 'instruments/import-watchlist-dialog'">
  <ng-container>
    <nz-modal
      (nzOnCancel)="closeDialog()"
      [nzCancelText]="t('cancelBtnText')"
      [nzOkText]="t('saveBtnText')"
      [nzTitle]="t('instrumentsImportWatchlistDialog.dialogTitle')"
      [nzVisible]="isVisible$ | async"
      >

      <ng-container *nzModalContent>
        <div class="d-flex flex-row w-100 justify-content-between">
          <div class="flex-fill">
            <textarea
              (keydown.enter)="inputString = inputString + ';'; parseInput();"
              [(ngModel)]="inputString"
              [placeholder]="t('instrumentsImportWatchlistDialog.inputStringPlaceholder')"
              nz-input
              rows="3"
              >
            </textarea>
          </div>
          <div class="ml-10 d-flex flex-column flex-gap-5">
            <nz-upload
              [nzBeforeUpload]="downloadFile"
              [nzShowUploadList]="false"
              nzAccept=".txt"
              nzFileType="text/plain"
              >
              <button
                nz-button
                [nz-tooltip]="t('instrumentsImportWatchlistDialog.uploadFileBtnTooltip')"
                [nzTooltipPlacement]="'right'"
                >
                <span nz-icon nzType="download"></span>
              </button>
            </nz-upload>
            <button
              (click)="parseInput()"
              [disabled]="inputString.length === 0"
              [nz-tooltip]="t('instrumentsImportWatchlistDialog.parseBtnTooltip')"
              [nzTooltipPlacement]="'right'"
              nz-button
              nzType="primary"
              >
              <span nz-icon nzTheme="outline" nzType="down"></span>
            </button>
          </div>
        </div>

        <div class="mt-10">
          @if (parsedResults$) {
            <ng-container *ngrxLet="parsedResults$ as parsedResults; suspenseTpl: loading">
              @if (parsedResults) {
                <nz-table
                  nzBordered
                  nzSize="small"
                  nzTemplateMode
                  >
                  <thead>
                    <tr>
                      <th>{{t('instrumentsImportWatchlistDialog.tickerColLabel')}}</th>
                      <th>{{t('instrumentsImportWatchlistDialog.parseStatusColLabel')}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (result of parsedResults; track result) {
                      <tr>
                        <td>{{!!result.instrumentKey ? (result.instrumentKey.exchange + ':' + result.instrumentKey.symbol + ':' + result.instrumentKey.instrumentGroup) : result.input}}</td>
                        <td>
                          @if (!!result.instrumentKey) {
                            <span nz-typography nzType="success">
                              <span nz-icon nzTheme="outline" nzType="check-circle"></span>
                            </span>
                          } @else {
                            <span nz-typography nzType="danger">
                              <span nz-icon nzTheme="outline" nzType="exclamation-circle"></span>
                              <span class="ml-5">{{t('instrumentsImportWatchlistDialog.parseStatus.notFound')}}</span>
                            </span>
                          }
                        </td>
                      </tr>
                    }
                  </tbody>
                </nz-table>
              }
            </ng-container>
            <ng-template #loading>
              <p class="text-center">
                <nz-spin nzSimple />
              </p>
            </ng-template>
          }
        </div>
      </ng-container>
      <ng-container *nzModalFooter>
        <button
          (click)="import()"
          [disabled]="!parsedResults$ || getItemsToImport(parsedResults$ | async).length === 0"
          nz-button
          nzType="primary"
          >
          {{t('saveBtnText')}}
        </button>
        <button
          (click)="closeDialog()"
          nz-button
          >
          {{t('cancelBtnText')}}
        </button>
      </ng-container>
    </nz-modal>
  </ng-container>
</ng-container>
