<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFSO0HtsBAGNy9BSenoQIApz7W2YkXxxE</string>
	<key>GCM_SENDER_ID</key>
	<string>766412584747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.alor.astras</string>
	<key>PROJECT_ID</key>
	<string>lessgo-alor</string>
	<key>STORAGE_BUCKET</key>
	<string>lessgo-alor.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766412584747:ios:5448f8e2da2dc08213776e</string>
</dict>
</plist>