<ats-widget-settings
  [canSave]="canSave"
  [canCopy]="canCopy"
  [showCopy]="showCopy"
  (saveClick)="updateSettings()"
  (copyClick)="createWidgetCopy()"
>
  <ng-container *transloco="let t; scope: 'instruments/settings'">
    <div>
      <nz-tabset>
        <nz-tab [nzTitle]="t('instrumentsSettings.displaySettingsTab')">
          <div>
            <form [formGroup]="settingsForm" [nzLayout]="'horizontal'" nz-form>
              <nz-form-item class="compact">
                <nz-form-control [nzErrorTip]="t('instrumentsSettings.selectColumnsError')">
                  <nz-form-label nzRequired nzFor="instrumentColumns">{{t('instrumentsSettings.selectColumnsLabel')}}</nz-form-label>
                  <nz-select
                    *transloco="let tSelect; scope: 'instruments/select'"
                    [nzMaxTagCount]="10"
                    [nzMaxTagPlaceholder]="tagPlaceHolder"
                    nzMode="multiple"
                    [nzPlaceHolder]="t('instrumentsSettings.selectColumnsPlaceholder')"
                    formControlName="instrumentColumns"
                    atsRemoveSelectTitles
                    [valueChanges]="settingsForm.controls.instrumentColumns.valueChanges"
                  >
                    <nz-option
                      *ngFor="let item of allInstrumentColumns"
                      nzCustomContent
                      [nzLabel]="tSelect('instrumentsSelect.columns.' + item.id + '.name')"
                      [nzValue]="item.id"
                    >
                      <div
                        nz-tooltip
                        [nzTooltipPlacement]="['topLeft', 'top', 'topRight']"
                        [nzTooltipTitle]="tSelect('instrumentsSelect.columns.' + item.id + '.tooltip')"
                      >
                        {{tSelect('instrumentsSelect.columns.' + item.id + '.name')}}
                      </div>
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item class="compact">
                <nz-form-control>
                  <nz-form-label nzFor="priceChangeTimeframe">
                    {{t('instrumentsSettings.priceChangeTimeframeLabel')}}
                  </nz-form-label>
                  <nz-select formControlName="priceChangeTimeframe">
                    <nz-option
                      *ngFor="let timeframe of priceChangeTimeFrames"
                      [nzLabel]="t('instrumentsSettings.timeframes.' + timeframe.name)"
                      [nzValue]="timeframe.value"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item class="compact">
                <nz-form-label nzFor="showFavorites">
                  {{t('instrumentsSettings.showFavoritesLabel')}}
                </nz-form-label>
                <nz-form-control>
                  <nz-switch formControlName='showFavorites'></nz-switch>
                </nz-form-control>
              </nz-form-item>
            </form>
          </div>
        </nz-tab>
        <nz-tab [nzTitle]="t('instrumentsSettings.instrumentsListsTab')">
          <ats-watchlist-collection-edit></ats-watchlist-collection-edit>
        </nz-tab>
      </nz-tabset>
    </div>

    <ng-template #tagPlaceHolder let-selectedList>
      {{t('maxTagPlaceholder', { count: selectedList.length })}}
    </ng-template>
  </ng-container>
</ats-widget-settings>
